<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBMiniPublic -->

	<select id="INSBMiniPublic_select" parameterType="Map" resultType="Map">
		SELECT re.* FROM
		(SELECT mt.instanceid, qo.inscomcode,uc.* FROM insbusercomment uc
		LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid
		LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid
		LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid
		WHERE
		ws.taskstate!='Closed' AND uc.tracktype=1
		AND mt.instanceid = #{taskid}
		AND qo.inscomcode = #{providercode}
		UNION(SELECT st.maininstanceid, qus.inscomcode,ucs.* FROM insbusercomment ucs
		LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid
		LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid
		LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid
		WHERE ucs.tracktype=2
		AND st.maininstanceid =  #{taskid}
		AND qus.inscomcode = #{providercode}
		)) re
		ORDER BY re.createtime DESC LIMIT 1
	</select>
</mapper>