<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBDeliveryaddress -->
	<select id="INSBAgentDeliveryaddress_insert" parameterType="com.zzb.extra.entity.INSBAgentDeliveryaddress" resultType="int">
		insert into INSBAgentDeliveryaddress
		(id,operator,createtime,modifytime,noti,recipientname,recipientmobilephone,recipientprovince,recipientcity,recipientarea,recipientaddress,zip,delivetype,agentid,isdefault)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{recipientname},#{recipientmobilephone},#{recipientprovince},#{recipientcity},#{recipientarea},#{recipientaddress},#{zip},#{delivetype},#{agentid},#{isdefault})
	</select>
	<select id="INSBAgentDeliveryaddress_select" parameterType="Map" resultType="com.zzb.extra.entity.INSBAgentDeliveryaddress">
		select * from INSBAgentDeliveryaddress
		<where>
			<if test="recipientname != null">
				and recipientname = #{recipientname}
			</if>
			<if test="recipientmobilephone != null">
				and recipientmobilephone = #{recipientmobilephone}
			</if>
			<if test="recipientprovince != null">
				and recipientprovince = #{recipientprovince}
			</if>
			<if test="recipientcity != null">
				and recipientcity = #{recipientcity}
			</if>
			<if test="recipientarea != null">
				and recipientarea = #{recipientarea}
			</if>
			<if test="recipientaddress != null">
				and recipientaddress = #{recipientaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="agentid != null">
				and agentid = #{agentid}
			</if>
		</where>
		ORDER BY isdefault desc
	</select>
	<select id="INSBAgentDeliveryaddress_selectByAgentid" parameterType="String" resultType="com.zzb.extra.entity.INSBAgentDeliveryaddress">
		select * from INSBAgentDeliveryaddress where agentid = #{agentid}
	</select>
	<select id="INSBAgentDeliveryaddress_selectOne" parameterType="Map" resultType="com.zzb.extra.entity.INSBAgentDeliveryaddress">
		select * from INSBAgentDeliveryaddress
		<where>
			<if test="recipientname != null">
				and recipientname = #{recipientname}
			</if>
			<if test="recipientmobilephone != null">
				and recipientmobilephone = #{recipientmobilephone}
			</if>
			<if test="recipientprovince != null">
				and recipientprovince = #{recipientprovince}
			</if>
			<if test="recipientcity != null">
				and recipientcity = #{recipientcity}
			</if>
			<if test="recipientarea != null">
				and recipientarea = #{recipientarea}
			</if>
			<if test="recipientaddress != null">
				and recipientaddress = #{recipientaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="agentid != null">
				and agentid = #{agentid}
			</if>
		</where>
		LIMIT 1
	</select>
	<select id="INSBAgentDeliveryaddress_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBAgentDeliveryaddress">
		select * from INSBAgentDeliveryaddress where id = #{id}
	</select>
	<select id="INSBAgentDeliveryaddress_deleteById" parameterType="String">
		delete from INSBAgentDeliveryaddress where id = #{id}
	</select>
	<select id="INSBAgentDeliveryaddress_updateById" parameterType="com.zzb.extra.entity.INSBAgentDeliveryaddress">
		update INSBAgentDeliveryaddress  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},recipientname = #{recipientname},recipientmobilephone = #{recipientmobilephone},recipientprovince = #{recipientprovince},recipientcity = #{recipientcity},recipientarea = #{recipientarea},recipientaddress = #{recipientaddress},zip = #{zip},agentid = #{agentid},isdefault = #{isdefault} where id = #{id}
	</select>

	<select id="INSBAgentDeliveryaddress_updateAddressIsdefaultByAgentid" parameterType="Map" >
		update INSBAgentDeliveryaddress  set isdefault = #{isdefault} where agentid = #{agentid}
	</select>
	<select id="INSBAgentDeliveryaddress_updateAddressIsdefaultByAddressid" parameterType="Map" >
		update INSBAgentDeliveryaddress  set isdefault = #{isdefault} where id = #{id}
	</select>
	<select id="INSBAgentDeliveryaddress_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBAgentDeliveryaddress
		<where>
			<if test="recipientname != null">
				and recipientname = #{recipientname}
			</if>
			<if test="recipientmobilephone != null">
				and recipientmobilephone = #{recipientmobilephone}
			</if>
			<if test="recipientprovince != null">
				and recipientprovince = #{recipientprovince}
			</if>
			<if test="recipientcity != null">
				and recipientcity = #{recipientcity}
			</if>
			<if test="recipientarea != null">
				and recipientarea = #{recipientarea}
			</if>
			<if test="recipientaddress != null">
				and recipientaddress = #{recipientaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="agentid != null">
				and agentid = #{agentid}
			</if>
		</where>
	</select>
</mapper>