<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBRolePermission -->
	<select id="INSBRolePermission_insert" parameterType="com.zzb.extra.entity.INSBRolePermission" resultType="int">
		insert into INSBRolePermission
		(id,roleid,permissionid,operator,createtime,modifytime,noti)
		values
		(#{id},#{roleid},#{permissionid},#{operator},#{createtime},#{modifytime},#{noti})
	</select>
	<select id="INSBRolePermission_select" parameterType="Map" resultType="com.zzb.extra.entity.INSBRolePermission">
		select * from INSBRolePermission
		<where>
			<if test="permissionid != null and permissionid != ''">
				and permissionid = #{permissionid}
			</if>
			<if test="roleid != null and roleid != ''">
				and roleid = #{roleid}
			</if>
			<if test="id != null and id !=''">
				and id = #{id}
			</if>
			
		</where>
		
        <if test="sort != null and order != null">
            ${sort} ${order}
        </if>
      
        <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
		
	</select>
	<select id="INSBRolePermission_existAccountId" parameterType="String" resultType="Long">
		select count(1) from INSBRolePermission where id = #{id}
	</select>
    <select id="INSBRolePermission_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBRolePermission">
       	select * from INSBRolePermission where id = #{id}
    </select>
   
	<select id="INSBRolePermission_updateById" parameterType="com.zzb.extra.entity.INSBRolePermission">
		update INSBRolePermission  set operator = #{operator},modifytime = #{modifytime},roleid = #{roleid},permissionid = #{permissionid},noti=#{noti} where id = #{id}
	</select>
	<select id="INSBRolePermission_deleteById" parameterType="String">
		delete from INSBRolePermission where id = #{id}
	</select>
	
	

</mapper>