<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
    <!-- INSBAgentPrize 任务99关联的mini营销活动代码发布cm后台，下-->
    <!--  cm 99关联 -->
    <select id="INSBAgentPrize_insert" parameterType="com.zzb.extra.entity.INSBAgentPrize" resultType="int">
		insert into INSBAgentPrize
		(id,operator,createtime,modifytime,noti,agentid,activityprizeid,taskid,counts,status,providercode,usetime,gettime)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{agentid},#{activityprizeid},#{taskid},#{counts},#{status},#{providercode},#{usetime},#{gettime})
	</select>
    <select id="queryAgentPrizeList" parameterType="Map" resultType="Map">
       	select m.id,a.activityname,p.noti ,p.prizename,pt.codename AS
        prizetype,p.counts,p.autouse,
        IF(p.effectivedays &gt; 0,DATE_FORMAT(date_add(m.createtime,INTERVAL 1 day),'%Y-%m-%d'),IFNULL(DATE_FORMAT(date_add(p.effectivetime,INTERVAL 1 day),'%Y-%m-%d'),'')) AS effectivetime,
        IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d') &gt; DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),'')) AS terminaltime,
        p.effectivedays,DATE_FORMAT(m.createtime,'%Y-%m-%d %H:%i:%s') AS createtime,
        IFNULL(DATE_FORMAT(m.modifytime,'%Y-%m-%d %H:%i:%s'),'') AS modifytime,
        IFNULL(DATE_FORMAT(m.usetime,'%Y-%m-%d %H:%i:%s'),'') AS usetime,
        IFNULL(DATE_FORMAT(m.gettime,'%Y-%m-%d %H:%i:%s'),'') AS gettime,
        cs.codename AS status,m.providercode from INSBAgentPrize m
        LEFT JOIN INSBMarketActivityPrize ap ON ap.id=m.activityprizeid
        LEFT JOIN INSBMarketActivity a ON a.id=ap.activityid
        LEFT JOIN INSBMarketPrize p ON p.id=ap.prizeid
        LEFT JOIN INSCcode pt ON pt.parentcode='market' and pt.codetype='prizeType' and pt.codevalue=p.prizetype
        LEFT JOIN INSCcode cs ON cs.parentcode='market' and cs.codetype='agentPrizeStatus' and
        cs.codevalue=IF(IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d') &gt; DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),'')) &lt; DATE_FORMAT(NOW(),'%Y-%m-%d'),'2',m.status)
        <where>
            <if test="agentid != null and agentid!=''">
                and m.agentid = #{agentid}
            </if>
            <if test="useTaskId != null and useTaskId!=''">
                and m.taskid = #{useTaskId}
            </if>
            <if test="activitytype != null and activitytype!=''">
                and a.activitytype = #{activitytype}
            </if>
            <if test="status != null and status!=''">
                and m.status = #{status}
            </if>
            <if test="agentprizeid != null and agentprizeid!=''">
                and m.id = #{agentprizeid}
            </if>
            <if test="prizetype != null and prizetype!=''">
                and p.prizetype = #{prizetype}
            </if>
            <if test="prizenoti != null and prizenoti!=''">
                AND LOCATE(#{prizenoti}, m.noti) > 0
            </if>
                and m.status not in('5','9')
        </where>
        ORDER BY
        <if test="sort != null and order != null">
            ${sort} ${order}
        </if>
        <if test="sort == null">
            m.createtime desc
        </if>
    </select>
    <select id="queryGotPrizesPolicyList" parameterType="String" resultType="Map">
        SELECT a.taskid, d.prvshotname, a.premium, IFNULL(DATE_FORMAT(a.insureddate,'%Y-%m-%d %H:%i:%s'),'') insureddate, e.id agentid, f.amount,
        CASE WHEN a.risktype='0' THEN '商业险保费' ELSE '交强险保费' END AS risktypename
        FROM insbpolicyitem a,insborder b,insbagenttask c ,insbprovider d,insbagent e,insbaccountdetails f
        WHERE b.taskid = c.taskid
        AND a.orderid = b.id
        AND a.inscomcode = b.prvid
        AND a.inscomcode = d.id
        AND c.agentid = e.id
        AND LOCATE(c.taskid, f.noti) > 0
        AND f.fundsource='104'
        AND a.risktype='0'
        AND c.status='1'
        AND e.id = #{agentid}
        ORDER BY f.createtime DESC
    </select>
    <select id="queryAgentPrizes" parameterType="Map" resultType="com.zzb.extra.model.AgentPrizeModel">
       	select ap.agentid,ap.activityprizeid,a.activityname,a.activitytype,p.prizename,p.prizetype,ap.taskid,ap.counts,ap.status,ap.providercode from INSBAgentPrize ap
        LEFT JOIN insbmarketactivityprize m ON m.id=ap.activityprizeid
        LEFT JOIN insbmarketactivity a ON a.id=m.activityid
        LEFT JOIN insbmarketprize p ON p.id=m.prizeid
        WHERE ap.taskid=#{taskid} AND ap.status='4' and ap.providercode=#{providercode}
    </select>
    <select id="queryCompletedAgentPrizeCountByTaskId" parameterType="String" resultType="int">
       	select count(1) from INSBAgentPrize where taskid=#{taskid} and status='2'
    </select>
    <select id="INSBAgentPrize_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBAgentPrize">
		select * from INSBAgentPrize where id = #{id}
	</select>
    <select id="INSBAgentPrize_deleteById" parameterType="String">
		delete from INSBAgentPrize where id = #{id}
	</select>
    <select id="INSBAgentPrize_completeByTaskId" parameterType="Map" resultType="int">
        update INSBAgentPrize  set modifytime = NOW(),status ='1',usetime = NOW()
        where taskid = #{taskid} and activityprizeid = #{activityprizeid} and status='4'
    </select>
    <select id="INSBAgentPrize_updateById" parameterType="com.zzb.extra.entity.INSBAgentPrize">
    
		update INSBAgentPrize  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},agentid = #{agentid},activityprizeid = #{activityprizeid},taskid=#{taskid},counts = #{counts},status = #{status},providercode = #{providercode},
		usetime = #{usetime},gettime = #{gettime} where id =#{id}
	</select>
    <select id="queryAgentPrizeListCount" parameterType="Map" resultType="Long">
       	select count(1) from INSBAgentPrize m
        LEFT JOIN INSBMarketActivityPrize ap ON ap.id=m.activityprizeid
        LEFT JOIN INSBMarketActivity a ON a.id=ap.activityid
        LEFT JOIN INSBMarketPrize p ON p.id=ap.prizeid
        <where>
            <if test="agentid != null and agentid!=''">
                and m.agentid = #{agentid}
            </if>
            <if test="status != null and status!=''">
                and m.status = #{status}
            </if>
            <if test="activitytype != null and activitytype!=''">
                and a.activitytype = #{activitytype}
            </if>
            <if test="agentprizeid != null and agentprizeid!=''">
                and m.id = #{agentprizeid}
            </if>
            <if test="prizetype != null and prizetype!=''">
                and p.prizetype = #{prizetype}
            </if>
                and m.status not in('5','9')
        </where>
    </select>
    <select id="INSBAgentPrize_selectOne" parameterType="Map" resultType="com.zzb.extra.entity.INSBAgentPrize">
       	select * from INSBAgentPrize
        <where>
            <if test="agentid != null">
                and agentid = #{agentid}
            </if>
            <if test="activityprizeid != null">
                and activityprizeid = #{activityprizeid}
            </if>
            <if test="counts != null">
                and counts = #{counts}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="taskid != null">
                and taskid = #{taskid}
            </if>
            <if test="providercode != null">
                and providercode = #{providercode}
            </if>
        </where>
        LIMIT 2
    </select>

    <select id="queryAgentPrizeListByName" parameterType="Map" resultType="Map">
       	select m.id,a.activityname,ap.prizeid ,p.prizename,pt.codename AS
        prizetype,p.counts,p.noti,p.autouse,
        IF(p.effectivedays &gt; 0,DATE_FORMAT(date_add(m.createtime,INTERVAL 1 day),'%Y-%m-%d'),IFNULL(DATE_FORMAT(date_add(p.effectivetime,INTERVAL 1 day),'%Y-%m-%d'),'')) AS effectivetime,
        IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d') &gt; DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),'')) AS terminaltime,
        p.effectivedays,DATE_FORMAT(m.createtime,'%Y-%m-%d %H:%i:%s') AS createtime,
        IFNULL(DATE_FORMAT(m.modifytime,'%Y-%m-%d %H:%i:%s'),'') AS modifytime,
        IFNULL(ag.name,'') AS agentname,m.taskid,m.providercode,m.status AS agentprizestatus,ag.phone,ag.nickname,
        cs.codename AS status from INSBAgentPrize m
        LEFT JOIN INSBMarketActivityPrize ap ON ap.id=m.activityprizeid
        LEFT JOIN INSBMarketActivity a ON a.id=ap.activityid
        LEFT JOIN INSBMarketPrize p ON p.id=ap.prizeid
        LEFT JOIN INSBAgent ag on ag.id = m.agentid
        LEFT JOIN INSCcode pt ON pt.parentcode='market' and pt.codetype='prizeType' and pt.codevalue=p.prizetype
        LEFT JOIN INSCcode cs ON cs.parentcode='market' and cs.codetype='agentPrizeStatus' and
        cs.codevalue=IF( IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d') &gt; DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),'')) &lt; DATE_FORMAT(NOW(),'%Y-%m-%d'),'2',m.status)
        <where>
            <if test="activityname != null and activityname!=''">
                and a.activityname = #{activityname}
            </if>
            <if test="prizename != null and prizename!=''">
                and p.prizename = #{prizename}
            </if>
            <if test="agentname != null and agentname!=''">
                and ( ag.name = #{agentname} or ag.nickname = #{agentname} )
            </if>
            <if test="status != null and status!=''">
                and m.status = #{status}
            </if>
            <if test="jobnum != null and jobnum!=''">
                and ag.jobnum = #{jobnum}
            </if>
            <if test="agentid != null and agentid!=''">
                and m.agentid = #{agentid}
            </if>
            <if test="phone != null and phone!=''">
                and ag.phone = #{phone}
            </if>
            <if test="prizeidlist != null and prizeidlist!=''">
                and ap.prizeid in
                <foreach item="item" index="index" collection="prizeidlist" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="effectivetime != null and effectivetime!=''">
                and IF(p.effectivedays &gt; 0,DATE_FORMAT(date_add(m.createtime,INTERVAL 1 day),'%Y-%m-%d'),IFNULL(DATE_FORMAT(date_add(p.effectivetime,INTERVAL 1 day),'%Y-%m-%d'),'')) &lt;= CURDATE()
                and IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays+1 day),'%Y-%m-%d') &gt; DATE_FORMAT(date_add(p.terminaltime,INTERVAL 1 day),'%Y-%m-%d'),DATE_FORMAT(date_add(p.terminaltime,INTERVAL 1 day),'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays+1 day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(date_add(p.terminaltime, INTERVAL 1 day),'%Y-%m-%d'),'')) &gt; CURDATE()
            </if>
            <if test="agentprizeid != null and agentprizeid!=''">
                and m.id = #{agentprizeid}
            </if>
            <if test="prizetype != null and prizetype!=''">
                and p.prizetype = #{prizetype}
            </if>
            <if test="statusin != null and statusin!=''">
                and m.status in
                <foreach item="item" index="index" collection="statusin" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
               and m.status not in ('9')
        </where>
        ORDER BY
        <if test="sortbyterminal != null  and sortbyterminal!=''">
            IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d') &gt; DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),'')) asc,
        </if>
        <if test="sort != null and order != null">
            ${sort} ${order}
        </if>
        <if test="sort == null">
            m.createtime desc
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
    </select>

    <select id="queryAgentPrizeListByNameCount" parameterType="Map" resultType="Long">
       	select count(1) from INSBAgentPrize m
        LEFT JOIN INSBMarketActivityPrize ap ON ap.id=m.activityprizeid
        LEFT JOIN INSBMarketActivity a ON a.id=ap.activityid
        LEFT JOIN INSBMarketPrize p ON p.id=ap.prizeid
        LEFT JOIN INSBAgent ag on ag.id = m.agentid
        <where>
            <if test="activityname != null and activityname!=''">
                and a.activityname = #{activityname}
            </if>
            <if test="prizename != null and prizename!=''">
                and p.prizename = #{prizename}
            </if>
            <if test="agentname != null and agentname!=''">
                and ( ag.name = #{agentname} or ag.nickname = #{agentname} )
            </if>
            <if test="status != null and status!=''">
                and m.status = #{status}
            </if>
            <if test="jobnum != null and jobnum!=''">
                and ag.jobnum = #{jobnum}
            </if>
            <if test="agentid != null and agentid!=''">
                and m.agentid = #{agentid}
            </if>
            <if test="phone != null and phone!=''">
                and ag.phone = #{phone}
            </if>
            <if test="prizeidlist != null and prizeidlist!=''">
                and ap.prizeid in
                <foreach item="item" index="index" collection="prizeidlist" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="effectivetime != null and effectivetime!=''">
                and IF(p.effectivedays &gt; 0,DATE_FORMAT(date_add(m.createtime,INTERVAL 1 day),'%Y-%m-%d'),IFNULL(DATE_FORMAT(date_add(p.effectivetime,INTERVAL 1 day),'%Y-%m-%d'),'')) &lt;= CURDATE()
                and IF(p.effectivedays &gt; 0,IF(DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays+1 day),'%Y-%m-%d') &gt; DATE_FORMAT(date_add(p.terminaltime,INTERVAL 1 day),'%Y-%m-%d'),DATE_FORMAT(date_add(p.terminaltime,INTERVAL 1 day),'%Y-%m-%d'),DATE_FORMAT(date_add(m.createtime, INTERVAL p.effectivedays+1 day),'%Y-%m-%d')),IFNULL(DATE_FORMAT(date_add(p.terminaltime, INTERVAL 1 day),'%Y-%m-%d'),'')) &gt; CURDATE()
            </if>
            <if test="agentprizeid != null and agentprizeid!=''">
                and m.id = #{agentprizeid}
            </if>
            <if test="prizetype != null and prizetype!=''">
                and p.prizetype = #{prizetype}
            </if>
                and m.status not in ('9')
            <if test="statusin != null and statusin!=''">
                and m.status in
                <foreach item="item" index="index" collection="statusin" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
        <if test="sort != null and order != null">
            ${sort} ${order}
        </if>
        <if test="sort == null">
            m.createtime desc
        </if>
    </select>
    <select id="INSBAgentPrize_deleteByTaskId" parameterType="Map">
        delete from INSBAgentPrize where taskid = #{taskid} and agentid = #{agentid} and providercode = #{providercode} and status = '9'
    </select>
    <select id="INSBAgentPrize_selectAgent" parameterType="Map" resultType="Map">
       	select * from INSBAgent
        <where>
            <if test="agentid != null and agentid != null">
                and id = #{agentid}
            </if>
            <if test="jobnum != null and jobnum != null">
                and jobnum = #{jobnum}
            </if>
            <if test="referrer != null and referrer != null">
                and referrerid = #{referrerid}
            </if>
        </where>
    </select>
    <select id="INSBAgentPrize_selectByTaskId" parameterType="Map" resultType="com.zzb.extra.entity.INSBAgentPrize">
       	select * from INSBAgentPrize
        <where>
            <if test="taskid != null and taskid != null">
                and taskid = #{taskid}
            </if>
            <if test="providercode != null and providercode != null">
                and providercode = #{providercode}
            </if>
            <if test="agentid != null and agentid != null">
                and agentid = #{agentid}
            </if>
            <if test="status != null and status != null">
                and status = #{status}
            </if>
            <if test="statusin != null and statusin!=''">
                and status in
                <foreach item="item" index="index" collection="statusin" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="INSBAgentPrize_selectRecommendCounts" parameterType="Map" resultType="Long">
       	select ifnull(SUM(AD.AMOUNT),0) as AMOUNT from INSBAccount a JOIN INSBAccountDetails  ad on a.id = ad.accountid
        where a.agentid = #{agentid}
        and  ad.fundsource = '104'
    </select>
    <select id="INSBAgentPrize_updateByTaskIdAndPro" parameterType="Map" resultType="int">
        update INSBAgentPrize  set  modifytime = NOW(),taskid='',status = '0',providercode =''
        where taskid = #{taskid} and  providercode = #{providercode} and agentid = #{agentid}
        and status not in ('1','2','9','5')
    </select>


    <select id="INSBAgentPrize_queryPaidOrder" parameterType="Map"
            resultType="com.zzb.extra.entity.INSBAgentPrize">
       	select a.id,a.agentid,a.activityprizeid,a.taskid,a.providercode,a.counts,a.status,a.operator,a.createtime,a.modifytime,a.noti
        from INSBAgentPrize a ,INSBOrder o,insborderpayment p
        where  a.taskid=o.taskid and a.providercode=o.prvid
        and o.id = p.orderid
        and o.taskid = p.taskid
        and p.payresult='02'
        and a.status='9'
        and a.taskid = #{taskid} and  a.providercode = #{providercode}
    </select>

    <select id="INSBAgentPrize_queryNoPaymentOrder" parameterType="Map"
            resultType="com.zzb.extra.entity.INSBAgentPrize">
       	select a.id,a.agentid,a.activityprizeid,a.taskid,a.providercode,a.counts,a.status,a.operator,a.createtime,a.modifytime,a.noti
        from INSBAgentPrize a ,INSBOrder o
        where  a.taskid=o.taskid and a.providercode=o.prvid
        and o.orderstatus &lt;='1' and a.status='3'
        and not exists (select 1 from insborderpayment p where o.id = p.orderid and p.taskid = o.taskid and p.payresult='02')
        and a.taskid = #{taskid} and  a.providercode = #{providercode}
    </select>
    <select id="INSBAgentPrize_deleteTempAgentPrize" parameterType="Map">
        delete from INSBAgentPrize where taskid = #{taskid} and agentid = #{agentid} and providercode != #{providercode} and status = '9'
    </select>

    <select id="INSBAgentPrize_queryRegisterPrize" parameterType="Map" resultType="Map">
        SELECT
            a.agentid,
            a.counts,
            c.activitytype,
          a.createtime
        FROM
            insbagentprize a,
            insbmarketactivityprize b,
            insbmarketactivity c,
            insbmarketprize d
        WHERE
            a.activityprizeid = b.id
        AND b.activityid = c.id
        AND b.prizeid = d.id
        AND c.activitytype = '02'
        and a.createtime >= '2016-08-25'
        AND a.agentid = #{agentid}
    </select>

    <select id="INSBAgentPrize_queryAgentByTaskID" parameterType="Map" resultType="Map">
        select ap.id,a.activityname,IFNULL(a.noti,'') AS noti,p.prizename,pt.codename as prizetype,p.counts,p.autouse,
        IF(p.effectivedays > 0,DATE_FORMAT(date_add(NOW(), INTERVAL 1 day),'%Y-%m-%d'),IFNULL(DATE_FORMAT(p.effectivetime,'%Y-%m-%d'),'')) AS effectivetime,
        IF(p.effectivedays > 0,DATE_FORMAT(date_add(NOW(), INTERVAL p.effectivedays+1 day),'%Y-%m-%d'),IFNULL(DATE_FORMAT(p.terminaltime,'%Y-%m-%d'),'')) AS terminaltime,p.effectivedays
        from insbagentprize prize
        LEFT JOIN INSBMarketActivityPrize ap ON prize.activityprizeid = ap.id
        LEFT JOIN INSBMarketActivity a ON a.id=ap.activityid
        LEFT JOIN INSBMarketPrize p ON p.id=ap.prizeid
        LEFT JOIN INSCcode pt ON pt.parentcode='market' and pt.codetype='prizeType' and pt.codevalue=p.prizetype
        where prize.taskid = #{taskid}
        and prize.providercode =  #{providercode}
        and prize.agentid = #{agentid}
        and prize.status= #{status}
    </select>

</mapper>