<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBMiniPermission -->
	<select id="INSBMiniPermission_insert" parameterType="com.zzb.extra.entity.INSBMiniPermission" resultType="int">
		insert into INSBMiniPermission
		(id,percode,perindex,permissionname,perdesc,url,operator,createtime,modifytime,noti)
		values
		(#{id},#{percode},#{perindex},#{permissionname},#{perdesc},#{url},#{operator},#{createtime},#{modifytime},#{noti})
	</select>
	<select id="INSBMiniPermission_select" parameterType="Map" resultType="Map">
		select a.id,a.permissionname,a.url,a.percode from INSBMiniPermission a,insbrolepermission b
		<where>
			and a.id=b.permissionid
			<if test="roleid != null and roleid != ''">
				and b.roleid = #{roleid}
			</if>
			<if test="permissionid != null and permissionid != ''">
				and b.permissionid = #{permissionid}
			</if>
			<if test="perdesc != null and perdesc != ''">
				and a.perdesc = #{perdesc}
			</if>
			<if test="percode != null and percode != ''">
				and a.percode = #{percode}
			</if>
			<if test="permissionname != null and permissionname != ''">
				and a.permissionname = #{permissionname}
			</if>
			<if test="url != null and url != ''">
				and a.url = #{url}
			</if>
			<if test="perindex != null and perindex != ''">
				and a.perindex = #{perindex}
			</if>
			<if test="id != null and id !=''">
				and a.id = #{id}
			</if>
			
		</where>
		
        <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
		
	</select>
	<select id="INSBMiniPermission_selectList" parameterType="Map" resultType="com.zzb.extra.entity.INSBMiniPermission">
		select * from INSBMiniPermission a
		<where>
			
			<if test="perdesc != null and perdesc != ''">
				and a.perdesc = #{perdesc}
			</if>
			<if test="percode != null and percode != ''">
				and a.percode = #{percode}
			</if>
			<if test="permissionname != null and permissionname != ''">
				and a.permissionname = #{permissionname}
			</if>
			<if test="url != null and url != ''">
				and a.url = #{url}
			</if>
			<if test="perindex != null and perindex != ''">
				and a.perindex = #{perindex}
			</if>
			<if test="id != null and id !=''">
				and a.id = #{id}
			</if>
			
		</where>
		
        <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
		
	</select>
	<select id="INSBMiniPermission_selectListCount" parameterType="Map" resultType="Long">
		select count(1) from INSBMiniPermission a
		<where>
			
			<if test="perdesc != null and perdesc != ''">
				and a.perdesc = #{perdesc}
			</if>
			<if test="percode != null and percode != ''">
				and a.percode = #{percode}
			</if>
			<if test="permissionname != null and permissionname != ''">
				and a.permissionname = #{permissionname}
			</if>
			<if test="url != null and url != ''">
				and a.url = #{url}
			</if>
			<if test="perindex != null and perindex != ''">
				and a.perindex = #{perindex}
			</if>
			<if test="id != null and id !=''">
				and a.id = #{id}
			</if>
			
		</where>
		
        
		
	</select>
	<select id="INSBMiniPermission_existAccountId" parameterType="String" resultType="Long">
		select count(1) from INSBMiniPermission where id = #{id}
	</select>
	<select id="INSBMiniPermission_AccountId" parameterType="Map" resultType="Long">
		select count(1) from INSBMiniPermission a,insbrolepermission b
		<where>
			and a.id=b.permissionid
			<if test="roleid != null and roleid != ''">
				and b.roleid = #{roleid}
			</if>
			<if test="perdesc != null and perdesc != ''">
				and a.perdesc = #{perdesc}
			</if>
			<if test="percode != null and percode != ''">
				and a.percode = #{percode}
			</if>
			<if test="permissionname != null and permissionname != ''">
				and a.permissionname = #{permissionname}
			</if>
			<if test="url != null and url != ''">
				and a.url = #{url}
			</if>
			<if test="perindex != null and perindex != ''">
				and a.perindex = #{perindex}
			</if>
			<if test="id != null and id !=''">
				and a.id = #{id}
			</if>
		</where>
	</select>
    <select id="INSBMiniPermission_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBMiniPermission">
       	select * from INSBMiniPermission where id = #{id}
    </select>
   
	<select id="INSBMiniPermission_updateById" parameterType="com.zzb.extra.entity.INSBMiniPermission">
		update INSBMiniPermission  set operator = #{operator},modifytime = #{modifytime},percode = #{percode},perindex = #{perindex},permissionname = #{permissionname},perdesc = #{perdesc},url=#{url},noti=#{noti} where id = #{id}
	</select>
	<select id="INSBMiniPermission_deleteById" parameterType="String">
		delete from INSBMiniPermission where id = #{id}
	</select>
	<select id="INSBMiniPermission_selectMaxTmpcode" parameterType="Map" resultType="Long">
		select ifnull(max(perindex),0) as maxtmpcode from INSBMiniPermission
	</select>
	
	<select id="INSBMiniPermission_queryAgentOrderByUserid" parameterType="Map" resultType="Map">
		select DISTINCT a.taskid,b.prvid,d.carlicenseno,b.totalpaymentamount,e.prvname from insbagenttask a 
		LEFT JOIN insborder b on a.taskid= b.taskid 
		LEFT JOIN insbpolicyitem c  on c.taskid = b.taskid and b.prvid = c.inscomcode
		LEFT JOIN insbcarinfo d on b.taskid = d.taskid
		LEFT JOIN insbprovider e on e.prvcode = c.inscomcode
		<where>
			and a.status='1'
			<if test="agentid != null and agentid != '' ">
			
		   	and a.agentid = #{agentid}
			</if>
		</where>
		 <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
	</select>
	<select id="INSBMiniPermission_queryAgentOrderByUseridCount" parameterType="Map" resultType="Long">
		select count(DISTINCT a.taskid) from insbagenttask a 
		LEFT JOIN insborder b on a.taskid= b.taskid 
		LEFT JOIN insbpolicyitem c  on c.taskid = b.taskid and b.prvid = c.inscomcode
		LEFT JOIN insbcarinfo d on b.taskid = d.taskid
		LEFT JOIN insbprovider e on e.prvcode = c.inscomcode
		<where>
			and a.status='1'
			<if test="agentid != null and agentid != '' ">
			
		   	and a.agentid = #{agentid}
			</if>
		</where>
	</select>

</mapper>