<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.chn.entity">
	<!-- INSBCommissionratio -->
	<select id="INSBCommissionratio_insert" parameterType="com.zzb.chn.entity.INSBCommissionratio" resultType="int">
		insert into INSBCommissionratio
		(id,operator,createtime,modifytime,noti,channelid,commissiontype,ratio,effectivetime,terminaltime,status,remark,taxrate,calculatetype)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{channelid},#{commissiontype},#{ratio},#{effectivetime},#{terminaltime},#{status},#{remark},#{taxrate},#{calculatetype})
	</select>
	<select id="INSBCommissionratio_select" parameterType="Map" resultType="com.zzb.chn.entity.INSBCommissionratio">
		select * from INSBCommissionratio
		<where>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="commissiontype != null">
				and commissiontype = #{commissiontype}
			</if>
			<if test="ratio != null">
				and ratio = #{ratio}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="terminaltime != null">
				and terminaltime = #{terminaltime}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
	</select>
	<select id="queryCommissionRatioList" parameterType="Map" resultType="Map">
		select r.id,r.channelid,r.ratio,r.remark,r.commissiontype,r.status,r.calculatetype,r.taxrate,ft.codename as commissiontypename,CASE WHEN
		r.status='1' THEN
		'已启用' WHEN r.status='2' THEN '已关闭' ELSE '待审核' END AS statusname,
		DATE_FORMAT(r.effectivetime,'%Y-%m-%d %H:%i:%s') AS effectivetime,
		DATE_FORMAT(r.effectivetime,'%Y-%m-%d') as channeleffectivetime,
		IFNULL(DATE_FORMAT(r.terminaltime,'%Y-%m-%d'),NULL) as channelterminaltime,
		DATE_FORMAT(r.createtime,'%Y-%m-%d %H:%i:%s') AS createtime
		from INSBCommissionRatio r
		LEFT JOIN INSCcode ft ON ft.parentcode='market' and ft.codetype='commissionType' and
		ft.codevalue=r.commissiontype
		<where>
			<if test="channelid != null">
				and r.channelid = #{channelid}
			</if>
			<if test="commissiontype != null and commissiontype != ''">
				and r.commissiontype = #{commissiontype}
			</if>
			<if test="effectivetime != null">
				and r.effectivetime = #{effectivetime}
			</if>
			<if test="status != null">
				and r.status = #{status}
			</if>
			<if test="keyword != null and keyword != ''">
				and ( r.remark like concat('%',#{keyword},'%') or r.id = #{keyword} )
			</if>
		</where>
		ORDER BY
		<if test="sort != null and order != null">
			${sort} ${order}
		</if>
		<if test="sort == null">
			r.createtime desc
		</if>
		<if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>
	</select>
	<select id="INSBCommissionratio_selectById" parameterType="String" resultType="com.zzb.chn.entity.INSBCommissionratio">
		select * from INSBCommissionratio where id = #{id}
	</select>
	<select id="INSBCommissionratio_deleteById" parameterType="String">
		delete from INSBCommissionratio where id = #{id}
	</select>

	<select id="INSBCommissionratio_updateById" parameterType="Map" resultType="int">
		update INSBCommissionratio  set commissiontype = #{commissiontype},ratio = #{ratio},effectivetime = #{effectivetime},
		terminaltime = #{terminaltime},modifytime = #{modifytime},
		remark = #{remark},calculatetype = #{calculatetype},taxrate = #{taxrate}  where id = #{id}
	</select>
	<select id="INSBCommissionratio_updateStatusById" parameterType="Map" resultType="int">
		update INSBCommissionratio  set status = #{status},operator = #{operator},modifytime = #{modifytime},effectivetime = #{effectivetime},noti = #{noti}
		<if test="terminaltime != null and terminaltime != ''">
			,terminaltime = #{terminaltime}
		</if>
		 where id = #{id}
	</select>
	<select id="INSBCommissionratio_cleanCommissionRatioStatus" parameterType="Map" resultType="int">
		update INSBCommissionratio  set status = '2' where channelid = #{channelid}  AND status = '1' AND DATE_FORMAT(IFNULL(terminaltime,'2100-1-1 23:59:59'),'%Y-%m-%d %H:%i:%s') &lt;= DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
	</select>
	<select id="INSBCommissionratio_updateTerminalTimeByNoti" parameterType="Map" resultType="int">
		update INSBCommissionratio  set operator = #{operator},modifytime = #{modifytime},
		terminaltime =  #{terminaltime}
		where status!='2' AND id != #{id}
		AND channelid = #{channelid} and commissiontype = #{commissiontype} AND noti = #{noti}
		AND DATE_FORMAT(effectivetime,'%Y-%m-%d') &lt;= DATE_FORMAT(#{effectivetime},'%Y-%m-%d')
		AND DATE_FORMAT(IFNULL(terminaltime,'2100-1-1 23:59:59'),'%Y-%m-%d %H:%i:%s') &gt;= DATE_FORMAT(#{effectivetime},'%Y-%m-%d  %H:%i:%s')
	</select>
	<select id="queryCommissionRatioListCount" parameterType="Map" resultType="Long">
		select count(1) from INSBCommissionratio
		<where>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="commissiontype != null  and commissiontype != ''">
				and commissiontype = #{commissiontype}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="keyword != null and keyword != ''">
				and ( remark like concat('%',#{keyword},'%') or id = #{keyword} )
			</if>
		</where>
	</select>

	<select id="INSBCommissionratio_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBCommissionratio
		<where>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="commissiontype != null">
				and commissiontype = #{commissiontype}
			</if>
			<if test="ratio != null">
				and ratio = #{ratio}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="terminaltime != null">
				and terminaltime = #{terminaltime}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
	</select>
	<select id="INSBCommissionratio_selectOne" parameterType="Map" resultType="com.zzb.chn.entity.INSBCommissionratio">
		select * from INSBCommissionratio
		<where>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="commissiontype != null">
				and commissiontype = #{commissiontype}
			</if>
			<if test="ratio != null">
				and ratio = #{ratio}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="terminaltime != null">
				and terminaltime = #{terminaltime}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
		LIMIT 2
	</select>

	<select id="queryCommissionRatioByChannel" parameterType="Map" resultType="com.zzb.chn.entity.INSBCommissionratio">
		select * from INSBCommissionratio
		WHERE channelid=#{channelid}
		AND status='1'
		AND DATE_FORMAT(effectivetime,'%Y-%m-%d') &lt;= DATE_FORMAT(NOW(),'%Y-%m-%d')
		AND DATE_FORMAT(IFNULL(terminaltime,'2100-1-1'),'%Y-%m-%d') &gt; DATE_FORMAT(NOW(),'%Y-%m-%d')
		ORDER BY effectivetime DESC,createtime DESC
	</select>
	<select id="initChannelList" resultType="Map">
        select channelinnercode as id,'' AS pId,channelname AS name,channelinnercode AS channelid,'true' AS isParent,'false' AS open
        from insbchannel as t
        where childflag='1'
        AND (
		t.deleteflag != 0
		OR t.deleteflag IS NULL
		)
		and t.upchannelcode = ''
        ORDER BY CONVERT (name USING GBK)
	</select>
	<select id="queryCommissionRatioChannel" parameterType="String" resultType="Map">
		SELECT  p.channelname as channelname,m.channelid as channelid,p.channelname FROM insbcommissionratio m
		LEFT JOIN insbchannel p on m.channelid = p.channelinnercode
		where p.childflag='1'
		AND (
		p.deleteflag != 0
		OR p.deleteflag IS NULL
		)
		and p.upchannelcode = ''
		ORDER BY CONVERT(p.channelname USING GBK)
	</select>
</mapper>