<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.chn.entity">
	<!-- INSBChncarqry --> 
	<select id="INSBChncarqry_insert" parameterType="com.zzb.chn.entity.INSBChncarqry" resultType="int">
		insert into INSBChncarqry_${channelinnercode}
		(id,createtime,channelinnercode,carlicenseno,idcardno,carowner,taskid,jobnum)
		values
		(#{id},#{createtime},#{channelinnercode},#{carlicenseno},#{idcardno},#{carowner},#{taskid},#{jobnum})
	</select> 
	
	<update id="INSBChncarqry_createSubTable" parameterType="com.zzb.chn.entity.INSBChncarqry">
		create table if not exists insbchncarqry_${channelinnercode}
		(
		   id                   varchar(32) not null comment 'id',
		   channelinnercode     varchar(100) not null comment '渠道内部编码，即渠道ID',
		   carlicenseno         varchar(20) not null comment '车牌号',
		   createtime           datetime not null comment '创建时间',
		   idcardno             varchar(20) comment '车主身份证',
		   carowner             varchar(50) comment '车主姓名',
		   taskid               varchar(32) comment '任务id',
		   jobnum               varchar(50) comment '出单工号',
		   primary key (id)
		);
	</update>  
	
	<select id="INSBChncarqry_queryDetail" parameterType="Map" resultType="Map">
		SELECT
			t.id,
			t.taskid,
			t.carlicenseno,
			t.carowner,
			DATE_FORMAT(t.createtime, '%Y-%m-%d %H:%i:%s') createtime
		FROM
			insbchncarqry_${channelinnercode} t
		<where>
			<if test="createtimestart != null">
				AND	t.createtime &gt;= #{createtimestart}
			</if>
			<if test="createtimeend != null">
				AND t.createtime &lt;= #{createtimeend}
			</if>
			<if test="carlicenseno != null">
				AND t.carlicenseno LIKE CONCAT('%', #{carlicenseno}, '%')
			</if>
			<if test="carowner != null">
				AND t.carowner LIKE CONCAT('%', #{carowner}, '%')
			</if>
		</where>
		ORDER BY
			t.createtime ASC 
		<if test="limit != null">
		LIMIT #{offset}, #{limit}
		</if> 
	</select> 
	<select id="INSBChncarqry_queryDetailSize" parameterType="Map" resultType="Long">
		SELECT
			count(1)
		FROM
			insbchncarqry_${channelinnercode} t
		<where>
			<if test="createtimestart != null">
				AND	t.createtime &gt;= #{createtimestart}
			</if>
			<if test="createtimeend != null">
				AND t.createtime &lt;= #{createtimeend}
			</if>
			<if test="carlicenseno != null">
				AND t.carlicenseno LIKE CONCAT('%', #{carlicenseno}, '%')
			</if>
			<if test="carowner != null">
				AND t.carowner LIKE CONCAT('%', #{carowner}, '%')
			</if>
			<if test="carlicensenoexact != null">
				and t.carlicenseno = #{carlicensenoexact}
			</if>
		</where>		
	</select>
	
	<select id="INSBChncarqry_queryClnGroupCount" parameterType="Map" resultType="Long">
		SELECT
			count(1)
		FROM
			(
				SELECT
					t.carlicenseno
				FROM
					insbchncarqry_${channelinnercode} t
				<where>
					<if test="createtimestart != null">
						AND	t.createtime &gt;= #{createtimestart}
					</if>
					<if test="createtimestartneq != null">
						AND	t.createtime &gt; #{createtimestartneq}
					</if>
					<if test="createtimeend != null">
						AND t.createtime &lt;= #{createtimeend}
					</if>
					<if test="createtimeendneq != null">
						AND t.createtime &lt; #{createtimeendneq}
					</if>
					<if test="createtimestartex != null and createtimeendex != null">
						AND NOT EXISTS (SELECT et.carlicenseno FROM insbchncarqry_${channelinnercode} et 
										WHERE et.carlicenseno = t.carlicenseno AND et.createtime &gt;= #{createtimestartex} AND et.createtime &lt; #{createtimeendex})
					</if>
				</where>
				GROUP BY
					t.carlicenseno
			) ct;
	</select>
	
	<select id="INSBChncarqry_queryGroupRecCount" parameterType="Map" resultType="Map">
		SELECT
			count(1) as reccount,
			DATE_FORMAT(t.createtime, #{strformat}) createtime
		FROM
			insbchncarqry_${channelinnercode} t
		<where>
			<if test="createtimestart != null">
				AND	t.createtime &gt;= #{createtimestart}
			</if>
			<if test="createtimeend != null">
				AND t.createtime &lt;= #{createtimeend}
			</if>
		</where>
		GROUP BY
			date_format(t.createtime, #{strformat})
		ORDER BY
			createtime ASC	
		<if test="limit != null">
		LIMIT #{offset}, #{limit}
		</if>
	</select>
	<select id="INSBChncarqry_queryGroupRecCountSize" parameterType="Map" resultType="Long">
		SELECT
			count(1)
		FROM
		  ( SELECT
				DATE_FORMAT(t.createtime, #{strformat}) createtime
			FROM
				insbchncarqry_${channelinnercode} t
			<where>
				<if test="createtimestart != null">
					AND	t.createtime &gt;= #{createtimestart}
				</if>
				<if test="createtimeend != null">
					AND t.createtime &lt;= #{createtimeend}
				</if>
			</where>
			GROUP BY
				date_format(t.createtime, #{strformat}) ) ct  		
	</select>
	
	<select id="INSBChncarqry_querySummaryCount" parameterType="Map" resultType="Map">
		SELECT
			ifa.id,
			ifa.`name`,
			ai.channelinnercode AS channelinnercode,
			a.channelname AS channelname,
			CASE
		WHEN ai.id IS NULL THEN
			'关闭'
		WHEN ai.id IS NOT NULL THEN
			'开通'
		END AS isopenname,
		 CASE
		WHEN ai.isfree = '1' THEN
			'收费'
		WHEN ai.isfree = '0' THEN
			'免费'
		END AS isfreename,
		 ai.monthfree AS freetimes
		FROM
			insbinterface ifa
		LEFT JOIN insbagreementinterface ai ON ai.interfaceid = ifa.id
		LEFT JOIN insbchannel a ON a.channelinnercode = ai.channelinnercode
		<if test="channelcode != null and channelcode != ''">
			AND ai.channelinnercode = #{channelcode}
		</if>
		WHERE
			ifa.id = 10
			AND (
				a.deleteflag != 0
				OR a.deleteflag IS NULL
			)
			AND a.upchannelcode = ''
		<if test="limit != null and offset != null">
			LIMIT #{offset}, #{limit}
		</if>
	</select>

	<select id="INSBChncarqry_queryCount" parameterType="Map" resultType="Long">
		SELECT
			COUNT(1)
		FROM
		insbinterface ifa
		LEFT JOIN insbagreementinterface ai ON ai.interfaceid = ifa.id
		<if test="channelcode != null and channelcode != ''">
			AND ai.channelinnercode = #{channelcode}
		</if>
		WHERE
		ifa.id = 10
	</select>
	
	<select id="INSBChncarqry_queryMaxTimeRec" parameterType="Map" resultType="Map">
		SELECT
			DATE_FORMAT(max(createtime), '%Y-%m-%d %H:%i:%s') AS maxtime
		FROM
			insbchncarqry_${channelinnercode}
	</select>
	
	<select id="INSBChncarqry_select" parameterType="com.zzb.chn.entity.INSBChncarqry" resultType="com.zzb.chn.entity.INSBChncarqry">
		SELECT
			*
		FROM
			insbchncarqry_${channelinnercode} 
		<where>
			<if test="createtime != null">
				AND	createtime = #{createtime}
			</if>
			<if test="carlicenseno != null">
				AND carlicenseno = #{carlicenseno}
			</if>
			<if test="carowner != null">
				AND carowner = #{carowner}
			</if>
		</where>
		ORDER BY
			createtime ASC 
		<if test="limit != null">
		LIMIT #{offset}, #{limit}
		</if> 
	</select> 
</mapper>