<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.warranty.model">

    <select id="Coupon_getCouponById" resultType="com.zzb.warranty.model.Coupon">
		SELECT * FROM coupon where id=#{id}
	</select>

    <insert id="Coupon_insertCoupon" parameterType="com.zzb.warranty.model.Coupon">
		INSERT INTO coupon
		(id, amount, description, effectiveTime, expireTime, createTime, modifyTime, operatorId, operatorName, couponCount)
		VALUES
		(#{id}, #{amount}, #{description}, #{effectiveTime}, #{expireTime}, #{createTime}, #{modifyTime}, #{operatorId}, #{operatorName}, #{couponCount})
	</insert>

    <select id="Coupon_getCoupons" resultType="com.zzb.warranty.model.Coupon">
		SELECT * FROM coupon
	</select>

    <update id="Coupon_updateCoupon" parameterType="com.zzb.warranty.model.Coupon">
		UPDATE coupon SET amount=#{amount}, description=#{description}, modifyTime=#{modifyTime},
		operatorId=#{operatorId}, operatorName=#{operatorname}
	</update>
</mapper>