<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBWorkflowmaintrack -->
	<select id="INSBWorkflowmaintrack_insert" parameterType="com.zzb.conf.entity.INSBWorkflowmaintrack" resultType="int">
		insert into INSBWorkflowmaintrack
		(id,operator,createtime,modifytime,noti,instanceid,taskid,taskcode,createby,taskstate,groupid,operatorstate) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{instanceid},#{taskid},#{taskcode},#{createby},#{taskstate},#{groupid},#{operatorstate}) 
	</select>
	 
	<select id="INSBWorkflowmaintrack_insertByMainTable" parameterType="com.zzb.conf.entity.INSBWorkflowmain" resultType="int">
		insert into INSBWorkflowmaintrack
		(id,operator,createtime,modifytime,noti,instanceid,taskid,taskcode,createby,taskstate,operatorstate) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{instanceid},#{taskid},#{taskcode},#{createby},#{taskstate},#{operatorstate}) 
	</select>
	
	<select id="INSBWorkflowmaintrack_countDayTask" parameterType="Map" resultType="Long">
		/*slave*/select count(1) from (
		(select mt.id,DATE_FORMAT(modifytime,'%Y-%m-%d') AS modifytime,mt.taskstate,mt.operator from insbworkflowmaintrack mt 
		where mt.operator=#{createby} and DATE_FORMAT(mt.modifytime,'%Y-%m-%d') =#{modifytime} and mt.taskstate='Completed' 
		and taskcode in(24,23,21,18,8,31,7,6,20,27)) 
		union 
		(select st.id,DATE_FORMAT(st.modifytime,'%Y-%m-%d'),st.taskstate,st.operator from insbworkflowsubtrack st
		where st.operator=#{createby} and DATE_FORMAT(st.modifytime,'%Y-%m-%d') =#{modifytime}  and st.taskstate='Completed' 
		and taskcode in(24,23,21,18,8,31,7,6,20,27)))m
	</select>
	<select id="INSBWorkflowmaintrack_countMonthTask" parameterType="Map" resultType="Long">
		/*slave*/select count(1) from (
		(select mt.id,DATE_FORMAT(modifytime,'%Y-%m') AS modifytime,mt.taskstate,mt.operator from insbworkflowmaintrack mt 
		where mt.operator=#{createby} and DATE_FORMAT(mt.modifytime,'%Y-%m') =#{modifytime}  and mt.taskstate='Completed' 
		and taskcode in(24,23,21,18,8,31,7,6,20,27)) 
		union 
		(select st.id,DATE_FORMAT(st.modifytime,'%Y-%m'),st.taskstate,st.operator from insbworkflowsubtrack st
		where st.operator=#{createby} and DATE_FORMAT(st.modifytime,'%Y-%m') =#{modifytime}  and st.taskstate='Completed' 
		and taskcode in(24,23,21,18,8,31,7,6,20,27)))m
	</select>
	
	<select id="INSBWorkflowmaintrack_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowmaintrack">
		select * from INSBWorkflowmaintrack
		<where>
			<if test="instanceid != null">
				and instanceid = #{instanceid}
			</if>
			<if test="operatorstate != null">
				and operatorstate = #{operatorstate}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="taskcode != null">
				and taskcode = #{taskcode}
			</if>
			<if test="createby != null">
				and createby = #{createby}
			</if>
			<if test="taskstate != null">
				and taskstate = #{taskstate}
			</if>
		</where>
		order by createtime desc
	</select>
	<select id="INSBWorkflowmaintrack_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowmaintrack">
		select * from INSBWorkflowmaintrack
		<where>
			<if test="instanceid != null">
				and instanceid = #{instanceid}
			</if>
			<if test="operatorstate != null">
				and operatorstate = #{operatorstate}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="taskcode != null">
				and taskcode = #{taskcode}
			</if>
			<if test="createby != null">
				and createby = #{createby}
			</if>
			<if test="taskstate != null">
				and taskstate = #{taskstate}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBWorkflowmaintrack_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBWorkflowmaintrack">
		select * from INSBWorkflowmaintrack where id = #{id}
	</select>
	
	<select id="INSBWorkflowmaintrack_selectUserCodesByTimeAndTaskNumAll4Task" parameterType="Map" resultType="Map">
		select count(operator) num,operator from INSBWorkflowmaintrack 
		<where>1=1
			<if test="userList !=null">
				 and operator in  
				<foreach collection="userList" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="startTime !=null and endTime !=null">
				and createtime between STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
		GROUP BY operator order by num asc
	</select>
	
	<select id="INSBWorkflowmaintrack_selectUserCodesByTimeAndTaskNum4Task" parameterType="Map" resultType="Map">
		select count(operator) num,operator from INSBWorkflowmaintrack 
		<where>taskstate !='Completed'
			<if test="userList !=null">
				 and operator in 
				<foreach collection="userList" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="startTime !=null and endTime !=null">
				and createtime between STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
		GROUP BY operator order by num asc
	</select>
	
	<select id="INSBWorkflowmaintrack_selectByInstanceIdTaskCode" parameterType="String" resultType="String">
		select id from INSBWorkflowmaintrack where taskcode = #{taskcode} and instanceid=#{instanceid}
	</select>
	
	
	<select id="INSBWorkflowmaintrack_selectByInstanceId4h5" parameterType="String" resultType="Map">
		select case when  taskcode in (1,2,3,4,6,7,8,31,32) then '01报价中'
					when taskcode='13' then '02退回修改'
					when taskcode='14' then '03报价成功'
					when taskcode='15' then '04报价中'
					when taskcode in (16,17,18) then '05核保中'
					when taskcode='19'  then '06核保退回'
					when taskcode in (20,21) then '07核保成功'
					when taskcode in (25,26,27,28) then '08支付成功'
					when taskcode in (23,24,29) then '09完成'
					when taskcode='30' then '10关闭'
					when taskcode='34' then '11取消承保'
					when taskcode='36' then '12暂停支付' else '99' end as status,
					DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%s') createtime
					from INSBWorkflowmaintrack 
					where  instanceid=#{instanceid} order by createtime
	</select>
	
	<select id="INSBWorkflowmaintrack_selectAllTrackByInstanceId" parameterType="String" resultType="Map">
		select a.*,b.codename taskname ,c.codename taskstatestr
		from INSBWorkflowmaintrack a 
		left join insccode b on b.codetype='workflowNodelName' and a.taskcode=b.codevalue  
		left join insccode c on c.codetype='workflowtaskstatus' and a.taskstate=c.codevalue
		where instanceid = #{instanceid} order by createtime	</select>
	
	
	<!--工作流程图获得信息方法 -->
	<select id="INSBWorkflowmaintrack_selectAllComplateTrackByInstanceId" parameterType="String" resultType="Map">
		select a.*,b.codename AS taskname,c.codename AS taskstatestr
		FROM INSBWorkflowmaintrack a 
		LEFT JOIN insccode b 
		ON b.codetype='workflowNodelName' AND a.taskcode=b.codevalue  
		LEFT JOIN insccode c 
		ON c.codetype='workflowtaskstatus' AND a.taskstate=c.codevalue
		WHERE instanceid = #{instanceid} 
		ORDER BY a.createtime ASC
	</select>
		
		
	<select id="INSBWorkflowmaintrack_deleteById" parameterType="String">
		delete from INSBWorkflowmaintrack where id = #{id}
	</select>
	<select id="INSBWorkflowmaintrack_updateById" parameterType="com.zzb.conf.entity.INSBWorkflowmaintrack">
		update INSBWorkflowmaintrack  set groupid=#{groupid}, operator = #{operator},modifytime = #{modifytime},noti = #{noti},instanceid = #{instanceid},taskid = #{taskid},taskcode = #{taskcode},createby = #{createby},taskstate = #{taskstate} where id = #{id}
	</select>
	
	
	<select id="INSBWorkflowmaintrack_updateByMainTable" parameterType="com.zzb.conf.entity.INSBWorkflowmain">
		update INSBWorkflowmaintrack  set groupid=#{groupid}, operator = #{operator},modifytime = #{modifytime},noti = #{noti},instanceid = #{instanceid},taskid = #{taskid},taskcode = #{taskcode},createby = #{createby},taskstate = #{taskstate},operatorstate=#{operatorstate} where id = #{id}
	</select>
	
	<select id="INSBWorkflowmaintrack_updateTaskStatusBylogicId" parameterType="com.zzb.conf.entity.INSBWorkflowmaintrack">
		update INSBWorkflowmaintrack  set taskstate = #{taskstate} where id = #{id}
	</select>
	<select id="INSBWorkflowmaintrack_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBWorkflowmaintrack
		<where>
			<if test="instanceid != null">
				and instanceid = #{instanceid}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="taskcode != null">
				and taskcode = #{taskcode}
			</if>
			<if test="createby != null">
				and createby = #{createby}
			</if>
			<if test="taskstate != null">
				and taskstate = #{taskstate}
			</if>
		</where>
	</select>
	<select id="INSBWorkflowmaintrack_getUserInfo" parameterType="String" resultType="Map">
		select u.usercode,u.username from insbworkflowmaintrack w LEFT JOIN inscuser u on w.operator=u.usercode WHERE taskid=#{taskid}
	</select>
	
	
	<!-- 查询我的历史任务 -->	
<select id="INSBWorkflowmaintrack_querymyhistorytask" parameterType="Map" resultType="Map">

	/*slave*/SELECT
	a.instanceid AS maininstanceid,
	b.instanceid,
	a.taskcode AS maintaskcode,
	b.taskcode,
	a.taskstate AS maintaskstate,
	b.taskstate,
	a.createtime,
	ic.codename,
	car.carlicenseno,
	sper. NAME AS bname,
	oper. NAME AS carname,
	carm.standardfullname,
	quot.insprovincename,
	quot.inscityname,
	quot.agentname,
	agent.jobnum,
	agent.teamname,
	q.inscomcode,
	d.shortname
	FROM
	insbworkflowmain a
	INNER JOIN insbworkflowsub b ON a.instanceid = b.maininstanceid
	INNER JOIN insbquoteinfo q ON b.instanceid = q.workflowinstanceid
	INNER JOIN insbcarinfo car ON car.taskid = a.instanceid
	INNER JOIN insbcarowneinfo caro ON caro.taskid = a.instanceid
	INNER JOIN insccode ic ON ic.codetype = 'workflowNodelName' AND ic.codevalue = b.taskcode
	INNER JOIN insbperson oper ON caro.personid = oper.id
	INNER JOIN insbinsured sur ON sur.taskid = a.instanceid
	INNER JOIN insbperson sper ON sper.id = sur.personid
	INNER JOIN insbcarmodelinfo carm ON carm.carinfoid = car.id
	INNER JOIN insbquotetotalinfo quot ON quot.taskid = a.instanceid
	INNER JOIN inscdept d ON d.id = q.deptcode
	INNER JOIN insbagent agent ON agent.jobnum = quot.agentnum
	WHERE EXISTS ( SELECT 1 from
	(
	SELECT
	instanceid AS subinstanceid
	FROM
	insbworkflowsubtrack
	WHERE
	operator = #{loginUserName}
	AND taskstate NOT IN ('Reserved', 'Ready')
	UNION ALL
	SELECT
	sub.instanceid AS subinstanceid
	FROM
	insbworkflowmaintrack mt, insbworkflowsub sub
	WHERE
	mt.instanceid = sub.maininstanceid
	AND sub.taskstate = 'end' AND sub.taskcode = '33'
	AND mt.operator = #{loginUserName}
	AND mt.taskstate NOT IN ('Reserved', 'Ready')
	)aa WHERE b.instanceid =aa.subinstanceid
	)
	<if test="maininstanceid !=null and maininstanceid !='' ">
					AND a.instanceid=#{maininstanceid}
				</if>
				<if test="carlicenseno !=null and carlicenseno!='' ">
					AND car.carlicenseno=#{carlicenseno}
				</if>
				<if test="bname !=null and bname!='' ">
					AND sper.NAME=#{bname}
				</if>
				<if test="taskcreatetimeup !=null and taskcreatetimeup!='' ">
					AND a.createtime &gt;=#{taskcreatetimeup}
				</if>
				<if test="taskcreatetimedown !=null and taskcreatetimedown!='' ">
					AND a.createtime &lt;=#{taskcreatetimedown}
				</if>

			ORDER BY a.createtime desc
			LIMIT #{offset},#{limit}
	 <!--	select * FROM ( 
			select m.instanceid AS maininstanceid, m.taskcode AS maintaskcode, s.instanceid, m.taskcode, m.createtime, ic.codename, q.inscomcode, 
				   qt.team,qt.insprovincename, qt.inscityname, qt.agentname, d.shortname, CONCAT( p.prvshotname, '(', p.prvname, ');' ) AS prvname, 
				   CASE WHEN carh.carlicenseno IS NULL THEN car.carlicenseno ELSE carh.carlicenseno END AS carlicenseno, 
				   CASE WHEN carmh.standardfullname IS NULL THEN carm.standardfullname ELSE carmh.standardfullname END AS standardfullname, 
				   CASE WHEN pih.`name` IS NULL THEN pi.`name` ELSE pih.`name` END AS insuredname 
			FROM insbworkflowmain m 
				INNER JOIN insbworkflowsub s ON m.instanceid = s.maininstanceid 
				LEFT JOIN insbquotetotalinfo qt ON qt.taskid = m.instanceid 
				LEFT JOIN insbquoteinfo q ON s.instanceid = q.workflowinstanceid 
				LEFT JOIN insbcarinfo car ON car.taskid = m.instanceid 
				LEFT JOIN insbcarinfohis carh ON carh.taskid = m.instanceid AND carh.inscomcode = q.inscomcode 
				LEFT JOIN insbcarmodelinfo carm ON carm.carinfoid = car.id 
				LEFT JOIN insbcarmodelinfohis carmh ON carmh.carinfoid = car.id AND carmh.inscomcode = q.inscomcode 
				LEFT JOIN insbinsured i ON i.taskid = m.instanceid 
				LEFT JOIN insbinsuredhis ih ON ih.taskid = m.instanceid AND ih.inscomcode = q.inscomcode 
				LEFT JOIN insbperson pi ON pi.id = i.personid 
				LEFT JOIN insbperson pih ON pih.id = ih.personid 
				LEFT JOIN insccode ic ON ic.codetype = 'workflowNodelName' AND ic.codevalue = m.taskcode 
				LEFT JOIN inscdept d ON d.id = q.deptcode 
				LEFT JOIN insbprovider p ON p.id = q.inscomcode 
			WHERE m.operator = #{createby}  
			AND m.taskcode != '2' 
			AND m.taskstate != 'Closed' 
			AND s.taskstate != 'Closed' 
			UNION 
			select maininstanceid, maintaskcode, instanceid, taskcode, createtime, codename, inscomcode, team, insprovincename, inscityname, agentname, shortname, 
				   group_concat( CONCAT( s.prvshotname, '(', s.prvname, ')' ) SEPARATOR ';' ) AS prvname, carlicenseno, standardfullname, insuredname 
			FROM ( 
				select m.instanceid AS maininstanceid, m.taskcode AS maintaskcode, s.instanceid, s.taskcode, s.createtime, ic.codename, q.inscomcode, 
					   qt.team, qt.insprovincename, qt.inscityname, qt.agentname, d.shortname, p.prvshotname, p.prvname, 
					   CASE WHEN carh.carlicenseno IS NULL THEN car.carlicenseno ELSE carh.carlicenseno END AS carlicenseno, 
					   CASE WHEN carmh.standardfullname IS NULL THEN carm.standardfullname ELSE carmh.standardfullname END AS standardfullname, 
					   CASE WHEN pih.`name` IS NULL THEN pi.`name` ELSE pih.`name` END AS insuredname 
			 	FROM insbworkflowmain m 
			 		INNER JOIN insbworkflowsub s ON m.instanceid = s.maininstanceid 
			 		LEFT JOIN insbquotetotalinfo qt ON qt.taskid = m.instanceid 
			 		LEFT JOIN insbquoteinfo q ON s.instanceid = q.workflowinstanceid 
			 		LEFT JOIN insbcarinfo car ON car.taskid = m.instanceid 
			 		LEFT JOIN insbcarinfohis carh ON carh.taskid = m.instanceid AND carh.inscomcode = q.inscomcode 
			 		LEFT JOIN insbcarmodelinfo carm ON carm.carinfoid = car.id 
			 		LEFT JOIN insbcarmodelinfohis carmh ON carmh.carinfoid = car.id AND carmh.inscomcode = q.inscomcode 
			 		LEFT JOIN insbinsured i ON i.taskid = m.instanceid 
			 		LEFT JOIN insbinsuredhis ih ON ih.taskid = m.instanceid AND ih.inscomcode = q.inscomcode 
			 		LEFT JOIN insbperson pi ON pi.id = i.personid 
			 		LEFT JOIN insbperson pih ON pih.id = ih.personid 
			 		LEFT JOIN insccode ic ON ic.codetype = 'workflowNodelName' AND ic.codevalue = s.taskcode 
			 		LEFT JOIN inscdept d ON d.id = q.deptcode 
			 		LEFT JOIN insbprovider p ON p.id = q.inscomcode 
			 	WHERE s.operator = #{createby} 
			 	AND m.taskcode IN ('2', '15') 
			 	AND s.taskcode IN ('6', '7', '8') 
			 	AND s.taskstate != 'Closed' 
			 	) s 
			GROUP BY s.maininstanceid, s.taskcode 
			UNION 
			select m.instanceid AS maininstanceid, m.taskcode AS maintaskcode, s.instanceid, s.taskcode, s.createtime, ic.codename, 
				   q.inscomcode, qt.team, qt.insprovincename, qt.inscityname, qt.agentname, d.shortname, CONCAT( p.prvshotname, '(', p.prvname, ');' ) AS prvname, 
				   CASE WHEN carh.carlicenseno IS NULL THEN car.carlicenseno ELSE carh.carlicenseno END AS carlicenseno, 
				   CASE WHEN carmh.standardfullname IS NULL THEN carm.standardfullname ELSE carmh.standardfullname END AS standardfullname, 
				   CASE WHEN pih.`name` IS NULL THEN pi.`name` ELSE pih.`name` END AS insuredname 
			FROM insbworkflowmain m 
				INNER JOIN insbworkflowsub s ON m.instanceid = s.maininstanceid 
				LEFT JOIN insbquotetotalinfo qt ON qt.taskid = m.instanceid 
				LEFT JOIN insbquoteinfo q ON s.instanceid = q.workflowinstanceid 
				LEFT JOIN insbcarinfo car ON car.taskid = m.instanceid 
				LEFT JOIN insbcarinfohis carh ON carh.taskid = m.instanceid AND carh.inscomcode = q.inscomcode 
				LEFT JOIN insbcarmodelinfo carm ON carm.carinfoid = car.id 
				LEFT JOIN insbcarmodelinfohis carmh ON carmh.carinfoid = car.id AND carmh.inscomcode = q.inscomcode 
				LEFT JOIN insbinsured i ON i.taskid = m.instanceid 
				LEFT JOIN insbinsuredhis ih ON ih.taskid = m.instanceid AND ih.inscomcode = q.inscomcode 
				LEFT JOIN insbperson pi ON pi.id = i.personid 
				LEFT JOIN insbperson pih ON pih.id = ih.personid 
				LEFT JOIN insccode ic ON ic.codetype = 'workflowNodelName' AND ic.codevalue = s.taskcode 
				LEFT JOIN inscdept d ON d.id = q.deptcode 
				LEFT JOIN insbprovider p ON p.id = q.inscomcode 
			WHERE s.operator = #{createby}  
			AND m.taskcode IN ('2', '15') 
			AND s.taskcode IN ('21', '18', '20') 
			AND s.taskstate != 'Closed' 
			UNION 
			select c.id AS maininstanceid, '999' AS maintaskcode, c.id AS instanceid, '999' AS taskcode, c.createtime AS createtime, '认证' AS codename, 
				   rcx.comcodename AS inscomcode, '' AS team ,rcp.comcodename AS insprovincename, rcc.comcodename AS inscityname, agent.`name` AS agentname, 
				   agent.mobile AS shortname, agent.jobnum AS prvname, agent.jobnumtype AS carlicenseno, c.mainbiz AS standardfullname, 
				   '' AS insuredname 
			FROM insbcertification c 
				LEFT JOIN insbagent agent ON agent.tempjobnum = c.agentnum 
				LEFT JOIN inscdept rd ON rd.id = c.deptid 
				LEFT JOIN insbregion rcp ON rcp.comcode = rd.province 
				LEFT JOIN insbregion rcc ON rcc.comcode = rd.city 
				LEFT JOIN insbregion rcx ON rcx.comcode = rd.county 
			WHERE c. STATUS = '0' 
			AND c.designatedoperator = #{createby} 
		) m
		<where>
			<if test="simplequery != null and simplequery != '' ">
				and  (m.carlicenseno  like CONCAT('%', #{simplequery},'%') or  m.insuredname  like CONCAT('%', #{simplequery},'%') or  m.agentname  like CONCAT('%', #{simplequery},'%'))
			</if>
		</where> 
		order by m.createtime desc
	</select>
	 <resultMap id="myTaskResult" type="Map">
	 	<result property="maininstanceid" column="maininstanceid"/>
	 	<result property="mtaskcode" column="maintaskcode"/>
	 	<result property="instanceid" column="instanceid"/>
	 	<result property="taskcode" column="taskcode"/>
	 	<result property="createtime" column="createtime"/>
	 	<result property="codename" column="codename"/>
	 	<result property="inscomcode" column="inscomcode"/>
	 	<result property="team" column="team"/>
	 	<result property="insprovincename" column="insprovincename"/>
	 	<result property="inscityname" column="inscityname"/>
	 	<result property="agentname" column="agentname"/>
	 	<result property="shortname" column="shortname"/>
	 	<result property="prvname" column="prvname"/>
	 	<result property="carlicenseno" column="carlicenseno"/>
	 	<result property="standardfullname" column="standardfullname"/>
	 	<result property="insuredname" column="insuredname"/>
	 	<result property="prvname2" column="prvname2"/>
	 	<result property="commentcontent" column="commentcontent"/>
	 	<result property="comcodename" column="comcodename"/>
	 </resultMap>
	联结insbcarinfo和insbworkflowmain查询
	<select id="selectCarListCount" parameterType="Map" resultType="com.zzb.cm.entity.INSBQuotetotalinfo">
	   	select q.* from insbquotetotalinfo q left join insbworkflowmain f on q.taskid=f.instanceid  and f.taskstate !='closed' 
		<where>
		<if test="createby != null">
				and q.agentnum = #{createby}
		</if>
		<if test="taskcode != null and taskcode != ''">
				and f.taskcode = #{taskcode}
		</if>
		</where>
	</select>
	
	联结insbcarinfo和insbworkflowmain查询
	<select id="selectPayMentListCountOld" parameterType="Map" resultType="Long">
		select count(*) from insbquotetotalinfo q left join insbworkflowmain f on q.taskid=f.instanceid and f.taskstate !='closed'
		<where>
			<if test="createby != null">
					and q.agentnum = #{createby}
			</if>
			<if test="taskcode != null and taskcode != ''">
					and f.taskcode = #{taskcode}
			</if>
		</where>-->
</select>
	
	
	<select id="INSBWorkflowmaintrack_selectPayMentListCount" parameterType="Map" resultType="Long">
		select f.taskcode,f.instanceid,q.agentnum from insbquotetotalinfo q left join insbworkflowmain f on q.taskid=f.instanceid and f.taskstate !='closed'
		UNION	select f.taskcode, f.maininstanceid instanceid,q.agentnum from insbquotetotalinfo q left join insbworkflowsub f on q.taskid=f.maininstanceid and f.taskstate !='closed') t 
		<where>
			t.instanceid !='null'
			<if test="createby != null">
					and t.agentnum = #{createby}
			</if>
			<if test="taskcode != null and taskcode != ''">
					and t.taskcode = #{taskcode}
			</if>
		</where> 
	</select>

	<!-- 查询我的历史任务总条数 -->
<select id="INSBWorkflowmaintrack_querymyhistorytasknum" parameterType="Map" resultType="long">
	/*slave*/SELECT
	COUNT(1)
FROM
	insbworkflowmain a
INNER JOIN insbworkflowsub b ON a.instanceid = b.maininstanceid
INNER JOIN insbquoteinfo q ON b.instanceid = q.workflowinstanceid
INNER JOIN insbcarinfo car ON car.taskid = a.instanceid
	<!--INNER JOIN insbcarowneinfo caro ON caro.taskid = a.instanceid
    INNER JOIN insccode ic ON ic.codetype = 'workflowNodelName' AND ic.codevalue = b.taskcode
    INNER JOIN insbperson oper ON caro.personid = oper.id-->
    INNER JOIN insbinsured sur ON sur.taskid = a.instanceid
    INNER JOIN insbperson sper ON sper.id = sur.personid
    <!--INNER JOIN insbcarmodelinfo carm ON carm.carinfoid = car.id-->
INNER JOIN insbquotetotalinfo quot ON quot.taskid = a.instanceid
INNER JOIN inscdept d ON d.id = q.deptcode 
INNER JOIN insbagent agent ON agent.jobnum = quot.agentnum
WHERE EXISTS (
	SELECT  1 FROM (
	SELECT
	instanceid AS subinstanceid
	FROM
	insbworkflowsubtrack
	WHERE
	operator = #{loginUserName}
	AND taskstate NOT IN ('Reserved', 'Ready')
	UNION ALL
	SELECT
	sub.instanceid AS subinstanceid
	FROM
	insbworkflowmaintrack mt, insbworkflowsub sub
	WHERE
	mt.instanceid = sub.maininstanceid
	AND	sub.taskstate = 'end' AND sub.taskcode = '33'
	AND	mt.operator = #{loginUserName}
	AND mt.taskstate NOT IN ('Reserved', 'Ready')
	) aa WHERE b.instanceid =aa.subinstanceid
	)

	<if test="maininstanceid !=null and maininstanceid !='' ">
		AND a.instanceid=#{maininstanceid}
	</if>
	<if test="carlicenseno !=null and carlicenseno!='' ">
		AND car.carlicenseno=#{carlicenseno}
	</if>
	<if test="bname !=null and bname!='' ">
		AND sper.NAME=#{bname}
	</if>
	<if test="taskcreatetimeup !=null and taskcreatetimeup!='' ">
		AND a.createtime &gt;=#{taskcreatetimeup}
	</if>
	<if test="taskcreatetimedown !=null and taskcreatetimedown!='' ">
		AND a.createtime &lt;=#{taskcreatetimedown}
	</if>


</select>

<select id="INSBWorkflowmaintrack_selectbyInstanceId" parameterType="String" resultType="Map">
		select  DISTINCT b.inscomcode  FROM insbworkflowmain s  INNER JOIN insbpolicyitem b ON b.taskid = s.instanceid  WHERE  s.instanceid =#{instanceid};
</select>


	<select id="INSBWorkflowmaintrack_count21CodeByTaskIdAndInscomcode" parameterType="Map" resultType="int">
		  SELECT COUNT(1)
		  from insbworkflowsubtrack a LEFT JOIN insbquoteinfo b on a.instanceid=b.workflowinstanceid
			 LEFT JOIN insbquotetotalinfo c on c.id=b.quotetotalinfoid
			 WHERE c.taskid=#{taskid} and b.inscomcode=#{inscomcode} and a.taskcode='21'
	</select>

</mapper>