<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBInterface -->
	<select id="INSBInterface_insert" parameterType="com.zzb.conf.entity.INSBInterface" resultType="int">
		insert into INSBInterface
		(id,operator,createtime,modifytime,noti,name,address) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{name},#{address}) 
	</select>
	<select id="INSBInterface_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBInterface">
		select * from INSBInterface
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
		</where>
	</select>
	<select id="INSBInterface_selectPage" parameterType="Map" resultType="com.zzb.conf.entity.INSBInterface">
		select * from INSBInterface limit #{offset},#{limit}
	</select>
	<select id="INSBInterface_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBInterface">
		select * from INSBInterface where id = #{id}
	</select>
	<select id="INSBInterface_deleteById" parameterType="String">
		delete from INSBInterface where id = #{id}
	</select>
	<select id="INSBInterface_updateById" parameterType="com.zzb.conf.entity.INSBInterface">
		update INSBInterface  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},name = #{name},address = #{address} where id = #{id}
	</select>
	<select id="INSBInterface_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBInterface
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
		</where>
	</select>
</mapper>