<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBTasksetrulebse -->
	<select id="INSBTasksetrulebse_insert" parameterType="com.zzb.conf.entity.INSBTasksetrulebse" resultType="int">
		insert into INSBTasksetrulebse
		(id,operator,createtime,modifytime,noti,rulebaseid,tasksetid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{rulebaseid},#{tasksetid}) 
	</select>
	<select id="INSBTasksetrulebse_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBTasksetrulebse">
		select * from INSBTasksetrulebse
		<where>
			<if test="rulebaseid != null">
				and rulebaseid = #{rulebaseid}
			</if>
			<if test="tasksetid != null">
				and tasksetid = #{tasksetid}
			</if>
		</where>
	</select>
	<select id="INSBTasksetrulebse_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBTasksetrulebse">
		select * from INSBTasksetrulebse
		<where>
			<if test="rulebaseid != null">
				and rulebaseid = #{rulebaseid}
			</if>
			<if test="tasksetid != null">
				and tasksetid = #{tasksetid}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBTasksetrulebse_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBTasksetrulebse">
		select * from INSBTasksetrulebse where id = #{id}
	</select>
	
	<select id="INSBTasksetrulebse_selectListByTasksetId" parameterType="String" resultType="com.zzb.conf.entity.INSBTasksetrulebse">
		select * from INSBTasksetrulebse where tasksetid = #{tasksetid}
	</select>
	
	<select id="INSBTasksetrulebse_selectList4Rule" resultType="String">
		select b.id from  insbtasksetrulebse a left join insbrulebase b on b.id=a.rulebaseid  
		group by b.id
	</select>
	
	<!-- 规则信息查询条件得到任务列表 -->
	<select id="INSBTasksetrulebse_selectListPage4Taskset" parameterType="Map" resultType="String">
		select a.tasksetid
		from  insbtasksetrulebse a left join insbrulebase b on b.id=a.rulebaseid  
		<if test="ruleName != null and ruleName!='' ">
				and b.rule_name like CONCAT('%',#{ruleName},'%') 
			</if>
			<if test="rulePostil != null and rulePostil!='' ">
				and b.rule_postil like CONCAT('%',#{rulePostil},'%') 
			</if>
		group by a.tasksetid
	</select>
	
	<select id="INSBTasksetrulebse_selectListByRuleId" parameterType="String" resultType="com.zzb.conf.entity.INSBTasksetrulebse">
		select * from INSBTasksetrulebse where rulebaseid = #{ruleId}
	</select>
	<select id="INSBTasksetrulebse_deleteById" parameterType="String">
		delete from INSBTasksetrulebse where id = #{id}
	</select>
	<select id="INSBTasksetrulebse_deleteByRuleId" parameterType="String">
		delete from INSBTasksetrulebse where rulebaseid = #{rulebaseid}
	</select>
	<select id="INSBTasksetrulebse_updateById" parameterType="com.zzb.conf.entity.INSBTasksetrulebse">
		update INSBTasksetrulebse  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},rulebaseid = #{rulebaseid},tasksetid = #{tasksetid} where id = #{id}
	</select>
	<select id="INSBTasksetrulebse_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBTasksetrulebse
		<where>
			<if test="rulebaseid != null">
				and rulebaseid = #{rulebaseid}
			</if>
			<if test="tasksetid != null">
				and tasksetid = #{tasksetid}
			</if>
		</where>
	</select>
</mapper>