<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBTaskset -->
	<select id="INSBTaskset_insert" parameterType="com.zzb.conf.entity.INSBTaskset"
		resultType="int">
		insert into INSBTaskset
		(id,operator,createtime,modifytime,noti,setname,shedulingpolicy,deptid,setstatus,setdescription,providerid,tasktype)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{setname},#{shedulingpolicy},#{deptid},#{setstatus},#{setdescription},#{providerid},#{tasktype})
	</select>
	<select id="INSBTaskset_select" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBTaskset">
		select * from INSBTaskset
		<where>
			<if test="setname != null">
				and setname = #{setname}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="setstatus != null">
				and setstatus = #{setstatus}
			</if>
			<if test="setdescription != null">
				and setdescription = #{setdescription}
			</if>
		</where>
	</select>
	<select id="INSBTaskset_selectOne" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBTaskset">
		select * from INSBTaskset
		<where>
			<if test="setname != null">
				and setname = #{setname}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="setstatus != null">
				and setstatus = #{setstatus}
			</if>
			<if test="setdescription != null">
				and setdescription = #{setdescription}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBTaskset_selectPageByParam" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBTaskset">
		select @rownum:=0) b
		<where>
			<if test="listId!=null">
					id in 
				<foreach collection="listId" index="index" item="item" open="("  separator="," close=")">
				 #{item}
			</foreach>
			</if>
			<if test="setname != null and setname!='' ">
				and setname like CONCAT('%', #{setname},'%')
			</if>
			<if test="tasksetcode != null">
				and tasksetcode like CONCAT('%',#{tasksetcode},'%')
			</if>
			<if test="setstatus != null">
				and setstatus = #{setstatus}
			</if>
		</where>
		<!-- order by createtime desc -->
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 createtime desc 
		</if>
		limit #{offset},#{limit}
	</select>

	<select id="INSBTaskset_selectPageCountByParam" parameterType="Map"
		resultType="long">
		select count(1) from INSBTaskset a
		<where>
			<if test="listId!=null">
					id in 
				<foreach collection="listId" index="index" item="item" open="("  separator="," close=")">
				 #{item}
			</foreach>
			</if>
			<if test="setname != null and setname!='' ">
				and a.setname like CONCAT('%', #{setname},'%')
			</if>
			<if test="tasksetcode != null">
				and a.tasksetcode like CONCAT('%',#{tasksetcode},'%')
			</if>
			<if test="setstatus != null">
				and a.setstatus = #{setstatus}
			</if>
		</where>
	</select>

	<select id="INSBTaskset_selectById" parameterType="String"
		resultType="com.zzb.conf.entity.INSBTaskset">
		select * from INSBTaskset where id = #{id}
	</select>
	
	
	<select id="INSBTaskset_selectSetByIdsAndTaskType4Task" parameterType="Map"
		resultType="String">
		select id from INSBTaskset 
		<where>
			<if test="setIds !=null">
			id in 
			<foreach collection="setIds" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			</if>
			<if test=" taskname !=null">
				tasktype like CONCAT('%',#{tasktype},'%')
			</if>
			
		
		</where> 
	</select>
	<select id="INSBTaskset_selectIdByTaskSetType" parameterType="String"
		resultType="String">
		select id from INSBTaskset where tasktype like CONCAT('%',#{tasktype},'%') 
	</select>
	
	<select id="INSBTaskset_selectOnUseById" parameterType="String"
		resultType="com.zzb.conf.entity.INSBTaskset">
		select * from INSBTaskset where id = #{id} and setstatus=1
	</select>
	<select id="INSBTaskset_selectTaskSetIdByProviderId" parameterType="String"
		resultType="String">
		select id from INSBTaskset where providerid = #{providerid} and setstatus=1
	</select>
	
	
	<select id="INSBTaskset_selectTaskSetIdByProviderIdTaskType" parameterType="Map"
		resultType="String">
		select id from INSBTaskset where providerid = #{providerid} and tasktype like CONCAT('%',#{tasktype},'%') and setstatus=1
	</select>
	
	<select id="INSBTaskset_deleteById" parameterType="String">
		delete from
		INSBTaskset where id = #{id}
	</select>
	<select id="INSBTaskset_updateById" parameterType="com.zzb.conf.entity.INSBTaskset">
		update
		INSBTaskset set operator = #{operator},modifytime = #{modifytime},noti
		= #{noti},setname = #{setname},deptid = #{deptid},setstatus =
		#{setstatus},setdescription =
		#{setdescription},shedulingpolicy=#{shedulingpolicy},tasktype=#{tasktype},providerid=#{providerid} where id = #{id}
	</select>
	<select id="INSBTaskset_selectCount" parameterType="Map"
		resultType="Long">
		select count(1) from INSBTaskset
		<where>
			<if test="setname != null">
				and setname = #{setname}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="setstatus != null">
				and setstatus = #{setstatus}
			</if>
			<if test="setdescription != null">
				and setdescription = #{setdescription}
			</if>
		</where>
	</select>
	<select id="INSBTaskset_selectListByDeptId" parameterType="String"
		resultType="com.zzb.conf.entity.INSBTaskset">
		select id,setstatus from INSBTaskset where deptid =
		#{deptid}
	</select>
</mapper>