<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBUsercomment  -->
	<select id="INSBUsercomment_insert" parameterType="com.zzb.conf.entity.INSBUsercomment" resultType="int">
		insert into INSBUsercomment
		(id,operator,createtime,modifytime,noti,trackid,tracktype,commenttype,commentcontenttype,commentcontent,commentsource)
		values
		(#{id},#{operator},#{createtime},NOW(),#{noti},#{trackid},#{tracktype},#{commenttype},#{commentcontenttype},#{commentcontent},#{commentsource})
	</select>
	<select id="INSBUsercomment_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select * from INSBUsercomment
		<where>
			<if test="trackid != null">
				and trackid = #{trackid}
			</if>
			<if test="tracktype != null">
				and tracktype = #{tracktype}
			</if>
			<if test="commenttype != null">
				and commenttype = #{commenttype}
			</if>
			<if test="commentcontenttype != null">
				and commentcontenttype = #{commentcontenttype}
			</if>
			<if test="commentcontent != null">
				and commentcontent = #{commentcontent}
			</if>
		</where>
		order by createtime desc
	</select>
	<select id="INSBUsercomment_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select * from INSBUsercomment
		<where>
			<if test="trackid != null">
				and trackid = #{trackid}
			</if>
			<if test="tracktype != null">
				and tracktype = #{tracktype}
			</if>
			<if test="commenttype != null">
				and commenttype = #{commenttype}
			</if>
			<if test="commentcontenttype != null">
				and commentcontenttype = #{commentcontenttype}
			</if>
			<if test="commentcontent != null">
				and commentcontent = #{commentcontent}
			</if>
		</where>
        ORDER BY createtime DESC limit 1;
	</select>
	<select id="INSBUsercomment_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBUsercomment">
		select * from INSBUsercomment where id = #{id}
	</select>
	<select id="INSBUsercomment_deleteById" parameterType="String">
		delete from INSBUsercomment where id = #{id}
	</select>
	<select id="INSBUsercomment_updateById" parameterType="com.zzb.conf.entity.INSBUsercomment">
		update INSBUsercomment  set operator = #{operator},modifytime = NOW(),noti = #{noti},trackid = #{trackid},tracktype = #{tracktype},commenttype = #{commenttype},commentcontenttype = #{commentcontenttype},commentcontent = #{commentcontent} where id = #{id}
	</select>
	<select id="INSBUsercomment_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBUsercomment
		<where>
			<if test="trackid != null">
				and trackid = #{trackid}
			</if>
			<if test="tracktype != null">
				and tracktype = #{tracktype}
			</if>
			<if test="commenttype != null">
				and commenttype = #{commenttype}
			</if>
			<if test="commentcontenttype != null">
				and commentcontenttype = #{commentcontenttype}
			</if>
			<if test="commentcontent != null">
				and commentcontent = #{commentcontent}
			</if>
		</where>
	</select>
	<select id="INSBUsercomment_selectUserCommentByTrackid" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select * from INSBUsercomment
		where trackid = #{trackid}
			<if test="tracktype != null">
				and tracktype = #{tracktype}
			</if>
        ORDER BY createtime DESC limit 1;
	</select>
	<select id="INSBUsercomment_getNearestUserComment" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select re.* FROM
			(select uc.* FROM insbusercomment uc 
			LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid 
			LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid 
			LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid 
			<where>
				ws.taskstate!='Closed' AND uc.tracktype=1
				<if test="instanceid != null">
					AND mt.instanceid = #{instanceid}
				</if>
				<if test="inscomcode != null">
					AND qo.inscomcode = #{inscomcode}
				</if>
				<if test="dqtaskcode != null">
					AND mt.taskcode != #{dqtaskcode}
				</if>
			</where>
				UNION(select ucs.* FROM insbusercomment ucs
				LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid 
				LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid 
				LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid 
				<where>
					wss.taskstate!='Closed' AND ucs.tracktype=2
					<if test="instanceid != null">
						AND st.maininstanceid = #{instanceid}
					</if>
					<if test="inscomcode != null">
						AND qus.inscomcode = #{inscomcode}
					</if>
					<if test="dqtaskcode != null">
						AND st.taskcode != #{dqtaskcode}
					</if>
				</where>
				)) re
		ORDER BY re.createtime DESC;
	</select>
	
	<select id="INSBUsercomment_getNearestUserComment2" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		/*slave*/select re.* FROM
			(select uc.* FROM insbusercomment uc 
			LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid 
			LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid 
			LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid 
			<where>
				ws.taskstate!='Closed' AND uc.tracktype=1
				<if test="instanceid != null">
					AND mt.instanceid = #{instanceid}
				</if>
				<if test="inscomcode != null">
					AND qo.inscomcode = #{inscomcode}
				</if>
				<if test="dqtaskcode != null">
					AND mt.taskcode != #{dqtaskcode}
				</if>
			</where>
				GROUP BY uc.commentcontent
				UNION(select ucs.* FROM insbusercomment ucs
				LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid 
				LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid 
				LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid 
				<where>
					ucs.tracktype=2
					<if test="instanceid != null">
						AND st.maininstanceid = #{instanceid}
					</if>
					<if test="inscomcode != null">
						AND qus.inscomcode = #{inscomcode}
					</if>
					<if test="dqtaskcode != null">
						AND st.taskcode != #{dqtaskcode}
					</if>
				</where>
				)) re
		ORDER BY re.modifytime DESC,re.createtime DESC;
	</select>
	<select id="INSBUsercomment_getNearestUserComment3" parameterType="Map" resultType="Map">
		/*slave*/select		ucs.id,
							ucs.operator,
							DATE_FORMAT(ucs.createtime,'%Y-%m-%d %H:%i:%s') createtime,
							DATE_FORMAT(ucs.modifytime,'%Y-%m-%d %H:%i:%s') modifytime,
							ucs.noti,
							ucs.trackid,
							ucs.tracktype,
							ucs.commenttype,
							ucs.commentcontenttype,
							ucs.commentcontent,
							IFNULL(ucs.commentsource,0) commentsource
		FROM (
				 SELECT c.* FROM insbusercomment c
				LEFT JOIN insbworkflowsubtrack st ON st.id=c.trackid
				LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid
				LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid
				<where>
					and c.commentcontent is not null
					and c.commentcontent !=''
					<if test="instanceid != null">
						AND st.maininstanceid = #{instanceid}
					</if>
					<if test="inscomcode != null">
						AND qus.inscomcode = #{inscomcode}
					</if>
					<if test="commentsource != null">
						AND c.commentsource = #{commentsource}
					</if>
				</where>
		UNION ALL
			select uc.* FROM insbusercomment uc
			LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid
			LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid
			LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid
			<where>
				and uc.commentcontent is not null
				and uc.commentcontent !=''
				<if test="instanceid != null">
					AND mt.instanceid = #{instanceid}
				</if>
				<if test="inscomcode != null">
					AND qo.inscomcode = #{inscomcode}
				</if>
				<if test="commentsource != null">
					AND uc.commentsource = #{commentsource}
				</if>
			 </where>
		)  ucs

				ORDER BY ucs.modifytime DESC,ucs.createtime DESC;
	</select>
	<select id="INSBUsercomment_getNearestUserComment4" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select re.* FROM
		(select uc.* FROM insbusercomment uc
		LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid
		LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid
		LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid
		<where>
			ws.taskstate!='Closed' AND uc.tracktype=1 AND qo.operator = uc.operator
			<if test="instanceid != null">
				AND mt.instanceid = #{instanceid}
			</if>
			<if test="inscomcode != null">
				AND qo.inscomcode = #{inscomcode}
			</if>
		</where>
		UNION(select ucs.* FROM insbusercomment ucs
		LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid
		LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid
		LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid
		<where>
			wss.taskstate!='Closed' AND ucs.tracktype=2 AND qus.operator = ucs.operator
			<if test="instanceid != null">
				AND st.maininstanceid = #{instanceid}
			</if>
			<if test="inscomcode != null">
				AND qus.inscomcode = #{inscomcode}
			</if>
		</where>
		)) re
		ORDER BY re.createtime DESC;
	</select>
	<select id="INSBUsercomment_getNearestUserComment5" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select * FROM (
		select ucs.* FROM insbusercomment ucs
		LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid
		LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid
		LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid
		<where>
			ucs.tracktype=2
			/*AND st.operator = ucs.operator*/
			and ucs.commentsource = 1
			<if test="instanceid != null">
				AND st.maininstanceid = #{instanceid}
			</if>
			<if test="inscomcode != null">
				AND qus.inscomcode = #{inscomcode}
			</if>
		</where>
		UNION ALL
		select uc.* FROM insbusercomment uc
		LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid
		LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid
		LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid
		<where>
			and uc.tracktype=1
			and uc.commentsource = 1
			and uc.commentcontent is not null
			and uc.commentcontent !=''
			<if test="instanceid != null">
				AND mt.instanceid = #{instanceid}
			</if>
			<if test="inscomcode != null">
				AND qo.inscomcode = #{inscomcode}
			</if>

		</where>
		)a
		ORDER BY a.createtime DESC;
	</select>
	<select id="INSBUsercomment_getNearestInsureBack" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select ucs.* FROM insbusercomment ucs
		LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid
		LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid
		LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid
		<where>
			ucs.tracktype=2 AND st.taskcode='18'
			<if test="instanceid != null">
				AND st.maininstanceid = #{instanceid}
			</if>
			<if test="inscomcode != null">
				AND qus.inscomcode = #{inscomcode}
			</if>
		</where>
		 order BY ucs.modifytime DESC
	</select>

	<select id="INSBUsercomment_getAllUserComment" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		/*slave*/select re.* FROM
			(select uc.* FROM insbusercomment uc 
			LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid 
			LEFT JOIN insbworkflowsub ws ON ws.maininstanceid=mt.instanceid 
			LEFT JOIN insbquoteinfo qo ON qo.workflowinstanceid=ws.instanceid 
			<where>
				 uc.tracktype=1
				<if test="instanceid != null">
					AND mt.instanceid = #{instanceid}
				</if>
				<if test="inscomcode != null">
					AND qo.inscomcode = #{inscomcode}
				</if>
			</where>
			 GROUP BY uc.commentcontent 
				UNION(select ucs.* FROM insbusercomment ucs
				LEFT JOIN insbworkflowsubtrack st ON st.id=ucs.trackid 
				LEFT JOIN insbworkflowsub wss ON wss.instanceid=st.instanceid 
				LEFT JOIN insbquoteinfo qus ON qus.workflowinstanceid=st.instanceid 
				<where>
					 ucs.tracktype=2
					<if test="instanceid != null">
						AND st.maininstanceid = #{instanceid}
					</if>
					<if test="inscomcode != null">
						AND qus.inscomcode = #{inscomcode}
					</if>
				</where>
				)) re
		ORDER BY re.createtime DESC;
	</select>

	<select id="INSBUsercomment_getMainComment" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercomment">
		select uc.* FROM insbusercomment uc
		LEFT JOIN insbworkflowmaintrack mt ON mt.id=uc.trackid
		<where> uc.tracktype=1
			<if test="instanceid != null and instanceid !=''">
				AND mt.instanceid = #{instanceid}
			</if>
		</where>
		ORDER BY uc.createtime DESC;
	</select>
</mapper>