<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBOrderexceptions -->
	<select id="INSBOrderexceptions_insert" parameterType="com.zzb.conf.entity.INSBOrderexceptions" resultType="int">
		insert into INSBOrderexceptions
		(id,operator,createtime,modifytime,noti,taskid,orderid,exceptiontype,exceptioncontent) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{orderid},#{exceptiontype},#{exceptioncontent})
	</select>
	<select id="INSBOrderexceptions_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBOrderexceptions">
		select * from INSBOrderexceptions
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="exceptiontype != null">
				and exceptiontype = #{exceptiontype}
			</if>
			<if test="exceptioncontent != null">
				and exceptioncontent = #{exceptioncontent}
			</if>
		</where>
	</select>
	<select id="INSBOrderexceptions_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBOrderexceptions">
		select * from INSBOrderexceptions
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="exceptiontype != null">
				and exceptiontype = #{exceptiontype}
			</if>
			<if test="exceptioncontent != null">
				and exceptioncontent = #{exceptioncontent}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBOrderexceptions_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBOrderexceptions">
		select * from INSBOrderexceptions where id = #{id}
	</select>
	<select id="INSBOrderexceptions_deleteById" parameterType="String">
		delete from INSBOrderexceptions where id = #{id}
	</select>
	<select id="INSBOrderexceptions_updateById" parameterType="com.zzb.conf.entity.INSBOrderexceptions">
		update INSBOrderexceptions  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},orderid = #{orderid},exceptiontype = #{exceptiontype},exceptioncontent = #{exceptioncontent} where id = #{id}
	</select>
	<select id="INSBOrderexceptions_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBOrderexceptions
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="exceptiontype != null">
				and exceptiontype = #{exceptiontype}
			</if>
			<if test="exceptioncontent != null">
				and exceptioncontent = #{exceptioncontent}
			</if>
		</where>
	</select>
</mapper>