<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">

	<select id="INSBRuleBase_selectById" parameterType="String"
		resultType="com.zzb.conf.entity.INSBRuleBase">
		select id, rule_name as ruleName,rule_postil as rulePostil,
		rule_activation as ruleActivation,rule_group as ruleGroup
		from insbrulebase where id = #{id}
	</select>
	<select id="INSBRuleBase_selectPage" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBRuleBase">
		select id, rule_name as ruleName,
		rule_postil as rulePostil,
		rule_activation as ruleActivation,
		rule_group as ruleGroup
		from insbrulebase 
		<where>
			<if test="ruleList!=null">
				id 
				<if test="p1==1">
					in 
				</if> 
				<if test="p1==2">
					not in 
				</if> 
				<foreach collection="ruleList" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="ruleName != null and ruleName!='' ">
				and rule_name like CONCAT('%',#{ruleName},'%')
			</if>
			<if test="rulePostil != null and rulePostil!='' ">
				and rule_postil like CONCAT('%',#{rulePostil},'%')
			</if>
			<if test="ruleGroup != null and ruleGroup!='' ">
				and rule_group like CONCAT('',#{ruleGroup},'%')
			</if>
			<if test="ruleDept != null and ruleDept!='' ">
				and rule_group like CONCAT('%',#{ruleDept},'%')
			</if>
		</where>
		order by rule_name
		limit #{offset},#{limit}
	</select>
	<select id="INSBRuleBase_selectCount" parameterType="Map"
		resultType="Long">
		select count(1) from insbrulebase
		<where>
			<if test="ruleList!=null">
				id 
				<if test="p1==1">
					in 
				</if> 
				<if test="p1==2">
					not in 
				</if> 
				<foreach collection="ruleList" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="ruleName != null and ruleName!='' ">
				and rule_name like CONCAT('%',#{ruleName},'%')
			</if>
			<if test="rulePostil != null and rulePostil!='' ">
				and rule_postil like CONCAT('',#{rulePostil},'%')
			</if>
			<if test="ruleGroup != null and ruleGroup!='' ">
				and rule_group like CONCAT('',#{ruleGroup},'%')
			</if>
			<if test="ruleDept != null and ruleDept!='' ">
				and rule_group like CONCAT('%',#{ruleDept},'%')
			</if>
		</where>
	</select>
	
	<select id="INSBRuleBase_selectCountlist" parameterType="Map" resultType="Long">
		select count(1) from insbrulebase
	</select>
	
	<select id="INSBRuleBase_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBRuleBase">
		select id, rule_name ruleName ,rule_postil rulePostil from insbrulebase
		<where>
			<if test="ruleName != null and ruleName!='' ">
				and rule_name like CONCAT('%',#{ruleName},'%')
			</if>
			<if test="rulePostil != null and rulePostil!='' ">
				and rule_postil like CONCAT('',#{rulePostil},'%')
			</if>
		</where>
		limit #{offset},#{limit}
	</select>
	<select id="INSBRuleBase_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBRuleBase">
		select id, rule_name ruleName ,rule_postil rulePostil from insbrulebase
		<where>
			<if test="ruleName != null and ruleName!='' ">
				and rule_name like CONCAT('%',#{ruleName},'%')
			</if>
			<if test="rulePostil != null and rulePostil!='' ">
				and rule_postil like CONCAT('',#{rulePostil},'%')
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBRuleBase_selectTasksetidList" parameterType="Map"
		resultType="String">
		select distinct t.tasksetid
		from insbrulebase r inner join
		insbtasksetrulebse t
		on r.id=t.rulebaseid where r.rule_name in
		<foreach item="ruleName" index="index" collection="ruleNames"
			open="(" separator="," close=")">
			#{ruleName}
		</foreach>
		and t.tasksetid in
		<foreach item="tasksetid" index="index" collection="tasksetids"
			open="(" separator="," close=")">
			#{tasksetid}
		</foreach>
		order by t.tasksetid asc
	</select>
</mapper>