<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBPrvaccountmanager -->
	<select id="INSBPrvaccountmanager_insert" parameterType="com.zzb.conf.entity.INSBPrvaccountmanager" resultType="int">
		insert into INSBPrvaccountmanager
		(id,operator,createtime,modifytime,noti,org,account,deptid,version,pwd,permission,loginurl,usetype,providerid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{org},#{account},#{deptid},#{version},#{pwd},#{permission},#{loginurl},#{usetype},#{providerid}) 
	</select>
	<select id="INSBPrvaccountmanager_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBPrvaccountmanager">
		select * from INSBPrvaccountmanager
		
		<where>
			<if test="org != null">
				and org = #{org}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="account != null">
				and account = #{account}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="version != null">
				and version = #{version}
			</if>
			<if test="pwd != null">
				and pwd = #{pwd}
			</if>
			<if test="permission != null">
				and permission = #{permission}
			</if>
			<if test="loginurl != null">
				and loginurl = #{loginurl}
			</if>
			<if test="usetype != null">
				and usetype = #{usetype}
			</if>
		</where>
	</select>
	<select id="INSBPrvaccountmanager_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBPrvaccountmanager">
		select * from INSBPrvaccountmanager where id = #{id}
	</select>
	<select id="INSBPrvaccountmanager_selectListPage" parameterType="Map" resultType="com.zzb.conf.entity.INSBPrvaccountmanager">
		select *,b.prvshotname prvname from INSBPrvaccountmanager a left join insbprovider b on a.providerid=b.prvcode 
		<where>
			(exists(select 1 from inscdept where a.deptid = id and parentcodes LIKE CONCAT('%',#{deptid},'%'))
			or 
			a.deptid =#{deptid})
			<if test="org !=null">
			and  a.org like CONCAT(#{org},'%')
			</if>
			<if test="account !=null">
			and  a.account like CONCAT('%',#{account},'%')
			</if>
		</where>
		limit #{offset},#{limit}
	</select>
	
	<select id="INSBPrvaccountmanager_selectListPageNew" parameterType="Map" resultType="com.zzb.conf.entity.INSBPrvaccountmanager">
		select a.id,a.deptid,a.noti,a.providerid,b.prvshotname prvname,a.usetype from INSBPrvaccountmanager a left join 
		insbprovider b on a.providerid=b.prvcode 
		<where>
			a.deptid in
			<foreach collection="deptIds" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			<if test="account !=null">
			and  a.usetype = #{usetype}
			</if>
		</where>
		ORDER BY  a.deptid DESC
		)aa GROUP BY aa.providerid,aa.usetype 
		limit #{offset},#{limit}
	</select>
	
	
	<select id="INSBPrvaccountmanager_selectListNew" parameterType="Map" resultType="String">
		select a.id,a.deptid,a.noti,a.providerid,b.prvshotname prvname,a.usetype from INSBPrvaccountmanager a left join 
		insbprovider b on a.providerid=b.prvcode 
		<where>
			a.deptid in
			<foreach collection="deptIds" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			<if test="account !=null">
			and  a.usetype = #{usetype}
			</if>
		</where>
		ORDER BY  a.deptid DESC
		)aa GROUP BY aa.providerid,aa.usetype 
	</select>
	
	<select id="INSBPrvaccountmanager_selectPageCountByMap" parameterType="Map" resultType="int">
		select count(1) from INSBPrvaccountmanager  a
		<where>
			(exists(select 1 from inscdept where a.deptid = id and parentcodes LIKE CONCAT('%',#{deptid},'%'))
			or 
			a.deptid =#{deptid})
			<if test="org !=null">
			and  providerid like CONCAT(#{org},'%')
			</if>
			<if test="account !=null">
			and  account like CONCAT('%',#{account},'%')
			</if>
		</where>
	</select>
	<select id="INSBPrvaccountmanager_selectPageCountByMapNew" parameterType="Map" resultType="int">
		select count(1) from (
		select a.deptid from INSBPrvaccountmanager a 
		<where>
			a.deptid in
			<foreach collection="deptIds" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			<if test="account !=null">
			and  a.usetype = #{usetype}
			</if>
		</where>
		 GROUP BY a.providerid,a.usetype) t1
	</select>
	
	<select id="INSBPrvaccountmanager_deleteById" parameterType="String">
		delete from INSBPrvaccountmanager where id = #{id}
	</select>
	<select id="INSBPrvaccountmanager_updateById" parameterType="com.zzb.conf.entity.INSBPrvaccountmanager">
		update INSBPrvaccountmanager  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},org = #{org},account = #{account},deptid = #{deptid},version = #{version},pwd = #{pwd},permission = #{permission},loginurl = #{loginurl},usetype=#{usetype},providerid=#{providerid} where id = #{id}
	</select>
	<select id="INSBPrvaccountmanager_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPrvaccountmanager
		<where>
			<if test="org != null">
				and org = #{org}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="account != null">
				and account = #{account}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="version != null">
				and version = #{version}
			</if>
			<if test="pwd != null">
				and pwd = #{pwd}
			</if>
			<if test="permission != null">
				and permission = #{permission}
			</if>
			<if test="loginurl != null">
				and loginurl = #{loginurl}
			</if>
			<if test="usetype != null">
				and usetype = #{usetype}
			</if>
		</where>
	</select>
	<select id="INSBPrvaccountmanager_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBPrvaccountmanager">
		select * from INSBPrvaccountmanager
		<where>
			<if test="org != null">
				and org = #{org}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="account != null">
				and account = #{account}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="version != null">
				and version = #{version}
			</if>
			<if test="pwd != null">
				and pwd = #{pwd}
			</if>
			<if test="permission != null">
				and permission = #{permission}
			</if>
			<if test="loginurl != null">
				and loginurl = #{loginurl}
			</if>
			<if test="usetype != null">
				and usetype = #{usetype}
			</if>
		</where>
		LIMIT 1
	</select>
	
	<select id="INSBPrvaccountmanager_extendsPage" parameterType="Map" resultType="com.zzb.conf.entity.INSBPrvaccountmanager">
		SELECT
		SUBSTRING_INDEX(MAX(CONCAT(hs.comtype, ',',c.deptid, ',', c.id)),',' ,- 1) id,
		SUBSTRING_INDEX(MAX(CONCAT(hs.comtype, ',', c.deptid)),',' ,- 1) deptid,
		SUBSTRING_INDEX(MAX(CONCAT(hs.comtype, ',',c.deptid, ',', hs.shortname)),',' ,- 1) deptname,
	SUBSTRING_INDEX(MAX(CONCAT(hs.comtype, ',',c.deptid, ',', c.noti)),',' ,- 1) noti,
		  c.providerid,
		  p.prvshotname prvname,
		  c.usetype,
		 (case when c.usetype =2 then 'EDI' else '精灵' end) usetypeStr
		FROM INSBPrvaccountmanager c,insbprovider p,
		  inscdept hd,
		  inscdept hs
		<where>
		 EXISTS(SELECT
		               1
		             FROM inscdept ds,
		               inscdept f
		             WHERE (ds.parentcodes LIKE CONCAT('%',f.id,'%')
		                     OR f.id = ds.id)
		                 AND f.comgrade &lt;&gt; '00'
		                 AND f.id = c.deptid
		                 AND ds.id =  #{deptid}
		                 )
		    AND c.deptid = hs.id
		    AND (hs.parentcodes LIKE CONCAT('%',hd.id,'%')
		          OR hs.id = hd.id)
		    AND hd.comgrade = '01'
		    AND p.id = c.providerid
		    <if test="providerid != null">
		    	AND c.providerid =  #{providerid}
		    </if>
		    <if test="usetype != null">
		   	 AND c.usetype =  #{usetype}
		    </if>
		GROUP BY hd.id,c.providerid,c.usetype
		ORDER BY c.id
		LIMIT #{offset},#{limit}
		</where>
	</select>
	<select id="INSBPrvaccountmanager_extendscount" parameterType="Map" resultType="int">
		select count(1)
		FROM INSBPrvaccountmanager c,
		  inscdept hd,
		  inscdept hs
		<where>
		 EXISTS(SELECT
		               1
		             FROM inscdept ds,
		               inscdept f
		             WHERE (ds.parentcodes LIKE CONCAT('%',f.id,'%')
		                     OR f.id = ds.id)
		                 AND f.comgrade &lt;&gt; '00'
		                 AND f.id = c.deptid
		                 AND ds.id =  #{deptid}
		                 )
		    AND c.deptid = hs.id
		    AND (hs.parentcodes LIKE CONCAT('%',hd.id,'%')
		          OR hs.id = hd.id)
		    AND hd.comgrade = '01'
		   
		    <if test="providerid != null">
		    	AND c.providerid =  #{providerid}
		    </if>
		    <if test="usetype != null">
		   	 AND c.usetype =  #{usetype}
		    </if>
		GROUP BY hd.id,c.providerid,c.usetype
		</where>
	</select>
</mapper>