<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBRiskkind -->
	<select id="INSBRiskkind_insert" parameterType="com.zzb.conf.entity.INSBRiskkind" resultType="int">
		insert into INSBRiskkind
		(id,operator,createtime,modifytime,noti,riskid,kindcode,kindname,kindtype,isamount,amountselect,notdeductible,preriskkind,isusing) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{riskid},#{kindcode},#{kindname},#{kindtype},#{isamount},#{amountselect},#{notdeductible},#{preriskkind},#{isusing}) 
	</select>
	<select id="INSBRiskkind_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkind">
		select * from INSBRiskkind
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="kindcode != null">
				and kindcode = #{kindcode}
			</if>
			<if test="kindname != null">
				and kindname = #{kindname}
			</if>
			<if test="kindtype != null">
				and kindtype = #{kindtype}
			</if>
			<if test="isamount != null">
				and isamount = #{isamount}
			</if>
			<if test="amountselect != null">
				and amountselect = #{amountselect}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
	</select>
	<select id="INSBRiskkind_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkind">
		select * from INSBRiskkind
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="kindcode != null">
				and kindcode = #{kindcode}
			</if>
			<if test="kindname != null">
				and kindname = #{kindname}
			</if>
			<if test="kindtype != null">
				and kindtype = #{kindtype}
			</if>
			<if test="isamount != null">
				and isamount = #{isamount}
			</if>
			<if test="amountselect != null">
				and amountselect = #{amountselect}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBRiskkind_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskkind">
		select * from INSBRiskkind where id = #{id}
	</select>
	<select id="INSBRiskkind_selectCountByRiskid" parameterType="String" resultType="int">
		select count(1) from INSBRiskkind where riskid = #{value}
	</select>
	<select id="INSBRiskkind_selectCOuntByKindCode" parameterType="Map" resultType="long">
		select count(1) from INSBRiskkind where riskid=#{riskid} and kindcode = #{kindcode}
	</select>	
	<select id="INSBRiskkind_selectKindNameByCode" parameterType="String" resultType="String">
		select distinct kindname from INSBRiskkind 
		where kindcode = #{value}
	</select>	
	<select id="INSBRiskkind_selectAllPreKind"  resultType="String">
		select distinct preriskkind from INSBRiskkind
		<where>
			preriskkind != ""  and preriskkind is not null
		</where>
	</select>		
	<select id="INSBRiskkind_selectByModifytime" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskkind">
		select * from INSBRiskkind 
		<where>
				 DATE_FORMAT(modifytime, '%Y-%c-%d') = #{modifytime}
		</where>
	</select>
	<select id="INSBRiskkind_deleteById" parameterType="String">
		delete from INSBRiskkind where id = #{id}
	</select>
	<select id="INSBRiskkind_updateById" parameterType="com.zzb.conf.entity.INSBRiskkind">
		update INSBRiskkind  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},riskid = #{riskid},kindcode = #{kindcode},kindname = #{kindname},kindtype = #{kindtype},isamount = #{isamount},amountselect = #{amountselect},notdeductible = #{notdeductible},preriskkind = #{preriskkind},isusing = #{isusing} where id = #{id}
	</select>
	<select id="INSBRiskkind_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRiskkind
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="kindcode != null">
				and kindcode = #{kindcode}
			</if>
			<if test="kindname != null">
				and kindname = #{kindname}
			</if>
			<if test="kindtype != null">
				and kindtype = #{kindtype}
			</if>
			<if test="isamount != null">
				and isamount = #{isamount}
			</if>
			<if test="amountselect != null">
				and amountselect = #{amountselect}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
	</select>
	<select id="INSBRiskkind_selectVoCount" parameterType="Map"
		resultType="Long">
		select count(1) from INSBRiskkind
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="kindcode != null">
				and kindcode like CONCAT('%', #{kindcode},'%')
			</if>
			<if test="kindname != null">
				and kindname like CONCAT('%', #{kindname},'%')
			</if>
			<if test="kindtype != null">
				and kindtype = #{kindtype}
			</if>
			<if test="isamount != null">
				and isamount = #{isamount}
			</if>
			<if test="amountselect != null">
				and amountselect = #{amountselect}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="isusing != null">
				and isusing = like CONCAT('%', #{isusing},'%')
			</if>
		</where>
	</select>
	<select id="INSBRiskkind_selectVo" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBRiskkind">
		select id,
			operator,
			createtime,
			modifytime,
			noti,
			riskid,
			kindcode,
			kindname,
			amountselect,
			(select codename FROM INSCCode WHERE codetype='kindtype' AND codevalue=c.kindtype ) kindtype,
			(select codename FROM INSCCode WHERE codetype='kindisamount' AND codevalue=c.isamount ) isamount,
			(CASE c.notdeductible WHEN '1' THEN '是' ELSE '否' END)  notdeductible,
			 preriskkind,
			(CASE c.isusing WHEN '1' THEN '是' ELSE '否' END) isusing
	    FROM INSBRiskkind c
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="kindcode != null">
				and kindcode like CONCAT('%', #{kindcode},'%')
			</if>
			<if test="kindname != null">
				and kindname like CONCAT('%', #{kindname},'%')
			</if>
			<if test="kindtype != null">
				and kindtype = #{kindtype}
			</if>
			<if test="isamount != null">
				and isamount = #{isamount}
			</if>
			<if test="amountselect != null">
				and amountselect = #{amountselect}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="isusing != null">
				and isusing = like CONCAT('%', #{isusing},'%')
			</if>
		</where>
	</select>
		<select id="INSBRiskkind_selectVoBypage" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBRiskkind">
		select id,
			operator,
			createtime,
			modifytime,
			noti,
			riskid,
			kindcode,
			kindname,
			amountselect,
			(select codename FROM INSCCode WHERE codetype='kindtype' AND codevalue=c.kindtype ) kindtype,
			(select codename FROM INSCCode WHERE codetype='kindisamount' AND codevalue=c.isamount ) isamount,
			(CASE c.notdeductible WHEN '1' THEN '是' ELSE '否' END)  notdeductible,
			 preriskkind,
			(CASE c.isusing WHEN '1' THEN '是' ELSE '否' END) isusing
	    FROM INSBRiskkind c
		<where>
			<if test="riskid != null and riskid != '' ">
				and riskid = #{riskid}
			</if>
			<if test="kindcode != null">
				and kindcode like CONCAT('%', #{kindcode},'%')
			</if>
			<if test="kindname != null">
				and kindname like CONCAT('%', #{kindname},'%')
			</if>
			<if test="kindtype != null">
				and kindtype = #{kindtype}
			</if>
			<if test="isamount != null">
				and isamount = #{isamount}
			</if>
			<if test="amountselect != null">
				and amountselect = #{amountselect}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="isusing != null">
				and isusing = like CONCAT('%', #{isusing},'%')
			</if>
		</where>
		<!-- order by c.createtime desc -->
		limit #{offset},#{limit}
	</select>
	<select id="INSBRiskkind_selectcountByKindcode" parameterType="String"
		resultType="int">
		select count(1) from INSBRiskkind
		<where>
			<if test="id !=null">
				and id !=#{id}
			</if>
			<if test="kindcode !=null">
				and kindcode = #{kindcode}
			</if>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>			
		</where>
	</select>
	<!-- liuchao险种排序查询 -->
	<select id="INSBRiskkind_selectOrderedRiskkindByInscomcode" parameterType="String" resultType="Map">
		select r.riskcode, r.riskname, rk.kindcode, rk.kindname, rk.kindtype, rk.notdeductible, rk.preriskkind, rk.amountselect, skc.codevalue AS specialRiskkindFlag 
		FROM insbriskkind rk 
		LEFT JOIN insbrisk r ON r.id=rk.riskid 
		LEFT JOIN insbriskkindconfig rkc ON rk.kindcode=rkc.riskkindcode 
		LEFT JOIN insccode skc ON skc.parentcode = 'riskkindconfig' AND skc.codetype = 'riskkindconfig' AND skc.codename=rk.kindcode 
		WHERE r.provideid=#{inscomcode} AND rk.isusing='1' ORDER BY rkc.id ASC;
	</select>
	<select id="INSBRiskkind_notDedByPreriskkind" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkind">
		select id from insbrisk where provideid=#{provideid})
		and preriskkind=#{preriskkind} and kindtype='1'
	</select>
</mapper>
