<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBBankcardconf -->
	<select id="INSBBankcardconf_insert" parameterType="com.zzb.conf.entity.INSBBankcardconf" resultType="int">
		insert into INSBBankcardconf
		(id,operator,createtime,modifytime,noti,insbcodevalue,paychannelid,commonlyusedbankflag,cashcardflag,creditcardflag,cashlimitfalg,cashlimit,cashlimitdayfalg,cashdaylimit,creditlimitfalg,creditlimit,creditlimitdayfalg,creditdaylimit) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{insbcodevalue},#{paychannelid},#{commonlyusedbankflag},#{cashcardflag},#{creditcardflag},#{cashlimitfalg},#{cashlimit},#{cashlimitdayfalg},#{cashdaylimit},#{creditlimitfalg},#{creditlimit},#{creditlimitdayfalg},#{creditdaylimit}) 
	</select>
	<select id="INSBBankcardconf_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBBankcardconf">
		select * from INSBBankcardconf
		<where>
			<if test="insbcodevalue != null">
				and insbcodevalue = #{insbcodevalue}
			</if>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="commonlyusedbankflag != null">
				and commonlyusedbankflag = #{commonlyusedbankflag}
			</if>
			<if test="cashcardflag != null">
				and cashcardflag = #{cashcardflag}
			</if>
			<if test="creditcardflag != null">
				and creditcardflag = #{creditcardflag}
			</if>
			<if test="cashlimitfalg != null">
				and cashlimitfalg = #{cashlimitfalg}
			</if>
			<if test="cashlimit != null">
				and cashlimit = #{cashlimit}
			</if>
			<if test="cashlimitdayfalg != null">
				and cashlimitdayfalg = #{cashlimitdayfalg}
			</if>
			<if test="cashdaylimit != null">
				and cashdaylimit = #{cashdaylimit}
			</if>
			<if test="creditlimitfalg != null">
				and creditlimitfalg = #{creditlimitfalg}
			</if>
			<if test="creditlimit != null">
				and creditlimit = #{creditlimit}
			</if>
			<if test="creditlimitdayfalg != null">
				and creditlimitdayfalg = #{creditlimitdayfalg}
			</if>
			<if test="creditdaylimit != null">
				and creditdaylimit = #{creditdaylimit}
			</if>
		</where>
	</select>
	<select id="INSBBankcardconf_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBBankcardconf">
		select * from INSBBankcardconf
		<where>
			<if test="insbcodevalue != null">
				and insbcodevalue = #{insbcodevalue}
			</if>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="commonlyusedbankflag != null">
				and commonlyusedbankflag = #{commonlyusedbankflag}
			</if>
			<if test="cashcardflag != null">
				and cashcardflag = #{cashcardflag}
			</if>
			<if test="creditcardflag != null">
				and creditcardflag = #{creditcardflag}
			</if>
			<if test="cashlimitfalg != null">
				and cashlimitfalg = #{cashlimitfalg}
			</if>
			<if test="cashlimit != null">
				and cashlimit = #{cashlimit}
			</if>
			<if test="cashlimitdayfalg != null">
				and cashlimitdayfalg = #{cashlimitdayfalg}
			</if>
			<if test="cashdaylimit != null">
				and cashdaylimit = #{cashdaylimit}
			</if>
			<if test="creditlimitfalg != null">
				and creditlimitfalg = #{creditlimitfalg}
			</if>
			<if test="creditlimit != null">
				and creditlimit = #{creditlimit}
			</if>
			<if test="creditlimitdayfalg != null">
				and creditlimitdayfalg = #{creditlimitdayfalg}
			</if>
			<if test="creditdaylimit != null">
				and creditdaylimit = #{creditdaylimit}
			</if>
		</where>
		LIMIT 2
	</select>

	<select id="INSBBankcardconf_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBBankcardconf">
		select * from INSBBankcardconf where id = #{id}
	</select>
	<select id="INSBBankcardconf_bankconfinfo" parameterType="String" resultType="com.zzb.conf.entity.INSBBankcardconf">
		select * from INSBBankcardconf where paychannelid = #{paychannelid}
	</select>
	<select id="INSBBankcardconf_deleteById" parameterType="String">
		delete from INSBBankcardconf where id = #{id}
	</select>
	<select id="INSBBankcardconf_updateById" parameterType="com.zzb.conf.entity.INSBBankcardconf">
		update INSBBankcardconf  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},insbcodevalue = #{insbcodevalue},paychannelid = #{paychannelid},commonlyusedbankflag = #{commonlyusedbankflag},cashcardflag = #{cashcardflag},creditcardflag = #{creditcardflag},cashlimitfalg = #{cashlimitfalg},cashlimit = #{cashlimit},cashlimitdayfalg = #{cashlimitdayfalg},cashdaylimit = #{cashdaylimit},creditlimitfalg = #{creditlimitfalg},creditlimit = #{creditlimit},creditlimitdayfalg = #{creditlimitdayfalg},creditdaylimit = #{creditdaylimit} where id = #{id}
	</select>
	<select id="INSBBankcardconf_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBBankcardconf
		<where>
			<if test="insbcodevalue != null">
				and insbcodevalue = #{insbcodevalue}
			</if>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="commonlyusedbankflag != null">
				and commonlyusedbankflag = #{commonlyusedbankflag}
			</if>
			<if test="cashcardflag != null">
				and cashcardflag = #{cashcardflag}
			</if>
			<if test="creditcardflag != null">
				and creditcardflag = #{creditcardflag}
			</if>
			<if test="cashlimitfalg != null">
				and cashlimitfalg = #{cashlimitfalg}
			</if>
			<if test="cashlimit != null">
				and cashlimit = #{cashlimit}
			</if>
			<if test="cashlimitdayfalg != null">
				and cashlimitdayfalg = #{cashlimitdayfalg}
			</if>
			<if test="cashdaylimit != null">
				and cashdaylimit = #{cashdaylimit}
			</if>
			<if test="creditlimitfalg != null">
				and creditlimitfalg = #{creditlimitfalg}
			</if>
			<if test="creditlimit != null">
				and creditlimit = #{creditlimit}
			</if>
			<if test="creditlimitdayfalg != null">
				and creditlimitdayfalg = #{creditlimitdayfalg}
			</if>
			<if test="creditdaylimit != null">
				and creditdaylimit = #{creditdaylimit}
			</if>
		</where>
	</select>
</mapper>