<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBBankcard -->
	<select id="INSBBankcard_insert" parameterType="com.zzb.conf.entity.INSBBankcard" resultType="int">
		insert into INSBBankcard
		(id,operator,createtime,modifytime,noti,cardprefix,cardname,banktoname,cardtype,cardnumlength,cardbankdeptcode) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{cardprefix},#{cardname},#{banktoname},#{cardtype},#{cardnumlength},#{cardbankdeptcode}) 
	</select>
	<select id="INSBBankcard_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBBankcard">
		select * from INSBBankcard
		<where>
			<if test="cardprefix != null">
				and cardprefix = #{cardprefix}
			</if>
			<if test="cardname != null">
				and cardname = #{cardname}
			</if>
			<if test="banktoname != null">
				and banktoname = #{banktoname}
			</if>
			<if test="cardtype != null">
				and cardtype = #{cardtype}
			</if>
			<if test="cardnumlength != null">
				and cardnumlength = #{cardnumlength}
			</if>
			<if test="cardbankdeptcode != null">
				and cardbankdeptcode = #{cardbankdeptcode}
			</if>
		</where>
			limit #{offset},#{limit}
	</select>
	<select id="INSBBankcard_queryByBankCardId" parameterType="Map" resultType="com.zzb.conf.entity.INSBBankcard">
		select @rownum:=@rownum+1 as rownum,
		 	id, cardprefix,cardname,banktoname , CASE WHEN cardtype='01' THEN '贷记卡'   
				WHEN cardtype='02' THEN '借记卡'  
				WHEN cardtype='03' THEN '预付卡'
				WHEN cardtype='04' THEN '准货记卡'
				WHEN cardtype='05' THEN '其它'
				end  cardtype ,cardnumlength,cardbankdeptcode,operator ,createtime,modifytime,noti from INSBBankcard a,
				(select @rownum:=0) b
		<where>
			<if test="cardprefix != null">
				and cardprefix = #{cardprefix}
			</if>
			<if test="cardname != null">
				and cardname = #{cardname}
			</if>
			<if test="banktoname != null">
				and banktoname = #{banktoname}
			</if>
			<if test="cardtype != null">
				and cardtype = #{cardtype}
			</if>
			<if test="cardnumlength != null">
				and cardnumlength = #{cardnumlength}
			</if>
			<if test="cardbankdeptcode != null">
				and cardbankdeptcode = #{cardbankdeptcode}
			</if>
		</where>
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 createtime desc 
		</if>
			limit #{offset},#{limit}
	</select>
	<select id="INSBBankcard_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBBankcard">
		select * from INSBBankcard where id = #{id}
	</select>
	<select id="INSBBankcard_deleteById" parameterType="String">
		delete from INSBBankcard where id = #{id}
	</select>
	<select id="INSBBankcard_updateById" parameterType="com.zzb.conf.entity.INSBBankcard">
		update INSBBankcard  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},cardprefix = #{cardprefix},cardname = #{cardname},banktoname = #{banktoname},cardtype = #{cardtype},cardnumlength = #{cardnumlength},cardbankdeptcode = #{cardbankdeptcode} where id = #{id}
	</select>
	<select id="INSBBankcard_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBBankcard
		<where>
			<if test="cardprefix != null">
				and cardprefix = #{cardprefix}
			</if>
			<if test="cardname != null">
				and cardname = #{cardname}
			</if>
			<if test="banktoname != null">
				and banktoname = #{banktoname}
			</if>
			<if test="cardtype != null">
				and cardtype = #{cardtype}
			</if>
			<if test="cardnumlength != null">
				and cardnumlength = #{cardnumlength}
			</if>
			<if test="cardbankdeptcode != null">
				and cardbankdeptcode = #{cardbankdeptcode}
			</if>
		</where>
	</select>
	
	<select id="INSBBankcard_selectBanknamelist" parameterType="Map" resultType="Map">
		select a.banktoname from insbbankcard a GROUP BY a.banktoname
	</select>
	
	<select id="INSBBankcard_queryByBanktoname" parameterType="Map" resultType="Map">
		select * from INSBBankcard
		<where>
			<if test="banktoname != null">
				and banktoname = #{banktoname}
			</if>
		</where>
			limit #{offset},#{limit}
	</select>
	
</mapper>