<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity"> 
	<!-- INSBChannelagreement --> 
	<select id="INSBChannelagreement_insert" parameterType="com.zzb.conf.entity.INSBChannelagreement" resultType="int">
		insert into INSBChannelagreement
		(id,operator,createtime,modifytime,noti,agreementname,channelid,deptid,agreementcode,agreementstatus,payperiod,paytype,payaccount,interfacetype) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{agreementname},#{channelid},#{deptid},#{agreementcode},#{agreementstatus},#{payperiod},#{paytype},#{payaccount},#{interfacetype}) 
	</select>
	<select id="INSBChannelagreement_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBChannelagreement">
		select * from INSBChannelagreement
		<where>
			<if test="agreementname != null">
				and agreementname = #{agreementname}
			</if>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="agreementcode != null">
				and agreementcode = #{agreementcode}
			</if>
			<if test="agreementstatus != null">
				and agreementstatus = #{agreementstatus}
			</if>
			<if test="payperiod != null">
				and payperiod = #{payperiod}
			</if>
			<if test="paytype != null">
				and paytype = #{paytype}
			</if>
			<if test="payaccount != null">
				and payaccount = #{payaccount}
			</if>
			<if test="interfacetype != null">
				and interfacetype = #{interfacetype}
			</if>
		</where>
	</select>
	<select id="INSBChannelagreement_selectByChannelid" parameterType="map" resultType="com.zzb.conf.entity.INSBChannelagreement">
		select * from INSBChannelagreement
		<where>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			</where>
		</select>
	<select id="INSBChannelagreement_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBChannelagreement">
		select * from INSBChannelagreement where id = #{id}
	</select>
	<select id="INSBChannelagreement_deleteById" parameterType="String">
		delete from INSBChannelagreement where id = #{id}
	</select>
	<select id="INSBChannelagreement_updateById" parameterType="com.zzb.conf.entity.INSBChannelagreement">
		update INSBChannelagreement  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},agreementname = #{agreementname},channelid = #{channelid},deptid = #{deptid},agreementcode = #{agreementcode},agreementstatus = #{agreementstatus},payperiod = #{payperiod},paytype = #{paytype},payaccount = #{payaccount},interfacetype = #{interfacetype} where id = #{id}
	</select>
	<select id="INSBChannelagreement_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBChannelagreement
		<where>
			<if test="agreementname != null">
				and agreementname = #{agreementname}
			</if>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="agreementcode != null">
				and agreementcode = #{agreementcode}
			</if>
			<if test="agreementstatus != null">
				and agreementstatus = #{agreementstatus}
			</if>
			<if test="payperiod != null">
				and payperiod = #{payperiod}
			</if>
			<if test="paytype != null">
				and paytype = #{paytype}
			</if>
			<if test="payaccount != null">
				and payaccount = #{payaccount}
			</if>
			<if test="interfacetype != null">
				and interfacetype = #{interfacetype}
			</if>
		</where>
	</select>
	
	<select id="INSBChannelagreement_queryProviderSourceMerchant" parameterType="Map" resultType="Map">
		    SELECT b.agreementcode,b.agreementname,b.providerid,b.agreementstatus,b.deptid,e.deptid5,b.agreementrule
			,b.id as agreeid
			,d.id as agreementid
			,p.prvshotname 
			,cd.shortname
			,cd2.shortname as outcom
			,a.id as agreementproviderid
			,CASE
			WHEN b.agreementstatus ='1' THEN '已生效'
			WHEN b.agreementstatus ='0' THEN '未生效'
			END AS agreementstatusname
			,CASE 
			WHEN p.businesstype = '01' then '传统'
			WHEN p.businesstype = '02' then '网销'
			WHEN p.businesstype = '03' then '电销'
			END AS businesstype
			,topPrv.prvshotname as topPrvName
			
			FROM insbagreement b
			LEFT JOIN insbagreementprovider a ON a.providerid=b.providerid AND a.agreeid=b.id
			LEFT JOIN insbchannelagreement d ON a.agreementid=d.id
			LEFT JOIN insbagreementdept e on e.agreementid = d.id AND e.providerid = a.providerid 
			LEFT JOIN insbprovider p ON p.prvcode = a.providerid
			LEFT JOIN inscdept cd ON cd.comcode = b.deptid
			LEFT JOIN inscdept cd2 ON cd2.comcode = e.deptid5
			LEFT JOIN insbprovider topPrv ON topPrv.prvcode = SUBSTR(p.prvcode, 1, 4) 
			LEFT JOIN insbagreementarea aar ON aar.agreementid = d.id 
			LEFT JOIN insbchannel chn ON chn.id = d.channelid
			
		<where> 
			<if test="channelid != null">
				and d.channelid = #{channelid}
			</if>
			<if test="channelinnercode != null">
				AND chn.channelinnercode = #{channelinnercode}
				AND (chn.deleteflag != 0 OR chn.deleteflag IS NULL)
				AND b.agreementstatus = '1'
				AND d.agreementstatus = '1'
			</if>
			<if test="city != null">
				AND aar.city = #{city}
			</if>
		</where>
		<if test="limit != null">
			 limit  #{offset},#{limit}
		</if>
	</select>
	
	<select id="INSBChannelagreement_queryProviderSource" parameterType="Map" resultType="Map">
		    SELECT b.agreementcode,b.agreementname,b.providerid,b.agreementstatus,b.deptid,e.deptid5,b.agreementrule
			,b.id as agreeid
			,d.id as agreementid
			,p.prvshotname 
			,cd.shortname
			,cd2.shortname as outcom
			,a.id as agreementproviderid
			,CASE
			WHEN b.agreementstatus ='1' THEN '已生效'
			WHEN b.agreementstatus ='0' THEN '未生效'
			END AS agreementstatusname
			,CASE 
			WHEN p.businesstype = '01' then '传统'
			WHEN p.businesstype = '02' then '网销'
			WHEN p.businesstype = '03' then '电销'
			END AS businesstype
			
			FROM insbagreement b
			LEFT JOIN insbagreementprovider a ON a.providerid=b.providerid AND a.agreeid=b.id
			LEFT JOIN insbchannelagreement d ON a.agreementid=d.id
			LEFT JOIN insbagreementdept e on e.agreementid = d.id AND e.providerid = a.providerid 
			LEFT JOIN insbprovider p ON p.prvcode = a.providerid
			LEFT JOIN inscdept cd ON cd.comcode = b.deptid
			LEFT JOIN inscdept cd2 ON cd2.comcode = e.deptid5
		<if test="channelid != null">
			where d.channelid=#{channelid}
		</if>
		<if test="limit != null">
			 limit  #{offset},#{limit}
		</if>
	</select>
	
	<select id="INSBChannelagreement_queryProviderCount" parameterType="Map" resultType="Long">
		   SELECT count(*)FROM(SELECT a.agreeid from insbagreement b
			LEFT JOIN insbagreementprovider a ON a.providerid=b.providerid AND a.agreeid=b.id
			LEFT JOIN insbchannelagreement d ON a.agreementid=d.id 
			LEFT JOIN insbagreementdept e on e.agreementid=a.agreementid AND e.providerid = a.providerid 
		<if test="channelid != null">
			where d.channelid=#{channelid}
		</if>
		)g
		
	</select>	
	
	<select id="INSBChannelagreement_getPayChannelNames" parameterType="Map" resultType="Map">
			select 
			GROUP_CONCAT(CONCAT(pay.paychannelid) SEPARATOR ',') as paychannelids ,
			GROUP_CONCAT(CONCAT(paych.paychannelname) SEPARATOR ',') as paychannelnames 
			from insbagreementpaymethod pay
			LEFT JOIN insbpaychannel paych
			on pay.paychannelid = paych.id
			WHERE
			pay.agreementid=#{agreeid} AND pay.providerid=#{providerid}
			<if test="deptid != null">
				and pay.deptid = #{deptid}
			</if>
			
	</select>
	<select id="INSBChannelagreement_select4ChannelAgreement" parameterType="Map" resultType="com.zzb.conf.entity.INSBChannelagreement">
			select * from INSBChannelagreement
			<where>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
	</select>
	<select id="INSBChannelagreement_getChannelDeptId" parameterType="Map" resultType="Map">
		SELECT  
		  d.deptid5 AS deptid,
		  a.jobnum AS jobnum, 
		  c.providerid AS providerid
		FROM
		  insbchannel a,
		  insbchannelagreement b,
		  insbagreementprovider c,
		  insbagreementdept d,
		  insbagreementarea aa 
		WHERE a.id = b.channelid 
		  AND b.id = c.agreementid 
		  AND d.agreementid = b.id AND d.providerid = c.providerid
		  AND aa.agreementid = b.id 
		  AND (a.deleteflag != 0 OR a.deleteflag is null)
		  AND a.channelinnercode = #{channelinnercode} 
		  AND aa.city = #{city}
	</select>
	
	<select id="INSBChannelagreement_getAgreementByArea" parameterType="Map" resultType="Map">
		SELECT c.agreeid as agreementid
		FROM insbchannel a, insbchannelagreement b, insbagreementprovider c , insbagreementarea r
		WHERE a.id = b.channelid AND b.id = c.agreementid 
		and b.id = r.agreementid
		and a.deleteflag is null
		and a.channelinnercode = #{channelinnercode} 
		and c.providerid = #{id} 
		and r.city = #{city}
	</select>

	<select id="INSBChannelagreement_getAgreementDeptByPrvcode" parameterType="Map" resultType="com.cninsure.system.entity.INSCDept">
		select b.* from insbagreementdept a,inscdept b
        where a.deptid5 = b.id
		and a.agreementid =  #{chnagreementid}
        and a.providerid = #{providerid}
	</select>

	<select id="INSBChannelagreement_queryAgreement" parameterType="Map" resultType="Map">
		SELECT
			a.agreementcode,
			a.agreementname,
			p.prvshotname,
			d.shortname,
			DATE_FORMAT(a.modifytime, '%Y-%m-%d %H:%i:%S') modifytime,
			a.underwritestatus,
			a.agreementstatus,
			a.id,
			a.providerid,
			a.deptid
		FROM
			insbagreement a
		LEFT JOIN insbprovider p ON a.providerid = p.prvcode
		LEFT JOIN inscdept d ON a.deptid = d.comcode
		<where> 
			<if test="agreementcode != null">
				AND a.agreementcode = #{agreementcode}
			</if>
			<if test="agreementname != null">
				AND a.agreementname like CONCAT('%', #{agreementname}, '%')
			</if>
			<if test="providerid != null">
				AND a.providerid = #{providerid}
			</if>
			<if test="deptid != null">
				AND a.deptid = #{deptid}
			</if>
		</where>
		<if test="limit != null">
			limit #{offset},#{limit}
		</if>
	</select>
	
	<select id="INSBChannelagreement_queryAgreementCount" parameterType="Map" resultType="Long">
		SELECT
			count(1)
		FROM
			insbagreement a
		LEFT JOIN insbprovider p ON a.providerid = p.prvcode
		LEFT JOIN inscdept d ON a.deptid = d.comcode
		<where> 
			<if test="agreementcode != null">
				AND a.agreementcode = #{agreementcode}
			</if>
			<if test="agreementname != null">
				AND a.agreementname like CONCAT('%', #{agreementname}, '%')
			</if>
			<if test="providerid != null">
				AND a.providerid = #{providerid}
			</if>
			<if test="deptid != null">
				AND a.deptid = #{deptid}
			</if>
		</where>
	</select>
	
	<select id="INSBChannelagreement_queryAgreementChn" parameterType="Map" resultType="Map">
		SELECT
			c.channelname,
			ap.id,
			c.id as channelid
		FROM
			insbchannel c
		LEFT JOIN insbchannelagreement ca ON ca.channelid = c.id
		LEFT JOIN insbagreementprovider ap ON ap.agreementid = ca.id
		<where> 
			<if test="agreeid != null">
				AND ap.agreeid = #{agreeid}
			</if>
		</where>
	</select>
	
</mapper>
