<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBAgent -->
	<select id="INSBAgent_insert" parameterType="com.zzb.conf.entity.INSBAgent"
		resultType="int">
		insert into INSBAgent
		(id,operator,createtime,modifytime,noti,name,sex,jobnum,jobnumtype,phone,email,mainbusiness,deptid,treedept,stationid,agentlevel,agentcode,agentstatus,agentkind,mobile,mobilephone1use,mobile2,mobilephone2use,telnum,pwd,istest,referrer,setid,cgfns,licenseno,bankcard,usersource,registertime,testtime,idno,idnotype,firstlogintime,livingcityid,lsatlogintime,approvesstate,tempjobnum,channelid,compression,renewaltime,commonusebranch,belongs2bank,address,teamcode,teamname,platformcode,platformname,openid,lzgid,jobnum4virtual,activetime,nickname,referrerid,recommendtype,weixinheadphotourl,pushChannel,pushWay)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{name},#{sex},#{jobnum},#{jobnumtype},#{phone},#{email},#{mainbusiness},#{deptid},#{treedept},#{stationid},#{agentlevel},#{agentcode},#{agentstatus},#{agentkind},#{mobile},#{mobilephone1use},#{mobile2},#{mobilephone2use},#{telnum},#{pwd},#{istest},#{referrer},#{setid},#{cgfns},#{licenseno},#{bankcard},#{usersource},#{registertime},#{testtime},#{idno},#{idnotype},#{firstlogintime},#{livingcityid},#{lsatlogintime},#{approvesstate},#{tempjobnum},#{channelid},#{compression},#{renewaltime},#{commonusebranch},#{belongs2bank},#{address},#{teamcode},#{teamname},#{platformcode},#{platformname},#{openid},#{lzgid},#{jobnum4virtual},#{activetime},#{nickname},#{referrerid},#{recommendtype},#{weixinheadphotourl},#{pushChannel},#{pushWay})
	</select>



	<select id="INSBAgent_select" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent
		<where>
			agentstatus !=3 
			<if test="id != null">
				and id = #{id}
			</if> 
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="openid != null">
				and openid = #{openid}
			</if>
			<if test="sex != null">
				and sex = #{sex}
			</if>
			<if test="jobnum != null">
				and jobnum = #{jobnum}
			</if>
			<if test="tempjobnum != null">
				and tempjobnum =#{tempjobnum}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and mainbusiness = #{mainbusiness}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="treedept != null">
				and treedept = #{treedept}
			</if>
			<if test="stationid != null">
				and stationid = #{stationid}
			</if>
			<if test="agentlevel != null">
				and agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null">
				and agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null">
				and agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null">
				and agentkind = #{agentkind}
			</if>
			<if test="mobile != null">
				and mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null">
				and mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null">
				and mobile2 = #{mobile2}
			</if>
			<if test="mobilephone2use != null">
				and mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null">
				and telnum = #{telnum}
			</if>
			<if test="pwd != null">
				and pwd = #{pwd}
			</if>
			<if test="istest != null">
				and istest = #{istest}
			</if>
			<if test="referrer != null">
				and referrer = #{referrer}
			</if>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="cgfns != null">
				and cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and bankcard = #{bankcard}
			</if>
			<if test="usersource != null">
				and usersource = #{usersource}
			</if>
			<if test="registertime != null">
				and registertime = #{registertime}
			</if>
			<if test="testtime != null">
				and testtime = #{testtime}
			</if>
			<if test="idno != null">
				and idno = #{idno}
			</if>
			<if test="idnotype != null">
				and idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null">
				and approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and belongs2bank = #{belongs2bank}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="teamcode != null">
				and teamcode = #{teamcode}
			</if>
			<if test="teamname != null">
				and teamname = #{teamname}
			</if>
			<if test="platformcode != null">
				and deptid LIKE CONCAT(#{platformcode}, '%')
			</if>
			<if test="platformname != null">
				and platformname = #{platformname}
			</if>
			<if test="lzgid != null">
				and lzgid = #{lzgid}
			</if>
			<if test="jobnum4virtual != null">
				and jobnum4virtual = #{jobnum4virtual}
			</if>
			<if test="activetime != null">
				and activetime = #{activetime}
			</if>
			<if test=" nickname != null ">
				and nickname = #{nickname}
			</if>
			<if test=" referrerid != null ">
				and referrerid = #{referrerid}
			</if>
			<if test=" recommendtype != null ">
				and recommendtype = #{recommendtype}
			</if>
			
		</where>
	</select>
	
	
	<select id="INSBAgent_selectOne" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent
		<where>
			agentstatus !=3 
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="openid != null">
				and openid = #{openid}
			</if>
			<if test="sex != null">
				and sex = #{sex}
			</if>
			<if test="jobnum != null">
				and jobnum = #{jobnum}
			</if>
			<if test="tempjobnum != null">
				and tempjobnum =#{tempjobnum}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and mainbusiness = #{mainbusiness}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="channelid != null">
				and channelid = #{channelid}
			</if>
			<if test="treedept != null">
				and treedept = #{treedept}
			</if>
			<if test="stationid != null">
				and stationid = #{stationid}
			</if>
			<if test="agentlevel != null">
				and agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null">
				and agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null">
				and agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null">
				and agentkind = #{agentkind}
			</if>
			<if test="mobile != null">
				and mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null">
				and mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null">
				and mobile2 = #{mobile2}
			</if>
			<if test="mobilephone2use != null">
				and mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null">
				and telnum = #{telnum}
			</if>
			<if test="pwd != null">
				and pwd = #{pwd}
			</if>
			<if test="istest != null">
				and istest = #{istest}
			</if>
			<if test="referrer != null">
				and referrer = #{referrer}
			</if>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="cgfns != null">
				and cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and bankcard = #{bankcard}
			</if>
			<if test="usersource != null">
				and usersource = #{usersource}
			</if>
			<if test="registertime != null">
				and registertime = #{registertime}
			</if>
			<if test="testtime != null">
				and testtime = #{testtime}
			</if>
			<if test="idno != null">
				and idno = #{idno}
			</if>
			<if test="idnotype != null">
				and idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null">
				and approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and belongs2bank = #{belongs2bank}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="teamcode != null">
				and teamcode = #{teamcode}
			</if>
			<if test="teamname != null">
				and teamname = #{teamname}
			</if>
			<if test="platformcode != null">
				and platformcode = #{platformcode}
			</if>
			<if test="platformname != null">
				and platformname = #{platformname}
			</if>
			<if test="lzgid != null">
				and lzgid = #{lzgid}
			</if>
			<if test="jobnum4virtual != null">
				and platformname = #{jobnum4virtual}
			</if>
			<if test="activetime != null">
				and activetime = #{activetime}
			</if>
		</where>
		LIMIT 1
	</select>
	
	<!-- 根据jobnum和 name模糊查询代理人信息-->
	<select id="INSBAgent_selectVo" parameterType="Map"
		resultType="Map">
		select * from insbagent 
		<where>
			agentstatus !=3 
			<if test="jobnum != null">
				and jobnum = #{jobnum}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
		</where>
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 createtime desc 
		</if>
		limit #{offset},#{limit}
	</select>
	
	<select id="INSBAgent_selectByUser" parameterType="Map"
		resultType="Map">
       	select * FROM insbagent a, inscdept d WHERE  a.agentstatus !=3  and a.deptid=d.id and d.deptinnercode LIKE CONCAT(#{deptinnercode}, '%')
        <if test="jobnum != null">
			and a.jobnum = #{jobnum}
		</if>
		<if test="phone != null">
			and a.phone = #{phone}
		</if>
		<if test="name != null">
			and a.name = #{name}
		</if>
		order by 
		<if test="sort != null and order != null">
			  #{sort}  #{order}  
		</if>
		<if test="sort == null">
			 a.createtime desc 
		</if>
		limit
		<if test="offset != null">
			 #{offset},
		</if>
		<if test="limit != null">
			 #{limit}
		</if>
	</select>
	
	<select id="INSBAgent_selectCounterByUser" parameterType="Map"
		resultType="int">
       	select COUNT(1) FROM insbagent a, inscdept d WHERE  a.agentstatus !=3  and  a.deptid=d.id and d.deptinnercode LIKE CONCAT(#{deptinnercode}, '%')
		<if test="jobnum != null">
			and a.jobnum = #{jobnum}
		</if>
		<if test="phone != null">
			and a.phone = #{phone}
		</if>
		<if test="name != null">
			and a.name = #{name}
		</if>
	</select>
	
	<select id="INSBAgent_selectPage" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBAgent">
		select a.id, a.agentcode,a.name,a.idno,a.phone,a.agentstatus,a.agentkind,b.comname,a.createtime from insbagent a ,inscdept b
		 <where>
			a.deptid=b.id  and a.agentstatus !=3 
			<if test="name != null and name!='' ">
				and a.name = #{name}
			</if>
			<if test="jobnum != null">
				and a.jobnum = #{jobnum}
			</if>
			<if test="openid != null">
				and a.openid = #{openid}
			</if>
			<if test="phone != null and phone !='' ">
				and a.phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and a.mainbusiness = #{mainbusiness}
			</if>
			<if test="deptid != null and deptid !='' ">
				and a.deptid = #{deptid}
			</if>
			<if test="stationid != null and stationid !='' ">
				and a.stationid = #{stationid}
			</if>
			<if test="channelid != null and channelid !='' ">
				and a.channelid = #{channelid}
			</if>
			<if test="agentlevel != null">
				and a.agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null and agentcode !='' ">
				and a.agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null and agentstatus!=0 ">
				and a.agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null and agentkind != 0">
				and a.agentkind = #{agentkind}
			</if>
			<if test="mobile != null and mobile !='' ">
				and a.mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null and mobilephone1use != 0">
				and a.mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null and mobile2 !='' ">
				and a.mobile2 = #{mobile2}
			</if>
			<if test="mobilephone2use != null and mobilephone2use!= 0">
				and a.mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null and telnum !='' ">
				and a.telnum = #{telnum}
			</if>
			<if test="istest != null and istest != 0">
				and a.istest = #{istest}
			</if>
			<if test="referrer != null">
				and a.referrer = #{referrer}
			</if>
			<if test="setid != null and setid !=''">
				and a.setid = #{setid}
			</if>
			<if test="cgfns != null">
				and a.cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and a.bankcard = #{bankcard}
			</if>
			<if test="usersource != null">
				and a.usersource = #{usersource}
			</if>
			<if test="registertime != null and registertime !='' ">
				and   a.registertime >= #{registertime}  
			</if>
			<if test="registertimeend != null and registertimeend !='' ">
				and   #{registertimeend}  >= a.registertime  
			</if>
			<if test="testtime != null and testtime!='' ">
				and a.testtime >= #{testtime}
			</if>
			<if test="testtimeend != null and testtimeend !=''">
				and #{testtimeend} >= a.testtime  
			</if>
			<if test="idno != null and idno!='' ">
				and a.idno = #{idno}
			</if>
			<if test="idnotype != null">
				and a.idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and a.firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and a.livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and a.lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and a.licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null and approvesstate!=0 ">
				and approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and belongs2bank = #{belongs2bank}
			</if>
			<if test="jobnum4virtual != null">
				and jobnum4virtual = #{jobnum4virtual}
			</if>
			<if test="activetime != null">
				and activetime = #{activetime}
			</if>
		</where>
		order by a.createtime desc
		limit #{offset},#{limit}
	</select>
	<!-- 修改后 -->
	<select id="INSBAgent_selectCommNameById" parameterType="String"
		resultType="com.zzb.conf.entity.INSBAgent">
		select a.*,b.comname,c.channelname from INSBAgent a 
		left join inscdept b on a.deptid=b.id 
		left join insbchannel c on a.channelid = c.id
		where a.id = #{id} and a.agentstatus !=3  
	</select>
	
	<select id="INSBAgent_selectAgentIdByDeptIds" parameterType="List"
		resultType="String">
		select id from INSBAgent 
		<where>
			 agentstatus !=3  and deptid in 
			<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
		
	</select>
	
	<select id="INSBAgent_selectById" parameterType="String"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent  where id = #{id} and agentstatus !=3  
	</select>
	<select id="INSBAgent_getOnlyAgent" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent  where id != #{agentid} and jobnum=#{formalnum}  and agentstatus !=3  
	</select>
	<select id="INSBAgent_selectBySetId" parameterType="String"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent 
		where setid = #{setId}  and agentstatus !=3  
	</select>
	 
	
	<select id="INSBAgent_seelctIdByTempJobNum" parameterType="String"
		resultType="String">
		select id from INSBAgent 
		where tempjobnum = #{tempjobnum}  and agentstatus !=3  
	</select>
	<select id="INSBAgent_selectByAgentCode" parameterType="String"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent where IFNULL(usersource,'') != 'minizzb' and (jobnum = #{agentcode} or phone= #{agentcode})  and agentstatus !=3  
	</select>
	<select id="INSBAgent_selectReferrer" parameterType="Map"
			resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent where IFNULL(usersource,'') != 'minizzb' and agentstatus !=3
		and (jobnum = #{agentcode} or phone= #{agentcode})
		<if test="agentkind != null and agentkind !=''">
			and agentkind = #{agentkind}
		</if>
	</select>
	<select id="INSBAgent_selectByOpenid" parameterType="String"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent where openid = #{openid}  and agentstatus !=3   limit 1
	</select>
	<select id="INSBAgent_selectBylogicId" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBAgent">
		select id from INSBAgent
		where agentkind = #{agentkind} and deptid=#{deptid} and istest=#{istest}  and agentstatus !=3  
	</select>
	<select id="INSBAgent_deleteById" parameterType="String">
		delete from
		INSBAgent where id = #{id} 
	</select>
	<select id="INSBAgent_updateSetIdById" parameterType="com.zzb.conf.entity.INSBAgent">
		update INSBAgent set setid = #{setid} where id=#{id}
	</select>
	
	<select id="INSBAgent_updateSetIdBySetId" parameterType="String">
		update INSBAgent set setid = null  where setid=#{setid}
	</select>
	
	<select id="INSBAgent_updateById" parameterType="com.zzb.conf.entity.INSBAgent">
		update INSBAgent 
		<set>
			<if test=" operator!=null">
				operator = #{operator},
			</if>
			<if test=" jobnumtype!=null">
				jobnumtype = #{jobnumtype},
			</if>
			<if test=" email">
				email = #{email},
			</if>
			<if test=" modifytime!=null">
				modifytime = #{modifytime},
			</if>
			<if test=" noti!=null">
				noti =#{noti},
			</if>
			<if test=" name!=null">
				name=#{name},
			</if>
			<if test=" sex!=null">
				sex = #{sex},
			</if>
			<if test=" jobnum!=null">
				jobnum = #{jobnum},
			</if>
			<if test=" tempjobnum!=null">
				tempjobnum = #{tempjobnum},
			</if>
			<if test=" phone!=null">
				phone =#{phone},
			</if>
			<if test=" mainbusiness!=null">
				mainbusiness = #{mainbusiness},
			</if>
			<if test=" deptid!=null">
				 deptid = #{deptid},
			</if>
			<if test=" channelid!=null">
				 channelid = #{channelid},
			</if>
			<if test=" treedept!=null">
				treedept =#{treedept},
			</if>
			<if test=" stationid!=null">
				stationid = #{stationid},
			</if>
			<if test=" agentlevel!=null and agentlevel!=0">
				agentlevel =#{agentlevel},
			</if>
			<if test=" agentcode!=null">
				agentcode = #{agentcode},
			</if>
			<if test=" agentstatus!=null and agentstatus!=0">
				agentstatus =#{agentstatus},
			</if>
			<if test=" agentkind!=null and agentkind!=0">
				agentkind = #{agentkind},
			</if>
			<if test=" mobile!=null">
				mobile =#{mobile},
			</if>
			<if test=" mobilephone1use!=null and mobilephone1use!=0">
				mobilephone1use = #{mobilephone1use},
			</if>
			<if test=" mobile2!=null">
				mobile2 = #{mobile2},
			</if>
			<if test=" mobilephone2use!=null and mobilephone2use!=0">
				mobilephone2use = #{mobilephone2use},
			</if>
			<if test=" telnum!=null">
				telnum = #{telnum},
			</if>
			<if test="pwd !=null">
				pwd= #{pwd},
			</if>
			<if test=" istest!=null and istest!=0">
				istest = #{istest},
			</if>
			<if test=" referrer!=null">
				referrer = #{referrer},
			</if>
			<if test=" setid!=null">
				setid = #{setid},
			</if>
			<if test=" cgfns!=null">
				cgfns = #{cgfns},
			</if>
			<if test=" licenseno!=null">
				licenseno = #{licenseno},
			</if>
			<if test=" bankcard!=null">
				bankcard = #{bankcard},
			</if>
			<if test=" registertime!=null">
				registertime = #{registertime},
			</if>
			<if test=" testtime!=null">
				testtime = #{testtime},
			</if>
			<if test=" idno!=null">
				idno = #{idno},
			</if>
			<if test=" idnotype!=null">
				idnotype = 	#{idnotype},
			</if>
			<if test=" firstlogintime!=null">
				firstlogintime = #{firstlogintime},
			</if>
			<if test=" livingcityid!=null">
				livingcityid = 	#{livingcityid},
			</if>
			<if test=" lsatlogintime!=null">
				lsatlogintime = #{lsatlogintime},
			</if>
			<if test=" approvesstate!=null">
				approvesstate=#{approvesstate},
			</if>
			<if test=" compression!=null">
				compression=#{compression},
			</if>
			<if test=" renewaltime!=null">
				renewaltime=#{renewaltime},
			</if>
			<if test=" commonusebranch!=null">
				commonusebranch=#{commonusebranch},
			</if>
			<if test="belongs2bank != null">
				belongs2bank = #{belongs2bank},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="teamcode != null">
				teamcode = #{teamcode},
			</if>
			<if test="teamname != null">
				teamname = #{teamname},
			</if>
			<if test="platformcode != null">
				platformcode = #{platformcode},
			</if>
			<if test="platformname != null">
				platformname = #{platformname},
			</if>
			<if test="lzgid != null">
				lzgid = #{lzgid},
			</if>
			<if test="jobnum4virtual != null">
				jobnum4virtual = #{jobnum4virtual},
			</if>
			<if test="activetime != null">
				activetime = #{activetime},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="firstOderSuccesstime != null">
				firstOderSuccesstime = #{firstOderSuccesstime},
			</if>
			<if test="taskid != null">
				taskid = #{taskid},
			</if>
			<if test="weixinheadphotourl != null">
				weixinheadphotourl = #{weixinheadphotourl},
			</if>
			<if test=" referrerid != null ">
				referrerid = #{referrerid},
			</if>
			<if test=" recommendtype != null ">
				recommendtype = #{recommendtype},
			</if>
			<if test=" openid != null ">
				openid = #{openid},
			</if>
			<if test=" 1 == 1 ">
				modifytime = NOW()
			</if>
		</set>
		 where id = #{id}
	</select>
	<select id="INSBAgent_selectCount" parameterType="Map"
		resultType="Long">
	   	select count(1) from insbagent a , inscdept b
		 <where>
		    a.deptid=b.id  and a.agentstatus !=3  
            <if test="deptid != null and deptid!='' ">
                and b.deptinnercode LIKE (
               	select CONCAT(c.deptinnercode, '%') from inscdept c where c.id = #{deptid}
                )
            </if>
			<if test="name != null and name!='' ">
				and a.name = #{name}
			</if>
			<if test="jobnum != null">
				and a.jobnum = #{jobnum}
			</if>
			<if test="openid != null">
				and a.openid = #{openid}
			</if>
			<if test="phone != null and phone !='' ">
				and a.phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and a.mainbusiness = #{mainbusiness}
			</if>
			
			<if test="stationid != null and stationid !='' ">
				and a.stationid = #{stationid}
			</if>
			<if test="channelid != null and channelid !='' ">
				and a.channelid = #{channelid}
			</if>
			<if test="agentlevel != null">
				and a.agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null and agentcode !='' ">
				and a.agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null and agentstatus!=0 ">
				and a.agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null and agentkind != 0">
				and a.agentkind = #{agentkind}
			</if>
			<if test="mobile != null and mobile !='' ">
				and a.mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null and mobilephone1use != 0">
				and a.mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null and mobile2 !='' ">
				and a.mobile2 = #{mobile2}
			</if>
			<if test="mobilephone2use != null and mobilephone2use!= 0">
				and a.mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null and telnum !='' ">
				and a.telnum = #{telnum}
			</if>
			<if test="istest != null and istest != 0">
				and a.istest = #{istest}
			</if>
			<if test="referrer != null">
				and a.referrer = #{referrer}
			</if>
			<if test="setid != null and setid !=''">
				and a.setid = #{setid}
			</if>
			<if test="cgfns != null">
				and a.cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and a.bankcard = #{bankcard}
			</if>
			<if test="usersource != null">
				and a.usersource = #{usersource}
			</if>
			<if test="jobnum4virtual != null">
				and a.jobnum4virtual = #{jobnum4virtual}
			</if>
			<if test="registertime != null and registertime !='' ">
				and   a.registertime >= #{registertime}  
			</if>
			<if test="registertimeend != null and registertimeend !='' ">
				and   #{registertimeend}  >= a.registertime  
			</if>
			<if test="testtime != null and testtime!='' ">
				and a.testtime >= #{testtime}
			</if>
			<if test="testtimeend != null and testtimeend !=''">
				and #{testtimeend} >= a.testtime  
			</if>
			<if test="idno != null and idno!='' ">
				and a.idno = #{idno}
			</if>
			<if test="idnotype != null">
				and a.idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and a.firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and a.livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and a.lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and a.licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null and approvesstate!=0 ">
				and approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and belongs2bank = #{belongs2bank}
			</if>
			<if test="activetime != null">
				and activetime = #{activetime}
			</if>
		</where>
	</select>
	<select id="INSBAgent_selectCount_byAgentUser" parameterType="Map"
			resultType="Long">
	select count(1)
		from insbagent a   
		LEFT JOIN insbminiuserrole b on a.id=b.miniuserid 
		LEFT JOIN insbminirole d on b.roleid=d.id
		LEFT JOIN INSBMinichannel e on a.pushChannel=e.channelcode  
		<where>
			a.usersource='minizzb' and  a.agentstatus !=3
			<if test="deptid != null and deptid!='' ">
				and a.deptid = #{deptid}
			</if>
			<if test="name != null and name!='' ">
				and a.name = #{name}
			</if>
			<if test="nickname != null and nickname!='' ">
				and a.nickname like CONCAT('%',#{nickname},'%')
			</if>
			<if test="jobnum != null and jobnum!='' ">
				and a.jobnum = #{jobnum}
			</if>
			<if test="openid != null">
				and a.openid = #{openid}
			</if>
			<if test="phone != null and phone !='' ">
				and a.phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and a.mainbusiness = #{mainbusiness}
			</if>

			<if test="stationid != null and stationid !='' ">
				and a.stationid = #{stationid}
			</if>
			<if test="channelid != null and channelid !='' ">
				and a.channelid = #{channelid}
			</if>
			<if test="agentlevel != null">
				and a.agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null and agentcode !='' ">
				and a.agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null and agentstatus!=0 ">
				and a.agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null and agentkind != 0">
				and a.agentkind = #{agentkind}
			</if>
			<if test="mobile != null and mobile !='' ">
				and a.mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null and mobilephone1use != 0">
				and a.mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null and mobile2 !='' ">
				and a.mobile2 = #{mobile2}
			</if>
			<if test="jobnum4virtual != null and jobnum4virtual !='' ">
				and a.jobnum4virtual = #{jobnum4virtual}
			</if>
			<if test="mobilephone2use != null and mobilephone2use!= 0">
				and a.mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null and telnum !='' ">
				and a.telnum = #{telnum}
			</if>
			<if test="istest != null and istest != 0">
				and a.istest = #{istest}
			</if>
			<if test="referrer != null">
				and a.referrer = #{referrer}
			</if>
			<if test="referrerid != null">
				and a.referrerid = #{referrerid}
			</if>
			<if test="setid != null and setid !=''">
				and a.setid = #{setid}
			</if>
			<if test="cgfns != null">
				and a.cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and a.bankcard = #{bankcard}
			</if>
			<if test="registertime != null and registertime !='' ">
				and   a.registertime >= #{registertime}
			</if>
			<if test="registertimeend != null and registertimeend !='' ">
				and   #{registertimeend}  >= a.registertime
			</if>
			<if test="testtime != null and testtime!='' ">
				and a.testtime >= #{testtime}
			</if>
			<if test="testtimeend != null and testtimeend !=''">
				and #{testtimeend} >= a.testtime
			</if>
			<if test="idno != null and idno!='' ">
				and a.idno = #{idno}
			</if>
			<if test="idnotype != null">
				and a.idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and a.firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and a.livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and a.lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and a.licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null and approvesstate!=0 ">
				and a.approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and a.compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and a.renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and a.commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and a.belongs2bank = #{belongs2bank}
			</if>
			<if test="activetime != null">
				and a.activetime = #{activetime}
			</if>
			<if test="rname != null and rname != '' ">
				and d.name = #{rname}
			</if>
			<if test="rolecode != null and rolecode != '' ">
				and d.rolecode = #{rolecode}
			</if>
			<if test="rid != null and rid != '' ">
				and d.id = #{rid}
			</if>
		</where>
	</select>
	<!-- 根据jobnum查询代理人信息 -->
	<select id="INSBAgent_selectByJobnum" parameterType="String"
		resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent where (jobnum = #{jobnum} or phone = #{jobnum}) and agentstatus !=3
		AND IFNULL(usersource,'') != 'minizzb'
	</select>
	<select id="INSBAgent_getpermissionsadd" parameterType="String" resultType="Map">
		select quanxian.permissionname,quanxian.permissionpath FROM insbagent agent,insbpermission quanxian,insbagentpermission guanxi
		WHERE guanxi.agentid = agent.id AND guanxi.permissionid = quanxian.id AND agent.jobnum=#{jobnum}  and agent.agentstatus !=3  
	</select>
	<select id="INSBAgent_selectByCertificationStatus" parameterType="Integer" resultType="Map">
		select a.* FROM insbagent a,insbcertification c
		WHERE a.jobnum = c.agentnum AND c.status = #{status} AND a.agentstatus !=3   ORDER BY a.createtime
	</select>
	<select id="INSBAgent_selectcountByAgentCode" parameterType="String"
		resultType="int">
		select count(1) from INSBAgent
		<where>
			agentstatus !=3
			<if test="id !=null">
			and id !=#{id}
			</if>
			<if test="agentcode !=null">
			and agentcode = #{agentcode}
			</if>
		</where>
	</select>
	
	<select id="INSBAgent_updateAgentPWDById" parameterType="com.zzb.conf.entity.INSBAgent" resultType="Integer">
		update INSBAgent set pwd=#{pwd} where id=#{id}
	</select>

	<select id="INSBAgent_auditAgentIdentity" parameterType="com.zzb.conf.entity.INSBAgent" resultType="Integer">
		update INSBAgent set modifytime=#{modifytime} , operator=#{operator} , approvesstate=#{approvesstate},noti=#{noti} where id=#{id}
	</select>

	<select id="INSBAgent_bindingAgentIdentity" parameterType="com.zzb.conf.entity.INSBAgent" resultType="Integer">
		update INSBAgent set phone=#{phone} where openid = #{openid}
	</select>
	
	<select id="INSBAgent_selectPageByDeptIds" parameterType="Map"
		resultType="com.zzb.conf.entity.INSBAgent">
		/*slave*/select @rownum:=@rownum+1 as rownum,  a.id, a.agentcode,a.openid,a.name,a.idno,a.phone,a.agentstatus,a.agentkind,b.comname,a.createtime
		from insbagent a, inscdept b, (select @rownum:=0) c
		 <where>
		    a.deptid=b.id and a.agentstatus !=3
			<if test="deptid != null and deptid!='' ">
				and b.deptinnercode LIKE (
                 	select CONCAT(c.deptinnercode, '%') from inscdept c where c.id = #{deptid}
                )
			</if>
			<if test="name != null and name!='' ">
				and a.name  = #{name}
			</if>
			<if test="jobnum != null">
				and a.jobnum = #{jobnum}
			</if>
			<if test="openid != null">
				and a.openid = #{openid}
			</if>
			<if test="phone != null and phone !='' ">
				and a.phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and a.mainbusiness = #{mainbusiness}
			</if>
			
			<if test="stationid != null and stationid !='' ">
				and a.stationid = #{stationid}
			</if>
			<if test="channelid != null and channelid !='' ">
				and a.channelid = #{channelid}
			</if>
			<if test="agentlevel != null">
				and a.agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null and agentcode !='' ">
				and a.agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null and agentstatus!=0 ">
				and a.agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null and agentkind != 0">
				and a.agentkind = #{agentkind}
			</if>
			<if test="mobile != null and mobile !='' ">
				and a.mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null and mobilephone1use != 0">
				and a.mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null and mobile2 !='' ">
				and a.mobile2 = #{mobile2}
			</if>
			<if test="jobnum4virtual != null and jobnum4virtual !='' ">
				and a.jobnum4virtual = #{jobnum4virtual}
			</if>
			<if test="mobilephone2use != null and mobilephone2use!= 0">
				and a.mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null and telnum !='' ">
				and a.telnum = #{telnum}
			</if>
			<if test="istest != null and istest != 0">
				and a.istest = #{istest}
			</if>
			<if test="referrer != null">
				and a.referrer = #{referrer}
			</if>
			<if test="setid != null and setid !=''">
				and a.setid = #{setid}
			</if>
			<if test="cgfns != null">
				and a.cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and a.bankcard = #{bankcard}
			</if>
			<if test="usersource != null">
				and a.usersource = #{usersource}
			</if>
			<if test="registertime != null and registertime !='' ">
				and   a.registertime >= #{registertime}  
			</if>
			<if test="registertimeend != null and registertimeend !='' ">
				and   #{registertimeend}  >= a.registertime  
			</if>
			<if test="testtime != null and testtime!='' ">
				and a.testtime >= #{testtime}
			</if>
			<if test="testtimeend != null and testtimeend !=''">
				and #{testtimeend} >= a.testtime  
			</if>
			<if test="idno != null and idno!='' ">
				and a.idno = #{idno}
			</if>
			<if test="idnotype != null">
				and a.idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and a.firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and a.livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and a.lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and a.licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null and approvesstate!=0 ">
				and approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and belongs2bank = #{belongs2bank}
			</if>
			<if test="activetime != null">
				and activetime = #{activetime}
			</if>
		</where>
		<!-- order by a.createtime desc -->
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 a.createtime desc 
		</if>
		limit #{offset},#{limit}
	</select>
	<select id="INSBAgent_selectPageByDeptIds_byAgentUser" parameterType="Map"
			resultType="com.zzb.extra.model.INSBAgentUserQueryModel">
		select t.id,t.agentcode,t.openid,t.name,t.approvesstate,t.idno,t.jobnum,t.phone,t.agentstatus,t.registertime,t.lsatlogintime,t.agentkind,"minizzbNoDeptWDids" as comname,t.createtime,t.nickname,t.referrerid,t.pushChannel,d.name rname,d.rolecode,d.id rid,e.channelname
		from insbagent t   
		LEFT JOIN insbminiuserrole b on t.id=b.miniuserid 
		LEFT JOIN insbminirole d on b.roleid=d.id
		LEFT JOIN INSBMinichannel e on t.pushChannel=e.channelcode
		<where>
				 t.usersource='minizzb' and  t.agentstatus !=3 
			<if test="deptid != null and deptid!='' ">
				and t.deptid = #{deptid}
			</if>
			<if test="name != null and name!='' ">
				and t.name = #{name}
			</if>
			<if test="nickname != null and nickname!='' ">
				and t.nickname like CONCAT('%',#{nickname},'%')
			</if>
			<if test="jobnum != null and jobnum!='' ">
				and t.jobnum = #{jobnum}
			</if>
			<if test="openid != null">
				and t.openid = #{openid}
			</if>
			<if test="phone != null and phone !='' ">
				and t.phone = #{phone}
			</if>
			<if test="mainbusiness != null">
				and t.mainbusiness = #{mainbusiness}
			</if>

			<if test="stationid != null and stationid !='' ">
				and t.stationid = #{stationid}
			</if>
			<if test="channelid != null and channelid !='' ">
				and t.channelid = #{channelid}
			</if>
			<if test="agentlevel != null">
				and t.agentlevel = #{agentlevel}
			</if>
			<if test="agentcode != null and agentcode !='' ">
				and t.agentcode = #{agentcode}
			</if>
			<if test="agentstatus != null and agentstatus!=0 ">
				and t.agentstatus = #{agentstatus}
			</if>
			<if test="agentkind != null and agentkind != 0">
				and t.agentkind = #{agentkind}
			</if>
			<if test="mobile != null and mobile !='' ">
				and t.mobile = #{mobile}
			</if>
			<if test="mobilephone1use != null and mobilephone1use != 0">
				and t.mobilephone1use = #{mobilephone1use}
			</if>
			<if test="mobile2 != null and mobile2 !='' ">
				and t.mobile2 = #{mobile2}
			</if>
			<if test="jobnum4virtual != null and jobnum4virtual !='' ">
				and t.jobnum4virtual = #{jobnum4virtual}
			</if>
			<if test="mobilephone2use != null and mobilephone2use!= 0">
				and t.mobilephone2use = #{mobilephone2use}
			</if>
			<if test="telnum != null and telnum !='' ">
				and t.telnum = #{telnum}
			</if>
			<if test="istest != null and istest != 0">
				and t.istest = #{istest}
			</if>
			<if test="referrer != null">
				and t.referrer = #{referrer}
			</if>
			<if test="referrerid != null">
				and t.referrerid = #{referrerid}
			</if>
			<if test="setid != null and setid !=''">
				and t.setid = #{setid}
			</if>
			<if test="cgfns != null">
				and t.cgfns = #{cgfns}
			</if>
			<if test="bankcard != null">
				and t.bankcard = #{bankcard}
			</if>
			<if test="registertime != null and registertime !='' ">
				and   t.registertime >= #{registertime}
			</if>
			<if test="registertimeend != null and registertimeend !='' ">
				and   #{registertimeend}  >= t.registertime
			</if>
			<if test="testtime != null and testtime!='' ">
				and t.testtime >= #{testtime}
			</if>
			<if test="testtimeend != null and testtimeend !=''">
				and #{testtimeend} >= t.testtime
			</if>
			<if test="idno != null and idno!='' ">
				and t.idno = #{idno}
			</if>
			<if test="idnotype != null">
				and t.idnotype = #{idnotype}
			</if>
			<if test="firstlogintime != null">
				and t.firstlogintime = #{firstlogintime}
			</if>
			<if test="livingcityid != null">
				and t.livingcityid = #{livingcityid}
			</if>
			<if test="lsatlogintime != null">
				and t.lsatlogintime = #{lsatlogintime}
			</if>
			<if test="licenseno != null">
				and t.licenseno = #{licenseno}
			</if>
			<if test="approvesstate != null and approvesstate!=0 ">
				and t.approvesstate = #{approvesstate}
			</if>
			<if test="compression != null">
				and t.compression = #{compression}
			</if>
			<if test="renewaltime != null">
				and t.renewaltime = #{renewaltime}
			</if>
			<if test="commonusebranch != null">
				and t.commonusebranch = #{commonusebranch}
			</if>
			<if test="belongs2bank != null">
				and t.belongs2bank = #{belongs2bank}
			</if>
			<if test="activetime != null">
				and t.activetime = #{activetime}
			</if>
			<if test="rname != null and rname != '' ">
				and d.name = #{rname}
			</if>
			<if test="rid != null and rid != '' ">
				and d.id = #{rid}
			</if>
			<if test="rolecode != null and rolecode != '' ">
				and d.rolecode = #{rolecode}
			</if>
		</where>
		<!-- order by a.createtime desc -->
		order by 
		<if test="sort != null and order != null">
			${sort}  ${order}
		</if>
		<if test="sort == null">
			t.createtime desc
		</if>
		limit #{offset},#{limit}
	</select>
	<select id="INSBAgent_selectAgentByJobnum"
		parameterType="Map" resultType="com.zzb.conf.entity.INSBAgent">
		select * from INSBAgent 
		<where> 
			agentstatus !=3
			<if test="jobnum != null and jobnum !=''">
				and jobnum = #{jobnum}
			</if>
		</where>
		LIMIT 1 
	</select>
	<select id="INSBAgent_selectListByBindingUser" parameterType="Map"
		resultType="Map">
		select phone,name,id,agentkind,agentcode,idno,deptid from INSBAgent 
		<where>
			agentstatus !=3
			<if test="openid != null and openid !=''">
				or openid = #{openid}
			</if>
			<if test="mobile != null and mobile !=''">
				or mobile = #{mobile}
			</if>
			<if test="idno != null and idno !=''">
				or idno = #{idno}
			</if>
			<if test="jobnum != null and jobnum !=''">
				or jobnum = #{jobnum}
			</if>
			<if test="email != null and email !=''">
				or email = #{email}
			</if>
		</where>
		LIMIT 20
	</select>
	
	<select id="INSBAgent_selectBindingUserByAccountInfo" parameterType="Map"
		resultType="Map">
		select id,name,agentkind,agentcode,idno,deptid from INSBAgent  
		where phone = #{phone} and pwd = #{pwd} and agentstatus !=3
		LIMIT 2
	</select>
	
	<select id="INSBAgent_updateAgentLzgidById" parameterType="Map">
		update INSBAgent set lzgid = #{lzgid} where id=#{id} 
	</select>
	
	<select id="INSBAgent_selectBindingUserByJobnumInfo" parameterType="Map"
		resultType="Map">
		select id,name,agentkind,agentcode,idno,deptid from INSBAgent  
		where jobnum = #{jobnum} and pwd = #{pwd} and agentstatus !=3
		LIMIT 2
	</select>
	
	<select id="INSBAgent_phoneverify" parameterType="Map" resultType="Integer">
		select count(*) FROM insbagent WHERE phone = #{phone} and id != #{agentid}  and agentstatus !=3 AND IFNULL(usersource,'') != 'minizzb'
	</select>
	
	<select id="INSBAgent_selectIdAndPwd" resultType="Map">
		select ID,PWD FROM INSBAGENT WHERE agentstatus !=3
	</select>
	
	<select id="INSBAgent_updatePwdById" parameterType="Map">
		UPDATE INSBAGENT 
        SET PWD=#{pwd}
	    WHERE ID=#{id}
	</select>
	
	<select id="INSBAgent_updateAgentLzgid" parameterType="Map">
		UPDATE insbagent set lzgid=null  where lzgid = #{lzgid}
	</select>

	<select id="INSBAgent_selectProvinceByJobnum" parameterType="String" resultType="String">
		select r.comcode FROM insbagent as a,inscdept as d ,insbregion as r
		WHERE a.jobnum = #{agentnum} AND a.deptid = d.id AND r.id = d.province;
	</select>
	<select id="INSBAgent_queryAgentBydept" parameterType="Map" resultType="com.zzb.conf.entity.INSBAgent">
		select a.* FROM insbagent a LEFT JOIN inscdept b ON  a.deptid=b.id
		WHERE	a.jobnum LIKE '6%' AND (b.parentcodes like CONCAT(#{parentcodes},'%') OR b.id = #{deptid}) 
		AND (a.agentkind &lt;&gt; '2' or a.agentstatus &lt;&gt; '1' or a.istest &lt;&gt;'2' )  and a.agentstatus !=3
	</select>
	<select id="INSBAgent_presenteeListQueryByReferrerId" parameterType="String"
			resultType="Map">
		select a.id as agentid,
		CASE WHEN a.nickname is NULL THEN '' ELSE a.nickname END AS nickname,
		a.recommendtype,
		CASE WHEN a.referrerid is NULL THEN '' ELSE a.referrerid END AS referrerid,
		CASE WHEN a.phone is NULL THEN '' ELSE a.phone END AS phone,
		CASE WHEN a.weixinheadphotourl is NULL THEN '' ELSE a.weixinheadphotourl END AS weixinheadphotourl,
		a.createtime,
		CASE WHEN c.ordercount IS NULL THEN 0 ELSE c.ordercount END AS ordercount,
		CASE WHEN c.oneAgentAmount IS NULL THEN 0 ELSE c.oneAgentAmount END AS oneAgentAmount
		FROM INSBAgent a LEFT JOIN (
			SELECT  COUNT(b.agentid) ordercount,b.agentid,b.createtime,SUM(f.amount) oneAgentAmount
			FROM INSBagenttask b, insborder d,insbpolicyitem e,insbaccountdetails f
			WHERE b.taskid=d.taskid AND b.taskid=e.taskid AND d.id=e.orderid
					AND LOCATE(b.taskid, f.noti) > 0 AND f.fundsource='104' AND e.risktype='0' AND b.status='1'
			GROUP BY b.agentid
		)c ON a.id=c.agentid
		WHERE  a.referrerid=#{referrerid} AND a.agentstatus !=3
		ORDER BY c.createtime DESC
	</select>
	<select id="INSBAgent_checkIsAgentPhonesql" parameterType="String"
			resultType="com.zzb.conf.entity.INSBAgent">
		select * FROM INSBAgent a
		WHERE (a.usersource IS NULL OR a.usersource != 'minizzb') AND a.phone=#{phone}
	</select>
	<select id="INSBAgent_checkIsMinizzbUserPhonesql" parameterType="String"
			resultType="com.zzb.conf.entity.INSBAgent">
		select * FROM INSBAgent a
		WHERE a.usersource = 'minizzb' AND a.phone=#{phone} and a.agentstatus !=3
	</select>

	<select id="INSBAgent_selectNotminiAgent" parameterType="String"
			resultType="com.zzb.conf.entity.INSBAgent">
		select * FROM INSBAgent a
		WHERE IFNULL(a.usersource,'') != 'minizzb' AND a.phone=#{phone} and a.agentstatus !=3
	</select>

	<select id="INSBAgent_selectNotminiAgentByMap" parameterType="Map"
			resultType="com.zzb.conf.entity.INSBAgent">
		select * FROM INSBAgent a
		WHERE IFNULL(a.usersource,'') != 'minizzb' and a.agentstatus !=3
		<if test="phone != null and phone !=''">
			AND a.phone = #{phone}
		</if>
		<if test="mobile != null and mobile !=''">
			AND a.mobile = #{mobile}
		</if>
	</select>

	<select id="INSBAgent_selectAgentByDept" parameterType="Map"
			resultType="com.zzb.conf.entity.INSBAgent">
		SELECT a.* FROM insbagent a , inscdept d
		WHERE d.`id`=a.`deptid` and IFNULL(a.usersource,'') != 'minizzb' and a.agentstatus !=3
		<if test="deptinnercode != null and deptinnercode != ''">AND d.`deptinnercode` LIKE CONCAT(#{deptinnercode},'%')</if>
		<if test="agentkind != null and agentkind != ''">AND a.`agentkind` = #{agentkind}</if>
	</select>


	<select id="INSBAgent_countRecommend" parameterType="Map" resultType="int">
		SELECT count(1) FROM insbagent a
		  <where>
		  	  a.agentstatus !=3
			  AND IFNULL(a.usersource,'') != 'minizzb'
			  <if test="referrer !=null and referrer !=''">
				  and a.`referrer` = #{referrer}
			  </if>
			  <if test="firstOderSuccess == true">
				  AND (a.`firstOderSuccesstime` != '' OR a.`firstOderSuccesstime` IS NOT NULL)
			  </if>
		  </where>
	</select>

	<select id="INSBAgent_recommendPerson" parameterType="Map" resultType="Map">
		SELECT d2.`comname`,d2.`shortname`,a.`jobnum`,a.agentkind,
		a.`name`,DATE_FORMAT(a.`registertime`,'%Y-%m-%d') AS  createtime ,IFNULL(DATE_FORMAT(a.`firstOderSuccesstime`,'%Y-%m-%d'),'') AS firstOderSuccesstime
		FROM insbagent a, inscdept d ,inscdept d2
		where a.`deptid` = d.`id` and a.agentstatus !=3 AND IFNULL(a.usersource,'') != 'minizzb'
		AND d2.`deptinnercode` = SUBSTRING(d.`deptinnercode`,1,5)
		<if test="referrer !=null and referrer !=''">
			and a.`referrer` = #{referrer}
		</if>
		<if test="firstOderSuccess == true">
			AND (a.`firstOderSuccesstime` != '' OR a.`firstOderSuccesstime` IS NOT NULL)
		</if>
		ORDER BY a.`registertime` DESC
		limit #{offset},#{limit}
	</select>
	
	<update id="INSBAgent_updateByDeptinnercode" parameterType="Map" >
	
	UPDATE insbagent a INNER JOIN inscdept d
		ON d.`id`=a.`deptid` AND IFNULL(a.usersource,'') != 'minizzb'
		
		AND d.`deptinnercode` LIKE CONCAT(#{deptinnercode},'%')
		
		AND a.`agentkind` = #{agentkind}
		
		SET a.setid=#{setid},a.`modifytime`=NOW(), a.`operator`=#{operator};
		
	</update>


	<select id="INSBAgent_getAuthenticatedCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM insbagent a WHERE a.approvesstate = 3 AND a.agentkind = 2 AND a.jobnumtype = 2  AND IFNULL(a.usersource,'') != 'minizzb' AND a.referrer = #{referrer};
	</select>

    <update id="INSBAgent_updateByReferrer" parameterType="Map" >
        UPDATE insbagent a  SET a.referrer=#{agentcode},a.modifytime=NOW()
        where a.referrer=#{tempjobnum} and IFNULL(a.usersource,'') != 'minizzb'
    </update>

	<update id="INSBAgent_updateClientType" parameterType="map">
		UPDATE insbagent a  SET
		a.usersource=#{agentcode},
		a.clienttype=#{clienttype},
		a.modifytime=NOW()
		where a.id=#{id}
	</update>

</mapper>