<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBOperatingsystem -->
	<select id="INSBOperatingsystem_insert" parameterType="com.zzb.conf.entity.INSBOperatingsystem" resultType="int">
		insert into INSBOperatingsystem
		(id,operator,createtime,modifytime,noti,paychannelid,insbcodevalue,systemtype) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{paychannelid},#{insbcodevalue},#{systemtype}) 
	</select>
	<select id="INSBOperatingsystem_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBOperatingsystem">
		select * from INSBOperatingsystem
		<where>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="insbcodevalue != null">
				and insbcodevalue = #{insbcodevalue}
			</if>
			<if test="systemtype != null">
				and systemtype = #{systemtype}
			</if>
		</where>
	</select>
	<select id="INSBOperatingsystem_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBOperatingsystem">
		select * from INSBOperatingsystem
		<where>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="insbcodevalue != null">
				and insbcodevalue = #{insbcodevalue}
			</if>
			<if test="systemtype != null">
				and systemtype = #{systemtype}
			</if>
		</where>
		LIMIT 2
	</select>	
	
	<select id="INSBOperatingsystem_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBOperatingsystem">
		select * from INSBOperatingsystem where id = #{id}
	</select>
	
	<select id="INSBOperatingsystem_typeid" parameterType="Map" resultType="String">
		select GROUP_CONCAT(sys.id) id from insbpaychannel pay,insboperatingsystem sys  WHERE sys.paychannelid = pay.id and pay.id = #{id} and sys.systemtype = #{systemtype}
	</select>
	
	<select id="INSBOperatingsystem_mapcheck" parameterType="Map" resultType="String">
		select GROUP_CONCAT(insbcodevalue)  insbcodevalue from INSBOperatingsystem where systemtype = #{systemtype}  and paychannelid = #{paychannelid} 
	</select>
	
	<select id="INSBOperatingsystem_deleteById" parameterType="String">
		delete from INSBOperatingsystem where id = #{id}
	</select>
	
	<select id="INSBOperatingsystem_updateById" parameterType="com.zzb.conf.entity.INSBOperatingsystem">
		update INSBOperatingsystem  set operator = #{operator},modifytime = #{modifytime},insbcodevalue = #{insbcodevalue} where id = #{id}
	</select>
	
	<select id="INSBOperatingsystem_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBOperatingsystem
		<where>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="insbcodevalue != null">
				and insbcodevalue = #{insbcodevalue}
			</if>
			<if test="systemtype != null">
				and systemtype = #{systemtype}
			</if>
		</where>
	</select>
	
</mapper>