<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBOutorderdept --> 
	<select id="INSBOutorderdept_insert" parameterType="com.zzb.conf.entity.INSBOutorderdept" resultType="int">
		insert into INSBOutorderdept
		(id,operator,createtime,modifytime,noti,agreementid,deptid1,deptid2,deptid3,deptid4,deptid5,scaleflag,permflag,underwritinginter) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{agreementid},#{deptid1},#{deptid2},#{deptid3},#{deptid4},#{deptid5},#{scaleflag},#{permflag},#{underwritinginter}) 
	</select>
	<select id="INSBOutorderdept_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBOutorderdept">
		select * from INSBOutorderdept
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="deptid1 != null">
				and deptid1 = #{deptid1}
			</if>
			<if test="deptid2 != null">
				and deptid2 = #{deptid2}
			</if>
			<if test="deptid3 != null">
				and deptid3 = #{deptid3}
			</if>
			<if test="deptid4 != null">
				and deptid4 = #{deptid4}
			</if>
			<if test="deptid5 != null">
				and deptid5 = #{deptid5}
			</if>
			<if test="scaleflag != null">
				and scaleflag = #{scaleflag}
			</if>
			<if test="permflag != null">
				and permflag = #{permflag}
			</if>
			<if test="underwritinginter != null">
				and underwritinginter = #{underwritinginter}
			</if>
		</where>
	</select>
	<select id="INSBOutorderdept_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBOutorderdept">
		select * from INSBOutorderdept
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="deptid1 != null">
				and deptid1 = #{deptid1}
			</if>
			<if test="deptid2 != null">
				and deptid2 = #{deptid2}
			</if>
			<if test="deptid3 != null">
				and deptid3 = #{deptid3}
			</if>
			<if test="deptid4 != null">
				and deptid4 = #{deptid4}
			</if>
			<if test="deptid5 != null">
				and deptid5 = #{deptid5}
			</if>
			<if test="scaleflag != null">
				and scaleflag = #{scaleflag}
			</if>
			<if test="permflag != null">
				and permflag = #{permflag}
			</if>
			<if test="underwritinginter != null">
				and underwritinginter = #{underwritinginter}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBOutorderdept_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBOutorderdept">
		select * from INSBOutorderdept where id = #{id}
	</select>
	
	<select id="INSBOutorderdept_selectDeptIdsByAgreementId" parameterType="String" resultType="String">
		select deptid5 from INSBOutorderdept where agreementid = #{value}
	</select>
	
	
	<select id="INSBOutorderdept_deleteById" parameterType="String">
		delete from INSBOutorderdept where id = #{id}
	</select>
	<select id="INSBOutorderdept_updateById" parameterType="com.zzb.conf.entity.INSBOutorderdept">
		update INSBOutorderdept  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},agreementid = #{agreementid},deptid1 = #{deptid1},deptid2 = #{deptid2},deptid3 = #{deptid3},deptid4 = #{deptid4},deptid5 = #{deptid5},scaleflag = #{scaleflag},permflag = #{permflag},underwritinginter = #{underwritinginter} where id = #{id}
	</select>
	<select id="INSBOutorderdept_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBOutorderdept
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="deptid1 != null">
				and deptid1 = #{deptid1}
			</if>
			<if test="deptid2 != null">
				and deptid2 = #{deptid2}
			</if>
			<if test="deptid3 != null">
				and deptid3 = #{deptid3}
			</if>
			<if test="deptid4 != null">
				and deptid4 = #{deptid4}
			</if>
			<if test="deptid5 != null">
				and deptid5 = #{deptid5}
			</if>
			<if test="scaleflag != null">
				and scaleflag = #{scaleflag}
			</if>
			<if test="permflag != null">
				and permflag = #{permflag}
			</if>
			<if test="underwritinginter != null">
				and underwritinginter = #{underwritinginter}
			</if>
		</where>
	</select>
	
	<select id="INSBOutorderdept_selectVo" parameterType="Map" resultType="com.zzb.conf.entity.INSBOutorderdept">
		SELECT
		  id,
		  operator,
		  createtime,
		  modifytime,
		  noti,
		  agreementid,
		  (select comname FROM inscdept d WHERE c.deptid1=id ) deptid1 ,
		  (select comname FROM inscdept d WHERE c.deptid2=id ) deptid2 ,
		  (select comname FROM inscdept d WHERE c.deptid3=id ) deptid3 ,
		  (select comname FROM inscdept d WHERE c.deptid4=id ) deptid4 ,
		  (select comname FROM inscdept d WHERE c.deptid5=id ) deptid5 ,
		  scaleflag,
		  permflag,
		  underwritinginter
		FROM INSBOutorderdept c
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="deptid1 != null">
				and deptid1 = #{deptid1}
			</if>
			<if test="deptid2 != null">
				and deptid2 = #{deptid2}
			</if>
			<if test="deptid3 != null">
				and deptid3 = #{deptid3}
			</if>
			<if test="deptid4 != null">
				and deptid4 = #{deptid4}
			</if>
			<if test="deptid5 != null">
				and deptid5 = #{deptid5}
			</if>
			<if test="scaleflag != null">
				and scaleflag = #{scaleflag}
			</if>
			<if test="permflag != null">
				and permflag = #{permflag}
			</if>
			<if test="underwritinginter != null">
				and underwritinginter = #{underwritinginter}
			</if>
		</where>
	</select>
	
	
</mapper>