<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBBatch -->
	<select id="INSBBatch_insert" parameterType="com.zzb.conf.entity.INSBBatch" resultType="int">
		insert into INSBBatch
		(id,operator,createtime,modifytime,noti,batchacode,channelcode) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{batchacode},#{channelcode}) 
	</select>
	<select id="INSBBatch_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBBatch">
		select * from INSBBatch
		<where>
			<if test="batchacode != null">
				and batchacode = #{batchacode}
			</if>
			<if test="channelcode != null">
				and channelcode = #{channelcode}
			</if>
		</where>
		order by createtime desc
	</select>
	<select id="INSBBatch_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBBatch">
		select * from INSBBatch
		<where>
			<if test="batchacode != null">
				and batchacode = #{batchacode}
			</if>
			<if test="channelcode != null">
				and channelcode = #{channelcode}
			</if>
		</where>
		LIMIT 2
	</select>

	<select id="INSBBatch_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBBatch">
		select * from INSBBatch where id = #{id}
	</select>
	<select id="INSBBatch_deleteById" parameterType="String">
		delete from INSBBatch where id = #{id}
	</select>
	<select id="INSBBatch_updateById" parameterType="com.zzb.conf.entity.INSBBatch">
		update INSBBatch  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},batchacode = #{batchacode},channelcode = #{channelcode} where id = #{id}
	</select>
	<select id="INSBBatch_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBBatch
		<where>
			<if test="batchacode != null">
				and batchacode = #{batchacode}
			</if>
			<if test="channelcode != null">
				and channelcode = #{channelcode}
			</if>
		</where>
	</select>
</mapper>