<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.mobile.entity">
	<select id="Insbpaymentpassword_selectOnebyMap" parameterType="Map" resultType="com.zzb.mobile.entity.Insbpaymentpassword">
			select * from insbpaymentpassword
		<where> 
			<if test="id!=null and id != ''">
				and id = #{id}
			</if>
				<if test="jobNum!=null and jobNum != ''">
				and jobNum = #{jobNum}
			</if>
			<if test="phone!=null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="password!=null and password != ''">
				and password = #{password}
			</if>
		</where>
	
	</select>
		<select id="Insbpaymentpassword_updatePaypwd" parameterType="com.zzb.mobile.entity.Insbpaymentpassword">
		update insbpaymentpassword set modifytime = NOW(), jobNum = #{jobNum}, phone = #{phone},
		password = #{password}, operator = #{operator}, createtime = #{createtime}, noti=#{noti}
		where id =#{id}
	</select>
		<select id="Insbpaymentpassword_insertPaypwd" parameterType="com.zzb.mobile.entity.Insbpaymentpassword">
		insert into insbpaymentpassword
		(id,operator,createtime,modifytime,noti,jobNum,phone,password)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{jobNum},#{phone},#{password})
	</select>
	
	
</mapper>