<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBEdiconfiguration -->
	<select id="INSBEdiconfiguration_insert" parameterType="com.zzb.conf.entity.INSBEdiconfiguration" resultType="int">
		insert into INSBEdiconfiguration
		(id,operator,createtime,modifytime,noti,ediname,explains,operator,deployaddress,interfaceaddress,operationsdirector,contactway) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{ediname},#{explains},#{operator},#{deployaddress},#{interfaceaddress},#{operationsdirector},#{contactway}) 
	</select>
	
	<select id="INSBEdiconfiguration_insertconf" parameterType="com.zzb.model.EDIConfModel" resultType="int">
		insert into INSBEdiconfiguration
		(id,createtime,modifytime,noti,ediname,explains,operator,deployaddress,interfaceaddress,operationsdirector,contactway,edipath) 
		values
		(#{ediconfid},#{createtime},#{modifytime},#{noti},#{ediname},#{explains},#{operator},#{deployaddress},#{interfaceaddress},#{operationsdirector},#{contactway},#{edipath}) 
	</select>
	
	<select id="INSBEdiconfiguration_insertdesc" parameterType="map" resultType="int">
		insert into INSBEdidescription
		(id,createtime,modifytime,noti,name,ippath,ediid,operator) 
		values
		(#{id},#{createtime},#{modifytime},#{noti},#{name},#{ippath},#{ediid},#{operator}) 
	</select>
	
	
	<select id="INSBEdiconfiguration_updateconf" parameterType="com.zzb.model.EDIConfModel" resultType="int">
		update  INSBEdiconfiguration 
		set ediname = #{ediname},explains = #{explains},operator = #{operator},deployaddress = #{deployaddress},interfaceaddress = #{interfaceaddress},operationsdirector = #{operationsdirector},contactway = #{contactway},edipath = #{edipath} 
		where id = #{ediconfid}
	</select>
	
	<select id="INSBEdiconfiguration_updatedesc" parameterType="com.zzb.conf.entity.INSBEdidescription" resultType="int">
		update  INSBEdidescription
		set ippath = #{ippath},modifytime = #{modifytime},operator = #{operator} where id = #{id}
	</select>
	
	<select id="INSBEdiconfiguration_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBEdiconfiguration">
		select * from INSBEdiconfiguration
		<where>
			<if test="ediname != null">
				and ediname = #{ediname}
			</if>
			<if test="explains != null">
				and explains = #{explains}
			</if>
			<if test="operator != null">
				and operator = #{operator}
			</if>
		</where>
			limit #{offset},#{limit}
	</select>
	
	<select id="INSBEdiconfiguration_selectrownum" parameterType="Map" resultType="com.zzb.conf.entity.INSBEdiconfiguration">
        select  @rownum:=@rownum+1 as rownum, a.* from INSBEdiconfiguration a,(SELECT @rownum:=0) b
		<where>
			<if test="ediname != null">
				and ediname = #{ediname}
			</if>
			<if test="explains != null">
				and explains = #{explains}
			</if>
			<if test="operator != null">
				and operator = #{operator}
			</if>
		</where>
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 a.createtime desc 
		</if>
			limit #{offset},#{limit}
	</select>
	
	<select id="INSBEdiconfiguration_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBEdiconfiguration">
		select * from INSBEdiconfiguration where id = #{id}
	</select>
	
	<select id="INSBEdiconfiguration_selectByPid" parameterType="String" resultType="com.zzb.conf.entity.INSBEdiconfiguration">
		select id,ediname from INSBEdiconfiguration 
	</select>
	
	<select id="INSBEdiconfiguration_queryediinfo" parameterType="String" resultType="com.zzb.conf.entity.INSBEdidescription">
		SELECT
			edidesc.id,edidesc.name, edidesc.ippath   
			FROM
				insbediconfiguration ediconf
			LEFT JOIN insbedidescription edidesc ON ediconf.id = edidesc.ediid
			LEFT JOIN insbprovider pro ON pro.eidid = ediconf.id
			WHERE
				ediconf.id = #{id}
	</select>
	
	<select id="INSBEdiconfiguration_deletedetail" parameterType="String">
		delete from insbedidescription where ediid = #{ediid}
	</select>
	
	<select id="INSBEdiconfiguration_deleteById" parameterType="String">
		delete from INSBEdiconfiguration where id = #{id}
	</select>
	
	<select id="INSBEdiconfiguration_updateById" parameterType="com.zzb.conf.entity.INSBEdiconfiguration">
		update INSBEdiconfiguration  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},ediname = #{ediname},explains = #{explains},operator = #{operator},deployaddress = #{deployaddress},interfaceaddress = #{interfaceaddress},operationsdirector = #{operationsdirector},contactway = #{contactway}  where id = #{id}
	</select>
	<select id="INSBEdiconfiguration_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBEdiconfiguration
		<where>
			<if test="ediname != null">
				and ediname = #{ediname}
			</if>
			<if test="explains != null">
				and explains = #{explains}
			</if>
			<if test="operator != null">
				and operator = #{operator}
			</if>
		</where>
	</select>
	
	<select id="INSBEdiconfiguration_querydescriptionbyediid" parameterType="Map" resultType="com.zzb.conf.entity.INSBEdidescription">
		select * FROM insbedidescription 
		<where>
			<if test="ediid != null">
				AND ediid = #{ediid}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
		</where>
	</select>
</mapper>