<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- OFUser -->
	<select id="OFUser_insert" parameterType="com.zzb.conf.entity.OFUser"
		resultType="int">
		insert into OFUser
		(username,plainPassword,encryptedPassword,name,email,creationDate,modificationDate)
		values
		(#{username},#{plainPassword},#{encryptedPassword},#{name},#{email},#{creationDate},#{modificationDate})
	</select>

	<select id="OFUser_select" parameterType="Map"
		resultType="com.zzb.conf.entity.OFUser">
		select * from OFUser
		<where>
			<if test="username != null">
				and username = #{username}
			</if>
			<if test="plainPassword != null">
				and plainPassword = #{plainPassword}
			</if>
			<if test="encryptedPassword != null">
				and encryptedPassword = #{encryptedPassword}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="creationDate != null">
				and creationDate = #{creationDate}
			</if>
			<if test="modificationDate != null">
				and modificationDate = #{modificationDate}
			</if>
		</where>
	</select>
	
	<select id="OFUser_selectOne" parameterType="Map"
		resultType="com.zzb.conf.entity.OFUser">
		select * from OFUser
		<where>
			<if test="username != null">
				and username = #{username}
			</if>
			<if test="plainPassword != null">
				and plainPassword = #{plainPassword}
			</if>
			<if test="encryptedPassword != null">
				and encryptedPassword = #{encryptedPassword}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="creationDate != null">
				and creationDate = #{creationDate}
			</if>
			<if test="modificationDate != null">
				and modificationDate = #{modificationDate}
			</if>
		</where>
		LIMIT 1
	</select>
	
	<select id="OFUser_selectByUserName" parameterType="String"
		resultType="com.zzb.conf.entity.OFUser">
		select * from OFUser where username = #{username} LIMIT 1
	</select>
	
	<select id="OFUser_deleteByUserName" parameterType="String">
		delete from
		OFUser where username = #{username}
	</select>
	
	<select id="OFUser_updateByUserName" parameterType="com.zzb.conf.entity.OFUser" resultType="Integer">
		update OFUser 
		<set>	
			<if test="username != null">
				 username = #{username},
			</if>
			<if test="plainPassword != null">
				 plainPassword = #{plainPassword},
			</if>
			<if test="encryptedPassword != null">
				 encryptedPassword = #{encryptedPassword},
			</if>
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="email != null">
				 email = #{email},
			</if>
			<if test="creationDate != null">
				 creationDate = #{creationDate},
			</if>
			<if test="modificationDate != null">
				 modificationDate = #{modificationDate}
			</if>
		</set>
		 where username = #{username}
	</select>
	
	<select id="OFUser_selectCount" parameterType="Map"
		resultType="Long">
			select count(1) from OFUser 
		 <where>
		    <if test="username != null">
				and username = #{username}
			</if>
			<if test="plainPassword != null">
				and plainPassword = #{plainPassword}
			</if>
			<if test="encryptedPassword != null">
				and encryptedPassword = #{encryptedPassword}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="creationDate != null">
				and creationDate = #{creationDate}
			</if>
			<if test="modificationDate != null">
				and modificationDate = #{modificationDate}
			</if>
		</where>
	</select>
</mapper>