<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBChnchargerule --> 
	<select id="INSBChnchargerule_insert" parameterType="com.zzb.conf.entity.INSBChnchargerule" resultType="int">
		insert into INSBChnchargerule
		(id,createtime,modifytime,agreementinterfaceid,charge,converstart,converstartcompar,converend,converendcompar) 
		values
		(#{id},#{createtime},#{modifytime},#{agreementinterfaceid},#{charge},#{converstart},#{converstartcompar},#{converend},#{converendcompar}) 
	</select> 
	
	<select id="INSBChnchargerule_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBChnchargerule">
		select * from INSBChnchargerule
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="agreementinterfaceid != null">
				and agreementinterfaceid = #{agreementinterfaceid}
			</if>
		</where>
	</select>
	
	<select id="INSBChnchargerule_delete" parameterType="Map">
		delete from INSBChnchargerule
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="agreementinterfaceid != null">
				and agreementinterfaceid = #{agreementinterfaceid}
			</if>
		</where>
	</select>  
</mapper>