<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBQuoteconfig -->
	<select id="INSBQuoteconfig_insert" parameterType="com.zzb.conf.entity.INSBQuoteconfig" resultType="int">
		insert into INSBQuoteconfig
		(id,operator,createtime,modifytime,noti,agreementid,autorulequote,autojinglingquote,autoediquote,manualrecord,manuarulelrecord,manualadjust) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{agreementid},#{autorulequote},#{autojinglingquote},#{autoediquote},#{manualrecord},#{manuarulelrecord},#{manualadjust}) 
	</select>
	<select id="INSBQuoteconfig_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBQuoteconfig">
		select * from INSBQuoteconfig
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="autorulequote != null">
				and autorulequote = #{autorulequote}
			</if>
			<if test="autojinglingquote != null">
				and autojinglingquote = #{autojinglingquote}
			</if>
			<if test="autoediquote != null">
				and autoediquote = #{autoediquote}
			</if>
			<if test="manualrecord != null">
				and manualrecord = #{manualrecord}
			</if>
			<if test="manuarulelrecord != null">
				and manuarulelrecord = #{manuarulelrecord}
			</if>
			<if test="manualadjust != null">
				and manualadjust = #{manualadjust}
			</if>
		</where>
	</select>
	<select id="INSBQuoteconfig_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBQuoteconfig">
		select * from INSBQuoteconfig
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="autorulequote != null">
				and autorulequote = #{autorulequote}
			</if>
			<if test="autojinglingquote != null">
				and autojinglingquote = #{autojinglingquote}
			</if>
			<if test="autoediquote != null">
				and autoediquote = #{autoediquote}
			</if>
			<if test="manualrecord != null">
				and manualrecord = #{manualrecord}
			</if>
			<if test="manuarulelrecord != null">
				and manuarulelrecord = #{manuarulelrecord}
			</if>
			<if test="manualadjust != null">
				and manualadjust = #{manualadjust}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBQuoteconfig_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBQuoteconfig">
		select * from INSBQuoteconfig where id = #{id}
	</select>
	<select id="INSBQuoteconfig_selectByAgreementId" parameterType="String" resultType="com.zzb.conf.entity.INSBQuoteconfig">
		select * from INSBQuoteconfig where agreementid = #{agreementid}
	</select>
	
	<select id="INSBQuoteconfig_deleteById" parameterType="String">
		delete from INSBQuoteconfig where id = #{id}
	</select>
	<select id="INSBQuoteconfig_updateById" parameterType="com.zzb.conf.entity.INSBQuoteconfig">
		update INSBQuoteconfig  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},agreementid = #{agreementid},autorulequote = #{autorulequote},autojinglingquote = #{autojinglingquote},autoediquote = #{autoediquote},manualrecord = #{manualrecord},manuarulelrecord = #{manuarulelrecord},manualadjust = #{manualadjust} where id = #{id}
	</select>
	<select id="INSBQuoteconfig_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBQuoteconfig
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="autorulequote != null">
				and autorulequote = #{autorulequote}
			</if>
			<if test="autojinglingquote != null">
				and autojinglingquote = #{autojinglingquote}
			</if>
			<if test="autoediquote != null">
				and autoediquote = #{autoediquote}
			</if>
			<if test="manualrecord != null">
				and manualrecord = #{manualrecord}
			</if>
			<if test="manuarulelrecord != null">
				and manuarulelrecord = #{manuarulelrecord}
			</if>
			<if test="manualadjust != null">
				and manualadjust = #{manualadjust}
			</if>
		</where>
	</select>
</mapper>