<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBUsercommentUploadFile  -->
	<select id="INSBUsercommentUploadFile_insert" parameterType="com.zzb.conf.entity.INSBUsercommentUploadFile" resultType="int">
		insert into INSBUsercommentUploadFile
		(id,operator,createtime,modifytime,noti,usercommentid,codetype)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{usercommentid},#{codetype})
	</select>
	<select id="INSBUsercommentUploadFile_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercommentUploadFile">
		select * from INSBUsercommentUploadFile
		<where>
			<if test="usercommentid != null">
				and usercommentid = #{usercommentid}
			</if>
			<if test="codetype != null">
				and codetype = #{codetype}
			</if>
		</where>
	</select>
	<select id="INSBUsercommentUploadFile_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBUsercommentUploadFile">
		select * from INSBUsercommentUploadFile
		<where>
			<if test="usercommentid != null">
				and usercommentid = #{usercommentid}
			</if>
			<if test="codetype != null">
				and codetype = #{codetype}
			</if>
		</where>
        ORDER BY createtime DESC limit 1;
	</select>
	<select id="INSBUsercommentUploadFile_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBUsercommentUploadFile">
		select * from INSBUsercommentUploadFile where id = #{id}
	</select>
	<select id="INSBUsercommentUploadFile_deleteById" parameterType="String">
		delete from INSBUsercommentUploadFile where id = #{id}
	</select>
	<select id="INSBUsercommentUploadFile_deleteByUserCommentId" parameterType="String">
		delete from INSBUsercommentUploadFile where usercommentid = #{usercommentid}
	</select>

	<select id="INSBUsercommentUploadFile_selectFileIds" parameterType="Map" resultType="Map">
		SELECT fl.id flib_id,fb.id fbus_id FROM insbfilelibrary fl, insbfilebusiness fb
		<where> fl.id = fb.filelibraryid
				AND fb.code=#{taskid}
			<if test="filetypes != null ">
				AND fl.filetype IN
				<foreach collection="filetypes" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<select id="INSBUsercommentUploadFile_updateById" parameterType="com.zzb.conf.entity.INSBUsercommentUploadFile">
		update INSBUsercommentUploadFile  set operator = #{operator},modifytime = NOW(),noti = #{noti},usercommentId = #{usercommentId},codetype = #{codetype} where id = #{id}
	</select>
	<select id="INSBUsercommentUploadFile_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBUsercommentUploadFile
		<where>
			<if test="usercommentid != null">
				and usercommentid = #{usercommentid}
			</if>
			<if test="codetype != null">
				and codetype = #{codetype}
			</if>
		</where>
	</select>
</mapper>