<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBRiskkindconfig -->
	<select id="INSBRiskkindconfig_insert" parameterType="com.zzb.conf.entity.INSBRiskkindconfig" resultType="int">
		insert into INSBRiskkindconfig
		(id,operator,createtime,modifytime,noti,type,riskkindname,riskkindcode,prekindcode,isdeductible,datatemp,isselected,selectkey,isflag) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{type},#{riskkindname},#{riskkindcode},#{prekindcode},#{isdeductible},#{datatemp},#{isselected},#{selectkey},#{isflag}) 
	</select>
	<select id="INSBRiskkindconfig_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkindconfig">
		select * from INSBRiskkindconfig
		<where>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="riskkindname != null">
				and riskkindname = #{riskkindname}
			</if>
			<if test="riskkindcode != null and riskkindcode != '' ">
				and riskkindcode = #{riskkindcode}
			</if>
			<if test="prekindcode != null">
				and prekindcode = #{prekindcode}
			</if>
			<if test="isdeductible != null">
				and isdeductible = #{isdeductible}
			</if>
			<if test="datatemp != null">
				and datatemp = #{datatemp}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
	</select>
		<select id="INSBRiskkindconfig_selectkindBycode" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskkindconfig">
		select * from INSBRiskkindconfig where riskkindcode = #{value}
	</select>
	<select id="INSBRiskkindconfig_selectSection" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkindconfig">
		select * from insbriskkindconfig
		<where>
			riskkindcode not in ('NcfDriverPassengerIns','NcfBasicClause','NcfAddtionalClause','NcfClause','NcfMirrorLightIns',
			'AccidentfranchiseCla','CommercialStamTax','CompulsoryStamTax','VehicleSuspendedIns','MirrorLightIns','TrainnigCarCla','LossOfBaggageIns','SpecifyRepairIns',
			'SpecialVehicleExtensionIns','SpecialCarDemageIns','NcfCompensationForMentalDistressIns')
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="riskkindname != null">
				and riskkindname = #{riskkindname}
			</if>
			<if test="riskkindcode != null">
				and riskkindcode = #{riskkindcode}
			</if>
			<if test="prekindcode != null">
				and prekindcode = #{prekindcode}
			</if>
			<if test="isdeductible != null">
				and isdeductible = #{isdeductible}
			</if>
			<if test="datatemp != null">
				and datatemp = #{datatemp}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
	</select>
	<select id="INSBRiskkindconfig_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkindconfig">
		select * from INSBRiskkindconfig
		<where>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="riskkindname != null">
				and riskkindname = #{riskkindname}
			</if>
			<if test="riskkindcode != null">
				and riskkindcode = #{riskkindcode}
			</if>
			<if test="prekindcode != null">
				and prekindcode = #{prekindcode}
			</if>
			<if test="isdeductible != null">
				and isdeductible = #{isdeductible}
			</if>
			<if test="datatemp != null">
				and datatemp = #{datatemp}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBRiskkindconfig_selectListIn" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskkindconfig">  
	     select * from INSBRiskkindconfig
			 where riskkindcode IN
		     <foreach item="itemRiskKindCode" index="index" collection="riskKindCodeList" open="(" separator="," close=")">  
		      	#{itemRiskKindCode}
		     </foreach>
	</select>  
	<select id="INSBRiskkindconfig_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskkindconfig">
		select * from INSBRiskkindconfig where id = #{id}
	</select>
	
	<select id="INSBRiskkindconfig_selectByDatatemp" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskkindconfig">
		select id from INSBRiskkindconfig where datatemp = #{datatemp}
	</select>
	
	<select id="INSBRiskkindconfig_deleteById" parameterType="String">
		delete from INSBRiskkindconfig where id = #{id}
	</select>
	<select id="INSBRiskkindconfig_updateById" parameterType="com.zzb.conf.entity.INSBRiskkindconfig">
		update INSBRiskkindconfig  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},type = #{type},riskkindname = #{riskkindname},riskkindcode = #{riskkindcode},prekindcode = #{prekindcode},isdeductible = #{isdeductible},datatemp = #{datatemp},isselected = #{isselected},selectkey = #{selectkey},isflag = #{isflag} where id = #{id}
	</select>
	<select id="INSBRiskkindconfig_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRiskkindconfig
		<where>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="riskkindname != null">
				and riskkindname = #{riskkindname}
			</if>
			<if test="riskkindcode != null">
				and riskkindcode = #{riskkindcode}
			</if>
			<if test="prekindcode != null">
				and prekindcode = #{prekindcode}
			</if>
			<if test="isdeductible != null">
				and isdeductible = #{isdeductible}
			</if>
			<if test="datatemp != null">
				and datatemp = #{datatemp}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
	</select>
</mapper>