<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBRiskimg -->
	<select id="INSBRiskimg_insert" parameterType="com.zzb.conf.entity.INSBRiskimg" resultType="int">
		insert into INSBRiskimg
		(id,operator,createtime,modifytime,noti,riskid,riskimgname,riskimgtype,seriesno,isusing) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{riskid},#{riskimgname},#{riskimgtype},#{seriesno},#{isusing}) 
	</select>
	<select id="INSBRiskimg_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskimg">
		select * from INSBRiskimg
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="riskimgname != null">
				and riskimgname = #{riskimgname}
			</if>
			<if test="riskimgtype != null">
				and riskimgtype = #{riskimgtype}
			</if>
			<if test="seriesno != null">
				and seriesno = #{seriesno}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
	</select>
	<select id="INSBRiskimg_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskimg">
		select * from INSBRiskimg
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="riskimgname != null">
				and riskimgname = #{riskimgname}
			</if>
			<if test="riskimgtype != null">
				and riskimgtype = #{riskimgtype}
			</if>
			<if test="seriesno != null">
				and seriesno = #{seriesno}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBRiskimg_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskimg">
		select * from INSBRiskimg where id = #{id}
	</select>
	<select id="INSBRiskimg_selectByModifytime" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskimg">
		select * from INSBRiskimg 
		<where>
				 DATE_FORMAT(modifytime, '%Y-%c-%d') = #{modifytime}
		</where>
	</select>
	
	<select id="INSBRiskimg_selectByModifyDate" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskimg">
		select * from INSBRiskimg where id = #{id}
	</select>
	<select id="INSBRiskimg_deleteById" parameterType="String">
		delete from INSBRiskimg where id = #{id}
	</select>
	<select id="INSBRiskimg_deleteByRiskId" parameterType="String">
		delete from INSBRiskimg where riskid = #{riskid}
	</select>
	<select id="INSBRiskimg_updateById" parameterType="com.zzb.conf.entity.INSBRiskimg">
		update INSBRiskimg  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},riskid = #{riskid},riskimgname = #{riskimgname},riskimgtype = #{riskimgtype},seriesno = #{seriesno},isusing = #{isusing} where id = #{id}
	</select>
	<select id="INSBRiskimg_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRiskimg
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="riskimgname != null">
				and riskimgname = #{riskimgname}
			</if>
			<if test="riskimgtype != null">
				and riskimgtype = #{riskimgtype}
			</if>
			<if test="seriesno != null">
				and seriesno = #{seriesno}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
	</select>
	
	<select id="INSBRiskimg_selectVo" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskimg">
		select id,operator,createtime,modifytime,noti,riskid,riskimgname,
		(select codename FROM  insccode WHERE parentcode ='insuranceimage' and codevalue = img.riskimgtype ) riskimgtype,
		seriesno,(case  when img.isusing='1' then '是' else '否' end) isusing
		from INSBRiskimg img
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="riskimgname != null">
				and riskimgname like CONCAT('%', #{riskimgname},'%') 
			</if>
			<if test="riskimgtype != null">
				and riskimgtype like CONCAT('%',#{riskimgtype},'%')
			</if>
			<if test="seriesno != null">
				and seriesno = #{seriesno}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
	</select>
	
	<select id="INSBRiskimg_selectCountVo" parameterType="Map" resultType="Long">
		select count(1) from INSBRiskimg
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="riskimgname != null">
				and riskimgname like CONCAT('%', #{riskimgname},'%') 
			</if>
			<if test="riskimgtype != null">
				and riskimgtype = #{riskimgtype}
			</if>
			<if test="seriesno != null">
				and seriesno = #{seriesno}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
	</select>
	
	<select id="INSBRiskimg_selectDefaultRiskImg" resultType="com.cninsure.system.entity.INSCCode">
		select * from inscCode where parentcode = 'insuranceimage' and prop2 = 1
	</select>
	
	<select id="INSBRiskimg_selectVoBypage" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskimg">
		select id,operator,createtime,modifytime,noti,riskid,riskimgname,
		(select codename FROM  insccode WHERE parentcode ='insuranceimage' and codevalue = img.riskimgtype ) riskimgtype,
		(select codeorder FROM  insccode WHERE parentcode ='insuranceimage' and codevalue = img.riskimgtype ) codeorder,
		seriesno,(case  when img.isusing='1' then '是' else '否' end) isusing
		from INSBRiskimg img
		<where>
			<if test="riskid != null">
				and riskid = #{riskid}
			</if>
			<if test="riskimgname != null">
				and riskimgname like CONCAT('%', #{riskimgname},'%') 
			</if>
			<if test="riskimgtype != null">
				and riskimgtype = #{riskimgtype}
			</if>
			<if test="seriesno != null">
				and seriesno = #{seriesno}
			</if>
			<if test="isusing != null">
				and isusing = #{isusing}
			</if>
		</where>
		order by codeorder ASC
		limit #{offset},#{limit}
	</select>

	<select id="INSBRiskimg_selectRiskimgByRiskid" parameterType="String"
		resultType="com.zzb.conf.entity.INSBRiskimg">
		SELECT INSBRiskimg.* FROM INSBRiskimg,insccode
		<where>  INSBRiskimg.riskid = #{riskid}
				AND INSBRiskimg.riskimgtype=insccode.codevalue
				AND insccode.parentcode='insuranceimage'
		</where>
		ORDER BY insccode.codeorder ASC
	</select>
	
	<select id="INSBRiskimg_selectRiskimgtypeByRiskid" parameterType="String"
		resultType="String">
		select riskimgtype from INSBRiskimg
		<where>
			riskid = #{riskid}
		</where>
	</select>
	<!-- 通过riskid查询还未添加的影像类型 -->
	<select id="INSBRiskimg_selectNotSelectedRiskimgtypeByRiskid" parameterType="String"
		resultType="com.cninsure.system.entity.INSCCode">
		select * from insccode WHERE parentcode='insuranceimage' 
		AND codevalue not in (select riskimgtype from INSBRiskimg 
		where  riskid = #{riskid})
		ORDER BY codeorder ASC
	</select>
	<select id="INSBRiskimg_deleteByRiskimgtypeRiskid" parameterType="Map"
		resultType="int">
		delete from INSBRiskimg
		<where>
			<if test="riskid !=null">
				 riskid=#{riskid}
			</if>
			<if test="riskimgtype !=null">
				and riskimgtype= #{riskimgtype}
			</if>
		</where>
	</select>

</mapper>