<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBAgreementarea --> 
	<select id="INSBAgreementarea_insert" parameterType="com.zzb.conf.entity.INSBAgreementarea" resultType="int">
		insert into INSBAgreementarea
		(id,operator,createtime,modifytime,noti,agreementid,province,city) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{agreementid},#{province},#{city}) 
	</select>
	<select id="INSBAgreementarea_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBAgreementarea">
		select * from INSBAgreementarea
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
		</where>
	</select>
	<select id="INSBAgreementarea_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBAgreementarea">
		select * from INSBAgreementarea where id = #{id}
	</select>
	<select id="INSBAgreementarea_deleteById" parameterType="String">
		delete from INSBAgreementarea where id = #{id}
	</select>
	<select id="INSBAgreementarea_updateById" parameterType="com.zzb.conf.entity.INSBAgreementarea">
		update INSBAgreementarea  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},agreementid = #{agreementid},province = #{province},city = #{city} where id = #{id}
	</select>
	<select id="INSBAgreementarea_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBAgreementarea
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
		</where>
	</select>
	<select id="INSBAgreementarea_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBAgreementarea">
		select * from INSBAgreementarea
		<where>
			<if test="agreementid != null">
				and agreementid = #{agreementid}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBAgreementarea_selectByChannelinnercode" parameterType="Map" resultType="Map">
		select DISTINCT
			(a.city),
			d.comcodename AS cityname,
			a.province,
			e.comcodename as provincename
		FROM
			insbagreementarea a,
			insbchannelagreement b,
			insbchannel c,
			insbregion d,
			insbregion e
		WHERE
			a.agreementid = b.id
		AND b.channelid = c.id
		AND b.deptid = c.deptid
		AND a.city = d.comcode
		AND a.province = e.comcode
		AND a.city IS NOT NULL
		AND (
			c.deleteflag != 0
			OR c.deleteflag IS NULL
		)
		AND b.agreementstatus = '1'
		AND c.channelinnercode = #{channelinnercode}
		
		<if test="province != null">
			and a.province = #{province}
		</if>
	</select>

	<select id="INSBAgreementarea_selectJobNumByChannelinnercode" parameterType="Map" resultType="Map">
		select DISTINCT
		(a.city),
		d.comcodename AS cityname,
		a.province,
		e.comcodename as provincename,
		c.jobnum
		FROM
		insbagreementarea a,
		insbchannelagreement b,
		insbchannel c,
		insbregion d,
		insbregion e
		WHERE
		a.agreementid = b.id
		AND b.channelid = c.id
		AND b.deptid = c.deptid
		AND a.city = d.comcode
		AND a.province = e.comcode
		AND a.city IS NOT NULL
		and IFNULL(c.jobnum,'') != ''
		AND (
		c.deleteflag != 0
		OR c.deleteflag IS NULL
		)
		AND b.agreementstatus = '1'
		AND c.channelinnercode = #{channelinnercode}

		<if test="province != null">
			and a.province = #{province}
		</if>
	</select>

</mapper>