<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBWorkflowsubtrack -->
	<select id="INSBWorkflowsubtrack_insert" parameterType="com.zzb.conf.entity.INSBWorkflowsubtrack" resultType="int">
		insert into INSBWorkflowsubtrack
		(id,operator,createtime,modifytime,noti,instanceid,maininstanceid,starttaskid,taskid,taskcode,taskstate,createby,groupid,operatorstate) 
		values 
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{instanceid},#{maininstanceid},#{starttaskid},#{taskid},#{taskcode},#{taskstate},#{createby},#{groupid},#{operatorstate}) 
	</select>
	
	<select id="INSBWorkflowsubtrack_insertBySubTable" parameterType="com.zzb.conf.entity.INSBWorkflowsub" resultType="int">
		insert into INSBWorkflowsubtrack
		(id,operator,createtime,modifytime,noti,instanceid,maininstanceid,starttaskid,taskid,taskcode,taskstate,createby,operatorstate) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{instanceid},#{maininstanceid},#{starttaskid},#{taskid},#{taskcode},#{taskstate},#{createby},#{operatorstate}) 
	</select>

	<insert id="INSBWorkflowsubtrack_insertBatchBySubTable" parameterType="ArrayList">
		insert into INSBWorkflowsubtrack
		(id,operator,createtime,modifytime,noti,instanceid,maininstanceid,starttaskid,taskid,taskcode,taskstate,createby,operatorstate)
		values
		<foreach collection="list" item="obj" index="index" separator="," >
			(#{obj.id},#{obj.operator},#{obj.createtime},#{obj.modifytime},#{obj.noti},#{obj.instanceid},#{obj.maininstanceid},
			#{obj.starttaskid},#{obj.taskid},#{obj.taskcode},#{obj.taskstate},#{obj.createby},#{obj.operatorstate})
		</foreach>
	</insert>
	
	<select id="INSBWorkflowsubtrack_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack
		<where>
			<if test="instanceid != null">
				and instanceid = #{instanceid}
			</if>
			<if test="operatorstate != null">
				and operatorstate = #{operatorstate}
			</if>
			<if test="maininstanceid != null">
				and maininstanceid = #{maininstanceid}
			</if>
			<if test="starttaskid != null">
				and starttaskid = #{starttaskid}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="taskcode != null">
				and taskcode = #{taskcode}
			</if>
			<if test="taskstate != null">
				and taskstate = #{taskstate}
			</if>
			<if test="createby != null">
				and createby = #{createby}
			</if>
		</where>
		order by createtime desc
	</select>
	
	<select id="INSBWorkflowsubtrack_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack
		<where>
			<if test="instanceid != null">
				and instanceid = #{instanceid}
			</if>
			<if test="operatorstate != null">
				and operatorstate = #{operatorstate}
			</if>
			<if test="maininstanceid != null">
				and maininstanceid = #{maininstanceid}
			</if>
			<if test="starttaskid != null">
				and starttaskid = #{starttaskid}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="taskcode != null">
				and taskcode = #{taskcode}
			</if>
			<if test="taskstate != null">
				and taskstate = #{taskstate}
			</if>
			<if test="createby != null">
				and createby = #{createby}
			</if>
		</where>
        order by createtime desc
		limit 1
	</select>
	
	<select id="INSBWorkflowsubtrack_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack where id = #{id}
	</select>
	
	<select id="INSBWorkflowsubtrack_selectUserCodesByTimeAndTaskNum4Task" parameterType="Map" resultType="Map">
		select count(maininstanceid) num,operator from INSBWorkflowsubtrack 
		<where>
			taskstate !='Completed' and taskstate !='Closed' 
			<if test="userList !=null">
				and operator in 
				<foreach collection="userList" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="startTime !=null and endTime !=null">
				and createtime between STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
		GROUP BY operator order by num asc
	</select>
	
	<select id="INSBWorkflowsubtrack_selectUserCodesByTimeAndTaskNumAll4Task" parameterType="Map" resultType="Map">
		select count(maininstanceid) num,operator from INSBWorkflowsubtrack 
		<where>1=1
			<if test="userList !=null">
				 and operator in 
				<foreach collection="userList" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="startTime !=null and endTime !=null">
				and createtime between STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
		GROUP BY operator order by num asc
	</select>
	
	<select id="INSBWorkflowsubtrack_selectByInstanceId4h5" parameterType="Map" resultType="Map">
		select case  when  taskcode in (1,2,3,4,6,7,8,31,32) then '01报价中'
					when taskcode='13' then '02退回修改'
					when taskcode='14' then '03报价成功'
					when taskcode='15' then '04报价中'
					when taskcode in (16,17,18) then '05核保中'
					when taskcode='19'  then '05核保退回'
					when taskcode in (20,21) then '07核保成功'
					when taskcode in (25,26,27,28) then '08支付成功'
					when taskcode in (23,24,29) then '09完成'
					when taskcode='30' then '10关闭'
					when taskcode='34' then '11取消承保'
					when taskcode='36' then '12暂停支付'  else '99' end as status,
					DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%s') createtime
					from INSBWorkflowsubtrack 
					where  maininstanceid=#{maininstanceid} and instanceid=#{instanceid} order by createtime 
	</select>
	
	
	<select id="INSBWorkflowsubtrack_selectByInstanceIdTaskCode" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack where instanceid = #{instanceid} and taskcode=#{taskcode} ORDER BY createtime DESC
	</select>
	
	<select id="INSBWorkflowsubtrack_selectAllTrackByInstanceId" parameterType="String" resultType="Map">
		select a.*,b.codename taskname ,c.codename taskstatestr
		from INSBWorkflowsubtrack a 
		left join insccode b on b.codetype='workflowNodelName' and a.taskcode=b.codevalue  
		left join insccode c on c.codetype='workflowtaskstatus' and a.taskstate=c.codevalue
		where instanceid = #{instanceid} order by a.createtime
	</select>
	
	<select id="INSBWorkflowsubtrack_deleteById" parameterType="String">
		delete from INSBWorkflowsubtrack where id = #{id}
	</select>
	<select id="INSBWorkflowsubtrack_updateById" parameterType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		update INSBWorkflowsubtrack  set groupid=#{groupid}, operator = #{operator},modifytime = #{modifytime},noti = #{noti},instanceid = #{instanceid},maininstanceid = #{maininstanceid},starttaskid = #{starttaskid},taskid = #{taskid},taskcode = #{taskcode},taskstate = #{taskstate},createby = #{createby},operatorstate=#{operatorstate} where id = #{id}
	</select>
	
	
	<select id="INSBWorkflowsubtrack_updateySubTable" parameterType="com.zzb.conf.entity.INSBWorkflowsub">
		update INSBWorkflowsubtrack  set groupid=#{groupid}, operator = #{operator},modifytime = #{modifytime},noti = #{noti},instanceid = #{instanceid},maininstanceid = #{maininstanceid},starttaskid = #{starttaskid},taskid = #{taskid},taskcode = #{taskcode},taskstate = #{taskstate},createby = #{createby} ,operatorstate=#{operatorstate} where id = #{id}
	</select>
	
	
	<select id="INSBWorkflowsubtrack_updateTaskStatusBylogicId" parameterType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		update INSBWorkflowsubtrack  set taskstate = #{taskstate} where id = #{id}
	</select>
	<select id="INSBWorkflowsubtrack_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBWorkflowsubtrack
		<where>
			<if test="instanceid != null">
				and instanceid = #{instanceid}
			</if>
			<if test="maininstanceid != null">
				and maininstanceid = #{maininstanceid}
			</if>
			<if test="starttaskid != null">
				and starttaskid = #{starttaskid}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="taskcode != null">
				and taskcode = #{taskcode}
			</if>
			<if test="taskstate != null">
				and taskstate = #{taskstate}
			</if>
			<if test="createby != null">
				and createby = #{createby}
			</if>
		</where>
	</select>
	<select id="INSBWorkflowsubtrack_getQuoteInfo" parameterType="String" resultType="Map">
		select ws.taskcode,p.prvshotname,u.name  FROM insbworkflowsubtrack ws LEFT JOIN insbquoteinfo q	ON ws.instanceid=q.workflowinstanceid 
		LEFT JOIN inscuser u ON u.usercode=ws.operator 
		LEFT JOIN insbprovider p ON q.inscomcode=p.prvcode
		WHERE ws.maininstanceid=#{taskid}
	</select>
	
	<select id="INSBWorkflowsubtrack_findPrevWorkFlowSub" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack 
			where instanceid = #{instanceid} and taskcode &lt;&gt;#{taskcode}
			order by createtime desc
	</select>
	
	<select id="INSBWorkflowsubtrack_getWorkflowsubBySubId" parameterType="String" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack 
			where instanceid = #{instanceid} and taskstate != 'Closed'
			order by createtime desc
	</select>
	
	<select id="INSBWorkflowsubtrack_selectOneByTaskidAndInscomcode" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		SELECT s.* FROM insbquoteinfo q,insbworkflowsubtrack s 
		WHERE q.workflowinstanceid = s.instanceid AND q.inscomcode = #{inscomcode} 
		AND s.maininstanceid = #{taskid} AND s.taskcode = '20' ORDER BY s.createtime DESC LIMIT 1;
	</select>

	<select id="INSBWorkflowsubtrack_selectLockConf" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		SELECT st.* FROM INSBWorkflowsubtrack st
		LEFT JOIN INSBQuoteinfo q ON st.`instanceid` = q.`workflowinstanceid`
		LEFT JOIN INSBQuotetotalinfo qt ON qt.`id` = q.`quotetotalinfoid`
		<where>
			<if test="taskcode != null and taskcode !=''">
				and st.`taskcode` = #{taskcode}
			</if>
			<if test="taskstate != null and taskstate !=''">
				and st.`taskstate` = #{taskstate}
			</if>
			<if test="inscomcode != null and inscomcode !=''">
				and q.`inscomcode`= #{inscomcode}
			</if>
			<if test="taskid != null and taskid !=''">
				and qt.`taskid`= #{taskid}
			</if>
		</where>
		order by st.modifytime desc , st.createtime desc
	</select>
	
	<select id="INSBWorkflowsubtrack_selectbyInstanceId" parameterType="String" resultType="Map">
			select 
			s.maininstanceid,
			q.inscomcode 
			FROM insbworkflowsub s 
			INNER JOIN insbQuoteinfo q ON q.workflowinstanceid= s.instanceid
			WHERE s.instanceid=#{instanceid}
			ORDER BY s.createtime DESC LIMIT 1;
	</select>
	
	<select id="INSBWorkflowsubtrack_selectByTaskcodeList" parameterType="Map" resultType="com.zzb.conf.entity.INSBWorkflowsubtrack">
		select * from INSBWorkflowsubtrack 
		<where>
			1=1 
			<if test="taskid != null">
				and maininstanceid=#{taskid}
			</if>
			<if test="taskcodelist !=null">
				 and taskcode in 
				<foreach collection="taskcodelist" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>