<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBElfconf -->
	<select id="INSBElfconf_insert" parameterType="com.zzb.conf.entity.INSBElfconf" resultType="int">
		insert into INSBElfconf
		(id,operator,createtime,modifytime,noti,elfname,elftype,elfpath,capacityconf,proid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{elfname},#{elftype},#{elfpath},#{capacityconf},#{proid}) 
	</select>
	<select id="INSBElfconf_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBElfconf">
		select * from INSBElfconf
		<where>
			<if test="elfname != null">
				and elfname = #{elfname}
			</if>
			<if test="elfpath != null">
				and elfpath = #{elfpath}
			</if>
			<if test="elftype != null">
				and elftype = #{elftype}
			</if>
		</where>
		limit #{offset},#{limit}
	</select>
	<select id="INSBElfconf_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBElfconf">
		select * from INSBElfconf
		<where>
			<if test="elfname != null">
				and elfname = #{elfname}
			</if>
			<if test="elfpath != null">
				and elfpath = #{elfpath}
			</if>
			<if test="elftype != null">
				and elftype = #{elftype}
			</if>
		</where>
		LIMIT 2
	</select>
	
	<select id="INSBElfconf_selectrownum" parameterType="Map" resultType="com.zzb.conf.entity.INSBElfconf">
        select @rownum:=@rownum+1 as rownum, a.* from INSBElfconf a,(SELECT @rownum:=0) b
		<where>
			<if test="elfname != null">
				and elfname = #{elfname}
			</if>
			<if test="elfpath != null">
				and elfpath = #{elfpath}
			</if>
			<if test="elftype != null">
				and elftype = #{elftype}
			</if>
		</where>
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 a.createtime desc 
		</if>
		limit #{offset},#{limit}
	</select>
	
	<select id="INSBElfconf_abilityListByelfidPaging" parameterType="Map" resultType="com.zzb.model.elfAbilityModel">
		select conf.id confid,conf.conftype ability,pro.prvname providername,dept.comname deptname FROM insbprovider pro,inscdept dept,insbautoconfigshow conf 
		<where>
			conf.providerid = pro.id 	AND dept.id = conf.deptid  AND conf.contentid = #{elfid}
			<if test="deptid != null and deptid != ''">
				and conf.deptid = #{deptid}
			</if>
			<if test="providerid != null and providerid !=''">
				and conf.providerid = #{providerid}
			
			</if>
			<if test="confid != null and confid != ''">
				and conf.contentid = #{confid}
			</if>
		</where>
		limit #{offset},#{limit}
	</select>
	<select id="INSBElfconf_abilityListByelfidPagingCount" parameterType="Map" resultType="int">
		select count(1) FROM insbprovider pro,inscdept dept,insbautoconfigshow conf 
		<where>
			conf.providerid = pro.id 	AND dept.id = conf.deptid  AND conf.contentid = #{elfid}
			<if test="deptid != null and deptid != ''">
				and conf.deptid = #{deptid}
			</if>
			<if test="providerid != null and providerid !=''">
				and conf.providerid = #{providerid}
			
			</if>
			<if test="confid != null and confid != ''">
				and conf.contentid = #{confid}
			</if>
		</where>
	</select>
	
	<select id="INSBElfconf_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBElfconf">
		select * from INSBElfconf where id = #{id}
	</select>
	<select id="INSBElfconf_selectByPid"  resultType="com.zzb.conf.entity.INSBElfconf">
		select id,elfname from INSBElfconf where proid=#{providerid}
	</select>
	<select id="INSBElfconf_queryElfAll"  resultType="com.zzb.conf.entity.INSBElfconf">
		select id,elfname from INSBElfconf 
	</select>
	<select id="INSBElfconf_deleteById" parameterType="String">
		delete from INSBElfconf where id = #{id}
	</select>
	<select id="INSBElfconf_updateById" parameterType="com.zzb.conf.entity.INSBElfconf">
		update INSBElfconf  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},elfname = #{elfname},elftype = #{elftype},elfpath = #{elfpath},capacityconf = #{capacityconf},proid=#{proid} where id = #{id}
	</select>
	<select id="INSBElfconf_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBElfconf
		<where>
			<if test="elfname != null">
				and elfname = #{elfname}
			</if>
			<if test="elfpath != null">
				and elfpath = #{elfpath}
			</if>
		</where>
	</select>
	
</mapper>