<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBPermissionallot -->
	<select id="INSBPermissionallot_insert" parameterType="com.zzb.conf.entity.INSBPermissionallot" resultType="int">
		insert into INSBPermissionallot
		(id,operator,createtime,modifytime,noti,setid,permissionid,permissionname,frontstate,functionstate,validtimestart,validtimeend,abort,num,warningtimes)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{setid},#{permissionid},#{permissionname},#{frontstate},#{functionstate},#{validtimestart},#{validtimeend},#{abort},#{num},#{warningtimes})
	</select>
	
	<select id="INSBPermissionallot_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBPermissionallot">
		select * from INSBPermissionallot
		<where>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="permissionid != null">
				and permissionid = #{permissionid}
			</if>
			<if test="permissionname != null">
				and permissionname = #{permissionname}
			</if>
			<if test="frontstate != null">
				and frontstate = #{frontstate}
			</if>
			<if test="functionstate != null">
				and functionstate = #{functionstate}
			</if>
			<if test="validtimestart != null">
				and validtimestart = #{validtimestart}
			</if>
			<if test="validtimeend != null">
				and validtimeend = #{validtimeend}
			</if>
			<if test="abort != null">
				and abort = #{abort}
			</if>
			<if test="num != null">
				and num = #{num}
			</if>
		</where>
	</select>
	<select id="INSBPermissionallot_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBPermissionallot">
		select * from INSBPermissionallot
		<where>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="permissionid != null">
				and permissionid = #{permissionid}
			</if>
			<if test="permissionname != null">
				and permissionname = #{permissionname}
			</if>
			<if test="frontstate != null">
				and frontstate = #{frontstate}
			</if>
			<if test="functionstate != null">
				and functionstate = #{functionstate}
			</if>
			<if test="validtimestart != null">
				and validtimestart = #{validtimestart}
			</if>
			<if test="validtimeend != null">
				and validtimeend = #{validtimeend}
			</if>
			<if test="abort != null">
				and abort = #{abort}
			</if>
			<if test="num != null">
				and num = #{num}
			</if>
		</where>
		limit 2
	</select>
	
	
	<select id="INSBPermissionallot_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBPermissionallot">
		select * from INSBPermissionallot where id = #{id}
	</select>
	
	<select id="INSBPermissionallot_selectPermissionIdBySetId" parameterType="String" resultType="String">
		select permissionid from INSBPermissionallot where setid = #{setId}
	</select>
	<select id="INSBPermissionallot_selectBySetId" parameterType="String" resultType="com.zzb.conf.entity.INSBPermissionallot">
		select * from INSBPermissionallot where setid = #{setId}
	</select>

	<select id="INSBPermissionallot_selectPermissionBySetId" parameterType="String" resultType="Map">
		select permission.permissionname,permission.permissionpath
		FROM INSBPermissionallot allot LEFT JOIN insbpermission permission ON allot.`permissionid` = permission.`id`
		WHERE allot.setid = #{setId}
	</select>


	<select id="INSBPermissionallot_deleteById" parameterType="String">
		delete from INSBPermissionallot where id = #{id}
	</select>
	
	<select id="INSBPermissionallot_deleteBySetId" parameterType="String">
		delete from INSBPermissionallot where setid = #{setId}
	</select>
	<select id="INSBPermissionallot_updateById" parameterType="com.zzb.conf.entity.INSBPermissionallot">
		update INSBPermissionallot  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},setid = #{setid},permissionid = #{permissionid},permissionname = #{permissionname},frontstate = #{frontstate},functionstate = #{functionstate},validtimestart = #{validtimestart},validtimeend = #{validtimeend},abort = #{abort},num = #{num},warningtimes = #{warningtimes}  where id = #{id}
	</select>
	<select id="INSBPermissionallot_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPermissionallot
		<where>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="num != null">
				and num = #{num}
			</if>
			<if test="permissionid != null">
				and permissionid = #{permissionid}
			</if>
			<if test="permissionname != null">
				and permissionname = #{permissionname}
			</if>
			<if test="frontstate != null">
				and frontstate = #{frontstate}
			</if>
			<if test="functionstate != null">
				and functionstate = #{functionstate}
			</if>
			<if test="validtimestart != null">
				and validtimestart = #{validtimestart}
			</if>
			<if test="validtimeend != null">
				and validtimeend = #{validtimeend}
			</if>
			<if test="abort != null">
				and abort = #{abort}
			</if>
		</where>
	</select>
</mapper>