<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBTaskprivilege -->
	<select id="INSBTaskprivilege_insert" parameterType="com.zzb.conf.entity.INSBTaskprivilege" resultType="int">
		insert into INSBTaskprivilege
		(id,operator,createtime,modifytime,noti,pcode,code,name,level,orderflag) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{pcode},#{code},#{name},#{level},#{orderflag}) 
	</select>
	<select id="INSBTaskprivilege_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBTaskprivilege">
		select * from INSBTaskprivilege
		<where>
			<if test="pid != null">
				and pid = #{pid}
			</if>
			<if test="code != null">
				and code = #{code}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
			<if test="orderflag != null">
				and orderflag = #{orderflag}
			</if>
		</where>
	</select>
	<select id="INSBTaskprivilege_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBTaskprivilege">
		select * from INSBTaskprivilege
		<where>
			<if test="pid != null">
				and pid = #{pid}
			</if>
			<if test="code != null">
				and code = #{code}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
			<if test="orderflag != null">
				and orderflag = #{orderflag}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBTaskprivilege_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBTaskprivilege">
		select * from INSBTaskprivilege where id = #{id}
	</select>
	<select id="INSBTaskprivilege_selectByPCode" parameterType="String" resultType="com.zzb.conf.entity.INSBTaskprivilege">
		select * from INSBTaskprivilege where pcode = #{pcode} order by pcode,code,orderflag
	</select>
	
	<select id="INSBTaskprivilege_deleteById" parameterType="String">
		delete from INSBTaskprivilege where id = #{id}
	</select>
	
	<select id="INSBTaskprivilege_updateById" parameterType="com.zzb.conf.entity.INSBTaskprivilege">
		update INSBTaskprivilege  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},pid = #{pid},code = #{code},name = #{name},level = #{level},orderflag = #{orderflag} where id = #{id}
	</select>
	<select id="INSBTaskprivilege_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBTaskprivilege
		<where>
			<if test="pid != null">
				and pid = #{pid}
			</if>
			<if test="code != null">
				and code = #{code}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
			<if test="orderflag != null">
				and orderflag = #{orderflag}
			</if>
		</where>
	</select>
</mapper>