<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBRiskplanrelation -->
	<select id="INSBRiskplanrelation_insert" parameterType="com.zzb.conf.entity.INSBRiskplanrelation" resultType="int">
		insert into INSBRiskplanrelation
		(id,operator,createtime,modifytime,noti,planname,plankey,riskkindid,isshow,isselected,selectkey,isflag) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{planname},#{plankey},#{riskkindid},#{isshow},#{isselected},#{selectkey},#{isflag}) 
	</select>
	<select id="INSBRiskplanrelation_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskplanrelation">
		select * from INSBRiskplanrelation
		<where>
			<if test="planname != null">
				and planname = #{planname}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="riskkindid != null">
				and riskkindid = #{riskkindid}
			</if>
			<if test="isshow != null">
				and isshow = #{isshow}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
	</select>
	<select id="INSBRiskplanrelation_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBRiskplanrelation">
		select * from INSBRiskplanrelation
		<where>
			<if test="planname != null">
				and planname = #{planname}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="riskkindid != null">
				and riskkindid = #{riskkindid}
			</if>
			<if test="isshow != null">
				and isshow = #{isshow}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBRiskplanrelation_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBRiskplanrelation">
		select * from INSBRiskplanrelation where id = #{id}
	</select>
	<select id="INSBRiskplanrelation_deleteById" parameterType="String">
		delete from INSBRiskplanrelation where id = #{id}
	</select>
	<select id="INSBRiskplanrelation_updateById" parameterType="com.zzb.conf.entity.INSBRiskplanrelation">
		update INSBRiskplanrelation  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},planname = #{planname},plankey = #{plankey},riskkindid = #{riskkindid},isshow = #{isshow},isselected = #{isselected},selectkey = #{selectkey},isflag = #{isflag} where id = #{id}
	</select>
	<select id="INSBRiskplanrelation_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRiskplanrelation
		<where>
			<if test="planname != null">
				and planname = #{planname}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="riskkindid != null">
				and riskkindid = #{riskkindid}
			</if>
			<if test="isshow != null">
				and isshow = #{isshow}
			</if>
			<if test="isselected != null">
				and isselected = #{isselected}
			</if>
			<if test="selectkey != null">
				and selectkey = #{selectkey}
			</if>
			<if test="isflag != null">
				and isflag = #{isflag}
			</if>
		</where>
	</select>
	
	<select id="INSBRiskplanrelation_selectAllPlankey" resultType="com.zzb.conf.entity.INSBRiskplanrelation">
		select * FROM insbRiskplanrelation GROUP BY plankey
	</select>
	
</mapper>