<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBRegion -->
	<select id="INSBRegion_insert" parameterType="com.zzb.conf.entity.INSBRegion" resultType="int">
		insert into INSBRegion
		(id,operator,createtime,modifytime,noti,comcode,comcodename,parentid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{comcode},#{comcodename},#{parentid}) 
	</select>
	<select id="INSBRegion_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBRegion">
		select * from INSBRegion
		<where>
			<if test="comcode != null">
				and comcode = #{comcode}
			</if>
			<if test="comcodename != null">
				and comcodename = #{comcodename}
			</if>
			<if test="parentid != null">
				and parentid = #{parentid}
			</if>
		</where>
	</select>
	<select id="INSBRegion_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBRegion">
		select * from INSBRegion
		<where>
			<if test="comcode != null">
				and comcode = #{comcode}
			</if>
			<if test="comcodename != null">
				and comcodename = #{comcodename}
			</if>
			<if test="parentid != null">
				and parentid = #{parentid}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBRegion_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBRegion">
		select * from INSBRegion where id = #{id}
	</select>
	<select id="INSBRegion_deleteById" parameterType="String">
		delete from INSBRegion where id = #{id}
	</select>
	<select id="INSBRegion_updateById" parameterType="com.zzb.conf.entity.INSBRegion">
		update INSBRegion  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},comcode = #{comcode},comcodename = #{comcodename},parentid = #{parentid},
		register = #{register},deptid = #{deptid},shortname = #{shortname}
		 where id = #{id}
	</select>
	<select id="INSBRegion_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRegion
		<where>
			<if test="comcode != null">
				and comcode = #{comcode}
			</if>
			<if test="comcodename != null">
				and comcodename = #{comcodename}
			</if>
			<if test="parentid != null">
				and parentid = #{parentid}
			</if>
		</where>
	</select>
	<select id="INSBRegion_parentcode" parameterType="String" resultType="Map">
		select * FROM insbregion WHERE parentid = #{parentcode}
	</select>
	<select id="INSBRegion_getAllCity" parameterType="String" resultType="Map">
		select DISTINCT c.city as comcode,r.comcodename FROM inscdept c LEFT JOIN insbregion r 
		on c.city = r.id WHERE EXISTS (select 1 FROM insbOutorderdept d WHERE c.id =d.deptid5) 
		and c.province = #{parentcode} and c.city is not null and c.city != '' and r.`register` = '1'
	</select>
	<select id="INSBRegion_getAllCountry" parameterType="String" resultType="Map">
		select DISTINCT c.county as comcode,r.comcodename FROM inscdept c LEFT JOIN insbregion r 
		on c.county = r.id WHERE EXISTS (select 1 FROM insbOutorderdept d WHERE c.id =d.deptid5) 
		and c.city = #{parentcode} and c.county is not null and c.county != '' and r.`register` = '1'
	</select>
	<select id="INSBRegion_getRegisterProvince" resultType="Map">
		select * FROM insbregion WHERE parentid = '0' and register = '1'
	</select>
	<select id="INSBRegion_parentcodefromSD" parameterType="Map" resultType="Map">
		select * FROM insbregion
		<where>
			<if test="parentcode!=null ">
				and parentid = #{parentcode}
			</if>
			<if test="comcode!=null">
				and comcode = #{comcode}
			</if>
		</where>
	</select>

	<select id="INSBRegion_selectByIds" resultType="java.util.List">
		SELECT * FROM insbregion
		WHERE id  IN
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
</mapper>