<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBItemprovidestatus -->
	<select id="INSBItemprovidestatus_insert" parameterType="com.zzb.conf.entity.INSBItemprovidestatus" resultType="int">
		insert into INSBItemprovidestatus
		(id,operator,createtime,modifytime,noti,setid,provideid,limitstatus) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{setid},#{provideid},#{limitstatus}) 
	</select>
	<select id="INSBItemprovidestatus_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBItemprovidestatus">
		select * from INSBItemprovidestatus
		<where>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="provideid != null">
				and provideid = #{provideid}
			</if>
			<if test="limitstatus != null">
				and limitstatus = #{limitstatus}
			</if>
		</where>
	</select>
	<select id="INSBItemprovidestatus_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBItemprovidestatus">
		select * from INSBItemprovidestatus
		<where>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="provideid != null">
				and provideid = #{provideid}
			</if>
			<if test="limitstatus != null">
				and limitstatus = #{limitstatus}
			</if>
		</where>
		LIMIT 2
	</select>	
	<select id="INSBItemprovidestatus_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBItemprovidestatus">
		select * from INSBItemprovidestatus where id = #{id}
	</select>
	
	<select id="INSBItemprovidestatus_selectBySetId" parameterType="String" resultType="com.zzb.conf.entity.INSBItemprovidestatus">
		select * from INSBItemprovidestatus where setid = #{setId}
	</select>
	
	<select id="INSBItemprovidestatus_selectProviderBySetId" parameterType="String" resultType="String">
		select provideid from INSBItemprovidestatus where setid = #{setId}
	</select>
	
	<select id="INSBItemprovidestatus_deleteById" parameterType="String">
		delete from INSBItemprovidestatus where id = #{id}
	</select>
	<select id="INSBItemprovidestatus_deleteBySetIdProviderId" parameterType="String">
		delete from INSBItemprovidestatus where provideid = #{provideId} and setid=#{setId}
	</select>
	
	<select id="INSBItemprovidestatus_deleteBySetId" parameterType="String">
		delete from INSBItemprovidestatus where setid=#{setId}
	</select>
	<select id="INSBItemprovidestatus_updateById" parameterType="com.zzb.conf.entity.INSBItemprovidestatus">
		update INSBItemprovidestatus  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},setid = #{setid},provideid = #{provideid},limitstatus = #{limitstatus} where id = #{id}
	</select>
	<select id="INSBItemprovidestatus_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBItemprovidestatus
		<where>
			<if test="setid != null">
				and setid = #{setid}
			</if>
			<if test="provideid != null">
				and provideid = #{provideid}
			</if>
			<if test="limitstatus != null">
				and limitstatus = #{limitstatus}
			</if>
		</where>
	</select>
</mapper>