<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.mobile.entity">

	<select id="INSBPersonalLotteryCodeInfo_getNewRank"  parameterType="int"  resultType="com.zzb.mobile.model.marketing.PersonalRankInfoModel">
       SELECT c.agentCode, c.agentName,c.referrals, c.deptid AS orgCodeFive , c.orgname AS orgName FROM
         (
            SELECT a.referee AS agentCode, b.`name` AS agentName, count(1) AS referrals,max(a.createtime) AS registertimeorder, b.deptid , (SELECT SUBSTR(e.shortname ,1 ,2)FROM inscdept e WHERE id = SUBSTR(d.parentcodes,25,10))AS orgname
		    FROM insbagentmarketingnew a
            LEFT JOIN insbagent b ON a.referee = b.jobnum
            LEFT JOIN  inscdept d ON b.deptid = d.id
		    WHERE  b.agentkind = 2 AND b.jobnumtype = 2 AND b.approvesstate = 3 AND IFNULL(b.usersource,'') != 'minizzb'
            GROUP BY a.referee ORDER BY referrals DESC ,registertimeorder ASC
         ) AS c LIMIT #{limit};
    </select>

	<select id="INSBPersonalLotteryCodeInfo_getWeekRank"  parameterType="Map"
			resultType="com.zzb.mobile.model.marketing.PersonalRankInfoModel">
		SELECT c.agentCode, c.agentName,c.referrals, c.deptid AS orgCodeFive , c.orgname AS orgName
          FROM(
                SELECT a.referee AS agentCode, b.`name` AS agentName, count(1) AS referrals,
                  max(a.createtime) AS registertimeorder, b.deptid ,
                  (SELECT SUBSTR(e.shortname ,1 ,2)FROM inscdept e WHERE id = SUBSTR(d.parentcodes,25,10))AS orgname
                FROM insbagentmarketingnew a
                LEFT JOIN insbagent b ON a.referee = b.jobnum
                LEFT JOIN  inscdept d ON b.deptid = d.id
		        WHERE  b.agentkind = 2 AND b.jobnumtype = 2 AND b.approvesstate = 3 AND IFNULL(b.usersource,'') != 'minizzb' AND a.createtime  &gt; #{start} AND a.createtime &lt; #{end} GROUP BY a.referee
		        ORDER BY referrals DESC ,registertimeorder ASC
		  )AS c limit #{limit};
	</select>


	<select id="INSBPersonalLotteryCodeInfo_getNewMylotteryInfo" parameterType="String"  resultType="com.zzb.mobile.model.marketing.PersonalRankInfoModel">
    SELECT a.referee AS agentCode, b.`name` AS agentName, count(1) AS referrals , b.deptid AS orgCodeFive,
           (SELECT SUBSTR(e.shortname ,1 ,2)FROM inscdept e WHERE id = SUBSTR(d.parentcodes,25,10))AS orgname
      FROM insbagentmarketingnew a
      LEFT JOIN insbagent b ON a.referee = b.agentcode
      LEFT JOIN inscdept d ON d.id = b.deptid
		  WHERE  b.agentkind = 2 AND b.jobnumtype = 2 AND b.approvesstate = 3 AND IFNULL(b.usersource,'') != 'minizzb' AND a.referee = #{agentcode}
      GROUP BY a.referee
	</select>

	<select id="INSBPersonalLotteryCodeInfo_getWeekMylotteryInfo" parameterType="Map"
			resultType="com.zzb.mobile.model.marketing.PersonalRankInfoModel">

		SELECT a.referee AS agentCode, b.`name` AS agentName, count(1) AS referrals , b.deptid AS orgCodeFive,
             (SELECT SUBSTR(e.shortname ,1 ,2)FROM inscdept e WHERE id = SUBSTR(d.parentcodes,25,10))AS orgname
		   FROM insbagentmarketingnew a
           LEFT JOIN insbagent b ON a.referee = b.agentcode
           LEFT JOIN inscdept d ON d.id = b.deptid
		   WHERE b.agentkind = 2 AND b.jobnumtype = 2 AND b.approvesstate = 3  AND a.referee = #{agentcode}
		       AND IFNULL(b.usersource,'') != 'minizzb'AND a.createtime &gt; #{start} AND a.createtime &lt; #{end}
		   GROUP BY a.referee;
	</select>


</mapper>