<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBAutoconfigshow -->
	<select id="INSBAutoconfigshow_insert" parameterType="com.zzb.conf.entity.INSBAutoconfigshow" resultType="int">
		insert into INSBAutoconfigshow
		(id,operator,createtime,modifytime,noti,conftype,quotetype,codevalue,contentid,providerid,deptid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{conftype},#{quotetype},#{codevalue},#{contentid},#{providerid},#{deptid}) 
	</select>
	
	<select id="INSBAutoconfigshow_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBAutoconfigshow">
		select * from INSBAutoconfigshow
		<where>
			<if test="conftype != null">
				and conftype = #{conftype}
			</if>
			<if test="quotetype != null">
				and quotetype = #{quotetype}
			</if>
			<if test="codevalue != null">
				and codevalue = #{codevalue}
			</if>
			<if test="contentid != null">
				and contentid = #{contentid}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
	</select>
	<select id="INSBAutoconfigshow_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBAutoconfigshow">
		select * from INSBAutoconfigshow where id = #{id}
	</select>
	
	<select id="INSBAutoconfigshow_selectComcodeBbyContenIdAndProviderId" parameterType="Map" resultType="Map">
		select id,deptid from INSBAutoconfigshow where contentid = #{contentid} and providerid=#{providerid}
	</select>
	
	<select id="INSBAutoconfigshow_deleteById" parameterType="String">
		delete from INSBAutoconfigshow where id = #{id}
	</select>
	<select id="INSBAutoconfigshow_deletebyelfid" parameterType="Map" >
		DELETE FROM INSBAutoconfigshow WHERE quotetype = #{quotetype} and contentid = #{contentid}
	</select>
	
	<select id="INSBAutoconfigshow_updateById" parameterType="com.zzb.conf.entity.INSBAutoconfigshow">
		update INSBAutoconfigshow  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},conftype = #{conftype},quotetype = #{quotetype},codevalue = #{codevalue},contentid = #{contentid},providerid = #{providerid},deptid = #{deptid} where id = #{id}
	</select>
	<select id="INSBAutoconfigshow_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBAutoconfigshow
		<where>
			<if test="conftype != null">
				and conftype = #{conftype}
			</if>
			<if test="quotetype != null">
				and quotetype = #{quotetype}
			</if>
			<if test="codevalue != null">
				and codevalue = #{codevalue}
			</if>
			<if test="contentid != null">
				and contentid = #{contentid}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
	</select>
	<select id="INSBAutoconfigshow_selectDataByDeptIds4New" parameterType="Map" resultType="com.zzb.conf.entity.INSBAutoconfigshow">
		select id,conftype,quotetype,codevalue,contentid,providerid,deptid from INSBAutoconfigshow a 
		<where>
			providerid=#{providerid}
			AND conftype !='' AND conftype IS NOT NULL
			<if test="quoteList !=null">
				<foreach collection="quoteList" index="index"  item="item" >
					<if test="item == '01' or item == '02'">
						and (EXISTS (select id from INSBEdiconfiguration where id=a.contentid) OR EXISTS (select id from insbelfconf where id=a.contentid))
					</if>
				</foreach>
			</if>
			<if test="conftype !=null">
				and FIND_IN_SET(#{conftype},conftype)
			</if>
			<if test="deptList !=null">
			and deptid in
				<foreach collection="deptList" index="index"  item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="quoteList !=null">
			and quotetype in
				<foreach collection="quoteList" index="index"  item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		order by deptid desc,quotetype desc
		limit 2
	</select>
	<select id="INSBAutoconfigshow_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBAutoconfigshow">
		select * from INSBAutoconfigshow
		<where>
			<if test="conftype != null">
				and conftype = #{conftype}
			</if>
			<if test="quotetype != null">
				and quotetype = #{quotetype}
			</if>
			<if test="codevalue != null">
				and codevalue = #{codevalue}
			</if>
			<if test="contentid != null">
				and contentid = #{contentid}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
		LIMIT 2
	</select>
	
	<select id="INSBAutoconfigshow_selectOneAbilityByDeptid" parameterType="Map" resultType="com.zzb.conf.entity.INSBAutoconfigshow">
		select * FROM insbautoconfigshow
		<where>
			<if test="conftype != null">
				FIND_IN_SET(#{conftype},conftype)
			</if>
			<if test="deptId != null">
				AND deptid=#{deptId}
			</if>
			<if test="quotype != null">
				AND quotetype=#{quotype}
			</if>
		</where>
	</select>
	
	<select id="INSBAutoconfigshow_providerid" parameterType="Map" resultType="String">
		select DISTINCT quotetype  FROM INSBAutoconfigshow t WHERE (EXISTS (select id from insbelfconf where id=t.contentid) 
			OR EXISTS (select id from INSBEdiconfiguration where id=t.contentid)) AND  
		 FIND_IN_SET(#{conftype},conftype) AND providerid = #{providerid} 
		 <if test="deptList !=null">
		  AND deptid in
		  <foreach collection="deptList" index="index" item="item" open="(" separator="," close=")">
		  	#{item}
		  </foreach>
		 </if>
		order by deptid desc 
		limit 2
	</select>
	
	<select id="INSBAutoconfigshow_deleteautoshow" parameterType="Map" resultType="Integer">
		delete from INSBAutoconfigshow
		<where>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="contentid != null">
				and contentid = #{contentid}
			</if>
			<if test="quotetype != null">
				and quotetype = #{quotetype}
			</if>
		</where>
	</select>
	<select id="INSBAutoconfigshow_deleterepetitionautoshow" parameterType="Map" resultType="Integer">
		delete from INSBAutoconfigshow where
		 deptid in (select id FROM inscdept WHERE (parentcodes LIKE CONCAT (#{parentcodes},'%')  )  
		AND comtype in ('01','02','03','04','05')) 
		and providerid = #{providerid}
	</select>
	<select id="INSBAutoconfigshow_selectContendIdByParam" parameterType="Map" resultType="String">
		select contentid from INSBAutoconfigshow
		<where>
			<!-- 精灵EDI -->
			<if test="quotetype != null and quotetype !=''">
				and quotetype = #{quotetype}
			</if>
			<!-- 网点信息 -->
			<if test="deptid != null and deptid !=''">
				and deptid = #{deptid}
			</if>
			<!-- 供应商信息 -->
			<if test="providerid != null and providerid !=''">
				and providerid = #{providerid}
			</if>
			<if test="conftype !=null and conftype !=''">
			and FIND_IN_SET(#{conftype},conftype)
			</if>
		</where>
		limit 1
	</select>
	
	<select id="INSBAutoconfigshow_deleteautobyshowid" parameterType="Map" resultType="Integer">
		DELETE FROM INSBAutoconfigshow where codevalue = #{codevalue} and deptid = #{deptid}
	</select>
	<select id="INSBAutoconfigshow_deleteautobyshowidonly" parameterType="Map">
		DELETE FROM INSBAutoconfigshow where codevalue = #{id} and quotetype = #{quotetype};
	</select>
</mapper>