<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBTasksetscope -->
	<select id="INSBTasksetscope_insert" parameterType="com.zzb.conf.entity.INSBTasksetscope" resultType="int">
		insert into INSBTasksetscope
		(id,operator,createtime,modifytime,noti,taksetid,deptid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taksetid},#{deptid}) 
	</select>
	<select id="INSBTasksetscope_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBTasksetscope">
		select * from INSBTasksetscope
		<where>
			<if test="taksetid != null">
				and taksetid = #{taksetid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
	</select>
	<select id="INSBTasksetscope_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBTasksetscope">
		select * from INSBTasksetscope
		<where>
			<if test="taksetid != null">
				and taksetid = #{taksetid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
		limit 2
	</select>
	<select id="INSBTasksetscope_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBTasksetscope">
		select * from INSBTasksetscope where id = #{id}
	</select>
	
	
	<select id="INSBTasksetscope_selectTaskSetIdByDeptId" parameterType="String" resultType="String">
		select taksetid from INSBTasksetscope where deptid = #{deptid}
	</select>
	
	<select id="INSBTasksetscope_selectScopListByTaskSetId" parameterType="String" resultType="Map">
		select a.deptid,b.comname from 
		INSBTasksetscope a left join inscdept b on a.deptid=b.id 
		<where>
		a.taksetid = #{taksetid}
		</where>
		order by a.createtime desc
		limit #{offset},#{limit}
	</select>
	<select id="INSBTasksetscope_selectScopListCountByDeptid" parameterType="Map" resultType="int">
		select count(1) from INSBTasksetscope where deptid = #{deptid} and taksetid = #{taksetid}
	</select>
	
	<select id="INSBTasksetscope_selectScopListCountByTaskSetId" parameterType="String" resultType="long">
		select count(1) from INSBTasksetscope where taksetid = #{taksetid}
	</select>
	<select id="INSBTasksetscope_deleteById" parameterType="String">
		delete from INSBTasksetscope where id = #{id}
	</select>
	
	
	<select id="INSBTasksetscope_deleteBatchByDeptIds">
		delete from INSBTasksetscope where deptid in
		<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="INSBTasksetscope_updateById" parameterType="com.zzb.conf.entity.INSBTasksetscope">
		update INSBTasksetscope  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},taksetid = #{taksetid},deptid = #{deptid} where id = #{id}
	</select>
	<select id="INSBTasksetscope_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBTasksetscope
		<where>
			<if test="taksetid != null">
				and taksetid = #{taksetid}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
		</where>
	</select>
</mapper>