<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!--  INSBOrderdelivery -->
	<select id="INSBOrderdelivery_insert" parameterType="com.zzb.conf.entity.INSBOrderdelivery" resultType="int">
		insert into INSBOrderdelivery
		(id,operator,createtime,modifytime,noti,taskid,orderid,deptcode,recipientname,recipientmobilephone,zip,recipientprovince,recipientcity,recipientarea,recipientaddress,receiveday,receivetime,isinvoice,invoicetitle,delivetype,isinsurecodelive,isfreightcollect,fee,tracenumber,providerid,providername,deliveryside,logisticscompany,deliveryaddressid) 
		values 
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{orderid},#{deptcode},#{recipientname},#{recipientmobilephone},#{zip},#{recipientprovince},#{recipientcity},#{recipientarea},#{recipientaddress},#{receiveday},#{receivetime},#{isinvoice},#{invoicetitle},#{delivetype},#{isinsurecodelive},#{isfreightcollect},#{fee},#{tracenumber},#{providerid},#{providername},#{deliveryside},#{logisticscompany},#{deliveryaddressid})
	</select>
	<select id="INSBOrderdelivery_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBOrderdelivery">
		select * from INSBOrderdelivery
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="deptcode != null">
				and deptcode = #{deptcode}
			</if>
			<if test="recipientname != null">
				and recipientname = #{recipientname}
			</if>
			<if test="recipientmobilephone != null">
				and recipientmobilephone = #{recipientmobilephone}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="recipientprovince != null">
				and recipientprovince = #{recipientprovince}
			</if>
			<if test="recipientcity != null">
				and recipientcity = #{recipientcity}
			</if>
			<if test="recipientarea != null">
				and recipientarea = #{recipientarea}
			</if>
			<if test="recipientaddress != null">
				and recipientaddress = #{recipientaddress}
			</if>
			<if test="receiveday != null">
				and receiveday = #{receiveday}
			</if>
			<if test="receivetime != null">
				and receivetime = #{receivetime}
			</if>
			<if test="isinvoice != null">
				and isinvoice = #{isinvoice}
			</if>
			<if test="invoicetitle != null">
				and invoicetitle = #{invoicetitle}
			</if>
			<if test="delivetype != null">
				and delivetype = #{delivetype}
			</if>
			<if test="isinsurecodelive != null">
				and isinsurecodelive = #{isinsurecodelive}
			</if>
			<if test="isfreightcollect != null">
				and isfreightcollect = #{isfreightcollect}
			</if>
			<if test="fee != null">
				and fee = #{fee}
			</if>
			<if test="tracenumber != null">
				and tracenumber = #{tracenumber}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="providername != null">
				and providername = #{providername}
			</if>
			<if test="deliveryside != null">
				and deliveryside = #{deliveryside}
			</if>
			<if test="logisticscompany != null">
				and logisticscompany = #{logisticscompany}
			</if>
			<if test="deliveryaddressid != null">
				and deliveryaddressid = #{deliveryaddressid}
			</if>
		</where>
	</select>
		<select id="INSBOrderdelivery_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBOrderdelivery">
		select * from INSBOrderdelivery
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="deptcode != null">
				and deptcode = #{deptcode}
			</if>
			<if test="recipientname != null">
				and recipientname = #{recipientname}
			</if>
			<if test="recipientmobilephone != null">
				and recipientmobilephone = #{recipientmobilephone}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="recipientprovince != null">
				and recipientprovince = #{recipientprovince}
			</if>
			<if test="recipientcity != null">
				and recipientcity = #{recipientcity}
			</if>
			<if test="recipientarea != null">
				and recipientarea = #{recipientarea}
			</if>
			<if test="recipientaddress != null">
				and recipientaddress = #{recipientaddress}
			</if>
			<if test="receiveday != null">
				and receiveday = #{receiveday}
			</if>
			<if test="receivetime != null">
				and receivetime = #{receivetime}
			</if>
			<if test="isinvoice != null">
				and isinvoice = #{isinvoice}
			</if>
			<if test="invoicetitle != null">
				and invoicetitle = #{invoicetitle}
			</if>
			<if test="delivetype != null">
				and delivetype = #{delivetype}
			</if>
			<if test="isinsurecodelive != null">
				and isinsurecodelive = #{isinsurecodelive}
			</if>
			<if test="isfreightcollect != null">
				and isfreightcollect = #{isfreightcollect}
			</if>
			<if test="fee != null">
				and fee = #{fee}
			</if>
			<if test="tracenumber != null">
				and tracenumber = #{tracenumber}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="providername != null">
				and providername = #{providername}
			</if>
			<if test="deliveryside != null">
				and deliveryside = #{deliveryside}
			</if>
			<if test="logisticscompany != null">
				and logisticscompany = #{logisticscompany}
			</if>
			<if test="deliveryaddressid != null">
				and deliveryaddressid = #{deliveryaddressid}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBOrderdelivery_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBOrderdelivery">
		select * from INSBOrderdelivery where id = #{id}
	</select>
	<select id="INSBOrderdelivery_selectByTaskId" parameterType="Map" resultType="com.zzb.conf.entity.INSBOrderdelivery">
		select * from INSBOrderdelivery where taskid = #{taskid} and providerid=#{inscomcode}
	</select>
	<select id="INSBOrderdelivery_deleteById" parameterType="String">
		delete from INSBOrderdelivery where id = #{id}
	</select>
	<select id="INSBOrderdelivery_updateById" parameterType="com.zzb.conf.entity.INSBOrderdelivery">
		update INSBOrderdelivery  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},orderid = #{orderid},deptcode = #{deptcode},recipientname = #{recipientname},recipientmobilephone = #{recipientmobilephone},zip = #{zip},recipientprovince = #{recipientprovince},recipientcity = #{recipientcity},recipientarea = #{recipientarea},recipientaddress = #{recipientaddress},receiveday = #{receiveday},receivetime = #{receivetime},isinvoice = #{isinvoice},invoicetitle = #{invoicetitle},delivetype = #{delivetype},isinsurecodelive = #{isinsurecodelive},isfreightcollect = #{isfreightcollect},fee = #{fee},tracenumber = #{tracenumber},providerid = #{providerid},providername = #{providername},deliveryside = #{deliveryside},logisticscompany = #{logisticscompany},deliveryaddressid = #{deliveryaddressid} where id = #{id}
	</select>
	<select id="INSBOrderdelivery_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBOrderdelivery
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="deptcode != null">
				and deptcode = #{deptcode}
			</if>
			<if test="recipientname != null">
				and recipientname = #{recipientname}
			</if>
			<if test="recipientmobilephone != null">
				and recipientmobilephone = #{recipientmobilephone}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="recipientprovince != null">
				and recipientprovince = #{recipientprovince}
			</if>
			<if test="recipientcity != null">
				and recipientcity = #{recipientcity}
			</if>
			<if test="recipientarea != null">
				and recipientarea = #{recipientarea}
			</if>
			<if test="recipientaddress != null">
				and recipientaddress = #{recipientaddress}
			</if>
			<if test="receiveday != null">
				and receiveday = #{receiveday}
			</if>
			<if test="receivetime != null">
				and receivetime = #{receivetime}
			</if>
			<if test="isinvoice != null">
				and isinvoice = #{isinvoice}
			</if>
			<if test="invoicetitle != null">
				and invoicetitle = #{invoicetitle}
			</if>
			<if test="delivetype != null">
				and delivetype = #{delivetype}
			</if>
			<if test="isinsurecodelive != null">
				and isinsurecodelive = #{isinsurecodelive}
			</if>
			<if test="isfreightcollect != null">
				and isfreightcollect = #{isfreightcollect}
			</if>
			<if test="fee != null">
				and fee = #{fee}
			</if>
			<if test="tracenumber != null">
				and tracenumber = #{tracenumber}
			</if>
			<if test="providerid != null">
				and providerid = #{providerid}
			</if>
			<if test="providername != null">
				and providername = #{providername}
			</if>
			<if test="deliveryside != null">
				and deliveryside = #{deliveryside}
			</if>
			<if test="logisticscompany != null">
				and logisticscompany = #{logisticscompany}
			</if>
			<if test="deliveryaddressid != null">
				and deliveryaddressid = #{deliveryaddressid}
			</if>
		</where>
	</select>
	<!-- 查询订单配送地址 liuchao -->
	<select id="INSBOrderdelivery_getOrderdeliveryAddress" parameterType="Map" resultType="String">
		select CONCAT(ifnull(rp.comcodename,''),ifnull(rc.comcodename,''),ifnull(ra.comcodename,''),ifnull(od.recipientaddress,'')) AS orderdeliveryaddress 
		FROM insborderdelivery od 
		LEFT JOIN insbregion rp ON rp.comcode=od.recipientprovince 
		LEFT JOIN insbregion rc ON rc.comcode=od.recipientcity 
		LEFT JOIN insbregion ra ON ra.comcode=od.recipientarea 
		WHERE od.taskid=#{mainInstanceId} AND od.orderid=#{orderId};
	</select>
	
		<!-- 查询订单配送信息  -->
	<select id="INSBOrderdelivery_getOrderdelivery" parameterType="Map" resultType="com.zzb.conf.entity.INSBOrderdelivery">
		select * FROM insborderdelivery WHERE taskid=#{mainInstanceId} AND orderid=#{orderId};
	</select>
	
	<select id="INSBOrderdelivery_getRegionByParentId" parameterType="String" resultType="com.zzb.conf.entity.INSBRegion">
		select * FROM insbregion where parentid = #{parentid}
	</select>
</mapper>