<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.mobile.entity">
	<!-- INSBPayResult -->
	<select id="INSBPayResult_insert" parameterType="com.zzb.mobile.entity.INSBPayResult" resultType="int">
		insert into INSBPayResult
		(id,operator,createtime,modifytime,noti,bizId,insSerialNo,paySerialNo,amount,transDate,payResult,orderState,payResultDesc,status,payflowno) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{bizId},#{insSerialNo},#{paySerialNo},#{amount},#{transDate},#{payResult},#{orderState},#{payResultDesc},#{status},#{payflowno}) 
	</select>
	
	<select id="INSBPayResult_select" parameterType="Map" resultType="com.zzb.mobile.entity.INSBPayResult">
		select * from INSBPayresult
		<where>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="bizId != null">
				and bizId = #{bizId}
			</if>
			<if test="insSerialNo != null">
				and insSerialNo = #{insSerialNo}
			</if>
			<if test="paySerialNo != null">
				and paySerialNo = #{paySerialNo}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="transDate != null">
				and transDate = #{transDate}
			</if>
			<if test="payResult != null">
				and payResult = #{payResult}
			</if>
			<if test="orderState != null">
				and orderState = #{orderState}
			</if>
			<if test="payResultDesc != null">
				and payResultDesc = #{payResultDesc}
			</if>
			<if test="payflowno != null">
				and payflowno = #{payflowno}
			</if>
		</where>
	</select>
	
	<select id="INSBPayResult_selectOne" parameterType="Map" resultType="com.zzb.mobile.entity.INSBPayResult">
		select * from INSBPayresult
		<where>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="bizId != null">
				and bizId = #{bizId}
			</if>
			<if test="insSerialNo != null">
				and insSerialNo = #{insSerialNo}
			</if>
			<if test="paySerialNo != null">
				and paySerialNo = #{paySerialNo}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="transDate != null">
				and transDate = #{transDate}
			</if>
			<if test="payResult != null">
				and payResult = #{payResult}
			</if>
			<if test="orderState != null">
				and orderState = #{orderState}
			</if>
			<if test="payResultDesc != null">
				and payResultDesc = #{payResultDesc}
			</if>
			<if test="payflowno != null">
				and payflowno = #{payflowno}
			</if>
		</where>
		limit 2
	</select>
	
	<select id="INSBPayResult_selectById" parameterType="String" resultType="com.zzb.mobile.entity.INSBPayResult">
		select * from INSBPayresult where id = #{id}
	</select>
	<select id="INSBPayResult_selectByBidId" parameterType="String" resultType="com.zzb.mobile.entity.INSBPayResult">
		select * from INSBPayResult where bizId = #{bizId}
	</select>
	<select id="INSBPayResult_deleteById" parameterType="String">
		delete from INSBPayresult where id = #{id}
	</select>
	<select id="INSBPayResulte_updateByBizId" parameterType="com.zzb.mobile.entity.INSBPayResult">
		update INSBPayResult  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},status = #{status},insSerialNo = #{insSerialNo},paySerialNo = #{paySerialNo},amount = #{amount},transDate = #{transDate},payResult = #{payResult},orderState = #{orderState}  where bizId = #{bizId}
	</select>
	<select id="INSBPayResult_updateById" parameterType="com.zzb.mobile.entity.INSBPayResult">
		update INSBPayresult  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},status = #{status},bizId = #{bizId},insSerialNo = #{insSerialNo},paySerialNo = #{paySerialNo},amount = #{amount},transDate = #{transDate},payResult = #{payResult},orderState = #{orderState},payResultDesc = #{payResultDesc},payflowno = #{payflowno} where id = #{id}
	</select>
	<select id="INSBPayResult_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPayresult
		<where>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="bizId != null">
				and bizId = #{bizId}
			</if>
			<if test="insSerialNo != null">
				and insSerialNo = #{insSerialNo}
			</if>
			<if test="paySerialNo != null">
				and paySerialNo = #{paySerialNo}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="transDate != null">
				and transDate = #{transDate}
			</if>
			<if test="payResult != null">
				and payResult = #{payResult}
			</if>
			<if test="orderState != null">
				and orderState = #{orderState}
			</if>
			<if test="payResultDesc != null">
				and payResultDesc = #{payResultDesc}
			</if>
			<if test="payflowno != null">
				and payflowno = #{payflowno}
			</if>
		</where>
	</select>
</mapper>