<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBMonitor -->
	<select id="INSBMonitor_insert" parameterType="com.zzb.cm.entity.INSBMonitor"
		resultType="int">
		insert into INSBMonitor
		(id,operator,createtime,modifytime,noti,taskid,inscomcode,inscomname,plateno,carowerid,carowername,tasktype,tasktypename,taskstatus,taskstatusdes,startdate,enddate,usetime,origindate,resultdate,monitoeid)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{inscomcode},#{inscomname},#{plateno},#{carowerid},#{carowername},#{tasktype},#{tasktypename},#{taskstatus},#{taskstatusdes},#{startdate},#{enddate},#{usetime},#{origindate},#{resultdate},#{monitoeid})
	</select>
	<select id="INSBMonitor_select" parameterType="Map"
		resultType="com.zzb.cm.entity.INSBMonitor">
		select * from INSBMonitor
		<where>
			<if test="noti != null">
				and noti = #{noti}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="inscomname != null">
				and inscomname = #{inscomname}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowerid != null">
				and carowerid = #{carowerid}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype = #{tasktype}
			</if>
			<if test="tasktypename != null">
				and tasktypename = #{tasktypename}
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="taskstatusdes != null">
				and taskstatusdes = #{taskstatusdes}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="usetime != null">
				and usetime = #{usetime}
			</if>
			<if test="origindate != null">
				and origindate = #{origindate}
			</if>
			<if test="resultdate != null">
				and resultdate = #{resultdate}
			</if>
			<if test="monitoeid != null">
				and monitoeid = #{monitoeid}
			</if>
		</where>
	</select>
	<select id="INSBMonitor_selectById" parameterType="String"
		resultType="com.zzb.cm.entity.INSBMonitor">
		select * from INSBMonitor where id = #{id}
	</select>
	<select id="INSBMonitor_deleteById" parameterType="String">
		delete from
		INSBMonitor where id = #{id}
	</select>
	<select id="INSBMonitor_updateById" parameterType="com.zzb.cm.entity.INSBMonitor">
		update
		INSBMonitor set operator = #{operator},modifytime = #{modifytime},noti
		= #{noti},taskid = #{taskid},inscomcode = #{inscomcode},inscomname =
		#{inscomname},plateno = #{plateno},carowerid =
		#{carowerid},carowername = #{carowername},tasktype =
		#{tasktype},tasktypename = #{tasktypename},taskstatus =
		#{taskstatus},taskstatusdes = #{taskstatusdes},startdate =
		#{startdate},enddate = #{enddate},usetime = #{usetime},origindate =
		#{origindate},resultdate = #{resultdate},monitoeid = #{monitoeid}
		where id = #{id}
	</select>
	<select id="INSBMonitor_updateMonitorStatus" parameterType="Map">
		UPDATE 
	insbautoconfigshow a
set a.noti = #{flag}
where
	 a.contentid = #{monitorid}
and left (
	(
		SELECT
			deptinnercode
		from
			inscdept
		where
			id = a.deptid
	),
	5
)= #{orgcode}
and a.quotetype = #{quotetype}
	</select>
	<select id="INSBMonitor_selectCount" parameterType="Map"
		resultType="Long">
		select count(1) from INSBMonitor
		<where>
			<if test="noti != null">
				and noti = #{noti}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="inscomname != null">
				and inscomname = #{inscomname}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowerid != null">
				and carowerid = #{carowerid}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype = #{tasktype}
			</if>
			<if test="tasktypename != null">
				and tasktypename = #{tasktypename}
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="taskstatusdes != null">
				and taskstatusdes = #{taskstatusdes}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="usetime != null">
				and usetime = #{usetime}
			</if>
			<if test="origindate != null">
				and origindate = #{origindate}
			</if>
			<if test="resultdate != null">
				and resultdate = #{resultdate}
			</if>
			<if test="monitoeid != null">
				and monitoeid = #{monitoeid}
			</if>
		</where>
	</select>
	<select id="INSBMonitor_selectOne" parameterType="Map"
		resultType="com.zzb.cm.entity.INSBMonitor">
		select * from INSBMonitor
		<where>
			<if test="noti != null">
				and noti = #{noti}
			</if>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="inscomname != null">
				and inscomname = #{inscomname}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowerid != null">
				and carowerid = #{carowerid}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype = #{tasktype}
			</if>
			<if test="tasktypename != null">
				and tasktypename = #{tasktypename}
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="taskstatusdes != null">
				and taskstatusdes = #{taskstatusdes}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="usetime != null">
				and usetime = #{usetime}
			</if>
			<if test="origindate != null">
				and origindate = #{origindate}
			</if>
			<if test="resultdate != null">
				and resultdate = #{resultdate}
			</if>
			<if test="monitoeid != null">
				and monitoeid = #{monitoeid}
			</if>
		</where>
		LIMIT 1
	</select>
	<select id="INSBMonitor_selectAllRobotInfo" parameterType="Map"
		resultType="String">
		SELECT
		DISTINCT CONCAT_WS('_',a.contentid,left((SELECT
		c.deptinnercode
		from
		inscdept c
		where
		c.id = a.deptid),5))
		from
		insbautoconfigshow a
		where a.quotetype = #{quotetype}
	</select>
	<select id="INSBMonitor_selectAllMonitorInfo" parameterType="Map"
		resultType="Map">
		SELECT
		DISTINCT CONCAT_WS('_',a.contentid,left((SELECT
		c.deptinnercode
		from
		inscdept c
		where
		c.id = a.deptid),5)) monitorid,a.quotetype
		from
		insbautoconfigshow a
	</select>
	<select id="INSBMonitor_selectRobotInfo" parameterType="Map"
		resultType="String">

		SELECT
		DISTINCT CONCAT_WS('_',a.contentid,left((SELECT
		c.deptinnercode
		from
		inscdept c
		where
		c.id = a.deptid),5))
		from
		insbautoconfigshow a
		where
		1=1
		<if test="noti != null">
			and noti = #{noti}
		</if>
		<if test="name != null and quotetype != null and quotetype == '02'">
			and a.contentid in (
			SELECT
			id
			from
			insbelfconf
			where
			elfname
			like CONCAT('%',#{name},'%')
			)
		</if>
		<if test="name != null and quotetype != null and quotetype == '01'">
			and a.contentid in (
			SELECT
			id
			from
			insbediconfiguration
			where
			ediname
			like CONCAT('%',#{name},'%')
			)
		</if>
		<if test="status != null and status != ''">
			and a.noti = #{status}
		</if>
		<if test="orgcode != null">
			and LEFT (
			(
			SELECT
			deptinnercode
			from
			inscdept
			where
			id =
			a.deptid
			),
			5
			) = left (
			(
			SELECT
			deptinnercode
			from
			inscdept
			where
			id =
			#{orgcode}
			),
			5
			)
		</if>
		and a.quotetype = #{quotetype}
		order by a.contentid desc
		limit
		#{offset},#{limit}
	</select>
	<select id="INSBMonitor_selectCountRobotInfo" parameterType="Map"
		resultType="long">

		SELECT
		count(DISTINCT CONCAT_WS('_',a.contentid,left((SELECT
		c.deptinnercode
		from
		inscdept c
		where
		c.id = a.deptid),5)))
		from
		insbautoconfigshow a
		where 1=1
		<if test="noti != null">
			and noti = #{noti}
		</if>
		<if test="name != null">
			and a.contentid in (
			SELECT
			id
			from
			insbelfconf
			where
			elfname
			like CONCAT('%',#{name},'%')
			)
		</if>
		<if test="status != null and status != ''">
			and a.noti = #{status}
		</if>
		<if test="orgcode != null">
			and LEFT (
			(
			SELECT
			deptinnercode
			from
			inscdept
			where
			id =
			a.deptid
			),
			5
			) = left (
			(
			SELECT
			deptinnercode
			from
			inscdept
			where
			id =
			#{orgcode}
			),
			5
			)
		</if>
		and a.quotetype = #{quotetype}
		order by a.contentid desc
	</select>

	<select id="INSBMonitor_abilityListByelfidPaging" parameterType="Map"
		resultType="String">
		select pro.prvshotname providername FROM insbprovider pro,inscdept
		dept,insbautoconfigshow conf
		<where>
			conf.providerid = pro.id AND dept.id = conf.deptid AND conf.contentid
			= #{id}
			<if test="orgcode != null and orgcode != ''">
				and LEFT((SELECT deptinnercode from inscdept where id =
				conf.deptid),5) = #{orgcode}
			</if>
		</where>
	</select>

	<select id="INSBMonitor_selectRobotTaskInfo" parameterType="Map"
		resultType="com.zzb.cm.entity.INSBMonitor">
		SELECT * from insbmonitor where 1=1
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype like CONCAT('%',#{tasktype},'%')
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="todayflag != null">
				and date(startdate) = curdate()
			</if>
			<if test="noti != null">
				and noti = #{noti}
			</if>
		and monitoeid = #{monitoeid}
		order by startdate desc
		limit
		#{offset},#{limit}
	</select>
	<select id="INSBMonitor_selectMonitorTaskInfo" parameterType="Map"
		resultType="com.zzb.cm.entity.INSBMonitor">
		SELECT * from insbmonitor where 1=1
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype like CONCAT('%',#{tasktype},'%')
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="todayflag != null">
				and date(startdate) = curdate()
			</if>
			<if test="quotetype != null">
				and noti = #{quotetype}
			</if>
			<if test="noti != null">
				and noti = #{noti}
			</if>
		order by startdate desc
		limit
		#{offset},#{limit}
	</select>
	<select id="INSBMonitor_selectCountMonitorTaskInfo" parameterType="Map"
		resultType="long">
		SELECT count(*) from insbmonitor where 1=1
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype like CONCAT('%',#{tasktype},'%')
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="todayflag != null">
				and date(startdate) = curdate()
			</if>
			<if test="quotetype != null">
				and noti = #{quotetype}
			</if>
			<if test="noti != null">
				and noti = #{noti}
			</if>
	</select>
	<select id="INSBMonitor_selectRobotTaskInfoCount" parameterType="Map"
		resultType="long">
			SELECT count(*) from insbmonitor where 1=1
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="plateno != null">
				and plateno = #{plateno}
			</if>
			<if test="carowername != null">
				and carowername = #{carowername}
			</if>
			<if test="tasktype != null">
				and tasktype like CONCAT('%',#{tasktype},'%')
			</if>
			<if test="taskstatus != null">
				and taskstatus = #{taskstatus}
			</if>
			<if test="todayflag != null">
				and date(startdate) = curdate()
			</if>
			<if test="noti != null">
				and noti = #{noti}
			</if>
		and monitoeid = #{monitoeid}
	</select>

</mapper>