<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBRelationpersonhis -->
	<select id="INSBRelationpersonhis_insert" parameterType="com.zzb.cm.entity.INSBRelationpersonhis" resultType="int">
		insert into INSBRelationpersonhis
		(id,operator,createtime,modifytime,noti,taskid,personid,inscomcode) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{personid},#{inscomcode})
	</select>
	<select id="INSBRelationpersonhis_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBRelationpersonhis">
		select * from INSBRelationpersonhis
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
		</where>
	</select>
	<select id="INSBRelationpersonhis_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBRelationpersonhis">
		select * from INSBRelationpersonhis
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
		</where>
		 ORDER BY createtime DESC LIMIT 1  
	</select>
	<select id="INSBRelationpersonhis_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBRelationpersonhis">
		select * from INSBRelationpersonhis where id = #{id}
	</select>
	<select id="INSBRelationpersonhis_deleteById" parameterType="String">
		delete from INSBRelationpersonhis where id = #{id}
	</select>
	<select id="INSBRelationpersonhis_updateById" parameterType="com.zzb.cm.entity.INSBRelationpersonhis">
		update INSBRelationpersonhis  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},personid = #{personid},inscomcode = #{inscomcode} where id = #{id}
	</select>
	<select id="INSBRelationpersonhis_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRelationpersonhis
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
		</where>
	</select>
</mapper>