<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBLoopunderwritingdetail -->
	<select id="INSBLoopunderwritingdetail_insert" parameterType="com.zzb.cm.entity.INSBLoopunderwritingdetail" resultType="int">
		insert into INSBLoopunderwritingdetail
		(id,operator,createtime,modifytime,noti,loopid,starttime,loopresult,msg) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{loopid},#{starttime},#{loopresult},#{msg}) 
	</select>
	<select id="INSBLoopunderwritingdetail_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBLoopunderwritingdetail">
		select * from INSBLoopunderwritingdetail
		<where>
			<if test="loopid != null">
				and loopid = #{loopid}
			</if>
			<if test="starttime != null">
				and starttime = #{starttime}
			</if>
			<if test="loopresult != null">
				and loopresult = #{loopresult}
			</if>
			<if test="msg != null">
				and msg = #{msg}
			</if>
		</where>
		ORDER BY createtime DESC
	</select>
	<select id="INSBLoopunderwritingdetail_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBLoopunderwritingdetail">
		select * from INSBLoopunderwritingdetail where id = #{id}
	</select>
	<select id="INSBLoopunderwritingdetail_deleteById" parameterType="String">
		delete from INSBLoopunderwritingdetail where id = #{id}
	</select>
	<select id="INSBLoopunderwritingdetail_updateById" parameterType="com.zzb.cm.entity.INSBLoopunderwritingdetail">
		update INSBLoopunderwritingdetail  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},loopid = #{loopid},starttime = #{starttime},loopresult = #{loopresult},msg = #{msg} where id = #{id}
	</select>
	<select id="INSBLoopunderwritingdetail_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBLoopunderwritingdetail
		<where>
			<if test="loopid != null">
				and loopid = #{loopid}
			</if>
			<if test="starttime != null">
				and starttime = #{starttime}
			</if>
			<if test="loopresult != null">
				and loopresult = #{loopresult}
			</if>
			<if test="msg != null">
				and msg = #{msg}
			</if>
		</where>
	</select>
	<select id="INSBLoopunderwritingdetail_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBLoopunderwritingdetail">
		select * from INSBLoopunderwritingdetail
		<where>
			<if test="loopid != null">
				and loopid = #{loopid}
			</if>
			<if test="starttime != null">
				and starttime = #{starttime}
			</if>
			<if test="loopresult != null">
				and loopresult = #{loopresult}
			</if>
			<if test="msg != null">
				and msg = #{msg}
			</if>
		</where>
		ORDER BY createtime DESC
		LIMIT 1
	</select>
</mapper>