<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBOrderpaymentflow -->
	<select id="INSBOrderpaymentflow_insert" parameterType="com.zzb.cm.entity.INSBOrderpaymentflow" resultType="int">
		insert into INSBOrderpaymentflow
		(id,operator,createtime,modifytime,noti,taskid,orderid,paychannelid,tradeno,insurecono,payurl,paywapurl,paypcurl,amount,paytime,payresult,currencycode,merchantid,merchantname,allowchangepaystyle,paypoundage,paymentransaction,payflowno,payorderno,md5,subinstanceid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{orderid},#{paychannelid},#{tradeno},#{insurecono},#{payurl},#{paywapurl},#{paypcurl},#{amount},#{paytime},#{payresult},#{currencycode},#{merchantid},#{merchantname},#{allowchangepaystyle},#{paypoundage},#{paymentransaction},#{payflowno},#{payorderno},#{md5},#{subinstanceid})
	</select>
	<select id="INSBOrderpaymentflow_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBOrderpaymentflow">
		select * from INSBOrderpaymentflow
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="tradeno != null">
				and tradeno = #{tradeno}
			</if>
			<if test="insurecono != null">
				and insurecono = #{insurecono}
			</if>
			<if test="payurl != null">
				and payurl = #{payurl}
			</if>
			<if test="paywapurl != null">
				and paywapurl = #{paywapurl}
			</if>
			<if test="paypcurl != null">
				and paypcurl = #{paypcurl}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="paytime != null">
				and paytime = #{paytime}
			</if>
			<if test="payresult != null">
				and payresult = #{payresult}
			</if>
			<if test="currencycode != null">
				and currencycode = #{currencycode}
			</if>
			<if test="merchantid != null">
				and merchantid = #{merchantid}
			</if>
			<if test="merchantname != null">
				and merchantname = #{merchantname}
			</if>
			<if test="allowchangepaystyle != null">
				and allowchangepaystyle = #{allowchangepaystyle}
			</if>
			<if test="paypoundage != null">
				and paypoundage = #{paypoundage}
			</if>
			<if test="paymentransaction != null">
				and paymentransaction = #{paymentransaction}
			</if>
			<if test="payflowno != null">
				and payflowno = #{payflowno}
			</if>
			<if test="payorderno != null">
				and payorderno = #{payorderno}
			</if>
			<if test="md5 != null">
				and md5 = #{md5}
			</if>
			<if test="subinstanceid != null">
				and subinstanceid = #{subinstanceid}
			</if>
		</where>
		order by createtime 
	</select>
	<select id="INSBOrderpaymentflow_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBOrderpaymentflow">
		select * from INSBOrderpaymentflow where id = #{id}
	</select>
	<select id="INSBOrderpaymentflow_deleteById" parameterType="String">
		delete from INSBOrderpaymentflow where id = #{id}
	</select>
	<select id="INSBOrderpaymentflow_updateById" parameterType="com.zzb.cm.entity.INSBOrderpaymentflow">
		update INSBOrderpaymentflow  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},orderid = #{orderid},paychannelid = #{paychannelid},tradeno = #{tradeno},insurecono = #{insurecono},payurl = #{payurl},paywapurl = #{paywapurl},paypcurl = #{paypcurl},amount = #{amount},paytime = #{paytime},payresult = #{payresult},currencycode = #{currencycode},merchantid = #{merchantid},merchantname = #{merchantname},allowchangepaystyle = #{allowchangepaystyle},paypoundage = #{paypoundage},paymentransaction = #{paymentransaction},payflowno = #{payflowno},payorderno = #{payorderno},md5 = #{md5},subinstanceid = #{subinstanceid} where id = #{id}
	</select>
	<select id="INSBOrderpaymentflow_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBOrderpaymentflow
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="paychannelid != null">
				and paychannelid = #{paychannelid}
			</if>
			<if test="tradeno != null">
				and tradeno = #{tradeno}
			</if>
			<if test="insurecono != null">
				and insurecono = #{insurecono}
			</if>
			<if test="payurl != null">
				and payurl = #{payurl}
			</if>
			<if test="paywapurl != null">
				and paywapurl = #{paywapurl}
			</if>
			<if test="paypcurl != null">
				and paypcurl = #{paypcurl}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="paytime != null">
				and paytime = #{paytime}
			</if>
			<if test="payresult != null">
				and payresult = #{payresult}
			</if>
			<if test="currencycode != null">
				and currencycode = #{currencycode}
			</if>
			<if test="merchantid != null">
				and merchantid = #{merchantid}
			</if>
			<if test="merchantname != null">
				and merchantname = #{merchantname}
			</if>
			<if test="allowchangepaystyle != null">
				and allowchangepaystyle = #{allowchangepaystyle}
			</if>
			<if test="paypoundage != null">
				and paypoundage = #{paypoundage}
			</if>
			<if test="paymentransaction != null">
				and paymentransaction = #{paymentransaction}
			</if>
			<if test="payflowno != null">
				and payflowno = #{payflowno}
			</if>
			<if test="payorderno != null">
				and payorderno = #{payorderno}
			</if>
			<if test="md5 != null">
				and md5 = #{md5}
			</if>
			<if test="subinstanceid != null">
				and subinstanceid = #{subinstanceid}
			</if>
		</where>
	</select>
</mapper>