<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBInsuredhis -->
	<select id="INSBInsuredhis_insert" parameterType="com.zzb.cm.entity.INSBInsuredhis" resultType="int">
		insert into INSBInsuredhis
		(id,operator,createtime,modifytime,noti,taskid,personid,businessproposalformno,businesspolicyno,inscomcode,relation,pincode,applystatus,pindatetime,commitstatus,pinerrmsg) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{personid},#{businessproposalformno},#{businesspolicyno},#{inscomcode},#{relation},#{pincode},#{applystatus},#{pindatetime},#{commitstatus},#{pinerrmsg})
	</select>
	<select id="INSBInsuredhis_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBInsuredhis">
		select * from INSBInsuredhis
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="businessproposalformno != null">
				and businessproposalformno = #{businessproposalformno}
			</if>
			<if test="businesspolicyno != null">
				and businesspolicyno = #{businesspolicyno}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="relation != null">
				and relation = #{relation}
			</if>
			<if test="pincode != null">
				and pincode = #{pincode}
			</if>
			<if test="applystatus != null">
				and applystatus = #{applystatus}
			</if>
			<if test="pindatetime != null">
				and pindatetime = #{pindatetime}
			</if>
			<if test="commitstatus != null">
				and commitstatus = #{commitstatus}
			</if>
		</where>
	</select>
	<select id="INSBInsuredhis_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBInsuredhis">
		select * from INSBInsuredhis
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="businessproposalformno != null">
				and businessproposalformno = #{businessproposalformno}
			</if>
			<if test="businesspolicyno != null">
				and businesspolicyno = #{businesspolicyno}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="relation != null">
				and relation = #{relation}
			</if>
			<if test="pincode != null">
				and pincode = #{pincode}
			</if>
			<if test="applystatus != null">
				and applystatus = #{applystatus}
			</if>
			<if test="pindatetime != null">
				and pindatetime = #{pindatetime}
			</if>
			<if test="commitstatus != null">
				and commitstatus = #{commitstatus}
			</if>
		</where>
		 ORDER BY createtime DESC LIMIT 1  
	</select>
    <select id="INSBInsuredhis_selectByTaskid" parameterType="String" resultType="com.zzb.cm.entity.INSBInsuredhis">
       	select * from INSBInsuredhis where taskid = #{taskid} order by modifytime desc
    </select>
	<select id="INSBInsuredhis_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBInsuredhis">
		select * from INSBInsuredhis where id = #{id}
	</select>
	<select id="INSBInsuredhis_deleteById" parameterType="String">
		delete from INSBInsuredhis where id = #{id}
	</select>
	<select id="INSBInsuredhis_updateById" parameterType="com.zzb.cm.entity.INSBInsuredhis">
		update INSBInsuredhis  set operator = #{operator},modifytime = NOW(),noti = #{noti},
		taskid = #{taskid},personid = #{personid},businessproposalformno = #{businessproposalformno},
		businesspolicyno = #{businesspolicyno},inscomcode = #{inscomcode},relation = #{relation},
		pincode = #{pincode},applystatus = #{applystatus},pindatetime = #{pindatetime},
		commitstatus = #{commitstatus},pinerrmsg = #{pinerrmsg} where id = #{id}
	</select>
	<select id="INSBInsuredhis_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBInsuredhis
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="businessproposalformno != null">
				and businessproposalformno = #{businessproposalformno}
			</if>
			<if test="businesspolicyno != null">
				and businesspolicyno = #{businesspolicyno}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="relation != null">
				and relation = #{relation}
			</if>
			<if test="pincode != null">
				and pincode = #{pincode}
			</if>
			<if test="applystatus != null">
				and applystatus = #{applystatus}
			</if>
			<if test="pindatetime != null">
				and pindatetime = #{pindatetime}
			</if>
			<if test="commitstatus != null">
				and commitstatus = #{commitstatus}
			</if>
		</where>
	</select>
		<select id="INSBInsuredhis_deleteByObj" parameterType="com.zzb.cm.entity.INSBInsuredhis" resultType="int">
		delete from INSBInsuredhis 
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
			<if test="businessproposalformno != null">
				and businessproposalformno = #{businessproposalformno}
			</if>
			<if test="businesspolicyno != null">
				and businesspolicyno = #{businesspolicyno}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="relation != null">
				and relation = #{relation}
			</if>
		</where>
	</select>
</mapper>