<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSHPerson -->
	<select id="INSHPerson_insert" parameterType="com.zzb.cm.entity.INSHPerson" resultType="int">
		insert into INSHPerson
		(id,operator,createtime,modifytime,noti,taskid,name,ename,gender,birthday,bloodtype,age,idcardtype,idcardno,cellphone,email,province,city,area,address,eaddress,zip,licensetype,licenseno,licensedate,maritalstatus,job,educateinfo,fairyoredi,nodecode) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{name},#{ename},#{gender},#{birthday},#{bloodtype},#{age},#{idcardtype},#{idcardno},#{cellphone},#{email},#{province},#{city},#{area},#{address},#{eaddress},#{zip},#{licensetype},#{licenseno},#{licensedate},#{maritalstatus},#{job},#{educateinfo},#{fairyoredi},#{nodecode})
	</select>
	<select id="INSHPerson_select" parameterType="Map" resultType="com.zzb.cm.entity.INSHPerson">
		select * from INSHPerson
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="ename != null">
				and ename = #{ename}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="bloodtype != null">
				and bloodtype = #{bloodtype}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="idcardtype != null">
				and idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and idcardno = #{idcardno}
			</if>
			<if test="cellphone != null">
				and cellphone = #{cellphone}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="area != null">
				and area = #{area}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="eaddress != null">
				and eaddress = #{eaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="licensetype != null">
				and licensetype = #{licensetype}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="licensedate != null">
				and licensedate = #{licensedate}
			</if>
			<if test="maritalstatus != null">
				and maritalstatus = #{maritalstatus}
			</if>
			<if test="job != null">
				and job = #{job}
			</if>
			<if test="educateinfo != null">
				and educateinfo = #{educateinfo}
			</if>
			<if test="fairyoredi != null">
				and fairyoredi = #{fairyoredi}
			</if>
			<if test="nodecode != null">
				and nodecode = #{nodecode}
			</if>
		</where>
	</select>
	<select id="INSHPerson_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSHPerson">
		select * from INSHPerson where id = #{id} and fairyoredi = #{fairyoredi} and nodecode = #{nodecode}
	</select>
	<select id="INSHPerson_deleteById" parameterType="String">
		delete from INSHPerson where id = #{id} and fairyoredi = #{fairyoredi} and nodecode = #{nodecode}
	</select>
	<select id="INSHPerson_updateById" parameterType="com.zzb.cm.entity.INSHPerson">
		update INSHPerson  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},name = #{name},ename = #{ename},gender = #{gender},birthday = #{birthday},bloodtype = #{bloodtype},age = #{age},idcardtype = #{idcardtype},idcardno = #{idcardno},cellphone = #{cellphone},email = #{email},province = #{province},city = #{city},area = #{area},address = #{address},eaddress = #{eaddress},zip = #{zip},licensetype = #{licensetype},licenseno = #{licenseno},licensedate = #{licensedate},maritalstatus = #{maritalstatus},job = #{job},educateinfo = #{educateinfo},fairyoredi = #{fairyoredi},nodecode = #{nodecode} where id = #{id} and fairyoredi = #{fairyoredi} and nodecode = #{nodecode}
	</select>
	<select id="INSHPerson_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSHPerson
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="ename != null">
				and ename = #{ename}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="bloodtype != null">
				and bloodtype = #{bloodtype}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="idcardtype != null">
				and idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and idcardno = #{idcardno}
			</if>
			<if test="cellphone != null">
				and cellphone = #{cellphone}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="area != null">
				and area = #{area}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="eaddress != null">
				and eaddress = #{eaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="licensetype != null">
				and licensetype = #{licensetype}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="licensedate != null">
				and licensedate = #{licensedate}
			</if>
			<if test="maritalstatus != null">
				and maritalstatus = #{maritalstatus}
			</if>
			<if test="job != null">
				and job = #{job}
			</if>
			<if test="educateinfo != null">
				and educateinfo = #{educateinfo}
			</if>
			<if test="fairyoredi != null">
				and fairyoredi = #{fairyoredi}
			</if>
			<if test="nodecode != null">
				and nodecode = #{nodecode}
			</if>
		</where>
	</select>
	<select id="INSHPerson_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSHPerson">
		select * from INSHPerson
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="ename != null">
				and ename = #{ename}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="bloodtype != null">
				and bloodtype = #{bloodtype}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="idcardtype != null">
				and idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and idcardno = #{idcardno}
			</if>
			<if test="cellphone != null">
				and cellphone = #{cellphone}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="area != null">
				and area = #{area}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="eaddress != null">
				and eaddress = #{eaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="licensetype != null">
				and licensetype = #{licensetype}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="licensedate != null">
				and licensedate = #{licensedate}
			</if>
			<if test="maritalstatus != null">
				and maritalstatus = #{maritalstatus}
			</if>
			<if test="job != null">
				and job = #{job}
			</if>
			<if test="educateinfo != null">
				and educateinfo = #{educateinfo}
			</if>
			<if test="fairyoredi != null">
				and fairyoredi = #{fairyoredi}
			</if>
			<if test="nodecode != null">
				and nodecode = #{nodecode}
			</if>
		</where>
		LIMIT 2
	</select>
</mapper>