<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBMinichannel -->
	<select id="INSBMinichannel_insert" parameterType="com.zzb.extra.entity.INSBMinichannel" resultType="int">
		insert into INSBMinichannel
		(id,operator,createtime,modifytime,noti,channelcode,channelname,waynum,tempcode,terminaldate) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{channelcode},#{channelname},#{waynum},#{tempcode},#{terminaldate}) 
	</select>
	<select id="INSBMinichannel_select" parameterType="Map" resultType="com.zzb.extra.entity.INSBMinichannel">
		select * from INSBMinichannel
		<where>
			<if test="channelcode != null and channelcode != ''">
				and channelcode = #{channelcode}
			</if>
			<if test="channelname != null  and channelname != ''">
				and channelname = #{channelname}
			</if>
			<if test="waynum != null  and waynum != ''">
				and waynum = #{waynum}
			</if>
			<if test="tempcode != null  and tempcode != ''">
				and tempcode = #{tempcode}
			</if>
			<if test="terminaldate != null and terminaldate != ''">
				and terminaldate = #{terminaldate}
			</if>
		</where>
	</select>
	<select id="INSBMinichannel_selectChannelList" parameterType="Map" resultType="Map">
		select id,channelname,channelcode,waynum,tempcode,IFNULL(noti,'') AS noti,operator,
		date_format(terminaldate,'%Y-%m-%d') AS terminaldate,
		date_format(createtime,'%Y-%m-%d %H:%i:%s') AS createtime
		from INSBMinichannel
		<where>
			<if test="channelcode != null and channelcode != ''">
				and channelcode = #{channelcode}
			</if>
			<if test="channelname != null  and channelname != ''">
				and channelname = #{channelname}
			</if>
			<if test="waynum != null  and waynum != ''">
				and waynum = #{waynum}
			</if>
			<if test="tempcode != null  and tempcode != ''">
				and tempcode = #{tempcode}
			</if>
			<if test="terminaldate != null and terminaldate != ''">
				and terminaldate = #{terminaldate}
			</if>
		</where>
		ORDER BY
		<if test="sort != null and order != null">
			${sort} ${order}
		</if>
		<if test="sort == null">
			createtime desc
		</if>
		<if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>
	</select>
	<select id="INSBMinichannel_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBMinichannel">
		select * from INSBMinichannel where id = #{id}
	</select>
	<select id="INSBMinichannel_deleteById" parameterType="String">
		delete from INSBMinichannel where id = #{id}
	</select>
	<select id="INSBMinichannel_updateById" parameterType="com.zzb.extra.entity.INSBMinichannel">
		update INSBMinichannel  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},channelcode = #{channelcode},channelname = #{channelname},waynum = #{waynum},tempcode = #{tempcode},terminaldate = #{terminaldate} where id = #{id}
	</select>
	<select id="INSBMinichannel_updateByChannelCode" parameterType="Map">
		update INSBMinichannel  set waynum = #{waynum} where channelcode = #{channelcode}
	</select>
	<select id="INSBMinichannel_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBMinichannel
		<where>
			<if test="channelcode != null and channelcode != ''">
				and channelcode = #{channelcode}
			</if>
			<if test="channelname != null  and channelname != ''">
				and channelname = #{channelname}
			</if>
			<if test="waynum != null  and waynum != ''">
				and waynum = #{waynum}
			</if>
			<if test="tempcode != null  and tempcode != ''">
				and tempcode = #{tempcode}
			</if>
			<if test="terminaldate != null and terminaldate != ''">
				and terminaldate = #{terminaldate}
			</if>
		</where>
	</select>
	<select id="INSBMinichannel_selectMaxTempcode" parameterType="Map" resultType="Long">
		select ifnull(max(tempcode),0) as maxtempcode from INSBMinichannel
	</select>
	<select id="INSBMinichannel_selectOne" parameterType="Map" resultType="com.zzb.extra.entity.INSBMinichannel">
		select * from INSBMinichannel
		<where>
			<if test="channelcode != null and channelcode != ''">
				and channelcode = #{channelcode}
			</if>
			<if test="channelname != null  and channelname != ''">
				and channelname = #{channelname}
			</if>
			<if test="waynum != null  and waynum != ''">
				and waynum = #{waynum}
			</if>
			<if test="tempcode != null  and tempcode != ''">
				and tempcode = #{tempcode}
			</if>
			<if test="terminaldate != null and terminaldate != ''">
				and terminaldate = #{terminaldate}
			</if>
		</where>
		LIMIT 2
	</select>
</mapper>