<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBMiniRole -->
	<select id="INSBMiniRole_insert" parameterType="com.zzb.extra.entity.INSBMiniRole" resultType="int">
		insert into INSBMiniRole
		(id,rolecode,name,description,operator,createtime,modifytime,noti)
		values
		(#{id},#{rolecode},#{name},#{description},#{operator},#{createtime},#{modifytime},#{noti})
	</select>
	<select id="INSBMiniRole_select" parameterType="Map" resultType="com.zzb.extra.entity.INSBMiniRole">
		select * from INSBMiniRole
		<where>
			<if test="rolecode != null and rolecode != ''">
				and rolecode = #{rolecode}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="id != null and id !=''">
				and id = #{id}
			</if>
			
		</where>
		ORDER BY 
		<if test="sort == null ">
			rolecode
		</if>
		<if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
		
	</select>
	<select id="INSBMiniRole_AccountId" parameterType="Map" resultType="Long">
		select count(1) from INSBMiniRole 
		<where>
			<if test="rolecode != null and rolecode != ''">
				and rolecode = #{rolecode}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="id != null and id !=''">
				and id = #{id}
			</if>
		</where>
	</select>
    <select id="INSBMiniRole_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBMiniRole">
       	select * from INSBMiniRole where id = #{id}
    </select>
   
	<select id="INSBMiniRole_updateById" parameterType="com.zzb.extra.entity.INSBMiniRole">
		update INSBMiniRole  set operator = #{operator},modifytime = #{modifytime},name = #{name},description = #{description},rolecode = #{rolecode},noti=#{noti} where id = #{id}
	</select>
	<select id="INSBMiniRole_deleteById" parameterType="String">
		delete from INSBMiniRole where id = #{id}
	</select>
	<select id="INSBAgent_updateAgentById" parameterType="com.zzb.conf.entity.INSBAgent">
		update INSBAgent 
		<set>
			<if test=" operator!=null">
				operator = #{operator},
			</if>
			<if test=" jobnumtype!=null">
				jobnumtype = #{jobnumtype},
			</if>
			<if test=" email">
				email = #{email},
			</if>
			<if test=" modifytime!=null">
				modifytime = #{modifytime},
			</if>
			<if test=" noti!=null">
				noti =#{noti},
			</if>
			<if test=" name!=null">
				name=#{name},
			</if>
			<if test=" sex!=null">
				sex = #{sex},
			</if>
			<if test=" jobnum!=null">
				jobnum = #{jobnum},
			</if>
			<if test=" tempjobnum!=null">
				tempjobnum = #{tempjobnum},
			</if>
			<if test=" phone!=null">
				phone =#{phone},
			</if>
			<if test=" mainbusiness!=null">
				mainbusiness = #{mainbusiness},
			</if>
			<if test=" deptid!=null">
				 deptid = #{deptid},
			</if>
			<if test=" channelid!=null">
				 channelid = #{channelid},
			</if>
			<if test=" treedept!=null">
				treedept =#{treedept},
			</if>
			<if test=" stationid!=null">
				stationid = #{stationid},
			</if>
			<if test=" agentlevel!=null and agentlevel!=0">
				agentlevel =#{agentlevel},
			</if>
			<if test=" agentcode!=null">
				agentcode = #{agentcode},
			</if>
			<if test=" agentstatus!=null and agentstatus!=0">
				agentstatus =#{agentstatus},
			</if>
			<if test=" agentkind!=null and agentkind!=0">
				agentkind = #{agentkind},
			</if>
			<if test=" mobile!=null">
				mobile =#{mobile},
			</if>
			<if test=" mobilephone1use!=null and mobilephone1use!=0">
				mobilephone1use = #{mobilephone1use},
			</if>
			<if test=" mobile2!=null">
				mobile2 = #{mobile2},
			</if>
			<if test=" mobilephone2use!=null and mobilephone2use!=0">
				mobilephone2use = #{mobilephone2use},
			</if>
			<if test=" telnum!=null">
				telnum = #{telnum},
			</if>
			<if test="pwd !=null">
				pwd= #{pwd},
			</if>
			<if test=" istest!=null and istest!=0">
				istest = #{istest},
			</if>
			<if test=" referrer!=null">
				referrer = #{referrer},
			</if>
			<if test=" setid!=null">
				setid = #{setid},
			</if>
			<if test=" cgfns!=null">
				cgfns = #{cgfns},
			</if>
			<if test=" licenseno!=null">
				licenseno = #{licenseno},
			</if>
			<if test=" bankcard!=null">
				bankcard = #{bankcard},
			</if>
			<if test=" registertime!=null">
				registertime = #{registertime},
			</if>
			<if test=" testtime!=null">
				testtime = #{testtime},
			</if>
			<if test=" idno!=null">
				idno = #{idno},
			</if>
			<if test=" idnotype!=null">
				idnotype = 	#{idnotype},
			</if>
			<if test=" firstlogintime!=null">
				firstlogintime = #{firstlogintime},
			</if>
			<if test=" livingcityid!=null">
				livingcityid = 	#{livingcityid},
			</if>
			<if test=" lsatlogintime!=null">
				lsatlogintime = #{lsatlogintime},
			</if>
			<if test=" approvesstate!=null">
				approvesstate=#{approvesstate},
			</if>
			<if test=" compression!=null">
				compression=#{compression},
			</if>
			<if test=" renewaltime!=null">
				renewaltime=#{renewaltime},
			</if>
			<if test=" commonusebranch!=null">
				commonusebranch=#{commonusebranch},
			</if>
			<if test="belongs2bank != null">
				belongs2bank = #{belongs2bank},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="teamcode != null">
				teamcode = #{teamcode},
			</if>
			<if test="teamname != null">
				teamname = #{teamname},
			</if>
			<if test="platformcode != null">
				platformcode = #{platformcode},
			</if>
			<if test="platformname != null">
				platformname = #{platformname},
			</if>
			<if test="lzgid != null">
				lzgid = #{lzgid},
			</if>
			<if test="jobnum4virtual != null">
				jobnum4virtual = #{jobnum4virtual},
			</if>
			<if test="activetime != null">
				activetime = #{activetime},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="firstOderSuccesstime != null">
				firstOderSuccesstime = #{firstOderSuccesstime},
			</if>
			<if test="taskid != null">
				taskid = #{taskid},
			</if>
			<if test="weixinheadphotourl != null">
				weixinheadphotourl = #{weixinheadphotourl},
			</if>
			<if test=" referrerid != null ">
				referrerid = #{referrerid},
			</if>
			<if test=" recommendtype != null ">
				recommendtype = #{recommendtype},
			</if>
			<if test=" openid != null ">
				openid = #{openid},
			</if>
			<if test=" 1 == 1 ">
				modifytime = NOW()
			</if>
		</set>
		 where id = #{id} and usersource='minizzb'
	</select>
	

</mapper>