<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBMiniUserRole -->
	<select id="INSBMiniUserRole_insert" parameterType="com.zzb.extra.entity.INSBMiniUserRole" resultType="int">
		insert into INSBMiniUserRole
		(id,miniuserid,roleid,operator,createtime,modifytime,noti)
		values
		(#{id},#{miniuserid},#{roleid},#{operator},#{createtime},#{modifytime},#{noti})
	</select>
	<select id="INSBMiniUserRole_select" parameterType="Map" resultType="com.zzb.extra.entity.INSBMiniUserRole">
		select * from INSBMiniUserRole
		<where>
			<if test="miniuserid != null and miniuserid != ''">
				and miniuserid = #{miniuserid}
			</if>
			<if test="roleid != null and roleid != ''">
				and roleid = #{roleid}
			</if>
			<if test="id != null and id !=''">
				and id = #{id}
			</if>
			
		</where>
		
        <if test="sort != null and order != null">
            ${sort} ${order}
        </if>
      
        <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
		
	</select>
	
    <select id="INSBMiniUserRole_selectByuserId" parameterType="String" resultType="Map">
       	select distinct a.roleid,b.name from INSBMiniUserRole a,insbminirole b 
       	where a.miniuserid = #{miniuserid} and a.roleid=b.id
    </select>
    <select id="INSBMiniUserRole_queryByuserId" parameterType="String" resultType="com.zzb.extra.entity.INSBMiniUserRole">
       	select * from INSBMiniUserRole a
       	where a.miniuserid = #{miniuserid}
    </select>
    <select id="INSBMiniUserRole_selectByRoleId" parameterType="String" resultType="Map">
       select distinct c.permissionname,a.name from insbminirole a,insbrolepermission b,insbminipermission c 
       where a.id = #{id} and a.id=b.roleid and c.id = b.permissionid
    </select>
    <select id="INSBMiniUserRole_selectAllAgentUser" parameterType="Map" resultType="com.zzb.extra.entity.INSBAgentUser">
       	select * from INSBAgent 
       	
       	<where>
			<if test="referrerid != null and referrerid != ''">
				and referrerid = #{referrerid}
			</if>
			<if test="openid != null and openid != ''">
				and openid = #{openid}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="nickname != null and nickname != ''">
				and nickname = #{nickname}
			</if>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			
				and usersource='minizzb'
			
			
		</where>
       		 <if test="offset != null and limit != null">
            LIMIT #{offset},#{limit}
        </if>
    </select>
    <select id="INSBMiniUserRole_selectAllCount" parameterType="Map" resultType="Long">
       	select count(1) from INSBAgent 
       	
       	<where>
			<if test="referrerid != null and referrerid != ''">
				and referrerid = #{referrerid}
			</if>
			<if test="openid != null and openid != ''">
				and openid = #{openid}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="nickname != null and nickname != ''">
				and nickname = #{nickname}
			</if>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			
				and usersource='minizzb'
			
			
		</where>
       
    </select>
   
	<select id="INSBMiniUserRole_updateById" parameterType="com.zzb.extra.entity.INSBMiniUserRole">
		update INSBMiniUserRole  set operator = #{operator},modifytime = #{modifytime},roleid = #{roleid},miniuserid = #{miniuserid},noti=#{noti} where id = #{id}
	</select>
	
	<select id="INSBMiniUserRole_deleteById" parameterType="String">
		delete from INSBMiniUserRole where id = #{id}
	</select>
	<select id="INSBMiniAgent_updateById" parameterType="com.zzb.conf.entity.INSBAgent">
		update insbagent set pushChannel = #{pushChannel},operator = #{operator},modifytime = #{modifytime} where usersource='minizzb' and id = #{id}
	</select>

</mapper>