<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBPrizeinfo -->
	<select id="INSBPrizeinfo_insert" parameterType="com.zzb.extra.entity.INSBPrizeinfo" resultType="int">
		insert into INSBPrizeinfo
		(id,name,type,counts,effectivetime,invalidtime,effectiveDates) 
		values
		(#{id},#{name},#{type},#{counts},#{effectivetime},#{invalidtime},#{effectiveDates}) 
	</select>
	<select id="INSBPrizeinfo_select" parameterType="Map" resultType="Map">
		select * from INSBPrizeinfo
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="counts != null">
				and counts = #{counts}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="invalidtime != null">
				and invalidtime = #{invalidtime}
			</if>
			<if test="effectiveDates != null">
				and effectiveDates = #{effectiveDates}
			</if>
		</where>
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 id desc 
		</if>
		limit #{offset},#{limit}
	</select>
	<select id="INSBPrizeinfo_selectById" parameterType="String" resultType="Map">
		select * from INSBPrizeinfo where id = #{id}
	</select>
	<select id="INSBPrizeinfo_deleteById" parameterType="String">
		delete from INSBPrizeinfo where id = #{id}
	</select>
	<select id="INSBPrizeinfo_updateById" parameterType="com.zzb.extra.entity.INSBPrizeinfo">
		update INSBPrizeinfo  set name = #{name},type = #{type},counts = #{counts},effectivetime = #{effectivetime},invalidtime = #{invalidtime},effectiveDates = #{effectiveDates} where id = #{id}
	</select>
	<select id="INSBPrizeinfo_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPrizeinfo
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="counts != null">
				and counts = #{counts}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="invalidtime != null">
				and invalidtime = #{invalidtime}
			</if>
			<if test="effectiveDates != null">
				and effectiveDates = #{effectiveDates}
			</if>
		</where>
	</select>
	<select id="INSBPrizeinfo_selectOne" parameterType="Map" resultType="com.zzb.extra.entity.INSBPrizeinfo">
		select * from INSBPrizeinfo
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="counts != null">
				and counts = #{counts}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="invalidtime != null">
				and invalidtime = #{invalidtime}
			</if>
			<if test="effectiveDates != null">
				and effectiveDates = #{effectiveDates}
			</if>
		</where>
		LIMIT 2
	</select>
</mapper>