<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBMarketPrize -->
	<select id="INSBMarketPrize_insert" parameterType="com.zzb.extra.entity.INSBMarketPrize" resultType="int">
		insert into INSBMarketPrize
		(id,operator,createtime,modifytime,noti,prizename,prizetype,counts,effectivetime,terminaltime,effectivedays,status,autouse)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{prizename},#{prizetype},#{counts},#{effectivetime},#{terminaltime},#{effectivedays},#{status},#{autouse})
	</select>
	<select id="INSBMarketPrize_select" parameterType="Map" resultType="Map">
		select id,prizename,prizetype,counts,effectivedays,status,IFNULL(noti,'') AS noti,autouse,
		date_format(effectivetime,'%Y-%m-%d') AS effectivetime,
		date_format(terminaltime,'%Y-%m-%d') AS terminaltime,
		date_format(createtime,'%Y-%m-%d %H:%i:%s') AS createtime
		from INSBMarketPrize
		<where>
			<if test="prizename != null and prizename != ''">
				and prizename = #{prizename}
			</if>
			<if test="prizetype != null and prizetype != ''">
				and prizetype = #{prizetype}
			</if>
			<if test="effectivetime != null and effectivetime != ''">
				and date_format(effectivetime,'%Y-%m-%d') &gt;= date_format(#{effectivetime},'%Y-%m-%d')
			</if>
			<if test="terminaltime != null and terminaltime != ''">
				and date_format(terminaltime,'%Y-%m-%d') &lt;= date_format(#{terminaltime},'%Y-%m-%d')
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="counts != null and counts != ''">
				and counts = #{counts}
			</if>
		</where>
		ORDER BY
		<if test="sort != null and order != null">
			${sort} ${order}
		</if>
		<if test="sort == null">
			createtime desc
		</if>
		<if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>
	</select>
	<select id="INSBMarketPrize_selectById" parameterType="String" resultType="com.zzb.extra.entity.INSBMarketPrize">
		select * from INSBMarketPrize where id = #{id}
	</select>
	<select id="INSBMarketPrize_deleteById" parameterType="String">
		delete from INSBMarketPrize where id = #{id}
	</select>
	<select id="INSBMarketPrize_updateById" parameterType="com.zzb.extra.entity.INSBMarketPrize">
		update INSBMarketPrize  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},prizename = #{prizename},prizetype = #{prizetype},counts = #{counts},effectivetime = #{effectivetime},terminaltime = #{terminaltime},effectivedays = #{effectivedays},status = #{status},autouse = #{autouse} where id = #{id}
	</select>
	<select id="INSBMarketPrize_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBMarketPrize
		<where>
			<if test="prizename != null and prizename != ''">
				and prizename = #{prizename}
			</if>
			<if test="prizetype != null and prizetype != ''">
				and prizetype = #{prizetype}
			</if>
			<if test="effectivetime != null and effectivetime != ''">
				and date_format(effectivetime,'%Y-%m-%d') &gt;= date_format(#{effectivetime},'%Y-%m-%d')
			</if>
			<if test="terminaltime != null and terminaltime != ''">
				and date_format(terminaltime,'%Y-%m-%d') &lt;= date_format(#{terminaltime},'%Y-%m-%d')
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="autouse != null and autouse != ''">
				and autouse = #{autouse}
			</if>
			<if test="counts != null and counts != ''">
				and counts = #{counts}
			</if>
		</where>
	</select>
	<select id="INSBMarketPrize_selectOne" parameterType="Map" resultType="com.zzb.extra.entity.INSBMarketPrize">
		select * from INSBMarketPrize
		<where>
			<if test="prizename != null">
				and prizename = #{prizename}
			</if>
			<if test="prizetype != null">
				and prizetype = #{prizetype}
			</if>
			<if test="counts != null">
				and counts = #{counts}
			</if>
			<if test="effectivetime != null">
				and effectivetime = #{effectivetime}
			</if>
			<if test="terminaltime != null">
				and terminaltime = #{terminaltime}
			</if>
			<if test="effectivedays != null">
				and effectivedays = #{effectivedays}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="autouse != null and autouse != ''">
				and autouse = #{autouse}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBMarketPrize_getPrizeList" parameterType="Map" resultType="com.zzb.extra.entity.INSBMarketPrize">
		select * from INSBMarketPrize where status='1'
	</select>
	<!-- INSBMarketPrize refresh-->

</mapper>