<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.extra.entity">
	<!-- INSBProducediscount -->
	<select id="INSBProducediscount_insert" parameterType="com.zzb.extra.entity.INSBProducediscount" resultType="int">
		insert into INSBProducediscount
		(id,name,note,type) 
		values
		(#{id},#{name},#{note},#{type}) 
	</select>
	<select id="INSBProducediscount_select" parameterType="Map" resultType="Map">
		select * from INSBProducediscount
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="note != null">
				and note = #{note}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</where>
	</select>
	<select id="INSBProducediscount_selectById" parameterType="String" resultType="Map">
		select * from INSBProducediscount where id = #{id}
	</select>
	<select id="INSBProducediscount_deleteById" parameterType="String">
		delete from INSBProducediscount where id = #{id}
	</select>
	<select id="INSBProducediscount_updateById" parameterType="com.zzb.extra.entity.INSBProducediscount">
		update INSBProducediscount  set name = #{name},note = #{note},type = #{type} where id = #{id}
	</select>
	<select id="INSBProducediscount_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBProducediscount
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="note != null">
				and note = #{note}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</where>
	</select>
	<select id="INSBProducediscount_selectOne" parameterType="Map" resultType="com.zzb.extra.entity.INSBProducediscount">
		select * from INSBProducediscount
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="note != null">
				and note = #{note}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</where>
		LIMIT 2
	</select>
</mapper>