@charset "utf-8";
/* CSS Document */

label{font-weight:normal;}

.t-left{ text-align:left;}
.t-center{ text-align:center;}
.t-right{ text-align:right;}


dl.zzb-dl1{overflow: hidden;padding:0;margin:0;}
dl.zzb-dl1 dt{width:120px;float:left;text-align: right;}
dl.zzb-dl1 dd{margin-left:130px;}

colgroup.group1{}
colgroup.group1  .col1{width:120px; text-align: right;}
colgroup.group1  .col2{width:200px;}

.pad0{ padding:0px;}
.pad1{ padding:5px 15px;}
.pad2{ padding:15px;}
.pad3{ padding:0px;}


.mar0{margin:0 auto;}
.mar1{margin-left:0;margin-right:0;}
.mar2{margin-top:0px;margin-bottom:0;}
.mar3{margin-bottom:0px;}


.border0{border:0;}
.border{border:1px solid #ccc;}
.border-t{border-top:1px solid #ccc;}
.border-r{border-right:1px solid #ccc;}
.border-b{border-bottom:1px solid #ccc;}
.border-l{border-left:1px solid #ccc;}

.border-nt{border-top:0;}


.f0{ font-size:10px;}
.f1{ font-size:12px;}
.f2{ font-size:14px;}
.f3{ font-size:16px;}
.f4{ font-size:18px;}
.f5{ font-size:20px;}
.f6{ font-size:22px;}
.f7{ font-size:24px;}
.f8{ font-size:26px;}
.f9{ font-size:28px;}

/*字体颜色*/
.c1{ color:#006fff;}/*蓝色*/
.c2{ color:#9e9e9e;}/*灰色*/
.c22{ color:#878787;}/*深灰色*/
.c3{ color:#ffb11b;}/*橙色*/
.c4{ color:#353f48;}/*黑色*/
.c5{ color:#fff;}/*白色*/
.c6{ color:#ff0000;}/*红色*/

.bg1{background-color:#383838;}
.bg2{background-color:#8A8A8A;}




.nav.no-m{margin-bottom:0;}
.nav-pills > li{margin-right:15px;}


table.hovertable.t1{margin-top:0;margin-bottom:10px;}