<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cninsure.system.entity">
	<select id="INSCFdcom_selectOrganizationData" resultType="com.cninsure.system.entity.INSCFdcom" parameterType="Map">
		select INCOMCODE,COMCODE,UPCOMCODE,COMNAME,SHORTNAME,COMKIND,COMTYPE,COMGRADE,REARCOMCODE,PROVINCE,
		CITY,COUNTY,ADDRESS,ZIPCODE,PHONE,FAX,EMAIL,
		WEBADDRESS,SATRAPNAME,SATRAPCODE,(select count(1) from CBSOPR.HX_FDCOM where upcomcode = a.comcode) as SONNODEFLAG,
		LEVELNUM,OPERATOR,
		TO_DATE(TO_CHAR(MAKEDATE,'yyyy-mm-dd') ||' ' || MAKETIME ,'yyyy-mm-dd hh24:mi:ss') MAKETIME
		,TO_DATE(TO_CHAR(MODIFYDATE,'yyyy-mm-dd') ||' ' || MODIFYTIME ,'yyyy-mm-dd hh24:mi:ss') MODIFYTIME
		,EndFLag
		FROM CBSOPR.HX_FDCOM a
		WHERE COMKIND = '02' 
		<if test="comcode != null"> AND COMCODE = #{comcode}</if>
		<if test="syncdate != null">
			and   (
		     TO_DATE(TO_CHAR(MAKEDATE,'yyyy-mm-dd') ||' ' || MAKETIME ,'yyyy-mm-dd hh24:mi:ss')  
		     >= TO_DATE(#{syncdate},'yyyy-mm-dd hh24:mi:ss') 
		    OR 
		    TO_DATE(TO_CHAR(MODIFYDATE,'yyyy-mm-dd') ||' ' || MODIFYTIME ,'yyyy-mm-dd hh24:mi:ss') 
		    >= TO_DATE(#{syncdate},'yyyy-mm-dd hh24:mi:ss') 
		    ) 
		</if> 
		START WITH UPCOMCODE = '1000000000' 
		CONNECT BY PRIOR COMCODE = UPCOMCODE  
	</select>
	<select id="INSCFdcom_selectOrgCode" resultType="Map" >
		select COMCODE,UPCOMCODE
	    FROM CBSOPR.HX_FDCOM 
	    WHERE COMKIND = '02' 
	</select>
	
	<select id="INSCFdcom_selectProviderData" resultType="Map" parameterType="String">
		select 
		<!-- prvcode,prvname,prvshotname,prvgrade,
		prvtype,prvurl,linkname,linktel,address,PROVINCE,
		CITY,COUNTY,interfacetype,payvalidity,quotationvalidity,FAX,EMAIL,
		quickinsureflag,childflag,eidid,servictel,
		parentcode,permissionorg,affiliationorg,businesstype,channeltype,logo
		,companyintroduce,quotationtime,quotationinterval,insuretime
		,trialflag,priceflag,underwritingflag,pluginflag
		,orderflag,advancequote -->
		a.*
		FROM CBSSYSTEM.FDINSCOM a
		WHERE SUPPLIERCODE NOT LIKE '1%' 
		<if test="_parameter != null">
			and   (
		     TO_DATE(TO_CHAR(MAKEDATE,'yyyy-mm-dd') ||' ' || MAKETIME ,'yyyy-mm-dd hh24:mi:ss')  
		     >= TO_DATE(#{_parameter},'yyyy-mm-dd hh24:mi:ss') 
		    OR 
		    TO_DATE(TO_CHAR(MODIFYDATE,'yyyy-mm-dd') ||' ' || MODIFYTIME ,'yyyy-mm-dd hh24:mi:ss') 
		    >= TO_DATE(#{_parameter},'yyyy-mm-dd hh24:mi:ss') 
		    ) 
		</if> 
		 
	</select>
</mapper>