<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.warranty.model">
    <!-- INSEOrder  -->

    <select id="INSEOrder_insert" parameterType="com.zzb.warranty.model.INSEOrder" resultType="int">
        insert into INSEOrder
        (id,operator,createtime,modifytime,orderno,orderstatus,paymentstatus,deliverystatus,buyway,agentcode,agentname,inputusercode,currency,totaldeliveryamount,totalpaymentamount,totalproductamount,totalpromotionamount,deptcode,paymentmethod,prvid,insorderno, invoiceemail,needinvoice, policyid)
        values
        (#{id},#{operator},#{createtime},#{modifytime},#{orderno},#{orderstatus},#{paymentstatus},#{deliverystatus},#{buyway},#{agentcode},#{agentname},#{inputusercode},#{currency},#{totaldeliveryamount},#{totalpaymentamount},#{totalproductamount},#{totalpromotionamount},#{deptcode},#{paymentmethod},#{prvid},#{insorderno},#{invoiceemail},#{needinvoice},#{policy.id})
    </select>

    <select id="INSEOrder_selectOne" parameterType="map" resultType="map" useCache="false">
        select * from INSEOrder o
        <where>
            1=1
            <if test="agentcode!=null and agentcode!=''">
                and o.agentcode=#{agentcode}
            </if>
            <if test="orderno!=null and orderno!=''">
                and o.orderno=#{orderno}
            </if>
        </where>
    </select>

    <select id="INSEOrder_getOrderByOrderNoAndAgentCode" parameterType="map"
            resultType="com.zzb.warranty.model.INSEOrder">
        select * from INSEOrder o WHERE o.agentcode=#{agentCode} and o.orderno=#{orderNo}
    </select>

    <select id="INSEOrder_getOrderByOrderNo" parameterType="string" resultType="com.zzb.warranty.model.INSEOrder">
        select * from INSEOrder o WHERE o.orderno=#{orderNo}
    </select>

    <update id="INSEOrder_updateById" parameterType="com.zzb.warranty.model.INSEOrder">
      update INSEOrder set transactionId=#{transactionId}, orderstatus=#{orderstatus} where id=#{id}
    </update>

    <update id="INSEOrder_updateOrderPromotionAmount" parameterType="map">
        UPDATE INSEOrder SET totalpromotionamount=#{promotionAmount} WHERE orderNo=#{orderNo}
    </update>
    <!--<select id="INSEOrder_selectByOrderNo" parameterType="String" resultType="java.util.Map" useCache="false">-->
    <!--select o.orderno order_orderno, o.amount order_amount,-->
    <!--p1.id applicant_id, p1.name applicant_name, p1.cellphone applicant_cellphone, p1.idcardno applicant_idcardno p1.idcardtype applicant_idcardtype, p1.email applicant_email,-->
    <!--p2.id applicant_id, p2.name applicant_name, p2.cellphone applicant_cellphone, p2.idcardno applicant_idcardno p2.idcardtype applicant_idcardtype, p2.email applicant_email,-->
    <!--p3.id applicant_id, p3.name applicant_name, p3.cellphone applicant_cellphone, p3.idcardno applicant_idcardno p3.idcardtype applicant_idcardtype, p3.email applicant_email,-->
    <!--po.startdate policy_startdate, po.enddate policy_endate-->
    <!--c.vincode car_vincode, c.carlicenseno car_licenseno, c.standardfullname car_standardfullname, c.engineno car_engineno,-->
    <!--c.ownername car_ownername, c.registdate car_registdate-->
    <!--from INSEOrder o-->
    <!--left join insepolicy po on po.orderid=o.id-->
    <!--left join inseperson p1 on p1.id=po.applicantid-->
    <!--left join inseperson p2 on p2.id=po.insuredid-->
    <!--left join inseperson p3 on p3.id=po.carownerid-->
    <!--left join inseperson p4 on p4.id=po.legalrightclaim-->
    <!--left join insecar c on c.id=po.carinfoid-->
    <!--where o.orderno=#{orderno} and o.agentcode=#{agentcode}-->
    <!--</select>-->

    <select id="INSEOrder_myOrderList" parameterType="map" resultType="map">
        select * from INSEOrder o
        left join insepolicy po on po.orderid=o.id
        left join inseperson p1 on p1.id=po.applicantid
        left join inseperson p2 on p2.id=po.insuredid
        left join inseperson p3 on p3.id=po.carownerid
        left join insecar c on c.id=po.carinfoid

        <where>
            1=1
            <if test="agentcode != null and agentcode !=''">
                and o.agentcode = #{agentcode}
            </if>
            <if test="orderstatus!=null">
                and o.orderstatus = #{orderstatus}
            </if>
        </where>
        order by o.createtime desc
        <if test="offset!=null and limit!=null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="INSEOrder_orderSummaryList">

    </select>

    <select id="INSEOrder_selectCount" parameterType="Map" resultType="Long">
        select count(*) from INSEOrder o
        left join insepolicy po on po.orderid=o.id
        left join inseperson p1 on p1.id=po.applicantid
        left join inseperson p2 on p2.id=po.insuredid
        left join inseperson p3 on p3.id=po.carownerid
        left join insecar c on c.id=po.carinfoid

        <where>
            1=1
            <if test="agentcode != null and agentcode !=''">
                and o.agentcode = #{agentcode}
            </if>
            and o.orderstatus = #{orderstatus}
        </where>
    </select>

    <select id="INSEOrder_selectOrdersCountForCm" parameterType="Map" resultType="Long">
        select count(*) from INSEOrder o
        left join insepolicy po on po.orderid=o.id
        left join inseperson p1 on p1.id=po.applicantid
        left join inseperson p2 on p2.id=po.insuredid
        left join inseperson p3 on p3.id=po.carownerid
        left join insecar c on c.id=po.carinfoid
        left join inseperson p4 on p4.id=po.legalrightclaimid
        <where>
            1=1
            <if test="orderNo!=null and orderNo!=''">
                and o.orderno=#{orderNo}
            </if>
            <if test="plateNumber!=null and plateNumber!=''">
                and c.carlicenseno=#{plateNumber}
            </if>
            <if test="insuredName!=null and insuredName!=''">
                and p2.name=#{insuredName}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and o.orderstatus=#{orderStatus}
            </if>
            <if test="transactionId!=null and transactionId!=''">
                and o.transactionid=#{transactionId}
            </if>
            <if test="paymentChannel!=null and paymentChannel!=''">
                and paymentmethod=#{paymentChannel}
            </if>
            <if test="startDate!=null and startDate!=''">
                and o.createtime &gt;=DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%i:%S')
            </if>
            <if test="endDate!=null and startDate!=''">
                and o.createtime &lt;=DATE_FORMAT(#{endDate}, '%Y-%m-%d %H:%i:%S')
            </if>
        </where>
    </select>

    <select id="INSEOrder_selectOrdersForCm" parameterType="Map" resultType="Map">
        select o.orderno order_orderno, o.totalproductamount order_amount,o.createtime order_createtime,o.paymentmethod
        order_paymentmethod,o.orderstatus order_orderstatus,
        p1.id applicant_id, p1.name applicant_name, p1.cellphone applicant_cellphone,
        p1.idcardno applicant_idcardno, p1.idcardtype applicant_idcardtype, p1.email applicant_email,
        p2.id insured_id, p2.name insured_name, p2.cellphone insured_cellphone,
        p2.idcardno insured_idcardno, p2.idcardtype insured_idcardtype, p2.email insured_email,
        p3.id carowner_id, p3.name carowner_name, p3.cellphone carowner_cellphone,
        p3.idcardno carowner_idcardno, p3.idcardtype carowner_idcardtype, p3.email carowner_email,
        po.startdate policy_startdate, po.enddate policy_endate,
        c.vincode car_vincode, c.carlicenseno car_platenumber, c.standardfullname car_standardfullname,
        c.engineno car_engineno, c.ownername car_ownername, c.registdate car_registerdate
        from INSEOrder o
        left join insepolicy po on po.orderid=o.id
        left join inseperson p1 on p1.id=po.applicantid
        left join inseperson p2 on p2.id=po.insuredid
        left join inseperson p3 on p3.id=po.carownerid
        left join inseperson p4 on p4.id=po.legalrightclaimid
        left join insecar c on c.id=po.carinfoid
        <where>
            1=1
            <if test="orderNo!=null and orderNo!=''">
                and o.orderno=#{orderNo}
            </if>
            <if test="plateNumber!=null and plateNumber!=''">
                and c.carlicenseno=#{plateNumber}
            </if>
            <if test="insuredName!=null and insuredName!=''">
                and p2.name=#{insuredName}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and o.orderstatus=#{orderStatus}
            </if>
            <if test="transactionId!=null and transactionId!=''">
                and o.transactionid=#{transactionId}
            </if>
            <if test="paymentChannel!=null and paymentChannel!=''">
                and paymentmethod=#{paymentChannel}
            </if>
            <if test="startDate!=null and startDate!=''">
                and o.createtime <![CDATA[ >= ]]>DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="endDate!=null and startDate!=''">
                and o.createtime <![CDATA[ <= ]]>DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
        order by o.createtime desc
    </select>

</mapper>