<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.warranty.model">
    <!-- INSEOrder  -->

    <select id="INSEWarrantyPrice_insert" parameterType="com.zzb.warranty.model.INSEWarrantyPrice" resultType="int">
        insert into INSEWarrantyPrice
        (id, downprice, upprice, warrantyprice, warrantyplan, isimported, warrantyperiod)
        values
        (#{id}, #{downPrice},#{upPrice}, #{warrantyPrice},#{warrantyPlan},#{isImported},#{warrantyPeriod})
    </select>

    <select id="selectWarrantyPrice" parameterType="Map" resultType="com.zzb.warranty.model.INSEWarrantyPrice">
        select * from INSEWarrantyPrice
        where (#{carPrice} between downPrice and upprice) and warrantyplan=#{warrantyPlan} and isImported=#{isImported} and warrantyPeriod=#{years}
    </select>

    <select id="selectWarrantyPrices" parameterType="Map" resultType="com.zzb.warranty.model.INSEWarrantyPrice">
        select * from INSEWarrantyPrice wp
        where (#{carPrice} between downprice and upprice) and isImported=#{isImported}
        ORDER BY wp.warrantyperiod, wp.warrantyplan
    </select>

</mapper>