<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insbPushWorkflow">
	<select id="getListByMap" parameterType="Map" resultType="Map">
		select * FROM ((
		SELECT
		'main' as type,
		CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END AS taskcode,
		CASE WHEN (e.codename ='' OR e.codename IS NULL) THEN l.codename ELSE e.codename END AS tasktype,
		b.`status` AS taskstate,
		a.taskcode AS tasktaskcode,
		c.codename AS taskcodename,
		a.taskstate AS cmtaskstate,
		'0' AS instanceid,
		a.instanceid AS mainInstanceId,
		CONCAT(inu. NAME, '(', a.operator, ')') AS operator,
		DATE_FORMAT(wmt.createtime, '%Y-%m-%d %H:%i:%S') AS createtime,
		q.inscomcode,
		pro.prvshotname AS inscomName,
		( CASE WHEN ((CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END)=a.taskcode)
		THEN
		'正常'
		ELSE
		'异常'
		END
		) AS taskstatus
		FROM insbworkflowmain a
		INNER JOIN task b ON a.instanceid = b.processInstanceId AND b.`status` != 'Completed' AND b.name !='子流程前置'
		INNER JOIN insbworkflowsub sub ON sub.taskcode = '33' AND sub.maininstanceid = a.instanceid
		LEFT JOIN insbquoteinfo q ON sub.instanceid = q.workflowinstanceid
		LEFT JOIN inscdept dept on dept.comcode = q.deptcode
		LEFT JOIN insbprovider pro ON pro.prvcode = q.inscomcode
		LEFT JOIN insccode c ON c.codevalue = a.taskcode AND c.codetype = 'workflowNodelName' AND c.parentcode = 'workflowNodelName'
		LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		LEFT JOIN insccode l ON l.codevalue = b.formName AND l.codetype = 'workflowNodelName'
		LEFT JOIN inscuser inu ON inu.usercode = a.operator
		LEFT JOIN insbworkflowmaintrack wmt ON wmt.instanceid=a.instanceid and wmt.taskcode=a.taskcode
		and wmt.createtime=(SELECT MAX(wmt2.createtime) from insbworkflowmaintrack wmt2 WHERE wmt2.instanceid=a.instanceid and wmt2.taskcode=a.taskcode)
		<where>
			<if test="deptinnercode !=null">
				AND dept.deptinnercode LIKE CONCAT(#{deptinnercode},'%')
			</if>
			<!-- 正常 -->
			<if test="taskstatus != null and taskstatus == '01'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue=a.taskcode)
				)
			</if>
			<!-- 异常 -->
			<if test="taskstatus != null and taskstatus == '02'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName!=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue!=a.taskcode)
				)
			</if>
			<if test="taskcreatetimeup != null">
				AND wmt.createtime &gt;= DATE_FORMAT(#{taskcreatetimeup}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="taskcreatetimedown != null">
				AND wmt.createtime &lt;= DATE_FORMAT(#{taskcreatetimedown}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="tasktype != null  and  tasktype !='30'">
				AND a.taskcode  = #{tasktype}
			</if>
			<if test="tasktype == '30'">
				AND a.taskcode in ('30', '37')
			</if>
			<if test="mainInstanceId !=null">
				AND a.instanceid = #{mainInstanceId}
			</if>
		</where>
		) UNION (
		SELECT
		'sub' as type,
		CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END AS taskcode,
		CASE WHEN (e.codename ='' OR e.codename IS NULL) THEN l.codename ELSE e.codename  END AS tasktype,
		b.`status` AS taskstate,
		a.taskcode AS tasktaskcode,
		c.codename AS taskcodename,
		a.taskstate AS cmtaskstate,
		a.instanceid,
		a.maininstanceid as mainInstanceId,
		CONCAT(inu. NAME, '(', a.operator, ')') AS operator,
		DATE_FORMAT(wst.createtime, '%Y-%m-%d %H:%i:%S') AS createtime,
		q.inscomcode,
		pro.prvshotname AS inscomName,
		( CASE WHEN ((CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END)=a.taskcode)
		THEN
		'正常'
		ELSE
		'异常'
		END
		) AS taskstatus
		FROM insbworkflowsub a
		INNER JOIN task b ON b.id=(SELECT max(id) FROM task WHERE processInstanceId=a.instanceid) AND b.name !='子流程前置'
		LEFT JOIN insbquoteinfo q ON a.instanceid = q.workflowinstanceid
		LEFT JOIN inscdept dept on dept.comcode = q.deptcode
		LEFT JOIN insbprovider pro ON pro.prvcode = q.inscomcode
		LEFT JOIN insccode c ON c.codevalue = a.taskcode AND c.codetype = 'workflowNodelName' AND c.parentcode = 'workflowNodelName'
		LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		LEFT JOIN insccode l ON l.codevalue = b.formName AND l.codetype = 'workflowNodelName'
		LEFT JOIN inscuser inu ON inu.usercode = a.operator
		LEFT JOIN insbworkflowsubtrack wst ON wst.maininstanceid=a.maininstanceid and wst.instanceid=a.instanceid and wst.taskcode=a.taskcode
		and wst.createtime=(SELECT MAX(wst2.createtime) from insbworkflowsubtrack wst2 WHERE wst2.maininstanceid=a.maininstanceid and wst2.instanceid=a.instanceid and wst2.taskcode=a.taskcode)
		<where>
			a.taskstate != 'end' and a.taskstate != 'Closed'
			<if test="deptinnercode !=null">
				AND dept.deptinnercode LIKE CONCAT(#{deptinnercode},'%')
			</if>
			<!-- 正常 -->
			<if test="taskstatus != null and taskstatus == '01'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue=a.taskcode)
				)
			</if>
			<!-- 异常 -->
			<if test="taskstatus != null and taskstatus == '02'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName!=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue!=a.taskcode)
				)
			</if>
			<if test="taskcreatetimeup != null">
				AND wst.createtime &gt;= DATE_FORMAT(#{taskcreatetimeup}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="taskcreatetimedown != null">
				AND wst.createtime &lt;= DATE_FORMAT(#{taskcreatetimedown}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="tasktype != null  and  tasktype !='30'">
				AND a.taskcode  = #{tasktype}
			</if>
			<if test="tasktype == '30'">
				AND a.taskcode in ('30', '37')
			</if>
			<if test="mainInstanceId !=null">
				AND a.maininstanceid = #{mainInstanceId}
			</if>
		</where>
		)) re
		order by createtime desc
		LIMIT #{offset},#{limit};
	</select>

	<select id="getCountByMap" parameterType="Map" resultType="Long">
		select count(1) FROM ((
		SELECT
		'main' as type,
		CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END AS taskcode,
		CASE WHEN (e.codename ='' OR e.codename IS NULL) THEN l.codename ELSE e.codename  END AS tasktype,
		a.taskcode AS tasktaskcode,
		c.codename AS taskcodename,
		'0' AS instanceid,
		a.instanceid AS mainInstanceId,
		CONCAT(inu. NAME, '(', a.operator, ')') AS operator,
		DATE_FORMAT(wmt.createtime, '%Y-%m-%d %H:%i:%S') AS createtime,
		q.inscomcode,
		pro.prvshotname AS inscomName,
		( CASE WHEN ((CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END)=a.taskcode)
		THEN
		'正常'
		ELSE
		'异常'
		END
		) AS taskstatus
		FROM insbworkflowmain a
		INNER JOIN task b ON a.instanceid = b.processInstanceId AND b.`status` != 'Completed' AND b.name !='子流程前置'
		INNER JOIN insbworkflowsub sub ON sub.taskcode = '33' AND sub.maininstanceid = a.instanceid
		LEFT JOIN insbquoteinfo q ON sub.instanceid = q.workflowinstanceid
		LEFT JOIN inscdept dept on dept.comcode = q.deptcode
		LEFT JOIN insbprovider pro ON pro.prvcode = q.inscomcode
		LEFT JOIN insccode c ON c.codevalue = a.taskcode AND c.codetype = 'workflowNodelName' AND c.parentcode = 'workflowNodelName'
		LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		LEFT JOIN insccode l ON l.codevalue = b.formName AND l.codetype = 'workflowNodelName'
		LEFT JOIN inscuser inu ON inu.usercode = a.operator
		LEFT JOIN insbworkflowmaintrack wmt ON wmt.instanceid=a.instanceid and wmt.taskcode=a.taskcode
		and wmt.createtime=(SELECT MAX(wmt2.createtime) from insbworkflowmaintrack wmt2 WHERE wmt2.instanceid=a.instanceid and wmt2.taskcode=a.taskcode)
		<where>
			<if test="deptinnercode !=null">
				AND dept.deptinnercode LIKE CONCAT(#{deptinnercode},'%')
			</if>
			<!-- 正常 -->
			<if test="taskstatus != null and taskstatus == '01'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue=a.taskcode)
				)
			</if>
			<!-- 异常 -->
			<if test="taskstatus != null and taskstatus == '02'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName!=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue!=a.taskcode)
				)
			</if>
			<if test="taskcreatetimeup != null">
				AND wmt.createtime &gt;= DATE_FORMAT(#{taskcreatetimeup}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="taskcreatetimedown != null">
				AND wmt.createtime &lt;= DATE_FORMAT(#{taskcreatetimedown}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="tasktype != null  and  tasktype !='30'">
				AND a.taskcode  = #{tasktype}
			</if>
			<if test="tasktype == '30'">
				AND a.taskcode in ('30', '37')
			</if>
			<if test="mainInstanceId !=null">
				AND a.instanceid = #{mainInstanceId}
			</if>
		</where>
		) UNION (
		SELECT
		'sub' as type,
		CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END AS taskcode,
		CASE WHEN (e.codename ='' OR e.codename IS NULL) THEN l.codename ELSE e.codename  END AS tasktype,
		a.taskcode AS tasktaskcode,
		c.codename AS taskcodename,
		a.instanceid,
		a.maininstanceid as mainInstanceId,
		CONCAT(inu. NAME, '(', a.operator, ')') AS operator,
		DATE_FORMAT(wst.createtime, '%Y-%m-%d %H:%i:%S') AS createtime,
		q.inscomcode,
		pro.prvshotname AS inscomName,
		( CASE WHEN ((CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END)=a.taskcode)
		THEN
		'正常'
		ELSE
		'异常'
		END
		) AS taskstatus
		FROM insbworkflowsub a
		INNER JOIN task b ON b.id=(SELECT max(id) FROM task WHERE processInstanceId=a.instanceid) AND b.name !='子流程前置'
		LEFT JOIN insbquoteinfo q ON a.instanceid = q.workflowinstanceid
		LEFT JOIN inscdept dept on dept.comcode = q.deptcode
		LEFT JOIN insbprovider pro ON pro.prvcode = q.inscomcode
		LEFT JOIN insccode c ON c.codevalue = a.taskcode AND c.codetype = 'workflowNodelName' AND c.parentcode = 'workflowNodelName'
		LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		LEFT JOIN insccode l ON l.codevalue = b.formName AND l.codetype = 'workflowNodelName'
		LEFT JOIN inscuser inu ON inu.usercode = a.operator
		LEFT JOIN insbworkflowsubtrack wst ON wst.maininstanceid=a.maininstanceid and wst.instanceid=a.instanceid and wst.taskcode=a.taskcode
		and wst.createtime=(SELECT MAX(wst2.createtime) from insbworkflowsubtrack wst2 WHERE wst2.maininstanceid=a.maininstanceid and wst2.instanceid=a.instanceid and wst2.taskcode=a.taskcode)
		<where>
			a.taskstate != 'end' and a.taskstate != 'Closed'
			<if test="deptinnercode !=null">
				AND dept.deptinnercode LIKE CONCAT(#{deptinnercode},'%')
			</if>
			<!-- 正常 -->
			<if test="taskstatus != null and taskstatus == '01'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue=a.taskcode)
				)
			</if>
			<!-- 异常 -->
			<if test="taskstatus != null and taskstatus == '02'">
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName!=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue!=a.taskcode)
				)
			</if>
			<if test="taskcreatetimeup != null">
				AND wst.createtime &gt;= DATE_FORMAT(#{taskcreatetimeup}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="taskcreatetimedown != null">
				AND wst.createtime &lt;= DATE_FORMAT(#{taskcreatetimedown}, '%Y-%m-%d %H:%i:%S')
			</if>
			<if test="tasktype != null  and  tasktype !='30'">
				AND a.taskcode  = #{tasktype}
			</if>
			<if test="tasktype == '30'">
				AND a.taskcode in ('30', '37')
			</if>
			<if test="mainInstanceId !=null">
				AND a.maininstanceid = #{mainInstanceId}
			</if>
		</where>
		)) re
	</select>

	<select id="queryTaskByInstanceid" parameterType="String" resultType="Map">
		select * FROM task WHERE processInstanceId=#{instanceid} AND status!='Completed'
	</select>

	<select id="getTaskByInstanceid" parameterType="String" resultType="Map">
		SELECT * FROM `task` WHERE processInstanceId=#{instanceid} ORDER BY id DESC LIMIT 1;
	</select>

	<select id="queryMainAndTask" parameterType="String" resultType="Map">
		SELECT a.taskcode, a.taskstate, b.`name`, b.`status`,
			CASE WHEN (b.formName ='' OR b.formName IS NULL ) THEN e.codevalue ELSE b.formName END AS formName
			FROM insbworkflowmain a
			LEFT JOIN task b ON a.instanceid = b.processInstanceId
		 	LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		WHERE
		 	a.instanceid=#{mainInstanceId}
		ORDER BY b.id DESC LIMIT 1;
	</select>

	<select id="querySubAndTask" parameterType="String" resultType="Map">
		SELECT a.taskcode, a.taskstate, b.`name`, b.`status`,
			CASE WHEN (b.formName ='' OR b.formName IS NULL ) THEN e.codevalue ELSE b.formName END AS formName
			FROM insbworkflowsub a
			LEFT JOIN task b ON a.instanceid = b.processInstanceId
			LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		WHERE
			a.instanceid=#{subInstanceId}
		ORDER BY b.id DESC LIMIT 1;
	</select>
	
	
	<select id="queryErrorStateTasks" parameterType="Map" resultType="com.zzb.cm.controller.vo.ManualPushFlowVo">
		select * FROM ((
		SELECT
		'main' as type,
		CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END AS taskcode,
		CASE WHEN (e.codename ='' OR e.codename IS NULL) THEN l.codename ELSE e.codename END AS tasktype,
		b.`status` AS taskstate,
		a.taskcode AS tasktaskcode,
		c.codename AS taskcodename,
		a.taskstate AS cmtaskstate,
		'0' AS instanceid,
		a.instanceid AS mainInstanceId,
		CONCAT(inu. NAME, '(', a.operator, ')') AS operator,
		DATE_FORMAT(wmt.createtime, '%Y-%m-%d %H:%i:%S') AS createtime,
		q.inscomcode,
		pro.prvshotname AS inscomName,
		( CASE WHEN ((CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END)=a.taskcode)
		THEN
		'正常'
		ELSE
		'异常'
		END
		) AS taskstatus
		FROM insbworkflowmain a
		INNER JOIN task b ON a.instanceid = b.processInstanceId AND b.`status` != 'Completed' AND b.name !='子流程前置'
		INNER JOIN insbworkflowsub sub ON sub.taskcode = '33' AND sub.maininstanceid = a.instanceid
		LEFT JOIN insbquoteinfo q ON sub.instanceid = q.workflowinstanceid
		LEFT JOIN inscdept dept on dept.comcode = q.deptcode
		LEFT JOIN insbprovider pro ON pro.prvcode = q.inscomcode
		LEFT JOIN insccode c ON c.codevalue = a.taskcode AND c.codetype = 'workflowNodelName' AND c.parentcode = 'workflowNodelName'
		LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		LEFT JOIN insccode l ON l.codevalue = b.formName AND l.codetype = 'workflowNodelName'
		LEFT JOIN inscuser inu ON inu.usercode = a.operator
		LEFT JOIN insbworkflowmaintrack wmt ON wmt.instanceid=a.instanceid and wmt.taskcode=a.taskcode
		and wmt.createtime=(SELECT MAX(wmt2.createtime) from insbworkflowmaintrack wmt2 WHERE wmt2.instanceid=a.instanceid and wmt2.taskcode=a.taskcode)
		WHERE
			<!-- 异常 -->
				((b.formName!='' AND b.formName IS NOT NULL AND b.formName!=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue!=a.taskcode)
				)
				AND wmt.createtime &gt;= DATE_FORMAT(#{taskcreatetimeup}, '%Y-%m-%d %H:%i:%S')
				AND wmt.createtime &lt;= DATE_FORMAT(#{taskcreatetimedown}, '%Y-%m-%d %H:%i:%S')
		) UNION ALL (
		SELECT
		'sub' as type,
		CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END AS taskcode,
		CASE WHEN (e.codename ='' OR e.codename IS NULL) THEN l.codename ELSE e.codename  END AS tasktype,
		b.`status` AS taskstate,
		a.taskcode AS tasktaskcode,
		c.codename AS taskcodename,
		a.taskstate AS cmtaskstate,
		a.instanceid,
		a.maininstanceid as mainInstanceId,
		CONCAT(inu. NAME, '(', a.operator, ')') AS operator,
		DATE_FORMAT(wst.createtime, '%Y-%m-%d %H:%i:%S') AS createtime,
		q.inscomcode,
		pro.prvshotname AS inscomName,
		( CASE WHEN ((CASE WHEN (e.codevalue ='' OR e.codevalue IS NULL) THEN b.formName ELSE e.codevalue END)=a.taskcode)
		THEN
		'正常'
		ELSE
		'异常'
		END
		) AS taskstatus
		FROM insbworkflowsub a
		INNER JOIN task b ON b.id=(SELECT max(id) FROM task WHERE processInstanceId=a.instanceid) AND b.name !='子流程前置'
		LEFT JOIN insbquoteinfo q ON a.instanceid = q.workflowinstanceid
		LEFT JOIN inscdept dept on dept.comcode = q.deptcode
		LEFT JOIN insbprovider pro ON pro.prvcode = q.inscomcode
		LEFT JOIN insccode c ON c.codevalue = a.taskcode AND c.codetype = 'workflowNodelName' AND c.parentcode = 'workflowNodelName'
		LEFT JOIN insccode e ON e.codename = b.name AND e.codetype = 'workflowNodelName' AND e.prop4='1'
		LEFT JOIN insccode l ON l.codevalue = b.formName AND l.codetype = 'workflowNodelName'
		LEFT JOIN inscuser inu ON inu.usercode = a.operator
		LEFT JOIN insbworkflowsubtrack wst ON wst.maininstanceid=a.maininstanceid and wst.instanceid=a.instanceid and wst.taskcode=a.taskcode
		and wst.createtime=(SELECT MAX(wst2.createtime) from insbworkflowsubtrack wst2 WHERE wst2.maininstanceid=a.maininstanceid and wst2.instanceid=a.instanceid and wst2.taskcode=a.taskcode)
		WHERE 
			a.taskstate != 'end' and a.taskstate != 'Closed'
			<!-- 异常 -->
				AND ((b.formName!='' AND b.formName IS NOT NULL AND b.formName!=a.taskcode)
					OR ((b.formName='' OR b.formName IS NULL) AND e.codevalue!='' AND e.codevalue IS NOT NULL AND e.codevalue!=a.taskcode)
				)
				AND wst.createtime &gt;= DATE_FORMAT(#{taskcreatetimeup}, '%Y-%m-%d %H:%i:%S')
				AND wst.createtime &lt;= DATE_FORMAT(#{taskcreatetimedown}, '%Y-%m-%d %H:%i:%S')
			 
		)) re
		order by createtime desc
	</select>
</mapper>