<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBRulequeryrepeatinsured -->
	<select id="INSBRulequeryrepeatinsured_insert" parameterType="com.zzb.cm.entity.INSBRulequeryrepeatinsured" resultType="int">
		insert into INSBRulequeryrepeatinsured
		(id,operator,createtime,modifytime,noti,taskid,inscorpid,inscorpcode,inscorpname,policystarttime,policyendtime,policyid,risktype) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{inscorpid},#{inscorpcode},#{inscorpname},#{policystarttime},#{policyendtime},#{policyid},#{risktype}) 
	</select>
	<select id="INSBRulequeryrepeatinsured_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBRulequeryrepeatinsured">
		select * from INSBRulequeryrepeatinsured
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscorpid != null">
				and inscorpid = #{inscorpid}
			</if>
			<if test="inscorpcode != null">
				and inscorpcode = #{inscorpcode}
			</if>
			<if test="inscorpname != null">
				and inscorpname = #{inscorpname}
			</if>
			<if test="policystarttime != null">
				and policystarttime = #{policystarttime}
			</if>
			<if test="policyendtime != null">
				and policyendtime = #{policyendtime}
			</if>
			<if test="policyid != null">
				and policyid = #{policyid}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
		</where>
	</select>
	<select id="INSBRulequeryrepeatinsured_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBRulequeryrepeatinsured">
		select * from INSBRulequeryrepeatinsured where id = #{id}
	</select>
	<select id="INSBRulequeryrepeatinsured_deleteById" parameterType="String">
		delete from INSBRulequeryrepeatinsured where id = #{id}
	</select>
	<select id="INSBRulequeryrepeatinsured_updateById" parameterType="com.zzb.cm.entity.INSBRulequeryrepeatinsured">
		update INSBRulequeryrepeatinsured  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},taskid = #{taskid},inscorpid = #{inscorpid},inscorpcode = #{inscorpcode},inscorpname = #{inscorpname},policystarttime = #{policystarttime},policyendtime = #{policyendtime},policyid = #{policyid},risktype = #{risktype} where id = #{id}
	</select>
	<select id="INSBRulequeryrepeatinsured_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRulequeryrepeatinsured
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscorpid != null">
				and inscorpid = #{inscorpid}
			</if>
			<if test="inscorpcode != null">
				and inscorpcode = #{inscorpcode}
			</if>
			<if test="inscorpname != null">
				and inscorpname = #{inscorpname}
			</if>
			<if test="policystarttime != null">
				and policystarttime = #{policystarttime}
			</if>
			<if test="policyendtime != null">
				and policyendtime = #{policyendtime}
			</if>
			<if test="policyid != null">
				and policyid = #{policyid}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
		</where>
	</select>
	<select id="INSBRulequeryrepeatinsured_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBRulequeryrepeatinsured">
		select * from INSBRulequeryrepeatinsured
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscorpid != null">
				and inscorpid = #{inscorpid}
			</if>
			<if test="inscorpcode != null">
				and inscorpcode = #{inscorpcode}
			</if>
			<if test="inscorpname != null">
				and inscorpname = #{inscorpname}
			</if>
			<if test="policystarttime != null">
				and policystarttime = #{policystarttime}
			</if>
			<if test="policyendtime != null">
				and policyendtime = #{policyendtime}
			</if>
			<if test="policyid != null">
				and policyid = #{policyid}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
		</where>
		 LIMIT 1
	</select>
	<select id="INSBRulequeryrepeatinsured_selectPolicy" parameterType="Map" resultType="com.zzb.cm.entity.INSBRulequeryrepeatinsured">
		SELECT i.*,i.`policyid` AS policyno FROM INSBRulequeryrepeatinsured i
		WHERE i.`taskid`=#{taskid}

	</select>
</mapper>