<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBOrdernumber -->
	<select id="INSBOrdernumber_insert" parameterType="com.zzb.cm.entity.INSBOrdernumber" resultType="int">
		insert into INSBOrdernumber
		(id,operator,createtime,modifytime,noti,date,prfix,transaction) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{date},#{prfix},#{transaction})
	</select>
	<select id="INSBOrdernumber_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBOrdernumber">
		select * from INSBOrdernumber
		<where>
			<if test="date != null">
				and date = #{date}
			</if>
			<if test="prfix != null">
				and prfix = #{prfix}
			</if>
			<if test="transaction != null">
				and transaction = #{transaction}
			</if>
		</where>
	</select>
	<select id="INSBOrdernumber_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBOrdernumber">
		select * from INSBOrdernumber where id = #{id}
	</select>
	<select id="INSBOrdernumber_deleteById" parameterType="String">
		delete from INSBOrdernumber where id = #{id}
	</select>
	<select id="INSBOrdernumber_updateById" parameterType="com.zzb.cm.entity.INSBOrdernumber">
		update INSBOrdernumber  set operator = #{operator},modifytime = NOW(),noti = #{noti},date = #{date},prfix = #{prfix},transaction = #{transaction} where id = #{id}
	</select>
	<select id="INSBOrdernumber_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBOrdernumber
		<where>
			<if test="date != null">
				and date = #{date}
			</if>
			<if test="prfix != null">
				and prfix = #{prfix}
			</if>
			<if test="transaction != null">
				and transaction = #{transaction}
			</if>
		</where>
	</select>
	<select id="INSBOrdernumber_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBOrdernumber">
		select * from INSBOrdernumber
		<where>
			<if test="date != null">
				and date = #{date}
			</if>
			<if test="prfix != null">
				and prfix = #{prfix}
			</if>
			<if test="transaction != null">
				and transaction = #{transaction}
			</if>
		</where>
		LIMIT 2
	</select>
	
	<select id="INSBOrdernumber_selectByDate" parameterType="String" resultType="com.zzb.cm.entity.INSBOrdernumber">
		select * from INSBOrdernumber where date = #{date} 
	</select>
</mapper>