<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBInvoiceinfo -->
	<select id="INSBInvoiceinfo_insert" parameterType="com.zzb.cm.entity.INSBInvoiceinfo" resultType="int">
		insert into INSBInvoiceinfo
		(id,operator,createtime,modifytime,noti,taskid,inscomcode,invoicetype,bankname,accountnumber,identifynumber,registerphone,registeraddress,email) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{inscomcode},#{invoicetype},#{bankname},#{accountnumber},#{identifynumber},#{registerphone},#{registeraddress},#{email})
	</select>
	<select id="INSBInvoiceinfo_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBInvoiceinfo">
		select * from INSBInvoiceinfo
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="invoicetype != null">
				and invoicetype = #{invoicetype}
			</if>
			<if test="bankname != null">
				and bankname = #{bankname}
			</if>
			<if test="accountnumber != null">
				and accountnumber = #{accountnumber}
			</if>
			<if test="identifynumber != null">
				and identifynumber = #{identifynumber}
			</if>
			<if test="registerphone != null">
				and registerphone = #{registerphone}
			</if>
			<if test="registeraddress != null">
				and registeraddress = #{registeraddress}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
		</where>
	</select>
	<select id="INSBInvoiceinfo_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBInvoiceinfo">
		select * from INSBInvoiceinfo where id = #{id}
	</select>
	<select id="INSBInvoiceinfo_deleteById" parameterType="String">
		delete from INSBInvoiceinfo where id = #{id}
	</select>
	<select id="INSBInvoiceinfo_updateById" parameterType="com.zzb.cm.entity.INSBInvoiceinfo">
		update INSBInvoiceinfo  set operator = #{operator},modifytime =NOW(),noti = #{noti},taskid = #{taskid},inscomcode = #{inscomcode},invoicetype = #{invoicetype},bankname = #{bankname},accountnumber = #{accountnumber},identifynumber = #{identifynumber},registerphone = #{registerphone},registeraddress = #{registeraddress},email = #{email} where id = #{id}
	</select>
	<select id="INSBInvoiceinfo_updateByTaskid" parameterType="com.zzb.cm.entity.INSBInvoiceinfo">
		update INSBInvoiceinfo  set operator = #{operator},modifytime =NOW(),noti = #{noti},invoicetype = #{invoicetype},bankname = #{bankname},accountnumber = #{accountnumber},identifynumber = #{identifynumber},registerphone = #{registerphone},registeraddress = #{registeraddress},email = #{email}, inscomcode = #{inscomcode} where taskid = #{taskid} 
	</select>
	<select id="INSBInvoiceinfo_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBInvoiceinfo
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="invoicetype != null">
				and invoicetype = #{invoicetype}
			</if>
			<if test="bankname != null">
				and bankname = #{bankname}
			</if>
			<if test="accountnumber != null">
				and accountnumber = #{accountnumber}
			</if>
			<if test="identifynumber != null">
				and identifynumber = #{identifynumber}
			</if>
			<if test="registerphone != null">
				and registerphone = #{registerphone}
			</if>
			<if test="registeraddress != null">
				and registeraddress = #{registeraddress}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
		</where>
	</select>
	<select id="INSBInvoiceinfo_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBInvoiceinfo">
		select * from INSBInvoiceinfo
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="invoicetype != null">
				and invoicetype = #{invoicetype}
			</if>
			<if test="bankname != null">
				and bankname = #{bankname}
			</if>
			<if test="accountnumber != null">
				and accountnumber = #{accountnumber}
			</if>
			<if test="identifynumber != null">
				and identifynumber = #{identifynumber}
			</if>
			<if test="registerphone != null">
				and registerphone = #{registerphone}
			</if>
			<if test="registeraddress != null">
				and registeraddress = #{registeraddress}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBInvoiceinfo_selectByTaskidAndComcode" parameterType="Map" resultType="com.zzb.cm.entity.INSBInvoiceinfo">
		select * FROM INSBInvoiceinfo
		<where>
			<if test="taskid != null and taskid != ''" >
			    and  taskid = #{taskid}
			</if>
			<if test="inscomcode != null and inscomcode != ''">
				and inscomcode = #{inscomcode}
			</if>
		</where>
	</select>
</mapper>