<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBCarkindprice -->
	<select id="INSBCarkindprice_insert" parameterType="com.zzb.cm.entity.INSBCarkindprice" resultType="int">
		insert into INSBCarkindprice
		(id,operator,createtime,modifytime,noti,taskid,inscomcode,riskcode,inskindcode,inskindtype,amount,notdeductible,amountprice,selecteditem,preriskkind,riskname,amountDesc,discountCharge,discountRate,bjmpCode,bjmpOrgCharge,bjmpDiscountCharge,bjmpDiscountRate,plankey,noTaxPremium,tax) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{inscomcode},#{riskcode},#{inskindcode},#{inskindtype},#{amount},#{notdeductible},#{amountprice},#{selecteditem},#{preriskkind},#{riskname},#{amountDesc},#{discountCharge},#{discountRate},#{bjmpCode},#{bjmpOrgCharge},#{bjmpDiscountCharge},#{bjmpDiscountRate},#{plankey},#{noTaxPremium},#{tax})
	</select>
	<select id="INSBCarkindprice_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select * from INSBCarkindprice
		<where>
				 taskid = #{taskid}
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="riskcode != null">
				and riskcode = #{riskcode}
			</if>
			<if test="inskindcode != null">
				and inskindcode = #{inskindcode}
			</if>
			<if test="inskindtype != null">
				and inskindtype = #{inskindtype}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="amountprice != null">
				and amountprice = #{amountprice}
			</if>
			<if test="selecteditem != null">
				and selecteditem = #{selecteditem}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="riskname != null">
				and riskname = #{riskname}
			</if>
			<if test="amountDesc != null">
				and amountDesc = #{amountDesc}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="bjmpCode != null">
				and bjmpCode = #{bjmpCode}
			</if>
			<if test="bjmpOrgCharge != null">
				and bjmpOrgCharge = #{bjmpOrgCharge}
			</if>
			<if test="bjmpDiscountCharge != null">
				and bjmpDiscountCharge = #{bjmpDiscountCharge}
			</if>
			<if test="bjmpDiscountRate != null">
				and bjmpDiscountRate = #{bjmpDiscountRate}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="noTaxPremium != null">
				and noTaxPremium = #{noTaxPremium}
			</if>
			<if test="tax != null">
				and tax = #{tax}
			</if>
		</where>
	</select>

	<select id="INSBCarkindprice_selectOrderRiskkind" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select r.* from INSBCarkindprice r ,insbriskkindconfig rkc
		where r.taskid=#{taskid} and r.inscomcode=#{inscomcode}
		and r.inskindcode = rkc.riskkindcode
		ORDER BY rkc.id ASC
	</select>

	<select id="INSBCarkindprice_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select * from INSBCarkindprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="riskcode != null">
				and riskcode = #{riskcode}
			</if>
			<if test="inskindcode != null">
				and inskindcode = #{inskindcode}
			</if>
			<if test="inskindtype != null">
				and inskindtype = #{inskindtype}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="amountprice != null">
				and amountprice = #{amountprice}
			</if>
			<if test="selecteditem != null">
				and selecteditem = #{selecteditem}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="riskname != null">
				and riskname = #{riskname}
			</if>
			<if test="amountDesc != null">
				and amountDesc = #{amountDesc}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="bjmpCode != null">
				and bjmpCode = #{bjmpCode}
			</if>
			<if test="bjmpOrgCharge != null">
				and bjmpOrgCharge = #{bjmpOrgCharge}
			</if>
			<if test="bjmpDiscountCharge != null">
				and bjmpDiscountCharge = #{bjmpDiscountCharge}
			</if>
			<if test="bjmpDiscountRate != null">
				and bjmpDiscountRate = #{bjmpDiscountRate}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="noTaxPremium != null">
				and noTaxPremium = #{noTaxPremium}
			</if>
			<if test="tax != null">
				and tax = #{tax}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBCarkindprice_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select * from INSBCarkindprice where id = #{id}
	</select>
	<select id="INSBCarkindprice_deleteById" parameterType="String">
		delete from INSBCarkindprice where id = #{id}
	</select>
	<select id="INSBCarkindprice_updateById" parameterType="com.zzb.cm.entity.INSBCarkindprice">
		update INSBCarkindprice  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},inscomcode = #{inscomcode},riskcode = #{riskcode},inskindcode = #{inskindcode},inskindtype = #{inskindtype},amount = #{amount},notdeductible = #{notdeductible},amountprice = #{amountprice},selecteditem = #{selecteditem},preriskkind = #{preriskkind},riskname = #{riskname},amountDesc = #{amountDesc},discountCharge = #{discountCharge},discountRate = #{discountRate},bjmpCode = #{bjmpCode},bjmpOrgCharge = #{bjmpOrgCharge},bjmpDiscountCharge = #{bjmpDiscountCharge},bjmpDiscountRate = #{bjmpDiscountRate},plankey = #{plankey},noTaxPremium = #{noTaxPremium},tax = #{tax} where id = #{id}
	</select>
	<select id="INSBCarkindprice_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBCarkindprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="riskcode != null">
				and riskcode = #{riskcode}
			</if>
			<if test="inskindcode != null">
				and inskindcode = #{inskindcode}
			</if>
			<if test="inskindtype != null">
				and inskindtype = #{inskindtype}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="amountprice != null">
				and amountprice = #{amountprice}
			</if>
			<if test="selecteditem != null">
				and selecteditem = #{selecteditem}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="riskname != null">
				and riskname = #{riskname}
			</if>
			<if test="amountDesc != null">
				and amountDesc = #{amountDesc}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="bjmpCode != null">
				and bjmpCode = #{bjmpCode}
			</if>
			<if test="bjmpOrgCharge != null">
				and bjmpOrgCharge = #{bjmpOrgCharge}
			</if>
			<if test="bjmpDiscountCharge != null">
				and bjmpDiscountCharge = #{bjmpDiscountCharge}
			</if>
			<if test="bjmpDiscountRate != null">
				and bjmpDiscountRate = #{bjmpDiscountRate}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="noTaxPremium != null">
				and noTaxPremium = #{noTaxPremium}
			</if>
			<if test="tax != null">
				and tax = #{tax}
			</if>
		</where>
	</select>
	<select id="INSBCarkindprice_selectCarKindPrice" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select * from INSBCarkindprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inskindcode != null">
				and inskindcode = #{inskindcode}
			</if>
		</where>
	</select>
	<select id="INSBCarkindprice_selectRiskKindMap" parameterType="String" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select  c.inskindcode, c.amount,c.amountprice FROM insbcarkindprice c 
		LEFT JOIN insbriskkind r ON r.kindcode=c.inskindcode 
		<where>
				 taskid= #{_parameter}		
		</where>
	</select>
	
	<select id="INSBCarkindprice_selectComcode" parameterType="Map" resultType="Map">
		select c.selecteditem, c.inskindcode,c.inskindtype,c.amount,c.notdeductible,c.amountprice,c.selecteditem,b.kindname,b.isusing
			from insbriskkind b LEFT JOIN insbcarkindprice c ON b.kindcode=c.inskindcode 
			<where>
			<if test="taskid != null">
 				AND	c.taskid=#{taskid} 
 			</if>
 			<if test="inskindcode != null">
 				AND c.inscomcode=#{inscomcode}
 			</if>
 		</where>
	</select>
	
	<select id="INSBCarkindprice_selectAllriskkind" parameterType="Map" resultType="Map">
		select c.selecteditem, c.inskindcode,c.inskindtype,c.amount,c.notdeductible,c.amountprice,c.selecteditem,b.kindname,b.isusing
			from insbrisk b LEFT JOIN insbriskkind c ON b.id=c.riskid 
			<where>
			<if test="provideid != null">
 				AND	c.provideid=#{provideid} 
 			</if>
 			
 		</where>
	</select>
	
	
	<select id="INSBCarkindprice_selectByTaskidAndInscomcode" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarkindprice">
		select * from insbcarkindprice  
		where taskid=#{taskId} and inscomcode=#{inscomcode};   
	</select>
	
	<select id="INSBCarkindprice_getTotalProductAmount" parameterType="Map" resultType="double">
		select SUM(amountprice) FROM insbcarkindprice WHERE taskid=#{taskid} AND inscomcode=#{inscomcode};
	</select>
	
	<!-- 查询交强险险别记录条数 liuchao-->
	<select id="INSBCarkindprice_getStrCount" parameterType="Map" resultType="Integer">
		select COUNT(1) FROM insbcarkindprice WHERE taskid=#{mInstanceid} AND inscomcode=#{inscomcode} AND inskindtype='2'
	</select>
	<!-- 查询商业险险别记录条数 liuchao-->
	<select id="INSBCarkindprice_getBusCount" parameterType="Map" resultType="Integer">
		select COUNT(1) FROM insbcarkindprice WHERE taskid=#{mInstanceid} AND inscomcode=#{inscomcode} AND inskindtype NOT IN ('2','3')
	</select>
	<!-- 删除商业险信息 -->
	<select id="INSBCarkindprice_deleteBizByTaskid" parameterType="Map">
		delete from INSBCarkindprice WHERE taskid=#{taskid} AND inscomcode=#{inscomcode} AND inskindtype NOT IN ('2','3')
	</select>
	<!-- 删除交强险和车船税信息 -->
	<select id="INSBCarkindprice_deleteEfcByTaskid" parameterType="Map">
		delete from INSBCarkindprice WHERE taskid=#{taskid} AND inscomcode=#{inscomcode} AND inskindtype IN ('2','3')
	</select>
		<select id="INSBCarkindprice_deleteByObj" parameterType="com.zzb.cm.entity.INSBCarkindprice" resultType="int">
		delete from INSBCarkindprice 
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="riskcode != null">
				and riskcode = #{riskcode}
			</if>
			<if test="inskindcode != null">
				and inskindcode = #{inskindcode}
			</if>
			<if test="inskindtype != null">
				and inskindtype = #{inskindtype}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="notdeductible != null">
				and notdeductible = #{notdeductible}
			</if>
			<if test="amountprice != null">
				and amountprice = #{amountprice}
			</if>
			<if test="selecteditem != null">
				and selecteditem = #{selecteditem}
			</if>
			<if test="preriskkind != null">
				and preriskkind = #{preriskkind}
			</if>
			<if test="riskname != null">
				and riskname = #{riskname}
			</if>
			<if test="amountDesc != null">
				and amountDesc = #{amountDesc}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="bjmpCode != null">
				and bjmpCode = #{bjmpCode}
			</if>
			<if test="bjmpOrgCharge != null">
				and bjmpOrgCharge = #{bjmpOrgCharge}
			</if>
			<if test="bjmpDiscountCharge != null">
				and bjmpDiscountCharge = #{bjmpDiscountCharge}
			</if>
			<if test="bjmpDiscountRate != null">
				and bjmpDiscountRate = #{bjmpDiscountRate}
			</if>
			<if test="plankey != null">
				and plankey = #{plankey}
			</if>
			<if test="noTaxPremium != null">
				and noTaxPremium = #{noTaxPremium}
			</if>
			<if test="tax != null">
				and tax = #{tax}
			</if>
		</where>
	</select>
</mapper>