<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBRenewalquoteitem -->
	<select id="INSBRenewalquoteitem_insert" parameterType="com.zzb.cm.entity.INSBRenewalquoteitem" resultType="int">
		insert into INSBRenewalquoteitem
		(id,operator,createtime,modifytime,noti,taskid,inscomcode,itemcode,itemname,itemvalue) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{inscomcode},#{itemcode},#{itemname},#{itemvalue}) 
	</select>
	<select id="INSBRenewalquoteitem_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBRenewalquoteitem">
		select * from INSBRenewalquoteitem
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="itemcode != null">
				and itemcode = #{itemcode}
			</if>
			<if test="itemname != null">
				and itemname = #{itemname}
			</if>
			<if test="itemvalue != null">
				and itemvalue = #{itemvalue}
			</if>
		</where>
	</select>
	<select id="INSBRenewalquoteitem_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBRenewalquoteitem">
		select * from INSBRenewalquoteitem where id = #{id}
	</select>
	<select id="INSBRenewalquoteitem_deleteById" parameterType="String">
		delete from INSBRenewalquoteitem where id = #{id}
	</select>
    <select id="INSBRenewalquoteitem_deleteByTask" parameterType="Map" resultType="Long">
        delete from INSBRenewalquoteitem where taskid = #{taskid} and inscomcode = #{inscomcode}
    </select>
	<select id="INSBRenewalquoteitem_updateById" parameterType="com.zzb.cm.entity.INSBRenewalquoteitem">
		update INSBRenewalquoteitem  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},taskid = #{taskid},inscomcode = #{inscomcode},itemcode = #{itemcode},itemname = #{itemname},itemvalue = #{itemvalue} where id = #{id}
	</select>
	<select id="INSBRenewalquoteitem_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBRenewalquoteitem
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="itemcode != null">
				and itemcode = #{itemcode}
			</if>
			<if test="itemname != null">
				and itemname = #{itemname}
			</if>
			<if test="itemvalue != null">
				and itemvalue = #{itemvalue}
			</if>
		</where>
	</select>
	<select id="INSBRenewalquoteitem_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBRenewalquoteitem">
		select * from INSBRenewalquoteitem
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="itemcode != null">
				and itemcode = #{itemcode}
			</if>
			<if test="itemname != null">
				and itemname = #{itemname}
			</if>
			<if test="itemvalue != null">
				and itemvalue = #{itemvalue}
			</if>
		</where>
		LIMIT 1
	</select>
</mapper>