<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.conf.entity">
	<!-- INSBPolicyitem -->
	<select id="INSBPolicyitem_insert" parameterType="com.zzb.conf.entity.INSBPolicyitem" resultType="int">
		insert into INSBPolicyitem
		(id,operator,createtime,modifytime,noti,taskid,orderid,applicantid,applicantname,insuredid,insuredname,carownerid,carownername,carinfoid,standardfullname,proposalformno,policyno,premium,insureddate,startdate,enddate,totalepremium,agentnum,agentname,team,policystatus,risktype,paynum,checkcode,discountCharge,discountRate,amount,inscomcode,closedstatus,biztype) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{orderid},#{applicantid},#{applicantname},#{insuredid},#{insuredname},#{carownerid},#{carownername},#{carinfoid},#{standardfullname},#{proposalformno},#{policyno},#{premium},#{insureddate},#{startdate},#{enddate},#{totalepremium},#{agentnum},#{agentname},#{team},#{policystatus},#{risktype},#{paynum},#{checkcode},#{discountCharge},#{discountRate},#{amount},#{inscomcode},#{closedstatus},#{biztype})
	</select> 
	<select id="INSBPolicyitem_select" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="applicantid != null">
				and applicantid = #{applicantid}
			</if>
			<if test="applicantname != null">
				and applicantname = #{applicantname}
			</if>
			<if test="insuredid != null">
				and insuredid = #{insuredid}
			</if>
			<if test="insuredname != null">
				and insuredname = #{insuredname}
			</if>
			<if test="carownerid != null">
				and carownerid = #{carownerid}
			</if>
			<if test="carownername != null">
				and carownername = #{carownername}
			</if>
			<if test="carinfoid != null">
				and carinfoid = #{carinfoid}
			</if>
			<if test="standardfullname != null">
				and standardfullname = #{standardfullname}
			</if>
			<if test="proposalformno != null">
				and proposalformno = #{proposalformno}
			</if>
			<if test="policyno != null">
				and policyno = #{policyno}
			</if>
			<if test="premium != null">
				and premium = #{premium}
			</if>
			<if test="insureddate != null">
				and insureddate = #{insureddate}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="totalepremium != null">
				and totalepremium = #{totalepremium}
			</if>
			<if test="agentnum != null">
				and agentnum = #{agentnum}
			</if>
			<if test="agentname != null">
				and agentname = #{agentname}
			</if>
			<if test="team != null">
				and team = #{team}
			</if>
			<if test="policystatus != null">
				and policystatus = #{policystatus}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
			<if test="paynum != null">
				and paynum = #{paynum}
			</if>
			<if test="checkcode != null">
				and checkcode = #{checkcode}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="closedstatus != null">
				and closedstatus = #{closedstatus}
			</if>
		</where>
	</select>
	<select id="INSBPolicyitem_selectOne" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="applicantid != null">
				and applicantid = #{applicantid}
			</if>
			<if test="applicantname != null">
				and applicantname = #{applicantname}
			</if>
			<if test="insuredid != null">
				and insuredid = #{insuredid}
			</if>
			<if test="insuredname != null">
				and insuredname = #{insuredname}
			</if>
			<if test="carownerid != null">
				and carownerid = #{carownerid}
			</if>
			<if test="carownername != null">
				and carownername = #{carownername}
			</if>
			<if test="carinfoid != null">
				and carinfoid = #{carinfoid}
			</if>
			<if test="standardfullname != null">
				and standardfullname = #{standardfullname}
			</if>
			<if test="proposalformno != null">
				and proposalformno = #{proposalformno}
			</if>
			<if test="policyno != null">
				and policyno = #{policyno}
			</if>
			<if test="premium != null">
				and premium = #{premium}
			</if>
			<if test="insureddate != null">
				and insureddate = #{insureddate}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="totalepremium != null">
				and totalepremium = #{totalepremium}
			</if>
			<if test="agentnum != null">
				and agentnum = #{agentnum}
			</if>
			<if test="agentname != null">
				and agentname = #{agentname}
			</if>
			<if test="team != null">
				and team = #{team}
			</if>
			<if test="policystatus != null">
				and policystatus = #{policystatus}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
			<if test="paynum != null">
				and paynum = #{paynum}
			</if>
			<if test="checkcode != null">
				and checkcode = #{checkcode}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="closedstatus != null">
				and closedstatus = #{closedstatus}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBPolicyitem_selectById" parameterType="String" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem where id = #{id}
	</select>
	
		<select id="INSBPolicyitem_selectAgentDeptIdByTaskId4Pool" parameterType="String" resultType="String">
		select b.deptid 
		from INSBPolicyitem a left join insbagent b on a.agentnum =b.jobnum 
		where taskid = #{taskid} 
	</select>
	
	<select id="INSBPolicyitem_selectByTaskId" parameterType="String" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem where taskid = #{taskid} limit 1
	</select>
	<select id="INSBPolicyitem_deleteById" parameterType="String">
		delete from INSBPolicyitem where id = #{id}
	</select>
	<select id="INSBPolicyitem_updateById" parameterType="com.zzb.conf.entity.INSBPolicyitem">
		update INSBPolicyitem  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},orderid = #{orderid},applicantid = #{applicantid},applicantname = #{applicantname},insuredid = #{insuredid},insuredname = #{insuredname},carownerid = #{carownerid},carownername = #{carownername},carinfoid = #{carinfoid},standardfullname = #{standardfullname},proposalformno = #{proposalformno},policyno = #{policyno},premium = #{premium},insureddate = #{insureddate},startdate = #{startdate},enddate = #{enddate},totalepremium = #{totalepremium},agentnum = #{agentnum},agentname = #{agentname},team = #{team},policystatus = #{policystatus},risktype = #{risktype},paynum = #{paynum},checkcode = #{checkcode},discountCharge = #{discountCharge},discountRate = #{discountRate},amount = #{amount},inscomcode = #{inscomcode},closedstatus = #{closedstatus}, biztype = #{biztype} where id = #{id}
	</select>
	<select id="INSBPolicyitem_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPolicyitem
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="applicantid != null">
				and applicantid = #{applicantid}
			</if>
			<if test="applicantname != null">
				and applicantname = #{applicantname}
			</if>
			<if test="insuredid != null">
				and insuredid = #{insuredid}
			</if>
			<if test="insuredname != null">
				and insuredname = #{insuredname}
			</if>
			<if test="carownerid != null">
				and carownerid = #{carownerid}
			</if>
			<if test="carownername != null">
				and carownername = #{carownername}
			</if>
			<if test="carinfoid != null">
				and carinfoid = #{carinfoid}
			</if>
			<if test="standardfullname != null">
				and standardfullname = #{standardfullname}
			</if>
			<if test="proposalformno != null">
				and proposalformno = #{proposalformno}
			</if>
			<if test="policyno != null">
				and policyno = #{policyno}
			</if>
			<if test="premium != null">
				and premium = #{premium}
			</if>
			<if test="insureddate != null">
				and insureddate = #{insureddate}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="totalepremium != null">
				and totalepremium = #{totalepremium}
			</if>
			<if test="agentnum != null">
				and agentnum = #{agentnum}
			</if>
			<if test="agentname != null">
				and agentname = #{agentname}
			</if>
			<if test="team != null">
				and team = #{team}
			</if>
			<if test="policystatus != null">
				and policystatus = #{policystatus}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
			<if test="paynum != null">
				and paynum = #{paynum}
			</if>
			<if test="checkcode != null">
				and checkcode = #{checkcode}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="closedstatus != null">
				and closedstatus = #{closedstatus}
			</if>
		</where>
	</select>
	<select id="INSBPolicyitem_imagemanagermodel" parameterType="String" resultType="com.zzb.app.model.ImageManagerModel">
		SELECT po.carownername carowner ,car.carlicenseno platenum ,car.vincode vinno ,po.insuredname recognizee, po.agentname agentname 
		FROM insbpolicyitem po  
		LEFT JOIN insbcarinfo car ON po.carinfoid  = car.id WHERE po.id = #{policyid}
	</select>
	
<!-- 	<select id="INSBPolicyitem_queryImageList" parameterType="String" resultType="map"> -->
<!-- 		SELECT ccode.codetype,lib.createtime, ccode.codename,lib.filepath FROM insccode ccode LEFT JOIN  (SELECT MAX(libs.createtime) createtime,libs.id,libs.filetype,libs.filepath FROM insbfilelibrary libs GROUP BY libs.filetype ) lib ON ccode.codetype = lib.filetype  -->
<!-- 				 LEFT JOIN insbfilebusiness bus ON bus.filelibraryid = lib.id -->
<!-- 				 LEFT JOIN insbpolicyitem po ON po.id = bus.code -->
<!-- 				 WHERE ccode.parentcode = 'insuranceimage' and po.id = #{policyid} -->
<!-- 	</select> -->
	<select id="INSBPolicyitem_queryImageList" parameterType="String" resultType="map">
		SELECT ccode.codetype,ccode.parentcode,lib.createtime, ccode.codename,lib.filepath 
		FROM insbfilelibrary lib,insbfilebusiness bus ,insbpolicyitem po ,insccode ccode
		<where>
			 bus.filelibraryid = lib.id
					AND ccode.parentcode = 'insuranceimage' AND ccode.codetype = lib.filetype AND po.id = bus.code 
					<if test="_parameter!=null and _parameter!=''" >
						AND po.id = #{_parameter}
					</if>
		</where>
	
	</select>
	
	
	<select id="INSBPolicyitem_getImageInfoList" parameterType="String" resultType="map">
		select po.id ,car.carlicenseno  ,po.insuredname  ,po.createtime FROM insbagent agent ,insbcarinfo car,insbpolicyitem po 
			WHERE agent.jobnum = po.agentnum AND po.carinfoid = car.id AND car.taskid = po.taskid  
			AND agent.id=#{agentid}
	</select>
	
	

	<select id="INSBPolicyitem_queryPolicyInfobyPerson" parameterType="Map" resultType="Map">
	select c.vincode,c.taskid,c.carlicenseno,p.insuredname,p.policyno,
	DATE_FORMAT(c.businessstartdate,'%Y-%m-%d %H:%i:%S') businessstartdate,
	DATE_FORMAT(c.businessenddate,'%Y-%m-%d %H:%i:%S') businessenddate,
	DATE_FORMAT(c.strongstartdate,'%Y-%m-%d %H:%i:%S') strongstartdate,
	DATE_FORMAT(c.strongenddate,'%Y-%m-%d %H:%i:%S') strongenddate,
	DATE_FORMAT(c.createtime,'%Y-%m-%d %H:%i:%S') createtime from insbpolicyitem p 
	left join insbperson s on p.taskid=s.taskid 
	left join insbcarinfo c on c.taskid=s.taskid
	
	<where>
			<if test="agentnum != null">
				and p.agentnum = #{agentnum}
			</if>
			<if test="idcardtype != null">
				and s.idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and s.idcardno = #{idcardno}
			</if>
	</where>
	group by c.carlicenseno order by p.createtime desc  limit #{offset},#{limit}
	</select>
	
	
	<select id="INSBPolicyitem_queryCustomersInfo" parameterType="Map" resultType="com.zzb.mobile.model.AppInsuredMycustomerModel">
	/*slave*/select c.vincode, s.idcardtype as idcardcode,CASE 
	  WHEN (s.idcardtype='0') THEN '身份证' WHEN (s.idcardtype='1') THEN '户口本' WHEN (s.idcardtype='2') THEN '驾照' 
      WHEN (s.idcardtype='3') THEN '军官证/士兵证' WHEN (s.idcardtype='4') THEN '护照'
      WHEN (s.idcardtype='5') THEN '港澳回乡证/台胞证' WHEN (s.idcardtype='6') THEN '组织代码证' 
      WHEN (s.idcardtype='7') THEN '其他证件'  end as idcardtype
      ,s.idcardno,p.applicantname,CASE 
      WHEN (s.gender='0') THEN '男' WHEN (s.gender='1') THEN '女' end as gender ,
      s.birthday,s.age,s.cellphone,
	s.email,s.address,c.carlicenseno carPate,m.standardname carModel from insbpolicyitem p 
	LEFT JOIN insbapplicanthis a ON p.taskid =a.taskid AND p.applicantid = a.id AND p.inscomcode=a.inscomcode
	left join insbperson s on a.taskid=s.taskid and s.id = a.personid 
	left join insbcarinfo c on c.taskid=s.taskid and p.carinfoid=c.id
	left join insbcarmodelinfo m on m.carinfoid=c.id 
	<where>
			<if test="agentnum != null">
				and p.agentnum = #{agentnum}
			</if>
			<if test="applicantname != null">
				and p.applicantname = #{applicantname}
			</if>
	</where>
		group by s.idcardno,c.vincode order by p.createtime desc
	</select>
	
	<!-- liuchao手机端接口查询保单列表信息接口使用 -->
	<select id="INSBPolicyitem_getPolicyitemListByAgentnum" parameterType="Map" resultType="Map">
		/*slave*/SELECT 
			od.taskid AS processInstanceId, 
			od.prvid AS inscomcode, 
			car.carlicenseno AS carlicenseno, 
			inp.`name` AS insuredname, 
			DATE_FORMAT(bpi.startdate, '%Y-%m-%d') AS busstartdate, 
			DATE_FORMAT(bpi.enddate, '%Y-%m-%d') AS busenddate, 
			DATE_FORMAT(spi.startdate, '%Y-%m-%d') AS strstartdate, 
			DATE_FORMAT(spi.enddate, '%Y-%m-%d') AS strenddate,
			bpi.policyno as SYpolicyno,
			spi.policyno as JQpolicyno,
			'cm' AS platformCode 
		FROM insborder od 
		LEFT JOIN insbpolicyitem bpi ON od.id=bpi.orderid AND bpi.risktype='0' AND bpi.taskid=od.taskid AND bpi.inscomcode=od.prvid 
		LEFT JOIN insbpolicyitem spi ON od.id=spi.orderid AND spi.risktype='1' AND spi.taskid=od.taskid AND spi.inscomcode=od.prvid 
		LEFT JOIN insbcarinfo car ON car.taskid=od.taskid 
		LEFT JOIN insbinsuredhis isd ON isd.taskid=od.taskid AND isd.inscomcode = od.prvid
		LEFT JOIN insbperson inp ON inp.id=isd.personid 
		LEFT JOIN insbquotetotalinfo qut ON qut.taskid=od.taskid 
		LEFT JOIN insbquoteinfo qu ON qu.quotetotalinfoid=qut.id AND qu.inscomcode=od.prvid 
		LEFT JOIN insbworkflowsub ws ON ws.instanceid=qu.workflowinstanceid 
		<where>
			EXISTS(SELECT 1 FROM insbworkflowmain m ,insbworkflowsub s WHERE s.maininstanceid = m.instanceid AND m.instanceid = od.taskid
			AND s.taskstate!='Closed') AND ws.taskstate!='Closed' AND (bpi.id IS NOT NULL OR spi.id IS NOT NULL) 
			<!-- 测试完后放开注释-->
			AND ((bpi.policyno IS NOT NULL AND bpi.policyno!='') OR (spi.policyno IS NOT NULL AND spi.policyno!='')) 
			<!-- <if test="insuredname != null">
				AND inp.`name` LIKE CONCAT('%', #{insuredname},'%')
			</if>
			<if test="carlicenseno != null">
				AND car.carlicenseno LIKE CONCAT('%', #{carlicenseno},'%')
			</if>-->
			<if test="agentnum != null">
				AND qut.agentnum = #{agentnum}
			</if>
			<if test="idcardtype != null">
				AND inp.idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				AND inp.idcardno = #{idcardno}
			</if>
			<if test="queryinfo != null">
				AND (car.carlicenseno LIKE CONCAT('%', #{queryinfo},'%') OR inp.`name` LIKE CONCAT('%', #{queryinfo},'%')) 
			</if>
		</where>
		ORDER BY od.createtime DESC 
		LIMIT #{offset},#{limit}
	</select>
	
	<select id="INSBPolicyitem_getPolicyitemListTotalsByAgentnum" parameterType="Map" resultType="Long">
		SELECT 
			count(1) 
		FROM insborder od 
		LEFT JOIN insbpolicyitem bpi ON od.id=bpi.orderid AND bpi.risktype='0' AND bpi.taskid=od.taskid AND bpi.inscomcode=od.prvid 
		LEFT JOIN insbpolicyitem spi ON od.id=spi.orderid AND spi.risktype='1' AND spi.taskid=od.taskid AND spi.inscomcode=od.prvid 
		LEFT JOIN insbcarinfo car ON car.taskid=od.taskid 
		LEFT JOIN insbinsured isd ON isd.taskid=od.taskid 
		LEFT JOIN insbperson inp ON inp.id=isd.personid 
		LEFT JOIN insbquotetotalinfo qut ON qut.taskid=od.taskid 
		LEFT JOIN insbquoteinfo qu ON qu.quotetotalinfoid=qut.id AND qu.inscomcode=od.prvid 
		LEFT JOIN insbworkflowsub ws ON ws.instanceid=qu.workflowinstanceid 
		<where>
			EXISTS(SELECT 1 FROM insbworkflowmain m ,insbworkflowsub s WHERE s.maininstanceid = m.instanceid AND m.instanceid = od.taskid
			AND s.taskstate!='Closed') AND ws.taskstate!='Closed' AND (bpi.id IS NOT NULL OR spi.id IS NOT NULL) 
			<!-- 测试完后放开注释-->
			AND ((bpi.policyno IS NOT NULL AND bpi.policyno!='') OR (spi.policyno IS NOT NULL AND spi.policyno!='')) 
			<!-- <if test="insuredname != null">
				AND inp.`name` LIKE CONCAT('%', #{insuredname},'%')
			</if>
			<if test="carlicenseno != null">
				AND car.carlicenseno LIKE CONCAT('%', #{carlicenseno},'%')
			</if>-->
			<if test="agentnum != null">
				AND qut.agentnum = #{agentnum}
			</if>
			<if test="idcardtype != null">
				AND inp.idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				AND inp.idcardno = #{idcardno}
			</if>
			<if test="queryinfo != null">
				AND (car.carlicenseno LIKE CONCAT('%', #{queryinfo},'%') OR inp.`name` LIKE CONCAT('%', #{queryinfo},'%')) 
			</if>
		</where>
		ORDER BY od.createtime DESC 
	</select>
	
	
		<select id="INSBPolicyitem_getPolicyitems" parameterType="Map" resultType="Map">
		select 
			c.id,
			c.carlicenseno,
			c.ownername,
			DATE_FORMAT(c.createtime, '%Y-%m-%d %H:%i:%S') createtime,
			q.webpagekey,
			q.taskid processinstanceid
		 from insbcarinfo c
		 left join insbquotetotalinfo q on c.taskid = q.taskid
		<where>
			c.engineno IS NOT NULL AND c.vincode IS NOT NULL AND c.ownername IS NOT NULL and q.agentnum=#{agentnum} 
	        <if test="carlicenseno != null">
				and c.carlicenseno like CONCAT(#{carlicenseno},'%')
			</if>
			<if test="insurancebooks != null">
				and q.insurancebooks = #{insurancebooks}
			</if>
			<if test="keyword != null">
				and (c.ownername like CONCAT(#{keyword},'%')
				or c.carlicenseno like CONCAT(#{keyword},'%'))
			</if>
			
		</where>
		order by c.createtime desc 
		<if test="offset !=null || limit !=null ">
			limit #{offset},#{limit}
		</if>
		
	</select>


		<select id="INSBPolicyitem_getPolicyitemsForMinizzb" parameterType="Map" resultType="Map">
		select
			c.id,
			c.carlicenseno,
			c.ownername,
			DATE_FORMAT(c.createtime, '%Y-%m-%d %H:%i:%S') createtime,
			q.webpagekey,
			q.taskid processinstanceid
		 from insbcarinfo c
		 left join insbquotetotalinfo q on c.taskid = q.taskid
		 left JOIN INSBAgenttask ak on ak.taskid = q.taskid
		<where>
			c.engineno IS NOT NULL AND c.vincode IS NOT NULL AND c.ownername IS NOT NULL
			<!--<if test="agentnum != null">
				and q.agentnum=#{agentnum}
			</if>-->
			<if test="agentid != null">
				and ak.agentid=#{agentid}
			</if>
	        <if test="carlicenseno != null">
				and c.carlicenseno like CONCAT(#{carlicenseno},'%')
			</if>
			<if test="insurancebooks != null">
				and q.insurancebooks = #{insurancebooks}
			</if>
			<if test="keyword != null">
				and (c.ownername like CONCAT(#{keyword},'%')
				or c.carlicenseno like CONCAT(#{keyword},'%'))
			</if>

		</where>
		order by c.createtime desc
		<if test="offset !=null || limit !=null ">
			limit #{offset},#{limit}
		</if>

	</select>

	
	<select id="INSBPolicyitem_selectPolicyitemByInscomTask" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem where taskid = #{taskid} and inscomcode = #{inscomcode}
	</select>

	<select id="INSBPolicyitem_selectRemoveOverTimeData" parameterType="Map" resultType="Map">
		SELECT s.createtime,p.startdate,p.risktype,pro.Payvalidity FROM insbquoteinfo q,insbworkflowsubtrack s ,INSBPolicyitem p,insbProvider pro
		WHERE q.workflowinstanceid = s.instanceid
		and s.maininstanceid = p.taskid
        and q.inscomcode = p.inscomcode
        and p.inscomcode = pro.id
        AND q.inscomcode = #{inscomcode}
		AND s.maininstanceid = #{taskid} ORDER BY p.startdate DESC limit 2;
	</select>
	
	<select id="INSBPolicyitem_selectByEndDate" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem
		where agentnum = #{agentnum}
		and enddate &gt; #{nowdate}
	</select>
	
	<select id="INSBPolicyitem_getListByParam" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem p
		LEFT JOIN insborder o ON o.taskid = p.taskid
		LEFT JOIN insbcarinfo c ON p.carinfoid = c.id
		<where>
			<if test="policyno != null">
				and p.policyno= #{policyno}
			</if>
			<if test="prvid != null">
				and o.prvid like CONCAT(#{prvid},'%')
			</if>
			<if test="deptcode != null">
				and o.deptcode like CONCAT(#{deptcode},'%')
			</if>
			<if test="insuredname != null">
				and p.insuredname like CONCAT(#{insuredname},'%')
			</if>
			<if test="carlicenseno != null">
				and c.carlicenseno = #{carlicenseno}
			</if>
			and c.carlicenseno != 'null' 
			and p.createtime &gt; date_add(current_timestamp,interval  -1 year) 
		</where>
	</select>
	<select id="INSBPolicyitem_getListByPolicyno" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from insbpolicyitem where policyno = #{policyno} AND taskid != #{taskid}
	</select>
	<select id="INSBPolicyitem_getListByProposalformno" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		SELECT * FROM insbpolicyitem WHERE proposalformno = #{proposalformno} AND taskid != #{taskid}
	</select>
	<select id="INSBPolicyitem_policcyitembyagentid" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		SELECT p.applicantname,p.insuredname,p.carownername,p.policyno, 
				CASE WHEN  p.risktype  ='0' THEN '商业险' 
		 		WHEN  p.risktype  ='1' THEN '交强险'  END risktype FROM insbpolicyitem p LEFT JOIN insbagent a on a.agentcode = p.agentnum 
		<where>
			p.policystatus = '1'
			<if test="id!=null and id !=''">
			and  a.id = #{id}
			</if>
		</where>
		limit #{offset},#{limit}
	</select>
	<select id="INSBPolicyitem_policcyitembyagentidcount" parameterType="Map" resultType="Long">
		SELECT count(*) FROM insbpolicyitem p LEFT JOIN insbagent a on a.agentcode = p.agentnum 
		<where>
			p.policystatus = '1'
			<if test="id!=null and id !=''">
			 and a.id = #{id}
			</if>
		</where>
	</select>
	<!-- 根据主流程id和保险公司编码查询保单记录 liuchao-->
	<select id="INSBCarkindprice_getPolicyByMinstanceidAndComcode" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		SELECT * FROM insbpolicyitem WHERE taskid=#{mInstanceid} AND inscomcode=#{inscomcode}
	</select>
	<!-- 根据主流程id和保险公司编码查询保单记录 -->
	<select id="INSBPolicyitem_getPolicyByTaskidAndComcode" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		SELECT * FROM insbpolicyitem WHERE taskid=#{taskid} AND inscomcode=#{inscomcode}
	</select>
	<select id="INSBPolicyitem_deleteByObj" parameterType="com.zzb.conf.entity.INSBPolicyitem" resultType="int">
		delete from INSBPolicyitem 
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="orderid != null">
				and orderid = #{orderid}
			</if>
			<if test="applicantid != null">
				and applicantid = #{applicantid}
			</if>
			<if test="applicantname != null">
				and applicantname = #{applicantname}
			</if>
			<if test="insuredid != null">
				and insuredid = #{insuredid}
			</if>
			<if test="insuredname != null">
				and insuredname = #{insuredname}
			</if>
			<if test="carownerid != null">
				and carownerid = #{carownerid}
			</if>
			<if test="carownername != null">
				and carownername = #{carownername}
			</if>
			<if test="carinfoid != null">
				and carinfoid = #{carinfoid}
			</if>
			<if test="standardfullname != null">
				and standardfullname = #{standardfullname}
			</if>
			<if test="proposalformno != null">
				and proposalformno = #{proposalformno}
			</if>
			<if test="policyno != null">
				and policyno = #{policyno}
			</if>
			<if test="premium != null">
				and premium = #{premium}
			</if>
			<if test="insureddate != null">
				and insureddate = #{insureddate}
			</if>
			<if test="startdate != null">
				and startdate = #{startdate}
			</if>
			<if test="enddate != null">
				and enddate = #{enddate}
			</if>
			<if test="totalepremium != null">
				and totalepremium = #{totalepremium}
			</if>
			<if test="agentnum != null">
				and agentnum = #{agentnum}
			</if>
			<if test="agentname != null">
				and agentname = #{agentname}
			</if>
			<if test="team != null">
				and team = #{team}
			</if>
			<if test="policystatus != null">
				and policystatus = #{policystatus}
			</if>
			<if test="risktype != null">
				and risktype = #{risktype}
			</if>
			<if test="paynum != null">
				and paynum = #{paynum}
			</if>
			<if test="checkcode != null">
				and checkcode = #{checkcode}
			</if>
			<if test="discountCharge != null">
				and discountCharge = #{discountCharge}
			</if>
			<if test="discountRate != null">
				and discountRate = #{discountRate}
			</if>
			<if test="amount != null">
				and amount = #{amount}
			</if>
			<if test="inscomcode != null">
				and inscomcode = #{inscomcode}
			</if>
			<if test="closedstatus != null">
				and closedstatus = #{closedstatus}
			</if>
		</where>
	</select>
	<!-- lining手机端接口查询保单列表信息接口使用 -->
	<select id="INSBPolicyitem_getPolicyitemList" parameterType="Map" resultType="Map">
		<choose>
			<when test="queryinfo == null">
				SELECT
				car.carlicenseno AS carlicenseno,
				inp.`name` AS insured,
				own.`name` AS owerName,
				DATE_FORMAT(item.startdate, '%Y-%m-%d') AS startDate,
				DATE_FORMAT(item.enddate, '%Y-%m-%d') AS endDate,
				item.policyno as policyno,
				item.risktype as insuranceType,
				'cm' AS source
				FROM insborder od
				LEFT JOIN insbpolicyitem item ON od.id=item.orderid AND item.taskid=od.taskid AND item.inscomcode=od.prvid
				LEFT JOIN insbcarinfo car ON car.taskid=od.taskid
				LEFT JOIN insbinsuredhis isd ON isd.taskid=od.taskid AND isd.inscomcode = od.prvid
				LEFT JOIN insbperson own ON own.id = car.owner
				LEFT JOIN insbperson inp ON inp.id=isd.personid
				LEFT JOIN insbquotetotalinfo qut ON qut.taskid=od.taskid
				LEFT JOIN insbquoteinfo qu ON qu.quotetotalinfoid=qut.id AND qu.inscomcode=od.prvid
				LEFT JOIN insbworkflowsub ws ON ws.instanceid=qu.workflowinstanceid
				<where>
					EXISTS(SELECT 1 FROM insbworkflowmain m ,insbworkflowsub s WHERE s.maininstanceid = m.instanceid AND m.instanceid = od.taskid
					AND s.taskstate!='Closed') AND ws.taskstate!='Closed' AND item.id IS NOT NULL
					AND item.policyno IS NOT NULL AND item.policyno!=''
					<if test="agentnum != null">
						AND qut.agentnum = #{agentnum}
					</if>
					<if test="taskid != null and taskid !=''">
						AND qut.taskid = #{taskid}
					</if>
				</where>
				ORDER BY item.startdate DESC,car.carlicenseno
				LIMIT #{offset},#{limit}
			</when>
			<otherwise>
				SELECT * from (
				SELECT
				car.carlicenseno AS carlicenseno,
				inp.`name` AS insured,
				own.`name` AS owerName,
				DATE_FORMAT(item.startdate, '%Y-%m-%d') AS startDate,
				DATE_FORMAT(item.enddate, '%Y-%m-%d') AS endDate,
				item.policyno as policyno,
				item.risktype as insuranceType,
				'cm' AS source
				FROM insborder od
				LEFT JOIN insbpolicyitem item ON od.id=item.orderid AND item.taskid=od.taskid AND
				item.inscomcode=od.prvid
				LEFT JOIN insbcarinfo car ON car.taskid=od.taskid
				LEFT JOIN insbinsuredhis isd ON isd.taskid=od.taskid AND isd.inscomcode = od.prvid
				LEFT JOIN insbperson own ON own.id = car.owner
				LEFT JOIN insbperson inp ON inp.id=isd.personid
				LEFT JOIN insbquotetotalinfo qut ON qut.taskid=od.taskid
				LEFT JOIN insbquoteinfo qu ON qu.quotetotalinfoid=qut.id AND qu.inscomcode=od.prvid
				LEFT JOIN insbworkflowsub ws ON ws.instanceid=qu.workflowinstanceid
				<where>
					EXISTS(SELECT 1 FROM insbworkflowmain m ,insbworkflowsub s WHERE s.maininstanceid = m.instanceid AND
					m.instanceid = od.taskid
					AND s.taskstate!='Closed') AND ws.taskstate!='Closed' AND item.id IS NOT NULL
					AND item.policyno IS NOT NULL AND item.policyno!=''
					<if test="agentnum != null">
						AND qut.agentnum = #{agentnum}
					</if>
					<if test="queryinfo != null">
						AND car.carlicenseno LIKE CONCAT(#{queryinfo},'%')
					</if>
				</where>
				UNION ALL
				SELECT
				car.carlicenseno AS carlicenseno,
				inp.`name` AS insured,
				own.`name` AS owerName,
				DATE_FORMAT(item.startdate, '%Y-%m-%d') AS startDate,
				DATE_FORMAT(item.enddate, '%Y-%m-%d') AS endDate,
				item.policyno as policyno,
				item.risktype as insuranceType,
				'cm' AS source
				FROM insborder od
				LEFT JOIN insbpolicyitem item ON od.id=item.orderid AND item.taskid=od.taskid AND
				item.inscomcode=od.prvid
				LEFT JOIN insbcarinfo car ON car.taskid=od.taskid
				LEFT JOIN insbinsuredhis isd ON isd.taskid=od.taskid AND isd.inscomcode = od.prvid
				LEFT JOIN insbperson own ON own.id = car.owner
				LEFT JOIN insbperson inp ON inp.id=isd.personid
				LEFT JOIN insbquotetotalinfo qut ON qut.taskid=od.taskid
				LEFT JOIN insbquoteinfo qu ON qu.quotetotalinfoid=qut.id AND qu.inscomcode=od.prvid
				LEFT JOIN insbworkflowsub ws ON ws.instanceid=qu.workflowinstanceid
				<where>EXISTS(SELECT 1 FROM insbworkflowmain m ,insbworkflowsub s WHERE s.maininstanceid = m.instanceid
					AND m.
					instanceid = od.taskid
					AND s
					.taskstate!='Closed') AND ws.taskstate!='Closed' AND item.id IS NOT NULL
					AND item.policyno IS NOT NULL AND item.policyno!=''
					<if test="agentnum != null">
							AND qut.agentnum = #{agentnum}
						</if>
						<if test="queryinfo != null">
							AND inp.`name` LIKE CONCAT(#{queryinfo},'%')
						</if>
					</where>
				)a
				ORDER BY a.startdate DESC,a.carlicenseno
				LIMIT #{offset},#{limit}
			</otherwise>
		</choose>

	</select>
	<select id="INSBPolicyitem_getPolicyitemListForMinizzb" parameterType="Map" resultType="Map">
		SELECT
			<!-- od.taskid AS processInstanceId,
			od.prvid AS inscomcode, -->
			car.carlicenseno AS carlicenseno,
			inp.`name` AS insured,
			own.`name` AS owerName,
			DATE_FORMAT(item.startdate, '%Y-%m-%d') AS startDate,
			DATE_FORMAT(item.enddate, '%Y-%m-%d') AS endDate,
			item.policyno as policyno,
			item.risktype as insuranceType,
			'cm' AS source
		FROM insborder od
		LEFT JOIN insbpolicyitem item ON od.id=item.orderid AND item.taskid=od.taskid AND item.inscomcode=od.prvid
		LEFT JOIN insbcarinfo car ON car.taskid=od.taskid
		LEFT JOIN insbinsured isd ON isd.taskid=od.taskid
		LEFT JOIN insbperson own ON own.id = car.owner
		LEFT JOIN insbperson inp ON inp.id=isd.personid
		LEFT JOIN insbquotetotalinfo qut ON qut.taskid=od.taskid
		LEFT JOIN insbquoteinfo qu ON qu.quotetotalinfoid=qut.id AND qu.inscomcode=od.prvid
		LEFT JOIN insbworkflowsub ws ON ws.instanceid=qu.workflowinstanceid
		left join INSBAgenttask ak on ak.taskid=ws.maininstanceid
		<where>
			EXISTS(SELECT 1 FROM insbworkflowmain m ,insbworkflowsub s WHERE s.maininstanceid = m.instanceid AND m.instanceid = od.taskid
			AND s.taskstate!='Closed') AND ws.taskstate!='Closed' AND item.id IS NOT NULL
			AND item.policyno IS NOT NULL AND item.policyno!=''
			<!-- <if test="insuredname != null">
				AND inp.`name` LIKE CONCAT('%', #{insuredname},'%')
			</if>
			<if test="carlicenseno != null">
				AND car.carlicenseno LIKE CONCAT('%', #{carlicenseno},'%')
			</if>-->
			<!--<if test="agentnum != null">
				AND qut.agentnum = #{agentnum}
			</if>-->
			<if test="agentid != null and agentid !=''">
				and ak.agentid = #{agentid}
			</if>
			<if test="queryinfo != null">
				AND (car.carlicenseno LIKE CONCAT('%', #{queryinfo},'%') OR inp.`name` LIKE CONCAT('%', #{queryinfo},'%'))
			</if>
		</where>
		ORDER BY od.createtime DESC
		LIMIT #{offset},#{limit}
	</select>
	
	<select id="INSBPolicyitem_selectClosstaskPagingCount" parameterType="Map"
		resultType="long">
		select count(1) from (
			SELECT DISTINCT
				p1.taskid,
				p1.inscomcode,
				pd.prvshotname,
				c.carlicenseno,
				p1.createtime
			FROM
				insbpolicyitem p1
			LEFT JOIN insbprovider pd
			ON p1.inscomcode=pd.prvcode
			LEFT JOIN insbcarinfo c
			on p1.carinfoid =c.id
			WHERE
				p1.id NOT IN (
					SELECT
						p.id
					FROM
						insbpolicyitem p,
						insbquotetotalinfo qt,
						insbquoteinfo q,
						insbworkflowsubtrackdetail w
					WHERE
						p.taskid = qt.taskid
					AND q.inscomcode = p.inscomcode
					AND qt.id = q.quotetotalinfoid
					AND q.workflowinstanceid = w.instanceid
					AND w.taskcode = '39'
				)
			AND p1.closedstatus = '1' 
			and p1.createtime &gt;=#{taskcreatetimeup}
			and p1.createtime &lt;=#{taskcreatetimedown}
			
			<if test="taskid != null">
				and p1.taskid=#{taskid}
			</if>
			<if test="inscomcode != null">
				and p1.inscomcode=#{inscomcode}
			</if>
		) p2
	</select>
	
	<select id="INSBPolicyitem_selectClosstaskPaging" parameterType="Map"
		resultType="Map">
			SELECT DISTINCT	
				p1.taskid,
				p1.inscomcode,
				pd.prvshotname,
				c.carlicenseno,
				DATE_FORMAT(p1.createtime,'%Y-%m-%d %H:%i:%s') createtime
			FROM
				insbpolicyitem p1
			LEFT JOIN insbprovider pd
			ON p1.inscomcode=pd.prvcode
			LEFT JOIN insbcarinfo c
			on p1.carinfoid =c.id
			WHERE
				p1.id NOT IN (
					SELECT
						p.id
					FROM
						insbpolicyitem p,
						insbquotetotalinfo qt,
						insbquoteinfo q,
						insbworkflowsubtrackdetail w
					WHERE
						p.taskid = qt.taskid
					AND q.inscomcode = p.inscomcode
					AND qt.id = q.quotetotalinfoid
					AND q.workflowinstanceid = w.instanceid
					AND w.taskcode = '39'
				)
			AND p1.closedstatus = '1' 
			and p1.createtime &gt;=#{taskcreatetimeup}
			and p1.createtime &lt;=#{taskcreatetimedown}
			<if test="taskid != null">
				and p1.taskid=#{taskid}
			</if>
			<if test="inscomcode != null">
				and p1.inscomcode=#{inscomcode}
			</if>
		 order by p1.createtime desc 
		 limit #{offset},#{limit}
	</select>

	<select id="INSBPolicyitem_selectLastest" parameterType="Map" resultType="com.zzb.conf.entity.INSBPolicyitem">
		select * from INSBPolicyitem p
		<where>
			<if test="taskid != null and taskid !=''">
				and p.taskid = #{taskid}
			</if>
		</where>
		ORDER BY p.`modifytime` DESC,p.`createtime` DESC
	</select>
	
	<!-- task-1152(供大数据调用) 这段时间内，cm向cif推送的所有保单个数，及对应的保单号（含商业险保单号和交强险保单号）和车牌号 -->
	<select id="INSBPolicyitem_allPolicynoByTimePeriod" parameterType="Map" resultType="Map">
		select p.taskid,p.policyno,p.risktype,c.carlicenseno,DATE_FORMAT(p.modifytime, '%Y-%m-%d %H:%i:%S') as modifytime 
		from insbpolicyitem p, insbworkflowmain wfm, insbcarinfo c
		<where>
			p.taskid=wfm.instanceid and wfm.taskcode in ('23','24','33') and p.taskid=c.taskid and p.policystatus='1' 
			<if test="starttime != null">
				and p.createtime &gt;= #{starttime}
			</if>
			<if test="endtime != null">
				and p.createtime &lt;= #{endtime}
			</if>
		</where>
	</select>
</mapper>