<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
    <!-- INSBQuotetotalinfo  -->
    <select id="INSBQuotetotalinfo_insert" parameterType="com.zzb.cm.entity.INSBQuotetotalinfo" resultType="Long">
		insert into INSBQuotetotalinfo
		(id,operator,createtime,modifytime,noti,taskid,agentnum,agentname,team,insurancearea,riskcode,insprovincecode,insprovincename,inscitycode,inscityname,isrenewal,insurancebooks,webpagekey,cloudstate,handersupplier,lastyearsupplier,userid,purchaserid,lzgshareid,callbackurl,purchaserchannel,sourcefrom,datasourcesfrom) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{agentnum},#{agentname},#{team},#{insurancearea},#{riskcode},#{insprovincecode},#{insprovincename},#{inscitycode},#{inscityname},#{isrenewal},#{insurancebooks},#{webpagekey},#{cloudstate},#{handersupplier},#{lastyearsupplier},#{userid},#{purchaserid},#{lzgshareid},#{callbackurl},#{purchaserchannel},#{sourcefrom},#{datasourcesfrom})
	</select>

    <select id="INSBQuotetotalinfo_getQuotetotalinfoByParams" parameterType="Map"
            resultType="com.zzb.cm.controller.vo.OrderListVo">
       	select t.id, s.platenumber, pp.`name`, GROUP_CONCAT(p.prvshotname) as prvshotname, MAX(t.createtime) as
        createtime, t.taskid as taskid FROM insbquotetotalinfo t,insbquoteinfo s,insbworkflowsub ws,insbprovider
        p,insbinsured su,insbperson pp
        WHERE t.userid = #{userid} AND t.id = s.quotetotalinfoid AND s.workflowinstanceid = ws.instanceid AND
        s.inscomcode =p.id AND su.taskid = t.taskid AND su.personid = pp.id
        <if test="platenumber != null and platenumber !=''">
            AND s.platenumber = #{platenumber}
        </if>
        <if test="name != null and name != ''">
            AND pp.`name` = #{name}
        </if>
        <if test="fromtime != null and fromtime != ''">
            AND t.createtime >= #{fromtime}
        </if>
        <if test="totime != null and totime != ''">
            AND t.createtime &lt;= #{totime}
        </if>
        <if test="taskcodes != null and taskcodes.size() > 0">
            AND ws.taskcode IN
            <foreach item="item" index="index" collection="taskcodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY t.id
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="INSBQuotetotalinfo_getCountQuotetotalinfoByParams" parameterType="Map" resultType="Long">
       	SELECT COUNT(*) FROM (SELECT t.id FROM insbquotetotalinfo t,insbquoteinfo s,insbworkflowsub ws,insbprovider
        p,insbinsured su,insbperson pp
        WHERE t.userid = #{userid} AND t.id = s.quotetotalinfoid AND s.workflowinstanceid = ws.instanceid AND
        s.inscomcode =p.id AND su.taskid = t.taskid AND su.personid = pp.id
        <if test="platenumber != null and platenumber !=''">
            AND s.platenumber = #{platenumber}
        </if>
        <if test="name != null and name != ''">
            AND pp.`name` = #{name}
        </if>
        <if test="fromtime != null and fromtime != ''">
            AND t.createtime >= #{fromtime}
        </if>
        <if test="totime != null and totime != ''">
            AND t.createtime &lt;= #{totime}
        </if>
        <if test="taskcodes != null and taskcodes.size() > 0">
            AND ws.taskcode IN
            <foreach item="item" index="index" collection="taskcodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY t.id) a 
    </select>

    <select id="INSBQuotetotalinfo_getQuotetotalinfoByUserid" parameterType="Map"
            resultType="com.zzb.cm.controller.vo.OrderListVo">
       	select t.id, s.platenumber, pp.`name`, GROUP_CONCAT(p.prvshotname) as prvshotname, MAX(t.createtime) as
        createtime ,t.taskid as taskid FROM insbquotetotalinfo t,insbquoteinfo s,insbworkflowsub ws,insbprovider
        p,insbinsured su,insbperson pp
        WHERE t.userid = #{userid} AND t.id = s.quotetotalinfoid AND s.workflowinstanceid = ws.instanceid AND
        s.inscomcode =p.id AND su.taskid = t.taskid AND su.personid = pp.id
        <if test="taskcodes != null and taskcodes.size() > 0">
            AND ws.taskcode IN
            <foreach item="item" index="index" collection="taskcodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY t.id ORDER BY createtime desc
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="INSBQuotetotalinfo_getCountQuotetotalinfoByUserid" parameterType="Map" resultType="Long">
       	SELECT COUNT(*) FROM (SELECT t.id FROM insbquotetotalinfo t,insbquoteinfo s,insbworkflowsub ws,insbprovider
        p,insbinsured su,insbperson pp
        WHERE t.userid = #{userid} AND t.id = s.quotetotalinfoid AND s.workflowinstanceid = ws.instanceid AND
        s.inscomcode =p.id AND su.taskid = t.taskid AND su.personid = pp.id
        <if test="taskcodes != null and taskcodes.size() > 0">
            AND ws.taskcode IN
            <foreach item="item" index="index" collection="taskcodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY t.id ) a
    </select>

    <select id="INSBQuotetotalinfo_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBQuotetotalinfo">
        select
        id,operator,createtime,modifytime,noti,taskid,agentnum,agentname,team,insurancearea,riskcode,insprovincecode,insprovincename,inscitycode,inscityname,isrenewal,insurancebooks,webpagekey,cloudstate,handersupplier,lastyearsupplier,userid,purchaserid,purchaserchannel,sourcefrom,lzgshareid,datasourcesfrom
        from INSBQuotetotalinfo
        <where>
            <if test="taskid != null">
                and taskid = #{taskid}
            </if>
            <if test="agentnum != null">
                and agentnum = #{agentnum}
            </if>
            <if test="agentname != null">
                and agentname = #{agentname}
            </if>
            <if test="team != null">
                and team = #{team}
            </if>
            <if test="insurancearea != null">
                and insurancearea = #{insurancearea}
            </if>
            <if test="riskcode != null">
                and riskcode = #{riskcode}
            </if>
            <if test="insprovincecode != null">
                and insprovincecode = #{insprovincecode}
            </if>
            <if test="insprovincename != null">
                and insprovincename = #{insprovincename}
            </if>
            <if test="inscitycode != null">
                and inscitycode = #{inscitycode}
            </if>
            <if test="inscityname != null">
                and inscityname = #{inscityname}
            </if>
            <if test="isrenewal != null">
                and isrenewal = #{isrenewal}
            </if>
            <if test="insurancebooks != null">
                and insurancebooks = #{insurancebooks}
            </if>
            <if test="webpagekey != null">
                and webpagekey = #{webpagekey}
            </if>
            <if test="cloudstate != null">
                and cloudstate = #{cloudstate}
            </if>
            <if test="handersupplier != null">
                and handersupplier = #{handersupplier}
            </if>
            <if test="lastyearsupplier != null">
                and lastyearsupplier = #{lastyearsupplier}
            </if>
            <if test="userid != null">
                and userid = #{userid}
            </if>
            <if test="purchaserid != null">
                and purchaserid = #{purchaserid}
            </if>
            <if test="purchaserchannel != null">
                and purchaserchannel = #{purchaserchannel}
            </if>
            <if test="sourcefrom != null">
                and sourcefrom = #{sourcefrom}
            </if>
            <if test="lzgshareid != null">
                and lzgshareid = #{lzgshareid}
            </if>
            <if test="datasourcesfrom != null">
                and datasourcesfrom = #{datasourcesfrom}
            </if>
        </where>
    </select>
    <select id="INSBQuotetotalinfo_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBQuotetotalinfo">
        select
        id,operator,createtime,modifytime,noti,taskid,agentnum,agentname,team,insurancearea,riskcode,insprovincecode,insprovincename,inscitycode,inscityname,isrenewal,insurancebooks,webpagekey,cloudstate,handersupplier,lastyearsupplier,userid,purchaserid,lzgshareid,callbackurl,sourcefrom,purchaserchannel,datasourcesfrom,
        (select l.channelname from insbchannel l where channelinnercode=purchaserchannel and childflag='1' and (deleteflag is NULL OR deleteflag !='0') ) AS purchaserchannelName 
        from INSBQuotetotalinfo
        <where>
            <if test="taskid != null">
                and taskid = #{taskid}
            </if>
            <if test="agentnum != null">
                and agentnum = #{agentnum}
            </if>
            <if test="agentname != null">
                and agentname = #{agentname}
            </if>
            <if test="team != null">
                and team = #{team}
            </if>
            <if test="insurancearea != null">
                and insurancearea = #{insurancearea}
            </if>
            <if test="riskcode != null">
                and riskcode = #{riskcode}
            </if>
            <if test="insprovincecode != null">
                and insprovincecode = #{insprovincecode}
            </if>
            <if test="insprovincename != null">
                and insprovincename = #{insprovincename}
            </if>
            <if test="inscitycode != null">
                and inscitycode = #{inscitycode}
            </if>
            <if test="inscityname != null">
                and inscityname = #{inscityname}
            </if>
            <if test="isrenewal != null">
                and isrenewal = #{isrenewal}
            </if>
            <if test="insurancebooks != null">
                and insurancebooks = #{insurancebooks}
            </if>
            <if test="webpagekey != null">
                and webpagekey = #{webpagekey}
            </if>
            <if test="cloudstate != null">
                and cloudstate = #{cloudstate}
            </if>
            <if test="handersupplier != null">
                and handersupplier = #{handersupplier}
            </if>
            <if test="lastyearsupplier != null">
                and lastyearsupplier = #{lastyearsupplier}
            </if>
            <if test="userid != null">
                and userid = #{userid}
            </if>
            <if test="purchaserid != null">
                and purchaserid = #{purchaserid}
            </if>
            <if test="purchaserchannel != null">
                and purchaserchannel = #{purchaserchannel}
            </if>
            <if test="sourcefrom != null">
                and sourcefrom = #{sourcefrom}
            </if>
            <if test="lzgshareid != null">
                and lzgshareid = #{lzgshareid}
            </if>
            <if test="datasourcesfrom != null">
                and datasourcesfrom = #{datasourcesfrom}
            </if>
        </where>
        LIMIT 2
    </select>

    <select id="INSBQuotetotalinfo_updateQuoteDiscountAmount" parameterType="Map">
		update insbquotetotalinfo t INNER JOIN insbquoteinfo q on q.quotetotalinfoid = t.id set q.quotediscountamount = #{sumPrice}, q.modifytime = NOW()
		where t.taskid = #{taskInstanceId} and q.inscomcode = #{inscomcode}
	</select>

    <select id="INSBQuotetotalinfo_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBQuotetotalinfo">
		select * from INSBQuotetotalinfo where id = #{id}
	</select>

    <select id="INSBQuotetotalinfo_selectByTaskId" parameterType="String" resultType="Map">
		select id from INSBQuotetotalinfo where taskid = #{taskid}
	</select>

    <select id="INSBQuotetotalinfo_selectByTaskId4TaskSet" parameterType="String" resultType="String">
		select id from INSBQuotetotalinfo where taskid = #{taskid}
	</select>
    <select id="INSBQuotetotalinfo_selectAgentDataByTaskIdAndSub" parameterType="String" resultType="Map">
		select a.agentnum,b.platenumber,c.prvshotname prvname from INSBQuotetotalinfo a , insbquoteinfo b , insbprovider c 
													where  a.id=b.quotetotalinfoid and b.workflowinstanceid=#{subInstanceId} and  c.prvcode= b.inscomcode  limit 1
	</select>
    <select id="INSBQuotetotalinfo_selectAgentDataByTaskId" parameterType="String" resultType="Map">
		select a.agentnum,b.platenumber,c.prvshotname prvname from INSBQuotetotalinfo a 
													left join insbquoteinfo b  on a.id=b.quotetotalinfoid 
													left join insbprovider c on c.prvcode= b.inscomcode 
													where a.taskid = #{mainInsatnceId} limit 1
	</select>

    <select id="INSBQuotetotalinfo_deleteById" parameterType="String">
		delete from INSBQuotetotalinfo where id = #{id}
	</select>
    <select id="INSBQuotetotalinfo_deleteByTaskid" parameterType="String">
        delete from INSBQuotetotalinfo where taskid = #{taskid}
    </select>
    <select id="INSBQuotetotalinfo_updateDeleteflagByTaskid" parameterType="Map">
        update INSBQuotetotalinfo  set operator = #{operator},modifytime = NOW(),deleteflag = '1' where taskid = #{taskid}
    </select>

    <select id="INSBQuotetotalinfo_updateById" parameterType="com.zzb.cm.entity.INSBQuotetotalinfo">
		update INSBQuotetotalinfo  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},agentnum = #{agentnum},agentname = #{agentname},team = #{team},insurancearea = #{insurancearea},riskcode = #{riskcode},insprovincecode = #{insprovincecode},insprovincename = #{insprovincename},inscitycode = #{inscitycode},inscityname = #{inscityname},isrenewal = #{isrenewal},insurancebooks = #{insurancebooks},webpagekey = #{webpagekey},cloudstate = #{cloudstate},handersupplier = #{handersupplier},lastyearsupplier = #{lastyearsupplier},userid = #{userid},purchaserid = #{purchaserid},lzgshareid = #{lzgshareid},datasourcesfrom = #{datasourcesfrom} where id = #{id}
	</select>

    <select id="INSBQuotetotalinfo_selectCount" parameterType="Map" resultType="Long">
       	select count(1) from INSBQuotetotalinfo
        <where>
            <if test="taskid != null">
                and taskid = #{taskid}
            </if>
            <if test="agentnum != null">
                and agentnum = #{agentnum}
            </if>
            <if test="agentname != null">
                and agentname = #{agentname}
            </if>
            <if test="team != null">
                and team = #{team}
            </if>
            <if test="insurancearea != null">
                and insurancearea = #{insurancearea}
            </if>
            <if test="riskcode != null">
                and riskcode = #{riskcode}
            </if>
            <if test="insprovincecode != null">
                and insprovincecode = #{insprovincecode}
            </if>
            <if test="insprovincename != null">
                and insprovincename = #{insprovincename}
            </if>
            <if test="inscitycode != null">
                and inscitycode = #{inscitycode}
            </if>
            <if test="inscityname != null">
                and inscityname = #{inscityname}
            </if>
            <if test="isrenewal != null">
                and isrenewal = #{isrenewal}
            </if>
            <if test="insurancebooks != null">
                and insurancebooks = #{insurancebooks}
            </if>
            <if test="webpagekey != null">
                and webpagekey = #{webpagekey}
            </if>
            <if test="cloudstate != null">
                and cloudstate = #{cloudstate}
            </if>
            <if test="handersupplier != null">
                and handersupplier = #{handersupplier}
            </if>
            <if test="lastyearsupplier != null">
                and lastyearsupplier = #{lastyearsupplier}
            </if>
            <if test="userid != null">
                and userid = #{userid}
            </if>
            <if test="purchaserid != null">
                and purchaserid = #{purchaserid}
            </if>
            <if test="lzgshareid != null">
                and lzgshareid = #{lzgshareid}
            </if>
            <if test="datasourcesfrom != null">
                and datasourcesfrom = #{datasourcesfrom}
            </if>
        </where>
    </select>
    <select id="INSBQuotetotalinfo_getInscomInfo" parameterType="Map" resultType="Map">
       	select s.taskcode,p.prvname,p.prvshotname FROM insbworkflowsub s
        LEFT JOIN insbquoteinfo qs ON qs.workflowinstanceid = s.instanceid
        LEFT JOIN insbprovider p ON p.prvcode = qs.inscomcode
        <where>
            and s.maininstanceid = #{taskid} and s.operator=#{createby}
        </where>
    </select>
    <select id="INSBQuotetotalinfo_getAgentInfo" parameterType="String" resultType="Map">
		select a.jobnum,a.name from insbquotetotalinfo q LEFT JOIN insbagent a on q.agentnum=a.jobnum 
		where q.taskid=#{taskid}
	</select>
    <select id="INSBQuotetotalinfo_selectTotal" parameterType="Map" resultType="com.zzb.cm.entity.INSBQuotetotalinfo">
       	select q.id,q.operator,q.createtime,q.modifytime,q.taskid,q.userid,q.purchaserid,q.purchaserchannel from
        INSBQuotetotalinfo q
        LEFT JOIN insbquoteinfo qs on q.id= qs.quotetotalinfoid
        LEFT JOIN insbworkflowsub s on s.instanceid=qs.workflowinstanceid
        <where>
            qs.workflowinstanceid is NOT NULL and qs.workflowinstanceid != '' and s.instanceid is not NULL
            <if test="purchaserid != null">
                and q.purchaserid = #{purchaserid}
            </if>
            <if test="purchaserchannel != null">
                and q.purchaserchannel = #{purchaserchannel}
            </if>
            <if test="taskState != null">
                and s.taskcode = #{taskState}
            </if>
            GROUP BY q.taskid
            ORDER BY q.createtime desc
            <if test="offset != null and limit != null">
                limit #{offset},#{limit}
            </if>

        </where>
    </select>

    <select id="INSBQuotetotalinfo_selectTotalCount" parameterType="Map" resultType="Long">
      	select COUNT(1) from
        (	select q.id from
        INSBQuotetotalinfo q
        LEFT JOIN insbquoteinfo qs on q.id= qs.quotetotalinfoid
        LEFT JOIN insbworkflowsub s on s.instanceid=qs.workflowinstanceid
        <where>
            qs.workflowinstanceid is NOT NULL and qs.workflowinstanceid != '' and s.instanceid is not NULL
            <if test="purchaserid != null">
                and q.purchaserid = #{purchaserid}
            </if>
            <if test="purchaserchannel != null">
                and q.purchaserchannel = #{purchaserchannel}
            </if>
            <if test="taskState != null">
                and s.taskcode = #{taskState}
            </if>
            GROUP BY q.taskid

        </where>) as a
    </select>
</mapper>