<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBCarowneinfo -->
	<select id="INSBCarowneinfo_insert" parameterType="com.zzb.cm.entity.INSBCarowneinfo" resultType="int">
		insert into INSBCarowneinfo
		(id,operator,createtime,modifytime,noti,taskid,personid) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{personid})
	</select>
	<select id="INSBCarowneinfo_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarowneinfo">
		select * from INSBCarowneinfo
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
		</where>
	</select>
	<select id="INSBCarowneinfo_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBCarowneinfo">
		select * from INSBCarowneinfo
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBCarowneinfo_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBCarowneinfo">
		select * from INSBCarowneinfo where id = #{id}
	</select>
	<select id="INSBCarowneinfo_deleteById" parameterType="String">
		delete from INSBCarowneinfo where id = #{id}
	</select>
	<select id="INSBCarowneinfo_updateById" parameterType="com.zzb.cm.entity.INSBCarowneinfo">
		update INSBCarowneinfo  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},personid = #{personid} where id = #{id}
	</select>
	<select id="INSBCarowneinfo_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBCarowneinfo
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="personid != null">
				and personid = #{personid}
			</if>
		</where>
	</select>
	<select id="INSBCarowneinfo_selectMonitorInfo" parameterType="Map" resultType="Map">
		SELECT
		b.name as carownername,c.carlicenseno,d.prvshotname,a.id as carownerid
		from
			insbcarowneinfo a,
			insbperson b,
			insbcarinfohis c,
		insbprovider d
		where
			a.taskid = #{taskid}
		and a.personid = b.id
		and a.taskid = c.taskid
		and c.inscomcode = #{inscomcode}
		and d.id = c.inscomcode
	</select>
</mapper>