<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBPlatcarprice -->
	<select id="INSBPlatcarprice_insert" parameterType="com.zzb.cm.entity.INSBPlatcarprice" resultType="int">
		insert into INSBPlatcarprice
		(id,operator,createtime,modifytime,noti,taskid,companyid,brandname,newcarprice,newcartaxprice,analogyprice,analogytaxprice,listedyear,seat,unwrtweight,fullweight,displacement) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{companyid},#{brandname},#{newcarprice},#{newcartaxprice},#{analogyprice},#{analogytaxprice},#{listedyear},#{seat},#{unwrtweight},#{fullweight},#{displacement})
	</select>
	<select id="INSBPlatcarprice_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBPlatcarprice">
		select * from INSBPlatcarprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="companyid != null">
				and companyid = #{companyid}
			</if>
			<if test="brandname != null">
				and brandname = #{brandname}
			</if>
			<if test="newcarprice != null">
				and newcarprice = #{newcarprice}
			</if>
			<if test="newcartaxprice != null">
				and newcartaxprice = #{newcartaxprice}
			</if>
			<if test="analogyprice != null">
				and analogyprice = #{analogyprice}
			</if>
			<if test="analogytaxprice != null">
				and analogytaxprice = #{analogytaxprice}
			</if>
			<if test="listedyear != null">
				and listedyear = #{listedyear}
			</if>
			<if test="seat != null">
				and seat = #{seat}
			</if>
			<if test="unwrtweight != null">
				and unwrtweight = #{unwrtweight}
			</if>
			<if test="fullweight != null">
				and fullweight = #{fullweight}
			</if>
			<if test="displacement != null">
				and displacement = #{displacement}
			</if>
		</where>
	</select>
	<select id="INSBPlatcarprice_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBPlatcarprice">
		select * from INSBPlatcarprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="companyid != null">
				and companyid = #{companyid}
			</if>
			<if test="brandname != null">
				and brandname = #{brandname}
			</if>
			<if test="newcarprice != null">
				and newcarprice = #{newcarprice}
			</if>
			<if test="newcartaxprice != null">
				and newcartaxprice = #{newcartaxprice}
			</if>
			<if test="analogyprice != null">
				and analogyprice = #{analogyprice}
			</if>
			<if test="analogytaxprice != null">
				and analogytaxprice = #{analogytaxprice}
			</if>
			<if test="listedyear != null">
				and listedyear = #{listedyear}
			</if>
			<if test="seat != null">
				and seat = #{seat}
			</if>
			<if test="unwrtweight != null">
				and unwrtweight = #{unwrtweight}
			</if>
			<if test="fullweight != null">
				and fullweight = #{fullweight}
			</if>
			<if test="displacement != null">
				and displacement = #{displacement}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBPlatcarprice_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBPlatcarprice">
		select * from INSBPlatcarprice where id = #{id}
	</select>
	<select id="INSBPlatcarprice_deleteById" parameterType="String">
		delete from INSBPlatcarprice where id = #{id}
	</select>
	<select id="INSBPlatcarprice_updateById" parameterType="com.zzb.cm.entity.INSBPlatcarprice">
		update INSBPlatcarprice  set operator = #{operator},modifytime = NOW(),noti = #{noti},taskid = #{taskid},companyid = #{companyid},brandname = #{brandname},newcarprice = #{newcarprice},newcartaxprice = #{newcartaxprice},analogyprice = #{analogyprice},analogytaxprice = #{analogytaxprice},listedyear = #{listedyear},seat = #{seat},unwrtweight = #{unwrtweight},fullweight = #{fullweight},displacement = #{displacement} where id = #{id}
	</select>
	<select id="INSBPlatcarprice_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPlatcarprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="companyid != null">
				and companyid = #{companyid}
			</if>
			<if test="brandname != null">
				and brandname = #{brandname}
			</if>
			<if test="newcarprice != null">
				and newcarprice = #{newcarprice}
			</if>
			<if test="newcartaxprice != null">
				and newcartaxprice = #{newcartaxprice}
			</if>
			<if test="analogyprice != null">
				and analogyprice = #{analogyprice}
			</if>
			<if test="analogytaxprice != null">
				and analogytaxprice = #{analogytaxprice}
			</if>
			<if test="listedyear != null">
				and listedyear = #{listedyear}
			</if>
			<if test="seat != null">
				and seat = #{seat}
			</if>
			<if test="unwrtweight != null">
				and unwrtweight = #{unwrtweight}
			</if>
			<if test="fullweight != null">
				and fullweight = #{fullweight}
			</if>
			<if test="displacement != null">
				and displacement = #{displacement}
			</if>
		</where>
	</select>
	<!-- 通过map的到平台车价信息列表 -->
	<select id="INSBPlatcarprice_getPlatCarPriceInfoByMap" parameterType="Map" resultType="Map">
		select 
			brandname,
			FORMAT(newcarprice,1) newcarprice,
			FORMAT(newcartaxprice,1) newcartaxprice,
			FORMAT(analogyprice,1) analogyprice,
			FORMAT(analogytaxprice,1) analogytaxprice,
			listedyear,
			seat,
			unwrtweight,
			fullweight,
			displacement
		 from INSBPlatcarprice
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="companyid != null">
				and companyid = #{companyid}
			</if>
		</where>
		order by 
		<if test="sort != null and order != null">
			  ${sort}  ${order}  
		</if>
		<if test="sort == null">
			 createtime desc 
		</if>
		limit #{offset},#{limit}
	</select>
</mapper>