<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.cm.entity">
	<!-- INSBPerson  -->
	<select id="INSBPerson_insert" parameterType="com.zzb.cm.entity.INSBPerson" resultType="int">
		insert into INSBPerson
		(id,operator,createtime,modifytime,noti,taskid,name,ename,gender,birthday,bloodtype,age,idcardtype,idcardno,cellphone,email,province,city,area,address,eaddress,zip,licensetype,licenseno,licensedate,maritalstatus,job,educateinfo,nation,expdate,authority,expstartdate,expenddate)
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{taskid},#{name},#{ename},#{gender},#{birthday},#{bloodtype},#{age},#{idcardtype},#{idcardno},#{cellphone},#{email},#{province},#{city},#{area},#{address},#{eaddress},#{zip},#{licensetype},#{licenseno},#{licensedate},#{maritalstatus},#{job},#{educateinfo},#{nation},#{expdate},#{authority},#{expstartdate},#{expenddate})
	</select>
	<select id="INSBPerson_select" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select * from INSBPerson
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="ename != null">
				and ename = #{ename}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="bloodtype != null">
				and bloodtype = #{bloodtype}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="idcardtype != null">
				and idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and idcardno = #{idcardno}
			</if>
			<if test="cellphone != null">
				and cellphone = #{cellphone}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="area != null">
				and area = #{area}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="eaddress != null">
				and eaddress = #{eaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="licensetype != null">
				and licensetype = #{licensetype}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="licensedate != null">
				and licensedate = #{licensedate}
			</if>
			<if test="maritalstatus != null">
				and maritalstatus = #{maritalstatus}
			</if>
			<if test="job != null">
				and job = #{job}
			</if>
			<if test="educateinfo != null">
				and educateinfo = #{educateinfo}
			</if>
			<if test="nation != null">
				and nation = #{nation} 
			</if>
			<if test="expdate != null">
				and expdate = #{expdate} 
			</if>
			<if test="authority != null">
				and authority = #{authority}
			</if>
			<if test="expstartdate != null">
				and expstartdate = #{expstartdate}
			</if>
			<if test="expenddate != null">
				and expenddate = #{expenddate}
			</if>

		</where>
		order by createtime desc 
	</select>
	<select id="INSBPerson_selectOne" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select * from INSBPerson
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="ename != null">
				and ename = #{ename}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="bloodtype != null">
				and bloodtype = #{bloodtype}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="idcardtype != null">
				and idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and idcardno = #{idcardno}
			</if>
			<if test="cellphone != null">
				and cellphone = #{cellphone}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="area != null">
				and area = #{area}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="eaddress != null">
				and eaddress = #{eaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="licensetype != null">
				and licensetype = #{licensetype}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="licensedate != null">
				and licensedate = #{licensedate}
			</if>
			<if test="maritalstatus != null">
				and maritalstatus = #{maritalstatus}
			</if>
			<if test="job != null">
				and job = #{job}
			</if>
			<if test="educateinfo != null">
				and educateinfo = #{educateinfo}
			</if>
			<if test="nation != null">
				and nation = #{nation} 
			</if>
			<if test="expdate != null">
				and expdate = #{expdate} 
			</if>
			<if test="authority != null">
				and authority = #{authority}
			</if>
			<if test="expstartdate != null">
				and expstartdate = #{expstartdate}
			</if>
			<if test="expenddate != null">
				and expenddate = #{expenddate}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSBPerson_selectById" parameterType="String" resultType="com.zzb.cm.entity.INSBPerson">
		select * from INSBPerson where id = #{id}
	</select>
	<select id="INSBPerson_selectByTaskId" parameterType="String" resultType="com.zzb.cm.entity.INSBPerson">
		select * from INSBPerson where taskid = #{taskid}
	</select>
	<select id="INSBPerson_deleteById" parameterType="String">
		delete from INSBPerson where id = #{id}
	</select>
	<select id="INSBPerson_updateById" parameterType="com.zzb.cm.entity.INSBPerson" resultType="int">
		update INSBPerson  set operator = #{operator},modifytime = NOW(),
		noti = #{noti},taskid = #{taskid},name = #{name},ename = #{ename},
		gender = #{gender},birthday = #{birthday},bloodtype = #{bloodtype},
		age = #{age},idcardtype = #{idcardtype},idcardno = #{idcardno},
		cellphone = #{cellphone},email = #{email},province = #{province},
		city = #{city},area = #{area},address = #{address},eaddress = #{eaddress},
		zip = #{zip},licensetype = #{licensetype},licenseno = #{licenseno},
		licensedate = #{licensedate},maritalstatus = #{maritalstatus},job = #{job},
		educateinfo = #{educateinfo},nation = #{nation}, expdate = #{expdate}, authority = #{authority}, expstartdate = #{expstartdate}, expenddate = #{expenddate} where id = #{id}
	
	</select>
	<select id="INSBPerson_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSBPerson
		<where>
			<if test="taskid != null">
				and taskid = #{taskid}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="ename != null">
				and ename = #{ename}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="bloodtype != null">
				and bloodtype = #{bloodtype}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="idcardtype != null">
				and idcardtype = #{idcardtype}
			</if>
			<if test="idcardno != null">
				and idcardno = #{idcardno}
			</if>
			<if test="cellphone != null">
				and cellphone = #{cellphone}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="area != null">
				and area = #{area}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="eaddress != null">
				and eaddress = #{eaddress}
			</if>
			<if test="zip != null">
				and zip = #{zip}
			</if>
			<if test="licensetype != null">
				and licensetype = #{licensetype}
			</if>
			<if test="licenseno != null">
				and licenseno = #{licenseno}
			</if>
			<if test="licensedate != null">
				and licensedate = #{licensedate}
			</if>
			<if test="maritalstatus != null">
				and maritalstatus = #{maritalstatus}
			</if>
			<if test="job != null">
				and job = #{job}
			</if>
			<if test="educateinfo != null">
				and educateinfo = #{educateinfo}
			</if>
			<if test="nation != null">
				and nation = #{nation} 
			</if>
			<if test="expdate != null">
				and expdate = #{expdate} 
			</if>
			<if test="authority != null">
				and authority = #{authority}
			</if>
			<if test="expstartdate != null">
				and expstartdate = #{expstartdate}
			</if>
			<if test="expenddate != null">
				and expenddate = #{expenddate}
			</if>
		</where>
	</select>
	<!-- 修改驾驶人信息 -->
	<select id="INSBPerson_updateSpecifydriverById" parameterType="com.zzb.cm.entity.INSBPerson">
		update INSBPerson  set operator = #{operator},modifytime = NOW(),name = #{name},gender = #{gender},birthday = #{birthday},licensetype = #{licensetype},licenseno = #{licenseno},licensedate = #{licensedate} where id = #{id}
	</select>
	<!-- 修改关系人信息 -->
	<select id="INSBPerson_updateRelationPersonById" parameterType="com.zzb.cm.entity.INSBPerson">
		update INSBPerson  set operator = #{operator},modifytime = NOW(),name = #{name},gender = #{gender},idcardtype = #{idcardtype},idcardno = #{idcardno},cellphone = #{cellphone},email = #{email} where id = #{id}
	</select>
	<select id="INSBPerson_selectJoinLegalBytaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select p.name,p.gender,p.idcardno,p.idcardtype,p.cellphone,p.email from insbperson p 
		LEFT JOIN insblegalrightclaim i on i.personid=p.id 
        <where>
	 	<if test="taskid != null">
	 	i.taskid=#{taskid}
	 	</if>
	 	</where>
	</select>
	<select id="INSBPerson_selectJoinBinBytaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select p.name,p.gender,p.idcardno,p.idcardtype,p.cellphone,p.email from insbperson p 
		LEFT JOIN insbinsured i on i.personid=p.id 
		<where>
	 	<if test="taskid != null">
	 	i.taskid=#{taskid}
	 	</if>
	 	</where>
	</select>
	<select id="INSBPerson_selectJoinAppBytaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
	select p.name,p.gender,p.idcardno,p.idcardtype,p.cellphone,p.email from insbperson p 
		LEFT JOIN insbapplicant i on i.personid=p.id 
	 	<where>
	 	<if test="taskid != null">
	 	i.taskid=#{taskid}
	 	</if>
	 	</where>
	</select>
	<select id="INSBPerson_selectByAgent" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
	select c.* from insbperson c 
		left join insbpolicyitem b on b.taskid = c.taskid  
		LEFT JOIN insbapplicant d on b.taskid =d.taskid and b.applicantid = d.id and c.id = d.personid 
		<where>
			 <if test="idCardType != null"> 
				and c.idcardtype = #{idCardType}
			 </if>
			 <if test="idCardNo != null">
			 	and c.idcardno=#{idCardNo}
			 </if>
			 <if test="jobNum != null">
			 	and b.agentnum=#{jobNum}
			 </if>
			 <if test="applicantname != null">
			 	and b.applicantname=#{applicantname}
			 </if>
		</where>
		order by c.createtime desc
	</select>
	
	<select id="INSBPerson_selectApplicantPersonByTaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select c.* from insbperson c, insbapplicant a where c.id = a.personid and c.taskid = #{taskid}
	</select>
	<select id="INSBPerson_selectInsuredPersonByTaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select c.* from insbperson c, insbinsured a where c.id = a.personid and c.taskid = #{taskid}
	</select>
	<select id="INSBPerson_selectCarOwnerPersonByTaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select c.* from insbperson c, insbcarowneinfo a where c.id = a.personid and c.taskid = #{taskid}
	</select>
	<select id="INSBPerson_selectBeneficiaryByTaskId" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		select c.* from insbperson c, insblegalrightclaim a where c.id = a.personid and c.taskid = #{taskid}
	</select>

	<select id="INSBPerson_selectApplicantHisPerson" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		SELECT b.* FROM insbapplicanthis a , insbperson b WHERE a.personid = b.id AND a.taskid = #{taskid} AND a.inscomcode = #{inscomcode};
	</select>

	<select id="INSBPerson_selectInsuredHisPerson" parameterType="Map" resultType="com.zzb.cm.entity.INSBPerson">
		SELECT b.* FROM insbinsuredhis a , insbperson b WHERE a.personid = b.id AND a.taskid = #{taskid} AND a.inscomcode = #{inscomcode};
	</select>
	<select id="INSBPerson_selectDelId" parameterType="String" resultType="String">
		SELECT ip.id  FROM insbperson ip
		LEFT JOIN (SELECT personid FROM insbApplicanthis WHERE taskid=#{taskId}) ia ON ip.id=ia.personid
		LEFT JOIN (SELECT personid FROM insbinsuredhis WHERE taskid=#{taskId}) ib ON ip.id=ib.personid
		LEFT JOIN (SELECT personid FROM insbcarowneinfo WHERE taskid=#{taskId}) icoi ON ip.id=icoi.personid
		LEFT JOIN (SELECT cfh.OWNER FROM insbcarinfohis cfh WHERE taskid=#{taskId}) ic ON ip.id=ic.owner
		LEFT JOIN (SELECT personid FROM INSBLegalrightclaimhis WHERE taskid=#{taskId}) ilr ON ip.id=ilr.personid
		LEFT JOIN (SELECT personid FROM INSBRelationpersonhis WHERE taskid=#{taskId}) irp ON ip.id=irp.personid
		WHERE ip.`taskid`=#{taskId}
			AND ia.`personid` IS NULL AND ib.`personid` IS NULL AND icoi.`personid` IS NULL 
			AND ic.`owner` IS NULL AND ilr.`personid` IS NULL AND irp.`personid` IS NULL
	</select>
</mapper>